{% extends "concord/_page_full_sidebar.html" %}

{% block title %}Family: {{ family.name }} {% if common_name %}({{ common_name|cut:"The "|lower }}){% endif %}{% endblock %}

{% block js_top %}
    {% include "gobotany/_api_url_js.html" %}
{% endblock %}

{% block js_require %}
    {% include "gobotany/_family_js_require.html" %}
{% endblock %}

{% block body_attributes %}
    {% include "gobotany/_family_body_attributes.html" %}
{% endblock %}

{% block main_content %}
    {% include "gobotany/_family_main_content.html" %}
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
