<div id="ask-section">

<img class="botanist" src="/static/images/icons/botanist.jpg" alt="Ace Acer">

<p>
Our ace botanists are here to help you identify a plant, suggest locations
for seeing plants, and provide you with expert scientific guidance on all
things in the New England plant kingdom.</p>
<p>Logged-in users can ask
questions, and all visitors can see the answers.
{% if not user.is_authenticated %}
<a href="{% url 'ps-main' %}">Log in</a> to ask a question.
{% endif %}
</p>

{% if user.is_authenticated %}
<form id="question-form" method="post" action="{% url 'ps-questions' %}">
    {% csrf_token %}
    <label for="question">Your Question</label>
    <textarea id="question" name="question" required
        maxlength="{{ max_question_length }}"
        placeholder="Up to {{ max_question_length }} characters"></textarea>

    <div class="images">
        <label for="upload-link">Images (optional)</label>
        <div id="question-images">
            <input type="hidden" name="__template__question_images"
            class="template-image"></input>
        </div>
        <div class="thumb-gallery"></div>
        <p class="upload">
            <a id="upload-link" href="#" rel=".image-modal">+ Upload Image</a>
        </p>
    </div>

    <button id="ask-button" class="submit disabled" disabled>Submit</button>
</form>
{% endif %}

<div class="modal-container">
  {% include "_image_upload_form.html" with image_form=upload_photo_form %}
</div>

</div>
