{% extends "gobotany/_modal_base.html" %}

{# This page appears in a lightbox dialog when deleting a sighting. #}

{% block body_attributes %}id="delete-sighting"
    class="plantshare"{% endblock %}

{% block js_require %}
    require(['plantshare/delete_sighting']);
{% endblock %}

{% block body_content %}
    <div>
        <h2>Are you sure you want to permanently delete this sighting?</h2>

        <table>
            <thead>
                <th>Identification</th>
                <th>Location</th>
                <th>Date Posted</th>
            </thead>
            <tbody>
                <td>{{ sighting.identification }}</td>
                <td>{{ sighting.location }}</td>
                <td>{{ sighting.created }}</td>
            </tbody>
        </table>

        <p class="actions">
            <a class="cancel-btn">No, Cancel</a>
            <a class="delete" href="#">Yes, Delete</a>
        </p>
    </div>
{% endblock %}
