    <form method="post" action="{% url 'auth_login' %}" class="login">
        {% csrf_token %}
        {% comment %} 
        Conform to Django auth's AuthenticationForm fields for now, until we create
        a nice template tag or widget for this, so it can appear on every page.
        Otherwise, we'd have to manually create an AuthenticationForm in every single
        view or create a context processor for it.
        {% endcomment %}
        <label for="id_username">Username</label>
        <input id="id_username" type="text" name="username" maxlength="30"
            autofocus tabindex="1">
        <label for="id_password">Password</label>
        <input type="password" name="password" id="id_password"
            tabindex="2">
        <a href="{% url 'ps-forgot-password' %}"
                tabindex="4">Forgot password</a>
        <input type="submit" class="button" value="Login" tabindex="3">
        <input type="hidden" name="next"
        value="{% if next %}{{ next }}{% else %}{% url 'ps-main' %}{% endif %}">
    </form>

