{% load gobotany_tags %}
<div class="box">
    <nav>
        <ul>
            {% include "_plantshare_home_nav_item.html" %}

            {% if user.is_authenticated %}
                <li class="post-sighting">{% nav_item 'Post a Sighting' ps-new-sighting %}</li>
                <li class="manage-sightings">{% nav_item 'Manage Your Sightings' ps-manage-sightings %}</li>
            {% endif %}
            
            <li class="sightings-locator">{% nav_item 'Sightings Locator' ps-sightings-locator %}</li>
            <li class="sightings">{% nav_item 'Recent Sightings' ps-sightings %}</li>
            <li class="ask">{% nav_item 'Ask the Botanist' ps-questions %}</li>
            
            {% if user.is_authenticated %}
                <li>{% nav_item 'Checklists' ps-checklists %}</li>
                <li>{% nav_item 'Find People' ps-find-people %}</li>
                <li>{% nav_item 'Your Groups' %}{# TODO: add URL name #}</li>
                <li class="profile">{% nav_item 'Your Profile' ps-profile %}</li>
                <li class="logout">{% nav_item 'Log Out' auth_logout %}</li>
            {% else %}
                {% comment %}
                This sign up link is always shown, even if a prior signup is
                detected, so people always have a way to create a new account.
                {% endcomment %}
                {% include "_signup_nav_item.html" %}
            {% endif %}
        </ul>
    </nav>
</div>

{% if user.is_staff %}
<div class="box">
    <nav>
        <h3>Staff Only</h3>
        <ul>
            <li class="screen-images">{% nav_item 'Screen Image Uploads' ps-screen-images %}</li>
        </ul>
    </nav>
</div>
{% endif %}

{% comment %}
Omit the sidebar login box on the main PlantShare page if the user has
already signed up so that a login box can be show at top center instead.
{% endcomment %}
{% if not user.is_authenticated and not prior_signup_detected %}
    {# Omit any login box on the Logged Out page. #}
    {% if not 'logout' in request.path %}
        {% include "_login_box.html" %}
    {% endif %}
{% endif %}
