    <ul class="questions">
        {% for question in questions %}
            <li id="q{{ forloop.counter }}">
                <dl>
                    <dt>Question</dt>
                    <dd>
                    {% if question.images %}
                        {% with question.images.all|first as image %}
                        <img src="{{ image.thumb.url }}" alt="">
                        {% endwith %}
                    {% endif %}
                    {{ question.question }}
                    </dd>
                    <dt>Answer</dt>
                    <dd>{{ question.answer }}
                    <span>({{ question.answered|date:"l, j F Y" }})</span></dd>
                </dl>
            </li>
        {% endfor %}
    </ul>
