{% load mapping_tags %}

        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.identification.errors }}
        <label for="id_identification">Identification of plant
            (required)</label>
        {{ form.identification }}

        {{ form.notes.errors }}
        <label for="id_notes">Description or comments</label>
        {{ form.notes }}

        <fieldset>
            <legend>Location</legend>

            {{ form.location.errors }}
            <label for="id_location">Location (required)</label>
            <div class="location">
                {{ form.location }}
                {% location_map location="Framingham, MA" height_px="150" width_px="302" zoom="7" id="id_location_map" %}
            </div>

            {{ form.location_notes.errors }}
            <label for="id_location_notes">Notes on location</label>
            {{ form.location_notes }}

            {{ form.latitude.as_hidden }}
            {{ form.longitude.as_hidden }}
        </fieldset>

        <p>Add images to sighting</p> 
        <p><a id="upload-link" href="#" rel=".image-modal">+ Upload Image</a></p>
        <div id="sighting-photos">
            <input type="hidden" name="__template__sightings_photos" class="template-photo"></input>
        </div>
        <div class="thumb-gallery">
            {% if sighting.private_photos %}
                {# When editing a sighting, photos may already be present. #}
                {% for photo in sighting.private_photos.all %}
                    <div class="thumb-frame">
                        <a href="{{ photo.image.url }}"><img class="thumb"
                            src="{{ photo.thumb.url }}"></a>
                        <div class="delete-link">
                            <a href="{{ photo.id }}"><img
                                src="/static/images/icons/close.png"
                                alt=""> Remove</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <input type="submit" class="post-sighting-btn"
            alt="Post a Sighting">{# add class 'inactive' for disabled look #}
