        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.identification.errors }}
        <label for="id_identification">Identification of plant *</label>
        {{ form.identification }}

        {{ form.title.errors }}
        <label for="id_title">Title for this sighting *</label>
        {{ form.title }}

        {{ form.notes.errors }}
        <label for="id_notes">Description or comments</label>
        {{ form.notes }}

        <fieldset>
            <legend>Location</legend>

            {{ form.location.errors }}
            <label for="id_location">Location *</label>
            <div class="location">
                {{ form.location }}
                {% include "_location_map.html" with location="Framingham, MA" height_px="150" width_px="302" zoom="7" id="id_location_map" %}
            </div>

            {{ form.location_notes.errors }}
            <label for="id_location_notes">Notes on location</label>
            {{ form.location_notes }}

        </fieldset>

        <input type="submit" class="post-sighting-btn"
            alt="Post a Sighting">{# add class 'inactive' for disabled look #}
