{% extends "gobotany/_page_free_sidebar.html" %}

{% load simplekey_extras %}

{% block title %}Questions and Answers: PlantShare{% endblock %}

{% block js_require %}
    require([
        'plantshare/ask_the_botanist',
        'plantshare/redirect_old_question_urls'
    ]);
{% endblock %}

{% block body_attributes %}id="questions" class="plantshare ask questions"{% endblock %}

{% block main_content %}
<p class="nav-links">
{% for y in years %}
    {% if y == year %}
        {{ y }}
    {% else %}
        <a href="{% url 'ps-all-questions-by-year' y %}">{{ y }}</a>
    {% endif %}
    {% if not forloop.last %} | {% endif %}
{% endfor %}
</p>

<h1>Questions and Answers</h1>

<h2>{{ year }}</h2>

<ul class="questions">
	{% for question in questions %}
		<li id="q{{ question.id }}">
			{% include "_question_images.html" %}
			<dl>
				<dt>Question</dt>
				<dd>{{ question.question }}</dd>
				<dt>Answer</dt>
				<dd>{{ question.answer }}</dd>
				{% comment %}
				<br><a class="action-link caps"
				    href="./q{{question.id}}/">Answer</a>
				{% endcomment %}
			</dl>
		</li>
	{% endfor %}
</ul>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
