{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Ask the Botanist: PlantShare{% endblock %}

{% block body_attributes %}id="ask" class="plantshare ask"{% endblock %}

{% block main_content %}
<h1>Ask the Botanist</h1>

{% include "_ask_botanist_section.html" %}

<h2>All <a href="{% url ps-all-questions %}">Questions and Answers</a></h2>

{% if questions|length > 0 %}
    <h2 id="recent">Recently Answered Questions</h2>
    {% include "_recent_questions.html" %}

    <p class="more"><a 
        href="{% url ps-all-questions %}">All Questions and Answers »</a><p>
{% endif %}

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}


