{% extends "gobotany/_page_free_sidebar.html" %}
{% load mapping_tags %}
{% load plantshare_tags %}

{% block title %}Checklists: PlantShare{% endblock %}

{% block js_require %}
    require([
        'util/suggester_init',
        'plantshare/checklists'
    ]);
{% endblock %}

{% block body_attributes %}id="checklists" class="plantshare checklists"{% endblock %}

{% block main_content %}
<h1>Checklists</h1>

<div class="notification box">
    <p>Check out our checklists!<p>
    <ul>
        <li>Create your own checklist of plants you have seen.</li>
        <li>Share checklists with friends, students, and colleagues.</li>
        <li>When planning a trip, find checklists made by local experts.</li>
    </li>
    <a class="ps-button" href="{% url 'ps-checklist-new' %}">Create New Checklist</a>
</div>
<div class="ps-section">
    {% if checklists %}
    <form action="" method="POST">
      {% csrf_token %}
      <table id="checklists-view" class="checklists-list">
          <thead>
              <tr>
                  <th class="first"></th>
                  <th class="checklistview-name">Name<span></span></th>
                  <th class="date">Date Found</th>
                  <th class="owner">Owner</th>
                  <th class="last"></th>
              </tr>
          </thead>
          <tbody>
              {% for checklist in checklists %}
              <tr>
                  <td class="first"><input type="checkbox" name="checklist_id" value="{{checklist.pk}}"/></td>
                  <td class="checklistview-name">{{ checklist.name }}</td>
                  <td class="date">{{ checklist.date_found|default:"N/A" }}</td>
                  {% ifequal user.username checklist.owner.name %}
                  <td class="owner">Me</td>
                  <td class="last">
                      <a href="{% url 'ps-checklist-edit' checklist.pk %}">Edit</a> |
                      <a href="{% url 'ps-checklist-export' checklist.pk %}">Export</a>
                  </td>
                  {% else %}
                  <td class="owner">{{ checklist.owner.name }}</td>
                  <td class="last"><a href="{% url 'ps-checklist' checklist.pk %}">View List</a></td>
                  {% endifequal %}
              </tr>
              {% endfor %}
          </tbody>
      </table><!-- /.checklists-list -->
    </form>
    <div class="form-actions small-margin-top">
        <!-- <a class="ps-button" href="javascript:alert('Coming soon!');" rel="shadowbox;height=440;width=750;" class="share-btn inactive btn">Share</a> -->
        <a href="{% url 'ps-checklist-delete' %}" class="ps-button delete-btn inactive btn">Delete</a>
    </div><!-- /.form-actions -->
    {% else %}
    <p>Your checklists will appear here, {% user_first_name request.user %}.</p>
    {% endif %}
</div><!-- /.ps-section -->
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
