{% extends "gobotany/_page_free_sidebar.html" %}
{% load gobotany_tags %}
{% load mapping_tags %}

{% block title %}Checklist: {{ checklist.name }}: PlantShare{% endblock %}

{% block js_require %}
    require(['util/suggester_init', 'plantshare/plantshare']);
{% endblock %}

{% block body_attributes %}id="checklist" class="plantshare checklists"{% endblock %}

{% block main_content %}
<h1>Checklist: {{ checklist.name }}</h1>

<div class="ps-section">
    <p>Comments: {{ checklist.comments }}</p>
    {% if checklist.entries %}
    <table id="checklist-detail" class="checklists-list">
        <thead>
            <tr>
                <th class="name">Name<span></span></th>
                <th class="image">Image</th>
                <th class="date-sighted">Date Sighted</th>
                <th class="location">Location</th>
                <th class="date-posted">Date Posted</th>
                <th class="note">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in checklist.entries.all %}
            <tr>
                
                <td class="name">{{ entry.plant_name|italicize_if_scientific|safe }}</td>
                <td class="image"><img class="checklist-thumb" src="{{entry.plant_photo.thumb.url}}" /></td>
                <td class="date-sighted">{{ entry.date_found|date:"m/d/Y"|default:"N/A" }}</td>
                <td class="location">{{ entry.location|default:"N/A" }}</td>
                <td class="date-posted">{{ entry.date_posted|date:"m/d/Y"|default:"N/A" }}</td>
                <td class="note">
                    <a href="javascript:alert('Coming soon!');" rel="shadowbox;height=240;width=550">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><!-- /.checklists-list -->
    {% else %}
    <div>There are no entries for this checklist.</div>
    {% endif %}
</div><!-- /.ps-section -->
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
