{% extends "gobotany/_page_free_sidebar.html" %}
{% load plantshare_tags %}

{% block title %}Find People: PlantShare{% endblock %}

{% block body_attributes %}id="find-people"
    class="plantshare"{% endblock %}

{% block js_require %}
    //require(['plantshare/find_people']);
{% endblock %}

{% block main_content %}
    <h1>Find People</h1>

    <form id="find-people-form" method="get"
        action="{% url 'ps-find-people' %}">
        <input type="text" name="n" value="{{ name }}"
            placeholder="Enter person's name"
            autocomplete="off" role="textbox" aria-autocomplete="list"
            aria-haspopup="true">
        <input type="button" value="Go">
    </form>

    {% if people %}
        <p>{{ people|length }}
            match{{ people|length|pluralize:"es" }} found:</p>

        <ul class="box">
        {% for person in people %}
            <li class="person">
                <img src="{{ person.public_avatar_image.thumb_url }}" alt="">
                <ul>
                    <li class="name">{% user_display_name person.user %}</li>
                    {% if person.location %}
                        <li class="location">{{ person.location.user_input }}</li>
                    {% endif %}
                    <li class="profile"><a href="#">View Profile »</a></li>
                </ul>
                <p><a href="#" class="invite-group-btn">Invite to
                    Group</a></p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {% if name %}
            <p>No matches found.</p>
        {% else %}
            <p>Search for friends and colleagues who use PlantShare.</p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
