{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Manage Your Sightings: PlantShare{% endblock %}

{% block body_attributes %}id="manage-sightings" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Manage Your Sightings</h1>

<p>Sightings posted by you, <b>{{ user_name }}</b>:</p>
<ul>
{% for sighting in sightings %}
    <li>{{ sighting }}</li>
{% endfor %}
</ul>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

