{% extends "gobotany/_page_free_sidebar.html" %}
{% load gobotany_tags %}
{% load humanize %}
{% load plantshare_tags %}

{% block title %}Manage Your Sightings: PlantShare{% endblock %}

{% block body_attributes %}id="manage-sightings"
    class="plantshare"{% endblock %}

{% block js_require %}
    require(['plantshare/manage_sightings']);
{% endblock %}

{% block main_content %}
    <h1>Manage Your Sightings</h1>

    {% if sightings %}
        <p>{% user_first_name user %}, here
        {% if sightings|length > 1 %}
            are the {{ sightings|length|intcomma }} sightings
        {% else %}
            is the sighting
        {% endif %}
        you've posted.</p>

        {% if sightings|length > 1 %}
            <p>To filter the list, type in the box under a column name.</p>
        {% endif %}

        <table class="list">
            <thead>
                <tr>
                    {% if sightings|length > 1 %}
                        {# Label the columns, which will add filter boxes. #}
                        <th class="identification">Identification</th>
                        <th class="location">Location</th>
                        <th class="posted">Date Posted</th>
                    {% else %}
                        {# There is only one item, so omit filter boxes. #}
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                    <th class="action"></th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
            {% for sighting in sightings %}
                <tr id="sighting-{{ sighting.id }}">
                    <td>{{ sighting.identification|italicize_if_scientific|safe }}</td>
                    <td>{{ sighting.location }}</td>
                    <td>{{ sighting.created }}</td>
                    <td class="action">
                        <a href="{% url 'ps-edit-sighting' sighting.id %}">Edit</a>
                    </td>
                    <td class="action">
                        <a class="delete"
                            href="{% url 'ps-delete-sighting' sighting.id %}"
                            rel="shadowbox;width=700;height=180">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Here is where your sightings will be listed,
        <b>{% user_first_name user %}</b>.</p>
        
        <p>You are welcome to
        <a href="{% url 'ps-new-sighting' %}">post a sighting</a>
        anytime.</p>
    {% endif %}

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

