{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Post a Sighting: PlantShare{% endblock %}

{% block js_require %}
    require([
        'util/location_field_init',
        'plantshare/new_sighting',
    ]);
{% endblock %}

{% block body_attributes %}id="new-sighting" class="plantshare sighting"{% endblock %}

{% block main_content %}
<h1>Post a Sighting</h1>

<div>
    <p><strong>Spotted a plant and want to share it with others? Here's where
        to start!</strong></p>
    <p><em>Rare Plant Sightings: As a matter of policy, sightings of rare 
    plants will not be visible to other PlantShare members. However,
    we welcome you to post such sightings. We will keep them confidential
    and use the information for our scientific studies.</em></p>
    <p>* = Required</p>
</div>

<div class="modal-container">
  <div class="image-modal">
      <a href="#" class="close">close</a>
      <img src="/static/images/icons/no-image.png" alt="photo image">
      <h4>Upload Image</h4>
      <form id="upload-photo-form" method="POST" 
          action="{% url ps-ajax-image-upload %}">
          {% csrf_token %}
          {{ upload_photo_form.image }}
          <div style="display: none;">{{ upload_photo_form.image_type }}</div>
          <input type="submit" id="upload-photo-submit" class="save-btn">
      </form>
  </div>
</div>

<form method="post" action="{% url ps-sightings %}">
    {% include "_sighting_form.html" %}
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
