{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Post a Sighting: PlantShare{% endblock %}

{% block js_require %}
    require([
        'util/location_field_init',
        'plantshare/new_sighting',
    ]);
{% endblock %}

{% block body_attributes %}id="new-sighting" class="plantshare sighting"{% endblock %}

{% block main_content %}
<h1>Post a Sighting</h1>

<div>
    <p><strong>Seen a plant and want to share it with others? Here's where
        to start!</strong></p>
    <p><em>Rare plant sightings will be kept confidential,</em>
        but we welcome you to post them.</p>
</div>

<div class="modal-container">
    {% include "_image_upload_form.html" with image_form=upload_photo_form %}
</div>

<form method="post" action="{% url 'ps-sightings' %}">
    {% include "_sighting_form.html" %}
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
