{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Question Submitted: PlantShare{% endblock %}

{% block body_attributes %}id="new-question-done" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Question Submitted</h1>

<p>Thank you for asking your question. The botanist will review your question
and post an answer on the site.</p>

<p><a href="{% url ps-questions %}">Ask another question</a></p>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
