{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Post a Sighting: PlantShare{% endblock %}

{% block body_attributes %}id="new-sighting" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Post a Sighting</h1>

<div>
    <p><strong>Spotted a plant and want to share it with others? Here's where
        to start!</strong></p>
    <p><em>Rare Plant Sightings: As a matter of policy, sightings of rare 
    plants will not be posted to any other PlantShare members. However,
    we welcome you to send these postings to us. We will use this
    information for our scientific studies. Postings will be
    confidential.</em></p>
    <p>* = Required</p>
</div>

{% include "_sighting_form.html" %}

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
