{% extends "gobotany/_page_free_sidebar.html" %}
{% load mapping_tags %}
{% load plantshare_tags %}

{% block title %}PlantShare{% endblock %}

{% block js_require %}
    require(['util/suggester_init', 'plantshare/plantshare']);
{% endblock %}

{% block body_attributes %}id="plantshare" class="plantshare"{% endblock %}

{% block main_content %}
<h1>PlantShare</h1>

{% if user.is_authenticated %}
<form id="find-people-form" method="get" action="{% url 'ps-find-people' %}">
    <h2>Find People</h2>
    <input type="text" name="n" class="suggest"
        placeholder="Enter person's name"
        autocomplete="off" role="textbox" aria-autocomplete="list"
        aria-haspopup="true"
        data-suggest-url="{% url 'ps-ajax-people-suggestions' %}?q=%s"
        data-align-menu-inside-input="true" data-submit-on-select="true">
    <input type="submit" value="Go">
</form>
<div class="profile box">
    <h2>Your Profile</h2>
    <a href="{% url 'ps-your-profile' %}" class="edit">Edit Profile</a>
    <div>
        {% if profile.location %}
            {% location_map location=profile.location height_px="74" width_px="140" zoom="6" id="id_location_map" %}
        {% endif %}
        <img class="avatar" src="{{ avatar.thumb_url }}" alt="">
        <h3>{% user_display_name user %}</h3>
        {% if profile.location %}
            <p>{{ profile.location }}</p>
        {% endif %}
        {% if profile.saying %}
            <p>{{ profile.saying }}</p>
        {% endif %}
    </div>
    {% comment %}
    <table>
        <tr><th>Total Species</th><td>None</td></tr>
        <tr><th>Total Locations</th><td>None</td></tr>
        <tr><th>Checklists</th><td>None</td></tr>
        <tr><th>Groups</th><td>None</td></tr>
    </table>
    {% endcomment %}
</div>
{% else %}
    {% if prior_signup_detected %}
        {% include "_login_box.html" %}
    {% else %}
        <div class="smallscreen-anchor-nav">
            <a href="#login">Log In</a>
        </div>

        <div class="sign-up-call box">
            <h2>Sign up for PlantShare!</h2>
            <p>As a member of PlantShare, you will be able to:<p>
            <ul>
                <li>Upload photos of plants to share with others</li>
                <li>Create checklists of plants you want to keep track of</li>
                <li>Publish the location of the plants you have seen on your own map</i>
                <li>Ask one of our expert botanists questions</li>
                <li>Share your thoughts and musings with others</li>
            </li>
            <a href="{% url 'registration_register' %}">Get Started</a>
        </div>
    {% endif %}
{% endif %}

<div id="sightings-locator" class="mini">
    <h2>Sightings Locator</h2>
    <div class="box">
        <form>
            <h3>Show recent plant sightings for</h3>

            {% csrf_token %}
            <input type="text" autocomplete="off"
                name="plant-name"
                id="plant-name"
                placeholder="scientific or common name"
                class="suggest"
                data-suggest-url="{% url 'site-plant-name-suggestions' %}?q=%s"
                data-align-menu-inside-input="true"
                data-submit-on-select="true">
            <input type="submit" value="Go">

            <p id="sightings-status"><span>0</span> sightings found</p>

            <h4>How to Use</h4>
            <p>Enter a plant name and we'll show where it's been
            seen recently.</p>
            
            <h4>Don't see a plant you think should be there?</h4>
            <p>You will see all recent sightings that others have marked for
            public view or for a PlantShare group that you belong
            to. Rare and endangered plants will not be displayed.</p>
        
            <p class="full-link"><a
                href="{% url 'ps-sightings-locator' %}">View full page »</a></p>
        </form>

        {% sightings_map latitude=map.latitude longitude=map.longitude center_title=map.center_title height="297px" width="481px" zoom=map.zoom id="mini-sightings-map" %}
    </div>
</div>

<div id="ask">
    <h2>Ask the Botanist</h2>

    {% include "_ask_botanist_section.html" %}

    {% if questions|length > 0 %}
        <h3>Recently Answered Questions</h3>
        {% include "_recent_questions.html" %}
            
        <p class="more"><a
            href="{% url 'ps-questions' %}#q{{ max_questions|add:'1' }}">More 
            Recently Answered Questions »</a><p>
    {% endif %}

</div>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
