{% extends "gobotany/_page_free_sidebar.html" %}
{% load mapping_tags %}

{% block title %}PlantShare{% endblock %}

{% block js_require %}
    require(['util/suggester_init', 'plantshare/plantshare']);
{% endblock %}

{% block body_attributes %}id="plantshare" class="plantshare"{% endblock %}

{% block main_content %}
<h1>PlantShare</h1>

{% if user.is_authenticated %}
<div class="profile box">
    <h2>My Profile</h2>
    <a href="{% url ps-profile %}" class="edit">Edit Profile</a>
    <div>
        <img src="/static/images/icons/avatar-default.png" alt="">
        <h3>{{ user.first_name|default:user.username }}</h3>
    </div>
    <table>
        <tr><th>Total Species</th><td>None</td></tr>
        <tr><th>Total Locations</th><td>None</td></tr>
        <tr><th>Checklists</th><td>None</td></tr>
        <tr><th>Groups</th><td>None</td></tr>
    </table>
</div>
{% else %}
    {% if prior_signup_detected %}
        {% include "_login_box.html" %}
    {% else %}
        <div class="smallscreen-anchor-nav">
            <a href="#login">Log In</a>
        </div>

        <div class="sign-up-call box">
            <h2>Sign up for PlantShare!</h2>
            <p>As a member of PlantShare, you will be able to:<p>
            <ul>
                <li>Upload photos of plants to share with others</li>
                <li>Create checklists of plants you want to keep track of</li>
                <li>Publish the location of the plants you have seen on your own map</i>
                <li>Ask one of our expert botanists questions</li>
                <li>Share your thoughts and musings with others</li>
            </li>
            <a href="{% url registration_register %}">Get Started</a>
        </div>
    {% endif %}
{% endif %}

<div id="sightings-locator" class="mini">
    <h2>Sightings Locator</h2>
    <div class="box">
        <form>
            <h3>Show recent plant sightings for</h3>

            {% csrf_token %}
            <input type="text" autocomplete="off"
                name="plant-name"
                id="plant-name"
                placeholder="scientific or common name"
                class="suggest"
                data-suggest-url="{% url site-plant-name-suggestions %}?q=%s"
                data-align-menu-inside-input="true"
                data-submit-on-select="true">
            <input type="submit" value="Go">

            <h4>How to Use</h4>
            <p>Enter a plant name and we'll show the map where it's been seen
            recently.</p>
            
            <h4>Don't see a plant you think should be there?</h4>
            <p>You will see all recent sightings that others have marked for
            public view or for a PlantShare group that you belong
            to.</p>
            <p>Rare and endangered plants will not be displayed.</p>
        
            <p class="full-link"><a
                href="{% url ps-sightings %}#sightings-locator">View full page »</a></p>
        </form>

        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" center_title="Rumford, Maine" height="297px" width="481px" zoom="6" id="mini-sightings-map" %}
    </div>
</div>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
