{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}PlantShare{% endblock %}

{% block body_attributes %}id="plantshare" class="plantshare"{% endblock %}

{% block main_content %}
<h1>PlantShare</h1>

<div class="smallscreen-anchor-nav">
    <a href="#login">Log In</a>
</div>

<div class="sign-up">
    <h2>Sign up for PlantShare!</h2>
    <p>As a member of PlantShare, you will be able to:<p>
    <ul>
        <li>Upload photos of plants to share with others</li>
        <li>Create checklists of plants you want to keep track of</li>
        <li>Publish the location of the plants you have seen on your own map</i>
        <li>Ask one of our expert botanists questions</li>
        <li>Share your thoughts and musings with others</li>
    </li>
    <a href="accounts/register/">Get Started</a>
</div>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
