{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}My Profile: PlantShare{% endblock %}

{% block body_attributes %}id="profile" class="plantshare"{% endblock %}

{% block main_content %}
<h1>My Profile</h1>

<h2>My Info</h2>

<div class="section-container">
  <div class="image-modal">
      <a href="#" class="close">close</a>
      <img src="/static/images/icons/no-image.png" alt="avatar image">
      <h4>Upload Image</h4>
      <form id="upload-avatar-form" method="POST" 
          action="{% url ps-ajax-image-upload %}">
          {% csrf_token %}
          {{ avatar_form.image }}
          <div style="display: none;">{{ avatar_form.image_type }}</div>
          <div class="screening-notify">
              <p>All images are screened by Plantshare Staff before being displayed publically.</p>
          </div>
          <input type="submit" id="upload-photo-submit" class="save-btn">
      </form>
  </div>

  <form id="edit-profile-form" class="ajax-partial" method="POST" action="{% url ps-ajax-profile-edit %}">
    <section class="info-section">
      {% csrf_token %}
      <div class="info box">
          <div class="avatar">
              <img id="avatar-image" src="{{ profile_form.avatar.thumb_url }}" alt="">
              <p>
                  <a id="upload-link" href="#">Upload Photo</a>
              </p>
          </div>
          <table>
              <tbody>
                  <tr>
                      <td class="first">Visibility:</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.sharing_visibility }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Screen Name:</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.display_name }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Saying:</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.saying }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Groups:</td>
                      <td>
                          <div class="display">
                              <ul class="group-list">
                                  <li>First Group</li>
                                  <li>Sample Group B</li>
                                  <li>Hiker's Club</li>
                              </ul>
                              <a href="#" class="edit-link">Go To My Groups</a></p>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </section>
  
    <h2>My Location</h2>
  
    <section class="location-section">
      <div class="info box">
          <img class="map-thumbnail" src="/static/images/icons/my-location-placeholder.png" alt="">
          <table>
              <tbody>
                  <tr>
                      <td class="first">Visibility:</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.location_visibility }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Location:</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.location }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </section>
  </form>
</div>

<script type="text/javascript">
    require(['plantshare/myprofile']);
</script>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

