{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Sightings: PlantShare{% endblock %}

{% block body_attributes %}id="sightings" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Sightings</h1>

<h2>Latest</h2>
<ul>
{% for sighting in sightings %}
    <li><a
        href="{% url ps-sighting sighting.id %}">{{ sighting.identification }}
        at {{ sighting.location }}</a>, posted by {{ sighting.user }}
        on {{ sighting.created }}
    </li>
{% endfor %}
</ul>

<form id="sightings-locator">
    <h2>Sightings Locator</h2>
    <h3>Show recent plant sightings for</h3>
    
    {% csrf_token %}
    <input type="text" autocomplete="off"
        name="plant-name"
        id="plant-name"
        placeholder="scientific or common name"
        class="suggest"
        data-suggest-url="{% url site-plant-name-suggestions %}?q=%s">
    <input type="submit" value="Go">
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

