{% extends "gobotany/_page_free_sidebar.html" %}
{% load mapping_tags %}

{% block title %}Sighting: {{ sighting.title }}: PlantShare{% endblock %}

{% block body_attributes %}id="sighting"
    class="plantshare sighting"{% endblock %}

{% block main_content %}
<h1>Sighting: <i>{{ sighting.identification }}</i> at
    {{ sighting.location|capfirst }}</h1>

{% location_map location=sighting.location height_px="150" width_px="302" zoom="7" id="id_location_map" %}

<p>Posted {{ sighting.created }} by {{ sighting.user }}</p>

{% if sighting.notes %}
    <p>Description or comments: {{ sighting.notes }}</p>
{% endif %}

{% if sighting.location_notes %}
    <p>Location notes: {{ sighting.location_notes }}</p>
{% endif %}

<div class="sighting-gallery">
    <h2>Sighting Photos</h2>
    <ul>
    {% for photo in sighting.photos.all %}
        <li><img src="{{ photo.thumb.url }}" /></li>
    {% empty %}
        <li><p>There are currently no photos for this sighting.</p></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

