{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Sighting: {{ sighting.title }}: PlantShare{% endblock %}

{% block body_attributes %}id="sighting"
    class="plantshare sighting"{% endblock %}

{% block main_content %}
<h1>Sighting: {{ sighting.identification }} at {{ sighting.location }}</h1>

<p>Posted {{ sighting.created }} by {{ sighting.user }}</p>

{% if sighting.notes %}
    <p>Description or comments: {{ sighting.notes }}</p>
{% endif %}

{% if sighting.location_notes %}
    <p>Location notes: {{ sighting.location_notes }}</p>
{% endif %}

{# TODO: show sighting images #}

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

