{% extends "gobotany/_page_free_sidebar.html" %}
{% load mapping_tags %}

{% block title %}Sightings: PlantShare{% endblock %}

{% block body_attributes %}id="sightings" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Recent Sightings</h1>

{% regroup sightings by created as created_date_list %}

<ul>
{% for sightings in created_date_list %}
    <li>{{ sightings.grouper }}
    <ul>
        {% for sighting in sightings.list %}
            <li><a
                href="{% url ps-sighting sighting.id %}"><i>{{ sighting.identification }}</i>
                at {{ sighting.location|capfirst }}</a>
                by {{ sighting.user }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

