{% extends "gobotany/_page_free_sidebar.html" %}
{% load plantshare_tags %}

{% block title %}PlantShare Terms of Agreement: PlantShare{% endblock %}

{% block js_require %}
    require([
        'plantshare/terms_of_agreement'
    ]);
{% endblock %}

{% block body_attributes %}id="terms-of-agreement"
    class="plantshare"{% endblock %}

{% block main_content %}
    <h1>PlantShare Terms of Agreement</h1>
    <ul>
        <li>Welcome, {% user_first_name user %}!
        To use PlantShare, you must agree to the terms below.</li>
        <li>Check the box next to each section to agree to it.</li>
        <li>Then press "I Agree" to confirm that you agree to all
        terms.</li>
    </ul>
    <form method="post" action="{% url 'ps-terms-of-agreement-accept' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="box">
            <fieldset>
            <!-- Limit the length of each label to be no more than three
                 lines long when viewed in a browser. -->
            <input type="checkbox" id="box1" name="terms" value="terms1">
            <label for="box1">
                You agree to be a good PlantShare citizen,
                acting in a respectful and courteous manner toward others.
                Bullying, spamming, posting rude content, or other abusive
                behavior is strictly forbidden.
            </label>
            <input type="checkbox" id="box2" name="terms" value="terms2">
            <label for="box2">
                You retain copyright of content you create, including photos,
                and you grant New England Wild Flower Society permission to
                display it. You agree not to post others'
                content without their permission.
            </label>
            <input type="checkbox" id="box3" name="terms" value="terms3">
            <label for="box3">
                Any posts of sightings of plants that are listed as rare
                or vulnerable will be screened from public
                view for protection. We encourage also reporting
                such sightings to state Natural Heritage Programs.
            </label>
            <input type="checkbox" id="box4" name="terms" value="terms4">
            <label for="box4">
                You must secure landowner permission before posting any
                images or information about plants  seen on private
                property.
            </label>
        </fieldset>
        </div>
        <input type="submit" class="agree-btn inactive" value="I Agree">
        <a href="{% url 'django.contrib.auth.views.logout' %}">Cancel</a>
    </form>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
