{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Your Profile: PlantShare{% endblock %}

{% block body_attributes %}id="profile" class="plantshare"{% endblock %}

{% block js_require %}
    require(['plantshare/your_profile']);
{% endblock %}

{% block main_content %}
<h1>Your Profile</h1>

<p class="username">Username <b>{{ user.username }}</b></p>

<h2>Details</h2>

<div class="section-container">
  {% include "_image_upload_form.html" with image_form=avatar_form %}

  <form id="edit-profile-form" class="ajax-partial" method="POST"
      action="{% url 'ps-ajax-profile-edit' %}">
    <section class="info-section">
      {% csrf_token %}
      <div class="info box">
          <div class="avatar">
              <img id="avatar-image" src="{{ profile_form.avatar.thumb_url }}" alt="">
              <p>
                  <a id="upload-link" href="#" rel=".image-modal">Upload Photo</a>
              </p>
          </div>
          <table>
              <tbody>
                  <tr>
                      <td class="first">Visibility</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.sharing_visibility }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Display Name</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.display_name }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Saying</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.saying }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Groups</td>
                      <td>
                          <div class="display">
                              <ul class="group-list">
                                  <li>First Group</li>
                                  <li>Sample Group B</li>
                                  <li>Hiker's Club</li>
                              </ul>
                              <a href="#" class="edit-link">Your Groups</a></p>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </section>
  
    <h2>Location</h2>
  
    <section class="location-section">
      <div class="info box">
          <img class="map-thumbnail" src="/static/images/icons/my-location-placeholder.png" alt="">
          <table>
              <tbody>
                  <tr>
                      <td class="first">Visibility</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.location_visibility }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="first">Location</td>
                      <td>
                          <div class="display">
                              <p><span>[Not yet selected]</span><a href="#" class="edit-link">Edit</a></p>
                          </div>
                          <div class="edit">
                              <div class="ajax-field">
                                  {{ profile_form.location }}
                              </div>
                              <div class="field-controls">
                                <input type="button" class="field-save save-btn" value="Save" />
                                <a href="#" class="field-reset">Cancel</a>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </section>
  </form>
</div>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

