{% load gobotany_tags %}
    <nav>
        <ul>
            <li class="help">{% nav_item 'Help' site-help %}</li>
            <li class="getting-started">{% nav_item 'Getting Started with the Simple Key' site-getting-started %}</li>
            <li class="video">{% nav_item 'Video Help Topics' site-video %}</li>
            <li class="advanced-map">{% nav_item 'Map to Plant Groups' site-advanced-map %}</li>
            
            <li class="glossary">{% nav_item 'Glossary' site-glossary 'a' %}</li>
            <li class="system-requirements">{% nav_item 'System Requirements' site-system-requirements %}</li>

            <li class="about">{% nav_item 'About Go Botany' site-about %}</li>

            <li class="privacy">{% nav_item 'Privacy Policy' site-privacy %}</li>
            <li class="terms-of-use">{% nav_item 'Terms of Use' site-terms-of-use %}</li>
            <li class="contact">{% nav_item 'Contact Us' site-contact %}</li>
        </ul>
    </nav>
