{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Choose New Password: PlantShare{% endblock %}

{% block body_attributes %}id="choose-new-password"
    class="plantshare"{% endblock %}

{% block main_content %}
<h1>Choose New Password</h1>

<form action="." method="post" class="change-password">
    
    {% csrf_token %}
    
    {{ form.as_p }}

    <p><input type="submit" value="Update Password"
        class="orange-button caps">
    </p>
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_minimal_navigation.html" %}
{% endblock %}
