{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Logged Out: PlantShare{% endblock %}

{% block body_attributes %}id="logged-out" class="plantshare"{% endblock %}

{% block js_require %}
    require(['plantshare/registration_complete']);
{% endblock %}

{% block main_content %}
<h1>Logged Out</h1>

<p>You are logged out of PlantShare and may now close this
browser window.</p>

<p><a href="{% url 'ps-main' %}">Log in</a> again anytime!</p>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

