{% load i18n %}{% autoescape off %}
{% blocktrans %}You were sent this message because you asked to reset your password
for PlantShare on the Go Botany site.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Your username is:" %} {{ user.get_username }}

{% trans "Thank you," %}

{% blocktrans %}Go Botany

--

If you think you received this message in error, please contact
gobotany@newenglandwild.org.
{% endblocktrans %}

{% endautoescape %}
