{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Sign Up for PlantShare{% endblock %}

{% block body_attributes %}id="sign-up" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Sign Up for PlantShare</h1>

<p>Share your passion for the green world of New England plants. By signing
up, you will have your own home page complete with your plant discoveries,
maps, checklists, and much more!</p>

<p>Start by entering your information below. You will receive an email message
with a link to activate your account.</p>

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button" value="Sign Me Up" />
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

