{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Sign Up Complete: PlantShare{% endblock %}

{% block body_attributes %}id="complete" class="plantshare"{% endblock %}

{% block js_require %}
    require(['plantshare/registration_complete']);
{% endblock %}

{% block main_content %}
<h1>Sign Up Complete</h1>

<p>Thank you for signing up for PlantShare!</p>

<p>You should receive an email shortly. Click the link in it
to activate your PlantShare account.</p>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_minimal_navigation.html" %}
{% endblock %}

