{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Registration Complete{% endblock %}

{% block body_attributes %}id="complete" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Registration Complete</h1>

<p>Thank you for registering for a PlantShare membership.  You should receive
an email shortly.  Simply click the link in the email to activate your
membership and begin using PlantShare!</p>
{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

