# Basic ignore patterns
*.pyc
*.sw*
*.DS_Store

# Tox
/.tox/
/MANIFEST

# Dev tools
/dev/node/
/dev/usr/apache-solr-3.6.1*

# SASS
/gobotany/static/sass/.sass-cache/

# Log files
import.log
log.dkey

# Data files
110330_fone_test_05.xml
gobotany-csv-exports-*.zip

# Media directory created during API tests
/gobotany/media/
