# Basic ignore patterns
*.pyc
*.sw*
*.DS_Store

# Egg info directory from install.sh
/gobotany.egg-info/

# SASS
/gobotany/static/.sass-cache/

# Intermediate javascript build files
/gobotany/static/build/scripts
