# The Go Botany dependencies are listed in setup.py, as is proper for a
# Python package, so that developers can use tools like "tox" to create
# local sandboxes in which to run the application.

-e .

# If Heroku does not see this requirement out here in the requirements
# file, then it will fail to provide the library that this dependency
# needs in order to compile.

pylibmc==1.2.3
