# The Go Botany dependencies are listed in setup.py, as is proper for a
# Python package, so that developers can use tools like "tox" to create
# local sandboxes in which to run the application.

-e .
