django==1.3
lxml
psycopg2>=2.3
# the new 10.* series of "sorl-thumbnail" breaks us
sorl-thumbnail==3.2.5
supervisor==3.0a12
unittest2
xlrd
# Unsure which version satisfied minimum reqs
PIL

# django-autocomplete - now provided literally
django-haystack
django-piston==0.2.2
django-tinymce
python-memcached
setuptools

# The way we use pysolr introduces an extra dependency:
pysolr
BeautifulSoup

# For memcached on Heroku we need a caching back-end that does authentication:
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4

# coverage
# selenium

# -e src/django-autocomplete
# -e src/facebook-python-sdk-322930c
# -e .
# --extra-index-url=http://dist.pinaxproject.com/dev/ -e ../myplants

# For storing images on S3.
django-storages==1.1.4
boto==2.2.2

# For deployment to Heroku.
gunicorn
newrelic
