<!-- start dojobase.html -->

{% if debug_dojo %}
    <!--
       BE SURE TO RUN "<buildout>/scripts/dojo-build.sh" BEFORE DEBUGGING!
      -->
    <script type="text/javascript">
	djConfig = {
           isDebug: true,
           debugAtAllCosts: true,
           useXDomain: false,
           baseUrl: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/static/dojo/',
           modulePaths: {
               dijit: '/static/dijit',
               dojo: '/static/dojo',
               dojox: '/static/dojox',
               gobotany: '/static/gobotany',
               layers: '/static/js/layers'
           },
           parseOnLoad: true
       };
    </script>
    <!-- src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js" -->
    <script type="text/javascript"
            src="/static/dojo/dojo.js"
            ></script>
    <!-- speeds things up immensely, but you cannot debug dojo itself: -->
    <script type="text/javascript"
            src="/static/js/layers/sk.js"
            ></script>

{% else %}
    <script type="text/javascript">
	djConfig = {
           isDebug: false,
           debugAtAllCosts: false,
           useXDomain: false,
           baseUrl: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/static/js/',
           modulePaths: {
             <!-- If you run "<buildout>/scripts/dojo-build.sh" then: -->
               <!-- dijit: '/static/js/dijit', -->
               <!-- dojo: '/static/js/dojo', -->
               <!-- dojox: '/static/js/dojox', -->
             <!-- Always necessary: -->
               gobotany: '/static/gobotany',
               layers: '/static/js/layers'
           },
           parseOnLoad: true
       };
    </script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"
            ></script>
    <script type="text/javascript"
            src="/static/js/layers/sk.js"
            ></script>

{% endif %}

<link rel="stylesheet"
      href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css"
      type="text/css" media="screen" title="Dijit Claro Style" charset="utf-8"
      />

<!-- end dojobase.html -->
