<!-- dojobase.html -->

{% if debug_dojo %}
    <script type="text/javascript">
	djConfig = {
           isDebug: true,
           debugAtAllCosts: true,
           useXDomain: false,
           modulePaths: {
               gobotany: '/static/gobotany'
           },
           parseOnLoad: true,
       };
    </script>
    <script src="/static/dojo/dojo.js" type="text/javascript"></script>

{% else %}
    <script type="text/javascript">
	djConfig = {
           isDebug: false,
           debugAtAllCosts: false,
           useXDomain: false,
           baseUrl: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/static/js/',
           modulePaths: {
             <!-- If you built Dojo using "buildout -N install dojo-build": -->
               <!-- dijit: '/static/js/dijit', -->
               <!-- dojo: '/static/js/dojo', -->
               <!-- dojox: '/static/js/dojox', -->
             <!-- Always necessary: -->
               gobotany: '/static/gobotany',
               layers: '/static/js/layers'
           },
           parseOnLoad: true
       };
    </script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"
            ></script>
    <script type="text/javascript"
            src="/static/js/layers/sk.js"
            ></script>

{% endif %}

<link rel="stylesheet"
      href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css"
      type="text/css" media="screen" title="Dijit Claro Style" charset="utf-8"
      />
