{% extends "base.html" %}
{% block content %}
    <ul>
      <li><a href="taxon-search/">Taxon Search</a></li>
      <li><a href="piles-pile-groups">Piles and Pile Groups</a></li>
      <li><a href="pile-search/Lycophytes">Pile Querying</a></li>
      <li><a href="glossary">Glossary Index</a></li>
      <li><a href="admin/core/taxon/">Taxon/Image Admin</a></li>
      <li><a href="canonical-images">Image Search</a></li>
      <li><a href="species-lists/">List species
          in a pile group, pile, or genus (through a REST call)</a></li>
      <li><a href="simple/">Simple Key app</a></li>
      <li id="tests-action">Run Tests (please run in dojo debug mode)</li>
    </ul>

    <script type="text/javascript">
      if (djConfig && djConfig.isDebug) {
          var node = document.getElementById('tests-action');
          node.innerHTML = '<a href="/static/tests.html">Run Tests</a>';
      }
    </script>
{% endblock %}
