{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
dojo.require('gobotany.demo.piles');
dojo.addOnLoad(function() {
    gobotany.demo.piles.init();
});
</script>
{% endblock %}
{% block content %}
    {% if data %}
    <h1>Found {{ data|length }} matching species</h1>
    <ul>
      {% for r in data.all %}
      <li>{{ r }}
      {% with r.get_default_image as image %}
      {% if image %}
      <img class="TaxonImage" alt="{{ image.alt }}" src="{{image.image.url}}" />
      {% endif %}
      {% endwith %}
      <ul>
        {% for cv in r.character_values.all %}
        <li>{{ cv }}</li>
        {% endfor %}
      </ul></li>
      {% endfor %}
    </ul>
    {% else %}
    <h1>Select botanic characters for your {{ pile|title }}</h1>
    {% if submitted %}
    <h2>No matching species were found please select fewer characters</h2>
    {% endif %}
    <form action="{{ pile }}" method="post" id="characters_form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
      
    </form>
    {% endif %}
{% endblock %}
