{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
dojo.require('gobotany.demo.piles');
dojo.addOnLoad(function() {
    gobotany.demo.piles.populate_piles();
    gobotany.demo.piles.populate_pile_groups();
});
</script>
{% endblock %}
{% block content %}
<div class="pile-selection">
<form>
  <fieldset>
    <legend>Piles</legend>
    <select id="pile-select" disabled="true" onchange="gobotany.demo.piles.show_pile(this.options[this.selectedIndex].value)">
      <option>loading...</option>
    </select>
    <dl id="pile-info">
    </dl>
  </fieldset>

  <fieldset>
    <legend>Pile Groups (Uber-piles)</legend>
    <select id="pilegroup-select" disabled="true" onchange="gobotany.demo.piles.show_pilegroup(this.options[this.selectedIndex].value)">
      <option>loading...</option>
    </select>
    <dl id="pilegroup-info">
    </dl>
  </fieldset>
</form>
</div>
{% endblock %}
