{% extends "admin/base_site.html" %}
{% load simplekey_extras %}

{% block content %}

<div id="content">
    <h1>Rename selected ContentImage records</h1>

    <p>Name in title (alt text):
    {{ records.0.name_in_title|safe }}</p>

    <form action="" method="post">

        {% csrf_token %}

        <p>{{ rename_images_form }}</p>

        <input type="hidden" name="action" value="rename_images">

        <p>Old name: {{ old_name }}</p>

        <p>New name: {{ current_taxon_name }}</p>

        <p>This will rename the images to the current name of the
            associated Taxon, which is {{ current_taxon_name }}
            (Taxon id {{ records.0.object_id }}).</p>

        <p><input type="submit" name="rename" value="Rename"></p>

    </form>
</div>

{% endblock %}
