{% extends "admin/base_site.html" %}
{% load simplekey_extras %}

{% block content %}

<div id="content">
    <h1>Rename selected ContentImage records</h1>

    <form action="" method="post">

        {% csrf_token %}

        <p>{{ rename_images_form }}</p>

        <input type="hidden" name="action" value="rename_images">

        <p>This will rename image records and files to the current name of
            the associated Taxon:
            {{ current_taxon_name|italicize_plant|safe }}.</p>

        <p><input type="submit" name="rename" value="Rename"></p>

    </form>
</div>

{% endblock %}
