<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %}: Go Botany{% endblock %}</title>
        <meta charset="utf-8">
        {% block js_top %}{% endblock %}

        {% include "dojobase.html" %}

        {% include "simplekey/search_suggest_script.html" %}

        <link rel="stylesheet" href="/static/css/clarofix.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/basic.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/searchsuggest.css">
        <link rel="stylesheet" href="/static/css/shadowbox.css">
        <link rel="stylesheet"
            href="/static/css/jquery.jscrollpane.css">
        <link rel="stylesheet" href="/static/css/smoothDivScroll.css">
        <link rel="shortcut icon" href="/static/images/branding/favicon.png">
        <!--[if IE 7]>
            <link rel="stylesheet" href="/static/css/ie7.css">
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" href="/static/css/ie8.css">
        <![endif]-->
        <!--HTML5 Fix for IE-->
        <!--[if lt IE 9]>
        <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="/static/underscore-min.js"></script>   
        <script src="/static/jquery-1.6.2.min.js"></script>
        <script src="/static/scripts/jquery.mousewheel.min.js"></script>    
        <script src="/static/scripts/jquery.jscrollpane.min.js"></script>
      
        <script src="/static/scripts/global.js"></script>
        <script src="/static/scripts/shadowbox.js"></script>
        <script>
            function moveCloseLink() {
                var cb = document.getElementById('sb-nav-close');
                var tb = document.getElementById('sb-wrapper-inner');
                if (tb) {
                    tb.appendChild(cb);
                }
            }
            Shadowbox.init({
                onOpen: moveCloseLink
            });
        </script>
        <!--Image Gallery Slider-->
        <!-- TODO: Find out what the gallery really needs from jQuery tools.
             Be careful with this library because it's configurable and
             can contain its own (older) version of jQuery. Evidently
             the noConflict() call below somehow allowed the jScrollPane
             to finally begin working. -->
        <script src="/static/jquery.tools.min.js"></script>
        <script>
            var jq = jQuery.noConflict();
            jq(document).ready(function() {
                //Start
                jq('.img-container').scrollable();
            });
        </script>

        <!-- Smooth Div Scroll -->
        <script
            src="/static/scripts/jquery-ui-1.8.16.custom.min.js"></script>
        <script
            src="/static/scripts/jquery.smoothDivScroll-1.1-min.js"></script>

    </head>

    {% block body %}{% endblock %}

</html>
