        <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <div id="ie-note">
            <p>Welcome to Go Botany! This site runs best using
            <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>,
            <a
                href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95346">Chrome</a>,
            or <a href="http://www.apple.com/safari/">Safari</a>.</p>
            <p>
            To use the site with Internet Explorer, you'll need the
            <strong><a href='javascript:CFInstall.check({mode: "popup"});'
                title='Install Google Chrome Frame'>Google
            Chrome Frame plug-in</a></strong>&#8212;a quick-and-easy
            one-time install.</p>
            <img src="/static/images/branding/logo-toplevel.png" alt="">
        </div>
