        <footer>
            <div class="container">
                <div class="three-col">
                    <p class="copyright">All images and text copyright 
                    &#169; {% include "simplekey/_copyright_years.html" %}
                    New England Wild Flower Society
                    or respective copyright holders.
                    All rights reserved.</p>
                    <p><a href="http://www.newfs.org/">New England Wild
                        Flower Society</a><br>
                    180 Hemenway Road, Framingham, MA 01701</p>
                </div>

                <div class="three-col">
                    <h6>Go Botany</h6>
                    <p><a href="{% url simplekey-page 1 %}"
                          >Simple Key</a> |
                        <a href="{% if ':8000' in request.META.HTTP_HOST %}http://127.0.0.1:8001/{% else %}https://myplants.newfs.org/{% endif %}">MyPlants</a> |
                        <a href="/advanced/">Advanced ID Tools</a> |
                        <a href="/help/">About</a> |
                        <a href="/help/glossary/">Glossary</a></p>
                    <h6>Legal</h6>
                    <p><a href="#">Privacy Policy</a> |
                        <a href="#">Terms of Use</a></p>
                </div>

                <div class="three-col last">
                    <img src="/static/images/layout/nsf-logo.png"
                        alt="National Science Foundation" class="nsf-logo">
                    <p>The Go Botany project is supported in part by the 
                        National Science Foundation.<br><a href="www.nsf.gov">www.nsf.gov</a></p>
                    <div class="clearit"></div>
                </div>

            </div>
        </footer>
