        <footer>
            <div class="container">
                <div class="three-col">
                    <p>Copyright &copy; 2011 New England Wild Flower Society.
                        <br>All rights reserved.</p>
                    <p>180 Hemenway Road, Framingham, MA 01701</p>
                </div><!--Closes .three-col-->

                <div class="three-col">
                    <h6>Go Botany</h6>
                    <p><a href="#">Plant Identifier</a> | <a href="#">MyPlants</a> |
                        <a href="#">Advanced ID Tools</a> | <a href="#">About</a></p>
                    <h6>Legal</h6>
                    <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
                </div><!--Closes .three-col-->

                <div class="three-col last">
                    <img src="/static/images/layout/nsf-logo.png" alt="National Science Foundation" class="nsf-logo" />
                    <p>The Go Botany project is supported in part by the 
                        National Science Foundation.<br /><a href="www.nsf.gov">www.nsf.gov</a></p>
                    <div class="clearit"></div>
                </div><!--Closes .three-col-->

            </div><!--Closes .container-->
        </footer>