    <header>
        <div class="container">
            <h2><a href="http://www.newenglandwild.org/">New
                England Wild Flower Society</a></h2>
            <h1><a 
                {% ifnotequal request.path "/" %}href="/"{% endifnotequal %}>Go
                Botany: Discover thousands of New England plants</a></h1>
            <nav>
            <a href="javascript:document.getElementById('footer-nav').scrollIntoView();">+<span>sections</span></a>
                <div id="search">
                    <form id="search-suggest" action="/search/" autocomplete="off">
                        <button>Search</button>
                        <input type="text" name="q" placeholder="Search..."
                            value="{{ request.GET.q }}">
                        <div class="menu hidden">
                            <ul></ul>
                        </div>
                        <div class="clearit"></div>
                    </form>
                </div>
                {% include "gobotany/_primary_navigation_top.html" %}
                <div class="clearit"></div>
            </nav>
            <div class="clearit"></div>
        </div>
    </header>
