<div id="notify">
    <div>DRAFT: This web site is under development.</div>
</div>

    <header>
        <div class="container">
            <h2><a 
                {% ifnotequal request.path "/" %}href="/"{% endifnotequal %}>New
                England Wild Flower Society</a></h2>
            <h1><a 
                {% ifnotequal request.path "/" %}href="/"{% endifnotequal %}>Go
                Botany: Discover thousands of New England plants</a></h1>
            <nav>
                <div id="search">
                    <form id="search-suggest" action="/search/" autocomplete="off">
                        <button>Search</button>
                        <input type="text" name="q" placeholder="Search..."
                            value="{{ request.GET.q }}">
                        <div class="menu hidden">
                            <ul></ul>
                        </div>
                        <div class="clearit"></div>
                    </form>
                </div>
                <ul>
                    <li class="home">
                        <a {% ifnotequal request.path "/" %}href="{% url simplekey-index %}"{% endifnotequal %}>Home</a>
                    </li>
                    <li class="plant-id">
                        <a href="{% url simplekey %}">Simple Key</a>
                    </li>
                    <li class="my-plants"><a href="{% if ':8000' in request.META.HTTP_HOST %}http://127.0.0.1:8001/{% else %}https://myplants.newfs.org/{% endif %}">MyPlants</a></li>
                    <li class="advanced-id">
                        <a href="{% url advanced-id-tools %}">Advanced ID Tools</a>
                    </li>
                    <li class="teaching-tools"><a href="#">Teaching Tools</a></li>
                    <li class="about last"><a href="{% url simplekey-help-about %}">About</a></li>
                </ul>
                <div class="clearit"></div>
            </nav>
            <div class="clearit"></div>
        </div>
    </header>
