{% extends "simplekey/_base.html" %}

{% block title %}{% block pagetitle %}{% endblock %}: Help{% endblock %}

{% block body %}
<body id="{% block body_id %}{% endblock %}"
    class="claro app {% block body_class %}{% endblock %}">
        {% include "simplekey/_header.html" %}

        {% block content %}{% endblock %}

        {% include "simplekey/_footer.html" %}

        {% include "simplekey/_script_constants.html" %}

        <script>
            {% include "simplekey/partner_site_inline_js.html" %}
        </script>
        
        {% block js_bottom %}{% endblock %}
    </body>
{% endblock %}
