{% extends "simplekey/_base.html" %}

{% block title %}{% block pagetitle %}{% endblock %}: Help{% endblock %}

{% block body %}
    <body id="{% block body_id %}{% endblock %}"
        class="claro app {% block body_class %}{% endblock %}">
    
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="main"> 
                    {% block main_content %}{% endblock %}
                </div>
                <div id="sidebar">
                    <div class="section">
                        {% url simplekey-help-start as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Getting Started with Plant Identifier</a></h5>
                    </div>
                    <div class="section">
                        {% url simplekey-help-about as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>About Go Botany</a></h5>
                    </div>
                    <div class="section">
                        {% url simplekey-help-map as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Advanced Map to Groups</a></h5>
                    </div>
                    <div class="section">
                        {% url simplekey-help-glossary0 as u %}
                        <h5><a class="sidebarlink" {% if not u in request.path %}href="{{ u }}"{% endif %}>Glossary</a></h5>
                    </div>
                    <div class="section">
                        {% url simplekey-help-video as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Video Help Topics</a></h5>
                    </div>
                    {% block more_sidebar_content %}{% endblock %}
                </div>
                <div class="clearit"></div>
            </div>
        </div>

        {% include "simplekey/_footer.html" %}

        {% include "simplekey/_script_constants.html" %}

        <script>
            {% include "simplekey/partner_site_inline_js.html" %}
        </script>
        
        {% block js_bottom %}{% endblock %}
    </body>
{% endblock %}
