        <!-- Image Gallery Slider -->
        <!-- Note: jQuery Tools below contains its own jQuery, v. 1.4.2.
             Rely on this one for now, in order to avoid conflicts which
             do occur when loading a newer version too. It also improves
             download time. -->
        <script src="/static/jquery.tools.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.img-container').scrollable({keyboard: false});
            });
        </script>

