{# New base page template: will eventually replace _base.html. #}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %}: Go Botany{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/static/images/branding/favicon.png">

        <!-- CSS goes here. -->
        {% include "_claro_css.html" %}
        <!-- TODO: get rid of clarofix.css; integrate as many others as
             possible. Ideally have just one file, styles.css, plus any
             conditional stylesheets. -->
        <link rel="stylesheet" href="/static/css/clarofix.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/basic.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/searchsuggest.css">
        <link rel="stylesheet" href="/static/css/shadowbox.css">
        <link rel="stylesheet"
            href="/static/css/jquery.jscrollpane.css">
        <link rel="stylesheet" href="/static/css/smoothDivScroll.css">
        <!--[if IE 7]>
            <link rel="stylesheet" href="/static/css/ie7.css">
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" href="/static/css/ie8.css">
        <![endif]-->
    </head>

    <body {% block body_attributes %}{% endblock %}>

        <!-- Note: So far, header has to be added per-page, since the
             home page puts the header in a special container div that
             other pages do not use. (Maybe this can be eliminated?) -->

        {% block body_content %}{% endblock %}

        {% include "simplekey/_footer.html" %}

        {% include "simplekey/_script_constants.html" %}

        <!-- This block is for adding any JS that *has* to come first,
             such as SVGWeb. -->
        {% block js_top %}{% endblock %}


        <!-- Any global JS goes here. -->
        <!-- TODO: reduce and optimize as much as possible. -->
        {% include "_dojobase.html" %}
        {% include "simplekey/search_suggest_script.html" %}
        <!-- HTML5 Fix for IE -->
        <!--[if lt IE 9]>
        <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/static/underscore-min.js"></script>
        <!-- jQuery Tools also bundles jQuery itself: -->
        <script src="/static/scripts/jquery.tools.min.js"></script>
        <script src="/static/scripts/jquery.mousewheel.min.js"></script>    
        <script src="/static/scripts/jquery.jscrollpane.min.js"></script>     
        <!-- Smooth Div Scroll -->
        <script
            src="/static/scripts/jquery-ui-1.8.16.custom.min.js"></script>
        <script
            src="/static/scripts/jquery.smoothDivScroll-1.1-min.js"></script>

        <!-- This block is for adding any page-specific JS. -->
        <script src="/static/scripts/require.js"></script>
        <script>
            require.config({baseUrl: "/static/scripts"});
            {% block js_require %}{% endblock %}
        </script>
        {% block js_bottom %}{% endblock %}
    </body>
</html>
