<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Go Botany</title>
    <meta charset="utf-8">
    {% block js_top %}{% endblock %}

    {% include "dojobase.html" %}
    
    {% include "simplekey/search_suggest_script.html" %}

    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" href="/static/gobotany.css">
  </head>
  <body class="claro">
    <div id="content">
      {% include "simplekey/header.html" %}
      <div id="navlinks">
        <p>Home | Plant of the Day | Plant Identifier | Learning Opportunities</p>
      </div>
      {% block content %}{% endblock %}
      <div id="foot">
        {% block footer %}
          (footer/navigation)
        {% endblock %}
      </div>
    </div>
    {% block js_bottom %}{% endblock %}
  </body>
</html>
