<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}: New England Wild Flower Society</title>
        <meta charset="utf-8">
        {% block js_top %}{% endblock %}

        {% include "dojobase.html" %}

        {% include "simplekey/search_suggest_script.html" %}

        <link rel="stylesheet" href="/static/css/clarofix.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/basic.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/shadowbox.css">
        <link rel="shortcut icon" href="/static/images/branding/favicon.png">

        <!--[if IE 7]>
            <link rel="stylesheet" href="/static/css/ie7.css">
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" href="/static/css/ie8.css">
        <![endif]-->
        <!--HTML5 Fix for IE-->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--underscore.js-->
        <script src="/static/underscore-min.js"></script>
        <!--JQuery-->
        <script src="/static/jquery-1.6.min.js"></script>
        <!--Global JS File-->
        <script type="text/javascript" src="/static/scripts/global.js"></script>                <!--Shadowbox-->
        <script type="text/javascript" src="/static/scripts/shadowbox.js"></script>
        <script type="text/javascript">
            Shadowbox.init();
        </script>
        <!--Image Gallery Slider-->
        <script type="text/javascript"
            src="/static/jquery.tools.min.js"></script>
        <script type="text/javascript">
            $(function() {
                //Start
                $('.img-container').scrollable();
            });
        </script>

    </head>

    {% block body %}{% endblock %}

</html>
