{% extends "simplekey/_test_base.html" %}

{% block title %}{% block pagetitle %}{% endblock %} - Help{% endblock %}

{% block body %}
    <body id="getting-started" class="claro app getting-started">
        {% include "simplekey/_header.html" %}

        {% block content %}{% endblock %}

        {% include "simplekey/_footer.html" %}

        {% include "simplekey/_script_constants.html" %}

        {% include "simplekey/_partner_site_js.html" %}
        
        {% block js_bottom %}{% endblock %}
    </body>
{% endblock %}
