{% extends "simplekey/help.html" %}
{% block pagetitle %}
About Go-Botany
{% endblock %}
{% block pageheading %}
About Go-Botany
{% endblock %}
{% block maincontent %}
<h2>section 1 heading blurb</h2>
<div>
    section 1 content blurb
</div>
<img src="" alt="section 1 image TBD">
<hr>
<h2>section 2 heading blurb</h2>
<div>
    section 2 content blurb
</div>
<img src="" alt="section 2 image TBD">
<hr>
<h2>section 3 heading blurb</h2>
<div>
    section 3 content blurb
</div>
<img src="" alt="section 3 image TBD">
{% endblock %}
