<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Plant Identifier - Go-Botany</title>
    <meta charset="utf-8" />
    {% block js_top %}{% endblock %}

    {% include "dojobase.html" %}

    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/gobotany.css" />
  </head>
  <body class="claro">
    <div id="content">
      {% include "simplekey/header.html" %}
      <div id="navlinks">
        <p>Home | Plant of the Day | <a class="current">Plant Identifier</a> | 
           Learning Opportunities</p>
      </div>
      {% block content %}{% endblock %}
      <div id="foot">
        {% block footer %}
          (footer/navigation)
        {% endblock %}
      </div>
    </div>
    <script type="text/javascript">
    djConfig = { 
        isDebug: true,
        debugAtAllCosts:true,
        useXDomain: false,
        baseUrl: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/',
        modulePaths: {
            gobotany: '/static/gobotany'
        },
        parseOnLoad: true,
    };
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
    {% block js_bottom %}{% endblock %}
  </body>
</html>
