<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Plant Identifier - Go-Botany</title>
    <meta charset="utf-8" />
    {% block js_top %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/resources/dojo.css" />
    <link rel="stylesheet" 
          href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css" 
          type="text/css" media="screen" title="Dijit Claro Style" />
    <link rel="stylesheet" href="/static/gobotany.css" />
  </head>
  <body class="claro">
    <div id="content">
      {% include "simplekey/header.html" %}
      <div id="navlinks">
        <p>Home | Plant of the Day | <a class="current">Plant Identifier</a> | 
           Learning Opportunities</p>
      </div>
      {% block content %}{% endblock %}
      {% include "simplekey/footer.html" %}
    </div>
    <script type="text/javascript">
    djConfig = { 
        isDebug: true,
        debugAtAllCosts:true,
        useXDomain: false,
        baseUrl: 'http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/',
        modulePaths: {
            gobotany: '/static/gobotany'
        },
        parseOnLoad: true,
    };
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
    {% block js_bottom %}{% endblock %}
  </body>
</html>
