<html>
  <body>
    <h1>{{ collection.title }}</h1>
    <p>
      Which of the following best describes your plant?
    </p>
    {% for child in children %}
      {% if child.kind == 'else' %}
        <div class="{{ child.class }}">
          <h2><a href="{{ child.url }}">Give me more choices »</a></h2>
        </div>
      {% else %}
        <div class="{{ child.class }}">
          <h2><a href="{{ child.url }}">{{ child.friendly_name }}</a></h2>
        </div>
      {% endif %}
    {% endfor %}

    <h2>Subway map</h2>
    {% include "simplekey/subway.html" %}

  </body>
</html>
