<html>
  <body>
    <h1>{{ collection.title }}</h1>
    <p>
      Which of the following best describes your plant?
    </p>
    {% for child in collection.get_children %}
      {% if child.kind == 'collection' %}
        <div class="collection">
          <h2><a href="{{ child.url }}">{{ child.target.name }}</a></h2>
        </div>
      {% endif %}
      {% if child.kind == 'pile' %}
        <div>
          <h2>
            {% if child.target.friendly_name %}
              <a href="{{ child.url }}"
                 >{{ child.target.friendly_name }}</a>
              ({{ child.target.name }})
            {% else %}
              <a href="{{ child.url }}">{{ child.target.name }}</a>
            {% endif %}
          </h2>
        </div>
      {% endif %}
      {% if child.kind == 'else' %}
        <div>
          None of these look right.
          <a href="{{ child.url }}">Give me more choices »</a>
        </div>
      {% endif %}
    {% endfor %}
    
  </body>
</html>
