{% extends "simplekey/_old_base.html" %}
{% load thumbnail %}
{% load simplekey_extras %}
{% block title %}
{{ item.name }}
{% endblock %}
{% block content %}
  <h1>Family {{ item.name }}</h1>
  <div id="family">
    <h2>{% if item.common_name %}
            {{ item.common_name }}
        {% else %}
            Common name here
        {% endif %}</h2>

    <div id="images">
      <h3>Images</h3>
      <p>
          {% if item_images %}
              {% for i in item_images %}
                  {% if forloop.first %}
                      <img src="{{ i.image.url }}">
                  {% endif %}
              {% endfor %}
          {% else %}
              <img src="" alt="not available">
          {% endif %}
      </p>
      <p class="nav"><a>&lt; prev</a> <span>? of ?</span>
          <a>next &gt;</a></p>
    </div>

    <div id="info">
      <h3>Description</h3>
      <p>{% if item.description %}
             {{ item.description }}
         {% else %}
             This is a placeholder description. (Test glossary highlighting with
             the term monomorphic here.)
         {% endif %}</p>

      <h3>Genera</h3>
      <ul class="Genera">
        {% for genus in item.genera.all %}
        <li><em><a href="../../genera/{{ genus.slug }}/">{{ genus.name }}</a></em></li>
        {% endfor %}
      </ul>

      <h3>Species</h3>
      <ul class="Species">
        {% for species in item.taxa.all %}
        <li><a href="/simple/species/{{ species.scientific_name|split:' '|at_index:'0'|lower }}/{{ species.scientific_name|split:' '|at_index:'1'|lower }}/"><em>{{ species.scientific_name }}</em></a></li>
        
        {% endfor %}
      </ul>
    </div>

    <div id="drawings">
      {% if item_drawings %}
      <ul>
        {% for i in item_drawings %}
        <li>
          <div class="ItemDrawing">
            {{ i.image.thumbnail_tag }}
          </div>
         <h4>{{ i.alt }}</h4>
        </li>
        {% endfor %}
      </ul>
      {% else %}
          {# temporary dummy presentation until we have data #}
          <div>
              <img src="" alt="placeholder image 1">
              <p>placeholder caption 1</p>
          </div>
          <div>
              <img src="" alt="placeholder image 2">
              <p>placeholder caption 2</p>
          </div>
          <div>
              <img src="" alt="placeholder image 3">
              <p>placeholder caption 3</p>
          </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js_bottom %}
  <script>
      dojo.require('gobotany.sk.family');
      dojo.addOnLoad(function() {
          gobotany.sk.family.init('{{ item.slug }}');
      });
  </script>
{% endblock %}
