{% extends "simplekey/_new_base.html" %}
{% load simplekey_extras %}

{% block title %}
Family: {{ family.name }} {% if common_name %}({{ common_name }}){% endif %}
{% endblock %}

{% block js_top %}
    <script>
        API_URL = '{% url api-base %}';
    </script>

    {# TODO: eventually move elsewhere #}
    {% include "simplekey/_partner_site_js.html" %}
{% endblock %}

{% block js_require %}
    define('args', [], {
        family_slug: '{{ family.slug }}'
    });
    require(['simplekey/family']);
{% endblock %}

{% block body_attributes %}id="family" class="claro app family"{% endblock %}

{% block body_content %}
    {% include "simplekey/_header.html" %}

    <div class="content">
        <div class="container">
            <div id="main">
                <h2>Family: {{ family.name }}</h2>
                <h3>{% if common_name %}{{ common_name }}{% endif %}</h3>
                <p class="description">
                {% if item.description %}
                    {{ item.description }}
                {% else %}
                    TO DO: Add description in the database.
                    This is a placeholder description.
                    (Test glossary highlighting here with a few terms,
                    such as abaxial, berry, creeping, fruit and
                    perennial.)
                {% endif %}
                </p>
                
                <div class="pics">
                    {% for drawing in family_drawings %}
                        <div>
                            <a rel="shadowbox"
                               href="{{ drawing.image_medium.url }}">
                                <img class="map"
                                    src="{{ drawing.thumb_small.url }}"
                                    alt="{{ drawing.alt }}"></a>
                            <p>{{ drawing.alt }}</p>
                            <a class="enlarge" rel="shadowbox"
                                href="{{ drawing.image_medium.url }}">
                                <img class="zoom"
                                src="/static/images/icons/zoom.png"
                                alt="enlarge"></a>
                        </div>
                    {% endfor %}
                </div>

                <h4>This Family&#8217;s Genera:</h4>
                <ul class="genera">
                {% for genus in family.genera.all %}
                    <li><i><a href="{% url simplekey-genus genus.slug %}"
                    >{{ genus.name }}</a></i></li>
                {% endfor %}
                </ul>

                <a class="family-genera-btn" href="{% url simplekey-pile pilegroup.slug pile.slug %}#family={{ family.name }}">Key
                    to this Family&#8217;s Genera</a>

            </div>
            <div id="sidebar" style="height: 634px;">
                {% include "simplekey/_sidebar_items.html" %}
            </div>
            <div class="clearit"></div>
        </div>
    </div>
{% endblock %}
