{% extends "simplekey/base.html" %}
{% load thumbnail %}
{% block title %}
{{ item.name }}
{% endblock %}
{% block content %}
  <h1>Family {{ item.name }}</h1>
  <div id="family">
    <div id="taxon-photos">
      <h3>Images</h3>
      <ul>
        {% for i in item_images %}
        <li class="ItemImage">
         <img src="{% thumbnail i.image 320x540  %}" alt="{{ i.alt }}" />
         <h4>{{ i.alt }}</h4>
        </li>
        {% endfor %} 
      </ul>
      <div class="Navigation">
        <a class="prev" href="#">Prev</a> | <a class="next" href="#">Next</a>
      </div>
    </div>
    <div id="taxon-info">
      <dl>
        <dt>Family:</dt>
        <dd>{{ item.name }}</dd>
        
        <dt>Common Name:</dt>
        <dd>{{ item.common_name }}</dd>
        
        <dt>Description:</dt>
        <dd>{{ item.description }}</dd>
      </dl>
      <h3>Genera:</h3>
      <ul class="Genera">
        {% for genus in item.genera.all %}
        <li><em><a href="../../genera/{{ genus.slug }}/">{{ genus.name }}</a></em></li>
        {% endfor %}
      </ul>
      <h3>Species:</h3>
      <ul class="Species">
        {% for species in item.taxa.all %}
        <li><em>{{ species.scientific_name }}</em></li>
        {% endfor %}
      </ul>
    </div>
    <div id="taxon-drawings">
      <ul>
        {% for i in item_drawings %}
        <li>
          <div class="ItemDrawing">
            {{ i.image.thumbnail_tag }}
          </div>
         <h4>{{ i.alt }}</h4>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
