<div id="filter-working">
  <a class="close" href="#">[x]</a>
  <h3 class="name"></h3>
  <div class="values">
    <form>
      <label><input type="radio" name="char_name" value="" 
                    checked> Don't Know</label>
      <label><input type="radio" name="char_name" value="value_1"> 
      Value 1 (0)</label>
      <label><input type="radio" name="char_name" value="value_2"> 
      Value 2 (0)</label>
      <label><input type="radio" name="char_name" value="value_3"> 
      Value 3 (0)</label>
    </form>
  </div>
  <div class="info">
    <p>Choose a value at left to help narrow down to your plant.</p>
  </div>
</div>