<div id="filter-working" aria-live="polite" aria-relevant="additions removals">
  <a class="close" href="#">[x]</a>
  <h3 class="name"></h3>
  <form id="character_values_form">
    <div>
      <div class="values">
        <label><input type="radio" name="char_name" value="" checked="1" /> Don't Know</label>
        <label><input type="radio" name="char_name" value="value_1" /> 
        Value 1 (0)</label>
        <label><input type="radio" name="char_name" value="value_2" /> 
        Value 2 (0)</label>
        <label><input type="radio" name="char_name" value="value_3" /> 
        Value 3 (0)</label>
      </div>
      <div class="info">
        <div class="info-sub">
          <h3>Key Characteristics</h3>
          <p class="key-characteristics"></p>
        </div>
        <div class="info-sub">
          <h3>Notable Exceptions</h3>
          <p class="notable-exceptions"></p>
        </div>
        <div class="clear">&nbsp;</div>
        
        <button name="apply" type="button">Apply</button>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </form>
</div>
