<div id="filters" aria-live="polite" aria-relevant="additions removals">
  <div id="more_filters">
    Narrow your results by making selections below.
    <form dojoType="dijit.form.Form" id="more_filters_form">
      <div>
      </div>
      <button dojoType="dijit.form.DropDownButton">
        <span>Character Groups</span>
        <div dojoType="dijit.Menu" id="character_groups_menu">
        </div>
      </button>
      <button id="get_more_filters_button" type="submit" dojoType="dijit.form.Button">Get more filters…</button>
    </form>
  </div>
  <div class="loading">Loading filters…</div>
  <ul>
  </ul>
</div>
