{% extends "simplekey/_old_base.html" %}
{% block content %}

<h1>Guided Search</h1>

<p>
  Guided search allows you to choose the types of features or characters that you<br>
  know about for a given plant. For example, if you know about the flower shape and<br>
  leaf shape of your plant, you can pick those. Guided search will then find all the plants<br>
  that match.
</p>

<form id="guided_search_filter_list">
</form>

<form>
  <button id="add_guided_search_filter"
          style="visibility: hidden"
          >Add another filter</button>
</form>

<div id="guided_search_total">
</div>

<div id="plant-preview" dojoType="dijit.Dialog" title="Plant Preview"
     aria-describedby="preview-intro">
  {% include "simplekey/plant_preview.html" %}
</div>

<div id="filter-working" style="display: none">
  This div is needed so results/SpeciesSectionHelper.js keeps working.
</div>

{% include "simplekey/plants.html" %}

{% endblock %}
{% block js_bottom %}

<script>
  dojo.require('gobotany.sk.guided_search.Manager');
  dojo.addOnLoad(function() {
    manager = gobotany.sk.guided_search.Manager();
  });
</script>

{% endblock %}
