{% extends "simplekey/_help.html" %}

{% block pagetitle %}Video Help Topics{% endblock %}

{% block body_attributes %}id="video-help-topics" class="claro app video-help-topics"{% endblock %}

{% block main_content %}
    <h2>Video Help Topics</h2>
    {% for video in videos %}
        {% if forloop.counter0|divisibleby:"3" and forloop.counter0 > 0 %}
            <div class="clearit"></div>
        </div><!-- end video-row -->
        {% endif %}
        {% if forloop.counter0|divisibleby:"3" %}
        <div class="video-row">
        {% endif %}
            <div class="video-topic">
                {% if video.youtube_id %}
                    <a rel="shadowbox;height=380;width=640;"
                        href="http://www.youtube.com/v/{{ video.youtube_id }}&amp;autoplay=1">
                        <img class="shadow"
                            src="http://img.youtube.com/vi/{{ video.youtube_id }}/0.jpg"
                            alt="">
                    </a>
                {% else %}
                    <div class="missing-image">
                      <p>Video not available yet</p>
                    </div>
                {% endif %}
                <h4>{{ video.title }}</h4>
            </div>
    {% endfor %}
    <div class="clearit"></div>
    </div><!-- end video-row -->
{% endblock %}

