{% extends "simplekey/_help.html" %}

{% block pagetitle %}Advanced Map to Groups{% endblock %}

{# Override the js_require block in the parent template. #}
{% block js_require %}
    require(['simplekey/help_map']);
{% endblock %}

{% block body_attributes %}id="advanced-map" class="claro app advanced-map"{% endblock %}

{% block main_content %}     
<div>
    <h2>Advanced Map to Groups</h2>
    <h3>For a shortcut through the plant groups, you can start here.</h3>

    <div id="plant-map-list">
        {% for group, subgroups in pilegroups %}
            <div class="plant-group{% if forloop.first %} first{% else %}{% if forloop.last %} last{% endif %}{% endif %}{% if group.friendly_title|length > 18 %} multi-line{% endif %}">
                <h5>{{ group.friendly_title|lower|capfirst }}</h5>
                <div class="image">
                    <div class="frame"></div>
                    <div class="img-container">
                        {% for i in group.sample_species_images.all %}
                            {% if forloop.first %}
                                <img src="{{ i.thumb_small.url }}"
                                    alt="{{ i.alt }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="more-info">
                        <a rel="shadowbox;height=380;width=640;"
                            href="http://www.youtube.com/v/{{ group.youtube_id }}&amp;autoplay=1">
                        Get more info</a>
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="clearit"></div>
        {% for group, subgroups in pilegroups %}
            <div class="subgroups hidden">
                {% for subgroup in subgroups %}
                    <div class="plant-subgroup{% if forloop.last %} last{% endif %}">
                        <h5>{{ subgroup.friendly_title|lower|capfirst }}</h5>
                        <div class="image">
                            <div class="frame"></div>
                            <div class="img-container">
                                {% for i in subgroup.sample_species_images.all %}
                                    {% if forloop.first %}
                                        <img src="{{ i.thumb_small.url }}"
                                            alt="{{ i.alt }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <a class="choose-btn"
                            href="/{{ group.slug }}/{{ subgroup.slug }}/"></a>
                        <p class="more-info">
                            <a rel="shadowbox;height=380;width=640;"
                                href="http://www.youtube.com/v/{{ subgroup.youtube_id }}&amp;autoplay=1">
                            Get more info</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="clearit"></div>
    </div>

    <h3>About plant groups and subgroups</h3>

    <p>The boxes above show how we have grouped over 3,000 New
    England plants into six major categories, which we call
    &#8220;groups.&#8221; These groups contain smaller subsets of species we
    have organized into &#8220;subgroups.&#8221; These are not scientific
    categories, but rather groupings of superficially similar plants that
    seem to belong together. The goal is to make identification easier.</p>

    <p class="vid">
        <!-- TODO: Change YouTube ID to actual groups/subgroups video
                   clip when it becomes available -->
        <a rel="shadowbox;height=380;width=640;"
            href="http://www.youtube.com/v/VWDc9oyBj5Q&amp;autoplay=1">View a short video
            explaining plant groups and subgroups</a>
    </p>
</div>
{% endblock %}
