{% extends "simplekey/_help.html" %}

{% block pagetitle %}Go-Botany Contributors{% endblock %}

{% block body_attributes %}id="contrib" class="app contrib"{% endblock %}

{% block main_content %}
    <h2>Go Botany Contributors</h2>

    <h3>Project Oversight and Management</h3>
		
    <p>Bill Brumback<br />
    Elizabeth Farnsworth<br />
    Arthur Haines</p>

    <h3>Botanical Data Management</h3>
		
    <p>Elizabeth Farnsworth<br />
    Marybeth Hanley<br />
    Sid Koul<br />
    William Moorhead<br />
    Tristrum Seidler</p>

    <h3>Image Management</h3>
		
    <p>Arieh Tal<br />
    Tom Warhol<br />
    Jill Weber</p>

    <h3>Design and Development</h3>
		
    <p>Matt Belge<br />
    Rocky Burt<br />
    Emily Dunkle<br />
    John Galada<br />
    Sally Kleinfeldt<br />
    Sid Koul<br />
    Alec Mitchell<br />
    Brandon Rhodes<br />
    JR Rickerson</p>

    <h3>Illustration</h3>
		
    <p>Elizabeth Farnsworth<br />
    Gordon Morrison</p>

{% endblock %}
