{% extends "simplekey/help.html" %}
{% block pagetitle %}
Getting Started
{% endblock %}
{% block pageheading %}
Getting Started
{% endblock %}
{% block maincontent %}
<div id="start">{{ getting_started_blurb|safe }}</div>
<div id="start-video">
    {% if getting_started_youtube_id %}
        <div id="clip">
            <a href="http://www.youtube.com/v/{{ getting_started_youtube_id }}?enablejsapi=1&version=3">YouTube Video: Getting Started</a>
        </div>
        <p>How to use our plant identification scheme</p>
    {% else %}
        Admin: set the blurb 'getting_started_youtube_id'.
    {% endif %}
</div>
<form>
    <label><input type="checkbox" id="skip-page">I've got it! Don't show
        this page every time I start identifying a plant.</label>
</form>
<p id="next">
    <a href="/1/">Onward To Plant Identifier</a>
</p>
{% endblock %}

{% block js_bottom %}
    <script>
        dojo.require('gobotany.sk.help_start');

        dojo.addOnLoad(function() {
            gobotany.sk.help_start.init();
        });
    </script>
{% endblock %}
