{% extends "simplekey/help.html" %}
{% block pagetitle %}
About Go-Botany
{% endblock %}
{% block pageheading %}
About Go-Botany
{% endblock %}
{% block maincontent %}
<div class="about">
    <h2>{{ section_1_heading_blurb }}</h2>
    <div>
        {{ section_1_content_blurb|safe }}
    </div>
</div>
<img class="about" src="/static/nothing.png" alt="section 1 image TBD">
<hr>
<div class="about">
    <h2>{{ section_2_heading_blurb }}</h2>
    <div>
        {{ section_2_content_blurb|safe }}
    </div>
</div>
<img class="about" src="/static/nothing.png" alt="section 2 image TBD">
<hr>
<div class="about">
    <h2>{{ section_3_heading_blurb }}</h2>
    <div>
        {{ section_3_content_blurb|safe }}
    </div>
</div>
<img class="about" src="/static/nothing.png" alt="section 3 image TBD">
{% endblock %}
