{% extends "simplekey/base.html" %}
{% block content %}
    <h1>Simple Key</h1>
    <p>
      Welcome to the simple key Django app.
    </p>
    <div>
      {{ blurb|safe }}
    </div>
    <p>
      <a href="1/">Start identifying!</a>
    </p>
    <p>
      <a href="guided-search/">Guided Search</a>
    </p>
    <form>
      <input id="skip_getting_started" type="checkbox"
             {% if skip_getting_started %} checked {% endif %}>
      Don't show <i>Getting Started</i> message again — I get it
    </form>
    <p id="resume"></p>
{% endblock %}
{% block js_bottom %}
  <script>
    dojo.require('gobotany.sk.index');
  </script>
{% endblock %}
