{% extends "simplekey/_new_base.html" %}

{% block title %}Go Botany: New England Wild Flower Society{% endblock %}
{% block title_suffix %}{% endblock %}

{% block body_attributes %}id="home" class="claro top-level"{% endblock %}

{% block body_content %}
        <div id="top-wrapper">
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="banner">
                    {% for image in home_page_images %}
                        <img src="{{ image.image.url }}" alt="">
                    {% endfor %}
                    <div id="overlay">
                        <h2>Plant Identifier</h2>
                        <img src="/static/images/layout/separator.png"
                            alt="Go Botany">
                        <p>Want to know what that plant is? With our
                        Plant Identifier, you can identify over
                        1,200 New England plants! Answer some
                        questions step by step, and narrow down the
                        possibilities. The key works best if you
                        have an actual sample or a few photos of
                        your plant.</p>
                        <a href="{% url simplekey-page 1 %}"
                            id="cta">Get Started</a>
                    </div>
                </div>

                <div class="three-col">
                    <h3>MyPlants</h3>
                    <h5>Connect with other plant fans!</h5>
                    <p>Join our on-line community of plant enthusiasts!
                    Find friends, collaborate on field surveys for plants,
                    share your discoveries, get help identifying plants,
                    make maps, and develop checklists of plants for
                    particular sites you are exploring.</p>
                    <a class="learn-more">Learn More</a>
                </div>

                <div class="three-col">
                    <h3>Advanced ID Tools</h3>
                    <h5>For experienced botanists!</h5>
                    <p>Identify over 3,000 New England plants by using our
                    Full Identification Key, including technical
                    multiple-access and dichotomous keys to families, genera,
                    and species. Also learn about subspecies and varieties
                    native to our region.</p>
                    <a class="learn-more"
                        href="{% url advanced-id-tools %}">Learn More</a>
                </div>

                <div class="three-col last">
                    <h3>Teaching Tools</h3>
                    <h5>A useful teaching resource!</h5>
                    <p>Go Botany encourages informal, self-directed education
                    in botany for science students and beginning and amateur
                    botanists. Professors, teachers, and environmental
                    educators can share curricula and teaching ideas.</p>
                    <a class="learn-more" href="#">Learn More</a>
                </div>

                <div class="clearit"></div>

                <div id="potd">
                    <img src="/static/images/layout/potd-img1.jpg" 
                        alt="Magnolia Virginiana" />
                    <div class="details">
                        <h4>Plant of the Day: 
                            <span class="latin">Magnolia Virginiana</span> 
                            <span class="english">Sweet Bay</span></h4>
                        <p>Although it attains impressive sizes in the south,
                        sweetbay magnolia is a medium-sized tree (20-60 feet
                        or 10-20 meters tall) in southern New England. The
                        leaves are lustrous green on top and white-hairy
                        beneath, and often remain on the plant into early
                        winter.</p>
                        <a class="learn-more" href="#">Learn More</a>
                    </div>
                    <div class="clearit"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_require %}
    require(['simplekey/index']);
{% endblock %}
