{% extends "simplekey/_old_base.html" %}
{% block content %}

<div id="subway">
  <h2>
    If you know the plant collection<br/>
    you want to start with, select it
  </h2>
  
  <ul>
    {% for page in pages %}
      {% for pilegroup in page.pilegroups.all %}
        <li>
          <a href="{% url simplekey-pilegroup pilegroup.slug %}"
             >{{ pilegroup.name }}</a>
          <br><a href="#" class="more">more...</a>
          <ul>
            {% for pile in pilegroup.piles.all %}
              <li>
                <a href="{% url simplekey-pile pilegroup.slug pile.slug %}"
                   >{{ pile.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block js_bottom %}
  <script>
    dojo.require('gobotany.sk.subway');
    dojo.addOnLoad(function() {
      gobotany.sk.subway.init();
    });
  </script>
{% endblock %}
