{% extends "simplekey/_base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <body id="plant-id" class="claro app">
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="main">
                    <div id="breadcrumb">
                        <ul>
                            <li class="first completed"><a href="../help/start/"><img src="/static/images/icons/start.png" alt="Get Started"> Get Started</a></li>
                            <li class="second current"><a{% if page.number > 1 %} href="javascript:history.back(1)"{% endif %}><img src="/static/images/icons/group.png" alt="Choose Group"> Choose Group</a></li>
                            <li class="third upcoming"><a><img src="/static/images/icons/group.png" alt="Group"> Group</a></li>
                            <li class="last upcoming"><a><img src="/static/images/icons/subgroup.png" alt="Subgroup"> Subgroup</a></li>
                        </ul>
                    </div><!--Closes #breadcrumb-->

                    <div id="breadcrumb-nav">
                        <p>
                            {% if page.number > 1 %}
                                <a href="{% url simplekey-page 1 %}">Start</a> &gt; Choose Group
                            {% else %}
                                Start: Choose Group
                            {% endif %}
                    </div>

                    <div class="not-my-plant">
                        <h6>My plant isn't in
                            {% if pilegroups_and_urls|length > 1 %}
                                these groups.
                            {% else %}
                                this group.
                            {% endif %}
                        </h6>
                        {% if page.next_page %}
                            <a href="{{ page.next_page.get_absolute_url }}">Show me other groups</a>
                        {% else %}
                            <a class="back-level"
                                href="{% url simplekey-page page.number|add:"-1" %}">Go back one level</a>
                        {% endif %}
                    </div><!--Closes .not-my-plant-->

                    <h2>Plant Identifier</h2>
                    <h4>Is your plant in
                        {% if pilegroups_and_urls|length > 1 %}
                            one of these groups?
                        {% else %}
                            this group?
                        {% endif %}
                    </h4>

                    <div class="clearit"></div>

                    <!--Begin Group List-->
                    {% for pilegroup, url in pilegroups_and_urls %}
                    <div class="list-item{% if forloop.last %} last{% endif %}">
                        <div class="img-gallery">
                            <div class="frame"></div>
                            <div class="img-container">
                                <div class="images">
                                    {% for image in pilegroup.sample_species_images.all %}
                                        <img src="{{ image.image.thumbnail.absolute_url }}"
                                            alt="{{ image.alt }}">
                                    {% endfor %}
                                </div><!--Closes .images-->
                            </div><!--Closes .img-container-->
                            <div class="controls">
                                <a class="prev">Prev</a>
                                <a class="next">Next</a>
                            </div><!--Closes .controls-->
                        </div><!--Closes .img-gallery-->
                        <div class="details">
                            <h3>{{ pilegroup.name }} <span>{{ pilegroup.friendly_name|capfirst }}</span></h3>
                            <p class="key-char">
                                <span class="section-title">Key Characteristics</span>
                                {{ pilegroup.key_characteristics|removetags:"div"|safe|capfirst }}
                            </p>
                            <p class="exceptions">
                                <span class="section-title">Exceptions</span>
                                {{ pilegroup.notable_exceptions|removetags:"div"|safe|capfirst }}
                            </p>
                            <p class="vid">
                                <a href="http://www.youtube.com/v/{{ pilegroup.youtube_id }}" rel="shadowbox;height=380;width=640;">View a short video about this plant group.</a>
                            </p>
                            <a class="plant-in-group" href="{{ url }}">My plant is in this group.</a>
                        </div>
                        <div class="clearit"></div>
                    </div><!--Closes .list-item-->
                    {% endfor %}

                    <div class="not-my-plant">
                        <h6>My plant isn't in
                            {% if pilegroups_and_urls|length > 1 %}
                                these groups.
                            {% else %}
                                this group.
                            {% endif %}
                        </h6>
                        {% if page.next_page %}
                            <a href="{{ page.next_page.get_absolute_url }}">Show me other groups</a>
                        {% else %}
                            <a class="back-level"
                                href="{% url simplekey-page page.number|add:"-1" %}">Go back one level</a>
                        {% endif %}
                    </div><!--Closes .not-my-plant-->

                </div><!--closes #main-->

                <div id="sidebar">

                    <div class="section">
                        <h5>Want help getting started?</h5>
                        <p>If you're not sure what to do from here, take a look at this Help page for instructions.</p>
                        <a class="get-help-btn" href="../help/start/">Get Help</a>
                    </div><!--Closes .section-->

                    <div class="section">
                        <h5>Plant Map</h5>
                        <p>If you already know what group your plant is in, start with the clickable plant map to find your plant more quickly.</p>
                        <a class="view-map-btn" href="../map/">View Map</a>
                    </div><!--Closes .section-->

                </div><!--Closes #sidebar-->

                <div class="clearit"></div>

            </div><!--Closes .container-->
        </div><!--Closes .content-->

        {% include "simplekey/_footer.html" %}

        {% include "simplekey/_script_constants.html" %}

        <script>
            {% include "simplekey/partner_site_inline_js.html" %}
        </script>
    </body>
{% endblock %}
