{% extends "simplekey/_new_base.html" %}
{% load simplekey_extras %}

{% block title %}{{ subgroups_list_page.title }}{% endblock %}

{% block body_attributes %}id="plant-id-2" class="claro app"{% endblock %}

{% block js_top %}
    {# TODO: eventually move elsewhere #}
    {% include "simplekey/_partner_site_js.html" %}
{% endblock %}

{% block js_require %}
    require(['simplekey/simple']);
{% endblock %}

{% block body_content %}
    {% include "simplekey/_header.html" %}

    <div class="content">
        <div class="container">
            <div id="main">
                <div id="breadcrumb">
                    <p>You are here: <a href="{% url simplekey %}">Simple Key</a>
                    &gt; <span>{{ pilegroup.friendly_title|lower|capfirst }}</span></p>
                </div>
                
                <h2>{{ subgroups_list_page.main_heading }}</h2>

                <div class="clearit"></div>

                {% for pile, pile_images, pile_url in piles %}
                    <div class="list-item{% if forloop.last %} last{% endif %}">
                        <div class="img-gallery">
                            <div class="frame"></div>
                            <div class="img-container">
                                <div class="images">
                                    {% for pile_image in pile_images %}
                                        {% with pile_image.content_image as i %}
                                            {% with i.creator as photographer %}
                                            <a href="{{ i.image.extra_thumbnails.scaled.absolute_url }}"
                                                rel="shadowbox[{{ pilegroup.slug }}]"
                                                title="{% photo_title_credit i.image_type i.content_object.scientific_name photographer %}">
                                                <img src="{{ i.image.extra_thumbnails.large.absolute_url }}"
                                                    alt="{% photo_title_credit i.image_type i.content_object.scientific_name photographer %}">
                                            </a>
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="controls">
                                <a class="prev">Prev</a>
                                <a class="next">Next</a>
                            </div>
                        </div>
                        <div class="details">
                            <h3>{{ pile.friendly_title|lower|capfirst }} <span>{{ pile.friendly_name|capfirst }}</span></h3>
                            <p class="key-char">
                                <span class="section-title">Key Characteristics</span>
                                {{ pile.key_characteristics|removetags:"div ul li"|safe }}
                            </p>
                            <p class="exceptions">
                                <span class="section-title">Exceptions</span>
                                {{ pile.notable_exceptions|removetags:"div ul li"|safe }}
                            </p>
                            <p class="vid">
                                <a href="http://www.youtube.com/v/{{ pile.youtube_id }}&amp;autoplay=1"
                                    rel="shadowbox;height=380;width=640;">View
                                    a short video about this subgroup</a>
                            </p>
                            <a class="plant-in-subgroup" href="{{ pile_url }}">My plant is in this subgroup</a>
                        </div>
                        <div class="clearit"></div>
                    </div>
                {% endfor %}

                {% include "simplekey/_plant_not_in_subgroup.html" %}

            </div>

            <div id="sidebar">
                {% include "simplekey/_sidebar_items.html" %}
            </div>

            <div class="clearit"></div>

        </div>
    </div>
{% endblock %}
