    <h2>{{ pile.name }}</h2>

    <div class="species_image_ribbon">
        {% for image in pile.sample_species_images.all %}
            <div>
                 <img id="ribbon-{{ pile.slug }}-{{ forloop.counter }}"
                      src="{{ image.image.thumbnail.absolute_url }}"
                      alt="{{ image.alt }}"
                      scientific_name="{{ image.content_object.scientific_name }}"
                      >
            </div>
        {% endfor %}
    </div>

    <div class="PileDescription">
        {{ pile.description }}
    </div>

    {% if pile.youtube_id %}
        <div class="PileVideo" id="{{ pile.slug }}-video">
            <a href="http://www.youtube.com/v/{{ pile.youtube_id }}?enablejsapi=1&version=3&playerid={{ pile.slug }}">video</a>
        </div>
    {% endif %}

    <div class="KeyCharacteristics">
        <h4>Key Characteristics</h4>
        {{ pile.key_characteristics|safe }}
    </div>
    <div class="NotableExceptions">
        <h4>Notable Exceptions</h4>
        {{ pile.notable_exceptions|safe }}
    </div>
