{% extends "gobotany/_page_full_sidebar.html" %}
{% load simplekey_extras %}

{% block title %}{{ subgroups_list_page.title }}{% endblock %}

{% block body_attributes %}class="skey groups-subgroups {{ key|title|lower }}"{% endblock %}

{% block js_top %}
    {# TODO: eventually move elsewhere #}
    {% include "simplekey/_partner_site_js.html" %}
{% endblock %}

{% block js_require %}
    require(['simplekey/simple']);
{% endblock %}

{% block main_content %}
                <div id="breadcrumb">
                    <p>You are here:
                    <a href="{% url level1 key %}">{{ key|title }} Key</a>
                    &gt; <span>{{ pilegroup.friendly_title|lower|capfirst }}</span></p>
                </div>
                
                <h1>{{ pilegroup.friendly_title|lower|capfirst }}</h1>

                <p class="question">{{ subgroups_list_page.main_heading }}</p>
                <p class="tip">Please go through the subgroups in order.</p>

                {% for pile, pile_images, pile_url in piles %}
                    <div class="list-item{% if forloop.last %} last{% endif %}">
                        <div class="img-gallery">
                            <div class="frame"></div>
                            <div class="img-container">
                                <div class="images">
                                    {# Mockup for Issue #254 #}
                                    {% if key == 'full' and forloop.counter == 3 %}
                                        {# Start with the second image (basal leaves) #}
                                        {% for content_image in pile_images|slice:"1:" %}
                                            {% with content_image as i %}
                                                {% with i.creator as photographer %}
                                                <a href="{{ i.image_medium }}"
                                                    rel="shadowbox[{{ pile.slug }}]"
                                                    title="{% photo_credit i i.scientific_name %}">
                                                    <img src="{{ i.thumb_large }}"
                                                        alt="{% photo_credit i i.scientific_name %}">
                                                </a>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% else %}
                                        {% for content_image in pile_images %}
                                            {% with content_image as i %}
                                                {% with i.creator as photographer %}
                                                <a href="{{ i.image_medium }}"
                                                    rel="shadowbox[{{ pile.slug }}]"
                                                    title="{% photo_credit i i.scientific_name %}">
                                                    <img src="{{ i.thumb_large }}"
                                                        alt="{% photo_credit i i.scientific_name %}">
                                                </a>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="controls">
                                <a class="prev">Prev</a>
                                <a class="next">Next</a>
                            </div>
                        </div>
                        <div class="details">
                            {# Mockup for Issue #254 #}
                            {% if key == 'full' and forloop.counter > 1 %}
                                {% if forloop.counter == 2 %}
                                    <h2>Other herbaceous, flowering
                                        plants with alternate leaves
                                    </h2>
                                {% else %}
                                    <h2>Other herbaceous, flowering
                                        plants with opposite, whorled or
                                        no leaves</h2>
                                {% endif %}
                            {% else %}
                                <h2>{{ pile.friendly_title|lower|capfirst }}</h2>
                                <p>{{ pile.friendly_name|capfirst }}</p>
                            {% endif %}

                            <p class="key-char">
                                <span class="section-title">Key Characteristics</span>
                                {# Mockup for Issue #254 #}
                                {% if key == 'full' and forloop.counter > 1 %}
                                    {% if forloop.counter == 2 %}
                                        Alternate leaves (leaves joining the stem at different levels, not opposite each other or multiple leaves at a single node). This is a very diverse group of plants, but are generally not woody, grass-like, or aquatic, and do not have the composite flower heads of the aster family plants. Be sure to look at the arrangement of leaves in the lower half of the flowering stem.
                                    {% else %}
                                        Not alternate leaves. This very diverse group includes herbaceous plants with only basal leaves, opposite leaves, or whorled leaves and that aren’t aquatic, grasslike, or with the composite flower heads of aster family plants.  It also includes parasitic and other species that lack well-formed photosynthetic (green) leaves.
                                    {% endif %}
                                {% else %}
                                    {{ pile.key_characteristics|removetags:"div ul li"|safe }}
                                {% endif %}
                            </p>
                            <p class="exceptions">
                                <span class="section-title">Exceptions</span>
                                {# Mockup for Issue #254 #}
                                {% if key == 'full' and forloop.counter > 1 %}
                                    {% if forloop.counter == 2 %}
                                        Leaf arrangement can vary from the bottom to top of the stem, or in young vs. older plants, so look at the leaves on the flowering stem of several plants, if possible. Some crowded leaves may look opposite or whorled, but look closely to see whether there is actually space between them on the stem. Some species have narrow leaves where it’s hard to see the veins (monocots have generally parallel veins), so look for other features such as petal number, presence of leaf teeth, etc.
                                    {% else %}
                                        Leaf arrangement can vary from the bottom to top of the stem, or in young vs. older plants, so look at the leaves on the flowering stem of several plants, if possible. Some crowded leaves may look opposite or whorled, but look closely to see whether there is actually space between them on the stem. Some species have narrow leaves where it’s hard to see the veins (monocots have generally parallel veins), so look for other features such as petal number, presence of leaf teeth, etc. Some species (teasel, Dipsacus spp.) have flower heads that look like asters, but look carefully; they’re not composites with two different kinds of flowers.                                                      {% endif %}
                                {% else %}
                                    {{ pile.notable_exceptions|removetags:"div ul li"|safe }}
                                {% endif %}
                            </p>
                            {% if pile.youtube_id %}
                            <p class="vid">
                                {% with pile.youtube_id as youtube_id %}
                                {% include "simplekey/_simplekey_video_link.html" with item_type="subgroup" %}
                                {% endwith %}
                            </p>
                            {% endif %}
                            <a class="plant-in-subgroup" href="{{ pile_url }}">My plant is in this subgroup</a>
                        </div>
                    </div>
                {% endfor %}

                {% include "simplekey/_plant_not_in_subgroup.html" %}
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
