{% extends "simplekey/_new_base.html" %}

{% block title %}PlantShare{% endblock %}

{% block body_attributes %}id="plantshare" class="claro app plantshare"{% endblock %}

{% block body_content %}
    <div id="top-wrapper">
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="main">
                    <h2>PlantShare</h2>
                    <p>Soon, you'll be able to connect with other plant fans 
                    to share your plant discoveries, form affinity groups, 
                    and create customized checklists of plants you have found. 
                    PlantShare will go live in Summer 2012. Check back 
                    soon!</p>
                </div>

                <div class="clearit"></div>
            </div>
        </div>
{% endblock %}
