{% extends "simplekey/base.html" %}
{% load highlight %}

{% block title %}
  Plant search
{% endblock %}

{% block content %}
  <form method="get" action=".">
    <table>
      {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="submit" value="Try again">
        </td>
      </tr>
    </table>

    {% if query %}
      <h3>Results</h3>

      <p>You searched for “{{ query }}”</p>

      <p class="search_navigation">
        {% with page.paginator as paginator %}
          {{ paginator.count }} species found —
          page {{ page.number }} / {{ paginator.num_pages }}
        {% endwith %}
        <br/>
      </p>

      {% include "simplekey/search_navigation.html" %}

      <ul id="search_results_list">
      {% for result in page.object_list %}
        <li>
          <h4>{{ result.object.scientific_name }}</h4>
          <p>
            {% for pile in result.object.piles.all %}
              {{ pile.pilegroup.name }} →  {{ pile.name }}
            {% endfor %}
            → Family {{ result.object.family.name }}
          </p>
          <p class="excerpt">
            {% for t in result.highlighted.text %}{{ t|safe }}{% endfor %}
          </p>
        </li>
      {% empty %}
        <li class="no_results">No results found.</li>
      {% endfor %}
      </ul>

      {% include "simplekey/search_navigation.html" %}
    {% else %}
      {# Show some example queries to run? #}
    {% endif %}
  </form>
{% endblock %}
