  <form id="search-suggest" action="/simple/search/" autocomplete="off">
    <input type="text" name="q" value="{{ request.GET.q }}" size="50">
    <button>Search</button>
    <div class="hidden">
        <ul>
            <li><a href="/simple/search/?q=suggestion%201">sugg<strong>estion 1</strong></a></li>
            <li><a href="/simple/search/?q=suggestion%202">sugg<strong>estion 2</strong></a></li>
            <li><a href="/simple/search/?q=suggestion%203">sugg<strong>estion 3</strong></a></li>
            <li><a href="/simple/search/?q=suggestion%204">sugg<strong>estion 4</strong></a></li>
        </ul>
    </div>
  </form>
