{% extends "simplekey/base.html" %}
{% load highlight %}
{% load simplekey_extras %}

{% block title %}
  Plant search
{% endblock %}

{% block content %}
<div id="search-results">
    {% if query %}
    <h1>Results <strong>{% if page.number > 1 %}{{ page.number|add:'-1' }}{% endif %}1&#8211;{{ page.number }}0
        </strong> of
        <strong>{{ paginator.count }}</strong> for
        <strong>{{ query }}</strong>
    </h1>

    <ul id="search-results-list">
    {% for result in page.object_list %}
        <li>
            <h2>
                <!-- TODO: need custom highlighter that does not excerpt the document title -->
                {% if result.scientific_name %}
                    <a href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/simple/species/{{ result.scientific_name|split:' '|at_index:'0'|lower }}/{{ result.scientific_name|split:' '|at_index:'1'|lower }}/"><em>{% highlight result.scientific_name with query %}</em></a>
                {% else %}
                    {% if result.model_name == 'family' %}
                        <a href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/simple/families/{{ result.name|lower }}/">Family {% highlight result.name with query %}</a>
                    {% else %}
                        {% if result.model_name == 'genus' %}
                            <a href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/simple/genera/{{ result.name|lower }}/">Genus <em>{% highlight result.name with query %}</em></a>
                        {% else %}
                            (unknown model name)
                        {% endif %}
                    {% endif %}
                {% endif %}
            </h2>
            <p>
            {% highlight result.text with query %}
            <p>
        </li>
        {% empty %}
        <li class="no-results">No results found.</li>
    {% endfor %}
    </ul>

    {% include "simplekey/search_navigation.html" %}

    {% else %}
        {# Show some example queries to run? #}
    {% endif %}
</div>

{% endblock %}
