{% extends "simplekey/base.html" %}
{% load highlight %}

{% block title %}
  Plant search
{% endblock %}

{% block content %}
<div id="search-results">
    {% if query %}
    <h2>{{ paginator.count }} item(s) found</h2>

    <div class="search-type">
      <span class="title">Search:</span>
      <span class="option disabled">Entire site <input type="radio" name="stype" value="all" disabled /></span>
      <span class="option">Plant pages only <input type="radio" name="stype" value="plants" checked /></span>
    </div>

      <ul id="search-results-list">
      {% for result in page.object_list %}
        <li class="plant">
          <div class="icon">&nbsp;</div>
          <h4><a href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/plant/slug-missing/{{ result.scientific_name }}">{{ result.scientific_name }} - Plant Page</a></h4>
          <p class="excerpt">
            {{ result.description }}
          </p>
        </li>
      {% empty %}
        <li class="no-results">No results found.</li>
      {% endfor %}
      </ul>

      {% include "simplekey/search_navigation.html" %}
    {% else %}
      {# Show some example queries to run? #}
    {% endif %}
</div>

{% endblock %}
