<div class="search-navigation">

{# Only show paging navigation if there indeed are multiple pages. #}
{% if paginator.count > 10 %}

    {% if page.has_previous %}
        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Previous</a>
    {% endif %}

    {% for page_num in paginator.page_range|slice:':10' %}
        {% if page_num == page.number %}
            <span class="non-link">{{ page_num }}</span>
        {% else %}
            <a href="?q={{ query }}&amp;page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next</a>
    {% endif %}

{% endif %}

</div>
