{% extends "simplekey/base.html" %}
{% block title %}
{{ scientific_name }}
{% endblock %}

{% block js_top %}
    <!-- SVGWeb script - must be first, must have data-path.
         Also, SVG must be served from same domain as the page. -->
    <script src="/static/svgweb/svg.js" data-path="/static/svgweb/"></script>
{% endblock %}

{% block content %}
  <p><a href="/simple/{{ pilegroup.slug }}/">{{ pilegroup.name }}</a>: 
     <a id="results-link"
        href="/simple/{{ pilegroup.slug }}/{{ pile.slug }}/">{{ pile.name }}</a>
  </p>
  <h1><em>{{ scientific_name }}</em>
      <span class="auth">{{ taxon.taxonomic_authority }}</span></h1>
  <div id="species">
      <h2>{% for common_name in taxon.common_names.all %}{% if not forloop.first %}, {% endif %}
              {{ common_name }}{% endfor %}</h2>
      <div id="images">
          <h3>Images</h3>
          <p>
              {% if species_images %}
                  {% for i in species_images %}
                      {% if forloop.first %}
                          <img src="{{ i.image.url }}">
                      {% endif %}
                  {% endfor %}
              {% else %}
                  <img src="" alt="not available">
              {% endif %}
          </p>
          <p class="nav"><a>&lt; prev</a> <span>? of ?</span>
             <a>next &gt;</a></p>
      </div>

      <div id="info">
          <h3>Description</h3>
          <p>{% if taxon.description %}
                 {{ taxon.description }}
             {% else %}
                 This is a placeholder description. (Test glossary highlighting with
                 the term reticulate here.)
             {% endif %}</p>

          <h3>Characteristics</h3>
          {% if characteristics %}
              {% for characteristic in characteristics %}
                  <p><strong>{{ characteristic.name|lower }}:</strong>
                  {% for character_value in taxon.character_values.all %}
                      {% if character_value.character.name|lower == characteristic.name|lower %}
                          {% if character_value.character.value_type == 'TEXT' %}
                              {{ character_value.value_str }}
                          {% else %}
                              {{ character_value.value_min }}
                              {{ character_value.character.unit }} to
                              {{ character_value.value_max }}
                              {{ character_value.character.unit }}
                          {% endif %}
                      {% endif %}
                  {% endfor %}
                  </p>
              {% endfor %}
          {% else %}
              <p>N/A</p>
          {% endif %}
          <p><a href="#all-characteristics">All characteristics</a></p>

          <h3>Habitat</h3>
              {% if habitats|length > 1 %}
              <ul>
                  {% for habitat in habitats %}
                      <li>{{ habitat|lower }}</li>
                  {% endfor %}
              </ul>
              {% else %}
                  {% if habitats|length == 1 %}
                      <p>{{ habitats|first }}</p>
                  {% else %}
                      <p>(missing)</p>
                  {% endif %}
              {% endif %}
          </ul>

          {% if taxon.lookalikes|length > 0 %}
          <h3>Sometimes Confused With</h3>
          <dl>
              {% for lookalike in taxon.lookalikes.all %}
              <dt>{{ lookalike.lookalike_characteristic }}:</dt>
              <dd><em>{{ lookalike.lookalike_scientific_name }}</em></dd>
              {% endfor %}
          </dl>
          {% endif %}

          <h3>North American Native Status</h3>
          <p>
              {% if taxon.north_american_native %}
                  native
              {% else %}
                  non-native
              {% endif %}
          </p>

          <h3>Distribution &amp; Conservation Status</h3>

          <div>
              <p><strong>Connecticut:</strong> {{ states_status.CT }}</p>
              <p><strong>Maine:</strong> {{ states_status.ME }}</p>
              <p><strong>Massachusetts:</strong> {{ states_status.MA }}</p>
              <p><strong>New Hampshire:</strong> {{ states_status.NH }}</p>
              <p><strong>Rhode Island:</strong> {{ states_status.RI }}</p>
              <p><strong>Vermont:</strong> {{ states_status.VT }}</p>
          </div>

          <h3>Wetland Status</h3>
          <p>
              {{ wetland_status }}
          </p>

          <h3 id="all-characteristics">All Characteristics</h3>

          {% for character_group in character_groups|dictsort:'name' %}
          <div id="title-pane-{{ character_group.name|slugify }}"
               dojoType="dijit.TitlePane" open="false"
               title="{{ character_group.name }}">
              <h4>{{ character_group.name }}</h4>
              {% for character_value in taxon.character_values.all %}
                  {% if character_value.character.character_group.name == character_group.name %}
                      <p><strong>{{ character_value.character.name|lower }}:</strong>
                         {% if character_value.character.value_type == 'TEXT' %}
                             {{ character_value.value_str }}
                         {% else %}
                            {{ character_value.value_min }}
                            {{ character_value.character.unit }} to
                            {{ character_value.value_max }}
                            {{ character_value.character.unit }}
                         {% endif %}
                      </p>
                  {% endif %}
              {% endfor %}
          </div>
          {% endfor %}

      </div>

      <div id="more-info">
          <h3>Distribution by County</h3>
          <!--[if IE]>
          <object src="/maps/{{taxon.genus|lower}}-{{specific_epithet}}-distribution-map.svg"
                  classid="image/svg+xml" id="dist-county-map"
                  title="distribution map for {{ scientific_name }}">
          <![endif]-->
          <!--[if !IE]>-->
          <object data="/maps/{{taxon.genus|lower}}-{{specific_epithet}}-distribution-map.svg"
                  type="image/svg+xml" id="dist-county-map"
                  title="distribution map for {{ scientific_name }}">
          <!--<![endif]-->
          </object>

          <h3>Common Uses</h3>
          <p>
              {% if taxon.uses|length > 0 %}
                  {{ taxon.uses }}
              {% else %}
                  N/A
              {% endif %}
          </p>

          <h3>Folklore &amp; History</h3>
          <p>
              {% if taxon.factoid|length > 0 %}
                  {{ taxon.factoid }}
              {% else %}
                  N/A
              {% endif %}
          </p>

          <h3>Classification</h3>
          <p><strong>Family:</strong>
              <a href="/simple/families/{{ taxon.family|lower }}/">{{ taxon.family }}</a></p>
          <p><strong>Genus:</strong>
              <em><a href="/simple/genera/{{ taxon.genus|lower }}/">{{ taxon.genus }}</a></em></p>
          <p><strong>Species:</strong>
              <em>{{ scientific_name }}</em></p>
          <p><strong>Full name:</strong>
              <em>{{ scientific_name }}</em> {{ taxon.taxonomic_authority }}</p>

          {% if taxon.synonyms.all|length > 0 %}
              <h3>Also Known As</h3>
              <p>{{ taxon.synonyms.all|first }}{% if taxon.synonyms.all|length > 1 %},
                  <a id='more-aka' class='more'>more</a>
                  <span dojoType='dijit.Tooltip' connectId='more-aka' position='above'>
                      <span class='moretip'>
                          {% for synonym in taxon.synonyms.all %}
                              {% if not forloop.first %}
                                  {{ synonym.scientific_name }}{% if not forloop.last %}, {% endif %}
                              {% endif %}
                          {% endfor %}
                      </span>
                  </span>
                  {% endif %}
              </p>
           {% endif %}

      </div>
  </div>
{% endblock %}

{% block js_bottom %}
  <script>
      dojo.require('gobotany.sk.species');
      dojo.addOnLoad(function() {
          gobotany.sk.species.init('{{ scientific_name }}');
      });
      dojo.addOnUnload(function() {
          gobotany.sk.species.persist_visibility();
      });
  </script>
{% endblock %}
