{% extends "simplekey/_new_base.html" %}

{% block title %}Teaching Tools{% endblock %}

{% block body_attributes %}id="teaching-tools" class="claro app teaching-tools"{% endblock %}

{% block js_require %}
    require(['sidebar']);
{% endblock %}

{% block body_content %}
    <div id="top-wrapper">
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="main">
                    <h2>Teaching Tools</h2>
                    <p>Go Botany is designed for students and informal learners 
                    ages 15 and older, from beginners to professionals.  
                    Educators can incorporate Go Botany tools into lessons for 
                    all ages!</p><br />
                    <p>Soon, you’ll be able to share the curricula, modules, 
                    and field workshops you have developed with many other 
                    educators in this Teaching Resources section or 
                    through PlantShare. Check back soon!</p>
                </div>
                <div id="sidebar">
                    <div class="section">
                        {% url teaching-tools-placeholder as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Teaching Tools</a></h5>
                    </div>
                    {% block more_sidebar_content %}{% endblock %}
                </div>

                <div class="clearit"></div>
            </div>
        </div>
{% endblock %}
