{% extends "simplekey/_new_base.html" %}

{% block title %}Terms of Use{% endblock %}

{% block body_attributes %}id="terms-of-use" class="claro app terms-of-use"{% endblock %}

{% block js_require %}
    require(['sidebar']);
{% endblock %}

{% block body_content %}
    <div id="top-wrapper">
        {% include "simplekey/_header.html" %}

        <div class="content">
            <div class="container">
                <div id="main">
                    <h2>Legal Information</h2>
                    <h3>Terms of Use</h3>
                    <ol class="terms">
                      <li id="acceptance">Acceptance of Terms<br />
                        <p>THESE TERMS AND CONDITIONS OF SERVICE (the "Terms")
                        are a legal and binding agreement between you and <a
                        href="http://newenglandwild.org">New England Wild
                        Flower Society</a> (hereinafter "the Society")
                        governing your use of the Go Botany application located
                        at <a href="{{ site_url }}">{{ site_url }}</a> (the
                        "Site").  Please review these Terms fully before you
                        continue to use the Site.  By using the Site, you agree
                        to be bound by the Terms.  You shall also be subject to
                        any additional terms posted with respect to individual
                        sections of the Site.  Please review our <a 
                            href="{% url privacy-policy %}">Privacy Policy</a>,
                        which also governs your use of the Site, to understand
                        our practices. If you do not agree, please discontinue
                        using the Site.  New England Wild Flower Society
                        reserves the right to change the Terms at any time
                        without prior notice. Your continued access or use of
                        the Site after such changes indicates your acceptance
                        of the Terms as modified. It is your responsibility to
                        review the Terms regularly.</p>
                        <br />
                        <p>Your use of the Site is at your risk. If you are
                        dissatisfied with any of the materials contained in the
                        Site, with the quality of service or Content, or with
                        these Terms, your sole and exclusive remedy is to
                        discontinue accessing and using the Site.</p>
                        <br />
                      </li>
                      <li id="specific">Specific Terms<br />
                        <p>Any use of the Go Botany application, including use of the application through a third-party product that accesses Go Botany, is bound by terms of this agreement plus the following specific terms:</p>
                        <ul>
                            <li>You expressly understand and agree New England
                            Wild Flower Society shall not be liable for any
                            direct, indirect, incidental, special,
                            consequential, punitive or exemplary damages,
                            including but not limited to, damages for loss of
                            profits, goodwill, use, data or other intangible
                            losses (even if New England Wild Flower Society has
                            been advised of the possibility of such damages),
                            resulting from your use of the Go Botany
                            application or third-party products that access
                            data via the Go Botany application.</li>
                            <li>You shall not use the Go Botany application in
                            any manner that adversely impacts the stability of
                            the newenglandwild.org servers. Such abuse may
                            result in temporary or permanent suspension of your
                            access to Go Botany. New England Wild Flower
                            Society, in its sole discretion, will determine
                            what constitutes adverse impacts.</li>
                            <li>New England Wild Flower Society reserves the
                            right at any time to modify or discontinue,
                            temporarily or permanently, your access to the Go
                            Botany application (or any part thereof) with or
                            without notice.</li>
                            <li>New England Wild Flower Society reserves the
                            right at any time to introduce new versions of the
                            Go Botany application and to discontinue current
                            versions of the application with or without
                            notice.</li>
                            <li>You agree to attribute <a 
                                href="{{ site_url }}">{{ site_url }}</a> as the
                            source of the data accessed via the Go Botany
                            application wherever it is used or displayed.
                            Whenever possible, please accompany this with a
                            link back to <a href="{{ site_url }}"
                                >{{ site_url }}</a>.</li>
                        </ul>
                      </li>
                      <li id="ip">Intellectual Property Issues<br />
                        <p>The Site is owned by New England Wild Flower
                        Society.  All of the content featured or displayed on
                        the Site, including, but not limited to, still images,
                        text, pictorial works, video images, still images of
                        video, graphic designs, audio recordings, multimedia
                        combinations, and computer programs, including
                        web-based programs ("Content") is owned or licensed by
                        New England Wild Flower Society.</p>
                        <br />
                        <p>Pursuant to the copyright and trademark laws of the
                        United States, you agree:</p>
                        <ul>
                          <li>That you may only download Content that New
                          England Wild Flower Society designates as offered for
                          download to any single device a single copy of any
                          Content for personal and noncommercial use.</li>
                          <li>To not reproduce, distribute, modify, re-post on
                          another site (regardless of the server on which the
                          Content is stored), sell or exploit for any
                          commercial purposes any Content derived from the site
                          without specific written authorization from New
                          England Wild Flower Society or the designated
                          copyright holder (i.e., photographers who own
                          copyright on their own images). Contact Debbi
                          Edelstein (<a
                              href="mailto:dedelstein@newenglandwild.org"
                              >dedelstein [at] newenglandwild.org</a>) to
                          inquire about commercial uses.</li>
                          <li>To maintain any and all copyright or other
                          proprietary notices embedded in or attached to any
                          Content.</li>
                          <li>To refrain from framing or mirroring any portion
                          of the Site.</li>
                          <li>That by posting or submitting any text or other
                          materials to the Site you grant New England Wild
                          Flower Society a royalty-free permanent license for
                          the worldwide use and/or sublicense of such
                          materials. Such license shall include the right to
                          exploit any proprietary rights in the posting or
                          submission.</li>
                        </ul>
                      </li>
                      <li id="liability">Liability<br />
                        <p>The Site and all material and information posted on
                        it is provided to you "as is" without any warranties.
                        You agree that you must evaluate and bear all risks
                        associated with use of the Site, including those risks
                        associated with reliance on the accuracy, thoroughness,
                        or utility of any Content.</p><br />

                        <p>You acknowledge that due to the immediate nature of
                        this medium, New England Wild Flower Society does not
                        review, censor, approve, edit, or endorse information
                        placed on the Site by its users, and cannot guarantee
                        that inappropriate material will not be posted. New
                        England Wild Flower Society will review user postings
                        from time to time and will take steps to remove
                        inappropriate postings that come to its
                        attention.</p><br />

                        <p>The Site may provide, or third parties may provide,
                        links to other sites or resources. Because New England
                        Wild Flower Society has no control over such sites and
                        resources, you acknowledge and agree that the Society
                        is not responsible for the availability of such
                        external sites or resources, does not endorse, and is
                        not responsible or liable for any content, advertising,
                        products, or other materials on or available from such
                        sites or resources. You further acknowledge and agree
                        that New England Wild Flower Society shall not be
                        responsible or liable for any damage or loss caused or
                        alleged to be caused in connection with use of or
                        reliance on any such linked content, goods or services
                        available on or through any such linked site or
                        resource.</p><br />
                      </li>
                      <li>User Conduct<br />
                        <p>All users shall use the Site for lawful purposes
                        only. You agree not to post or transmit through the
                        Site any material that is unlawful, threatening,
                        abusive, defamatory, invasive of privacy or publicity
                        rights, vulgar, obscene, profane, which encourages
                        criminal conduct, or that may give rise to civil
                        liability. You agree not to post or transmit through
                        the site any material or text which constitutes
                        advertising or solicitation with respect to any product
                        or service, unless expressly authorized in writing by
                        New England Wild Flower Society to do so.</p><br />

                        <p>Conduct by any user that, in the sole opinion of New
                        England Wild Flower Society, constitutes over use or
                        abuse of the right to access data which restricts or
                        inhibits any other user from using or enjoying the Site
                        will not be permitted. New England Wild Flower Society
                        reserves the right to refuse access to the Site to any
                        user for any reason, including, without limitation, a
                        reasonable belief that the user in question has
                        violated these Terms or any of the copyright or
                        trademark laws of the United States.</p><br />

                        <p>CAUTION: ANY ATTEMPT BY ANY PERSON TO DELIBERATELY
                        DAMAGE THE SITE IS A VIOLATION OF CRIMINAL AND CIVIL
                        LAWS. SHOULD SUCH AN ATTEMPT BE MADE, NEW ENGLAND WILD
                        FLOWER SOCIETY RESERVES THE RIGHT TO SEEK DAMAGES AND
                        OTHER REMEDIES (INCLUDING BUT NOT LIMITED TO INJUNCTIVE
                        RELIEF) FROM ANY SUCH PERSON TO THE FULLEST EXTENT
                        PERMITTED BY LAW.</p><br />

                        <p>You agree to assume full and sole responsibility for
                        any postings you make to the Site.</p><br />
                      </li>
                      <li id="indemnification">Indemnification<br />
                        <p>You agree to indemnify, defend, and hold harmless
                        New England Wild Flower Society; its affiliates and
                        partners; and their respective officers, directors,
                        employees, agents, members, licensors, representatives,
                        and third party providers to the Site from and against
                        all losses, expenses, damages, and costs, including
                        reasonable attorneys' fees, resulting from any
                        violation of these Terms. New England Wild Flower
                        Society reserves the right to assume, at its sole
                        expense, the exclusive defense and control of any
                        matter subject to indemnification by you, in which
                        event you will fully cooperate with the New England
                        Wild Flower Society in asserting and available
                        defenses.</p><br />
                      </li>
                      <li id="privacy">Privacy<br />
                        <p>Go Botany is designed to gather and disseminate 
                        information about plant distribution and abundance 
                        across the six states of New England, USA, and 
                        adjacent provinces and states.  This privacy policy 
                        governs the use of personal information from the site 
                        and you agree to be bound to this policy as a user of 
                        the Site.</p>
                        <br />
                        <strong>Submitted Information</strong>
                        <p>Personal Information is voluntarily supplied by you 
                        when you register and submit data to the <a 
                        href="{% url plantshare-placeholder %}">PlantShare</a> sector 
                        of the Site. By registering at PlantShare, you allow us to 
                        associate your plant observations with a unique identifier 
                        (login name or your name), so that you can track your 
                        personal observations (e.g., checklists and customized 
                        maps). Profile Information allows us to gain a better 
                        understanding of the PlantShare participants and Go Botany 
                        visitors and to determine how best to improve the web site 
                        for Go Botany users.</p>
                        <br />
                        <p>You are able to view your personal observations (plant 
                        sightings, postings, and questions to the Botanist) and 
                        those of others (if they have made them available to you, 
                        your affinity group, or the web), so please be aware that 
                        your observations of species and their locations plus an 
                        supporting information you provide, may be available to 
                        other PlantShare users.</p>
                        <br />
                        <p>Plant observations are the most important pieces of 
                        information that we collect. Details of a plant sighting 
                        and its associated location (species, numbers, etc.) are 
                        available only to the users designated by you as a 
                        PlantShare member, which you choose upon uploading a 
                        sighting to the Site.  Only information pertaining to 
                        plant observations is available to your selected users; 
                        no personal contact information is ever made public.</p>
                        <br />
                        <p>Cookies are pieces of data that we store on your 
                        computer to tie your information to the PlantShare 
                        program. Cookies allow you to store your login 
                        information, so that you will not be required to log 
                        in each time you visit the PlantShare web site.</p>
                        <br />
                        <p>Internet browsers allow you to determine whether 
                        or not to accept cookies (check under the preferences 
                        or options in the browser menu). If you decide not to 
                        accept cookies, you can still use the PlantShare site, 
                        but you will need to re-enter login information each 
                        time you visit.</p>
                        <br />
                        <strong>Sensitive Species</strong>
                        <p>If you submit an unusual observation or a sighting of a 
                        plant known to be listed as Endangered, Threatened, 
                        Special Concern, Historic or Invasive in a New England 
                        state, we may e-mail you to request more details and to 
                        confirm your sighting.  Your email address and contact 
                        information will not be sold or distributed outside New 
                        England Wild Flower Society.</p>
                        <br />
                        <strong>Your practices in obtaining sightings</strong>
                        <p>As a conservation organization, New England Wild Flower 
                        Society seeks to limit disturbance to plants, especially 
                        those that are rare or occur on private property. Please 
                        do not trespass on private property to observe plants; 
                        always obtain landowner permission before gathering data 
                        on plants and posting sightings from private property.
                        By posting a sighting, you are agreeing that all applicable 
                        landowner permissions have been obtained and that posting 
                        of locational and other data has been approved by the 
                        landowner.</p>
                        <br />
                        <strong>Changes to This Privacy Policy</strong>
                        <p>We may occasionally update or amend New England Wild 
                        Flower Society’s Privacy Statement. If we make changes, 
                        we will post the changes here.</p>
                      </li>
                    </ol>
                </div>
                <div id="sidebar">
                    <div class="section">
                        {% url privacy-policy as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Privacy Policy</a></h5>
                    </div>
                    <div class="section">
                        {% url terms-of-use as u %}
                        <h5><a class="sidebarlink" {% ifnotequal request.path u %}href="{{ u }}"{% endifnotequal %}>Terms of Use</a></h5>
                    </div>
                    {% block more_sidebar_content %}{% endblock %}
                </div>

                <div class="clearit"></div>
            </div>
        </div>
{% endblock %}
