/* Go Botany common definitions */

@import "compass/css3/images";   /* for gradient, etc. */
@import "compass/css3/user-interface";
@import "compass/typography/links/hover-link";

/* Web fonts: style-linked groups */

@font-face {
    font-family: Basetica;
    src: url(/static/fonts/Basetica-Medium-205TF.woff2) format('woff2'),
        url(/static/fonts/Basetica-Medium-205TF.woff) format('woff');
}
@font-face {
    font-family: Basetica;
    font-style: italic;
    src: url(/static/fonts/Basetica-Medium-Italic-205TF.woff2) format('woff2'),
        url(/static/fonts/Basetica-Medium-Italic-205TF.woff) format('woff');
}

@font-face {
    font-family: ScalaSans;
    font-weight: bold;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb-Bold.woff) format("woff");
}

$navbar-font: Basetica, "Trebuchet MS", sans-serif;
$headings-font: "Trebuchet MS", Helvetica, Arial, "Lucida Sans Unicode", sans-serif;
$body-font: Verdana, Geneva, "Lucida Sans Unicode", sans-serif;
$narrower-body-font: Tahoma, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;

$link-green: #27610a;
$heading-green: #437829;
$heading-spruce: #21555c;
$border-green: #c3d941;
$light-green: #e1f0d1;
$green-yellow: #ccdf53;
$medium-brown: #7a6f1f; /* was #807121, darkened for WCAG AA */
$pale-lime-green: #defcb3;

$visited-link-color: #50570a;
$active-link-color: #266407;

$bright-green: #a7da7e; /* from NPT palette */
$lighter-green: #bde29c; /* lighter version of #a7da7e green from NPT palette */
$darker-green: #508226; /* darker version of #a7da7e green from NPT palette */
$dark-green: #467321; /* dark version of #a7da7e green from NPT palette */

$text-color: #000;
$navbar-color: #21555c;
$footer-background-color: $bright-green;
$login-box-background-color: #d3eaad;

$base-font-size: 12px;
$nav-font-size: 14px;

$text-line-height: 170%;

$sidebar-box-vertical-padding: 16px;

$tooltip-border-color: #c3d941;
$tooltip-background-top-color: #eaf2e2;
$tooltip-background-bottom-color: #d6e6c5;
$tooltip-shadow-color: #333333;
$tooltip-arrow-rotation: 225deg;

$smallscreen-portrait-width: 320px;
$smallscreen-landscape-width: 480px;

$nav-button-color: #437829;
$error-icon-offset: -20px;

$smallscreen-margin: 8px;
$smallscreen-potd-image-width: 297px;
$smallscreen-portrait-box-width: 302px;
$smallscreen-portrait-form-el-width: $smallscreen-portrait-box-width - 10px;
$smallscreen-landscape-box-width: 462px;
$smallscreen-current-section-color: #85c446;
$smallscreen-choices-border-radius: 8px;

$logo_width: 450px;

$body_bg: #f8eeda;
$text_gray: #606060;
$text_green: #519136;
$text_dark_green: #35661c;
$inactive_bg: #d9dbb1;
$shadow_color: darken($inactive_bg, 30);
$active_border: #7abe58;
$active_bg: #bedc8f;

$orange1: #dc9402;
$orange2: #e29b0b;
$orange3: #e39d0e;
$orange4: #f0b448;
$orange5: #f6be59;

$npt-orange: #d87e54;

$list_popup_border: #acac90;

$orange_gradient: linear-gradient(
    top, $orange1 0%, $orange4 40%, $orange1 100%);

$bright_orange_gradient: linear-gradient(
    top, $orange2 0%, $orange5 32%, $orange5 50%, $orange3 100%);

$dull_orange_gradient: linear-gradient(
    top, $orange1 0%, $orange4 60%, $orange1 100%);

$disabled_orange_gradient: linear-gradient(
    top, mix($body_bg, $orange2, 50%) 0%, mix($body_bg, $orange5, 50%) 32%,
    mix($body_bg, $orange5, 50%) 50%, mix($body_bg, $orange3, 50%) 100%);

.orange-button {
    background-color: $npt-orange;
    border: 1px solid $npt-orange !important;
    border-radius: 14px;
    box-shadow: 0px 1px 2px 0 $shadow_color;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: ScalaSans, $headings-font;
    font-size: 12px;
    font-weight: bold !important;
    letter-spacing: 1px;
    line-height: 18px;
    min-width: 80px;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 2px $npt-orange;
    &:active {
        background-color: $npt-orange; /* TODO: active button style/color */
    }
    &:hover, &:visited, &:active {
        color: #000;
    }
    &.caps {
        text-transform: uppercase;
    }
    &.disabled {
        background-color: lighten($npt-orange, 25%);
        border-color: mix($body_bg, $orange2, 50%) !important;
        color: #666 !important;
        cursor: default !important;
        text-shadow: none;
    }
    &.large {
        border-radius: 20px;
        color: #000;
        font-size: 16px;
        letter-spacing: 1.5px;
        min-width: 150px;
        padding: 9px 30px;
    }
}


@mixin offscreen {
    display: block;
    text-indent: -9000px;
}

@mixin container-div-styles { // for new approach using BEM
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
}
@mixin container-div { // for old non-BEM approach
    .container {
        @include container-div-styles;
    }
}

@mixin smallscreen-side-margins {
    margin-left: $smallscreen-margin;
    margin-right: $smallscreen-margin;
}

@mixin highlight-global-nav {
    /* For use on active nav item, with :after */
    border: 10px solid transparent;
    border-bottom-color: $body_bg;
    content: "";
    height: 0;
    left: calc(50% - 10px); /* calc not fully supported on IE 10-11 */
    position: absolute;
    top: 14px;
    width: 0;
}

@mixin highlight-global-nav-home {
    /* For use on active nav item, with :after */
    border: 10px solid transparent;
    border-bottom-color: #6c9956;
    content: "";
    height: 0;
    left: calc(50% - 10px); /* calc not fully supported on IE 10-11 */
    position: absolute;
    top: 14px;
    width: 0;
}

@mixin highlight-sidebar-nav-item {
    color: #000;
	content: "\25b8";
	margin-left: -14px;
    padding-bottom: 5px;
	padding-right: 5px;
}

@mixin shadowbox-photo-titles-credits {
    /* Override Shadowbox styles to allow multiple title lines for
     * showing a photo title, photographer credit, and copyright. */
    #sb-title, #sb-title-inner {
        height: 76px;
        line-height: 70%;
        position: relative;
    }
    #sb-title-inner {
        div {
            bottom: 6px;
            position: absolute;
        }
        h6 {
            font-size: 16px;
            font-style: normal;
            line-height: 110%;
            margin: 0 0 2px;
            padding: 0;
        }
        span {
            font-family: $headings-font;
            font-size: 10px;
        }
    }
    #sb-title-inner a {
        border-bottom: 1px solid #ccc;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
        &.contact {
            cursor: pointer;
            display: inline-block; /* prevent link from wrapping, which
                                      makes tooltip position incorrect */
            text-decoration: none;
        }
    }
    #sb-nav-close {
        top: 56px !important;
    }
}

@mixin dialog-close-button {
    background: transparent url(/static/images/icons/close.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 15px;
    text-indent: -9999px;
    top: 15px;
    width: 16px;
}

.hidden {
    display: none !important;
}

/* image popups (used in D. Key, and in D. Key section of species page) */

div.shadow {                    /* shadow that hides the whole page */
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.45);
    text-align: center;
}
div.popup {                     /* for displaying quick lists of taxa */
    border-radius: 1em;
    display: inline-block;
    margin: 5% auto;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;         /* otherwise scrolling can leak to page */
    border: 0.5em solid $list_popup_border;
    background-color: lighten($body_bg, 5);
    padding: 1em 2em;
    text-align: left;
    font-size: $base-font-size;
    line-height: 1.25em;
}
div.popup h2 {                        /* "See list of 14 species in 1b" */
    border-bottom: 1px solid $text_green;
    padding-bottom: 0.5em;
    color: $text_green;
    font-family: $headings-font;
    font-weight: normal;

    /* For tall lists a scrollbar appears, and tends to make the last word
       of the title wrap unattractively. */
    white-space: nowrap;
}
div.popup a {
    @include hover-link;
    color: #000;
    &:hover {
        color: $link_green;
    }
}

/* For occasional, temporary donation campaigns: message at top of page */
#top-message {
    background-color: #d87e54;
    color: #000;
    font-family: $body-font;
    font-size: 12px;
    margin: 0;
    padding: 12px 24px;
}
#top-message p {
    line-height: 150%;
}
#top-message button {
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-family: ScalaSans, $body-font;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 45px;
    margin-top: -38px;
    padding: 10px 10px 6px;
    text-transform: uppercase;
}
#top-message svg {
    cursor: pointer;
    float: right;
    margin-right: 4px;
    margin-top: -30px;
}
@media only screen and (max-width: 980px) {
    #top-message p {
        margin: 0 0 1rem;
    }
    #top-message button {
        float: none;
    }
    #top-message svg {
        margin-top: -27px;
    }
}