/* Go Botany common definitions */

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";   /* for gradient, etc. */
@import "compass/css3/user-interface";

/* Web fonts: style-linked groups */

@font-face {
    font-family: ScalaSans;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb.woff) format("woff");
}
@font-face {
    font-family: ScalaSans;
    font-weight: bold;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb-Bold.woff) format("woff");
}
@font-face {
    font-family: ScalaSans;
    font-style: italic;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb-Ita.woff) format("woff");
}
@font-face {
    font-family: ScalaSans;
    font-style: italic;
    font-weight: bold;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb-BoldIta.woff) format("woff");
}

@font-face {
    font-family: ScalaSansSmallCaps;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansScWeb.woff) format("woff");
}
@font-face {
    font-family: ScalaSansSmallCaps;
    font-weight: bold;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansScWeb-Bold.woff) format("woff");
}
@font-face {
    font-family: ScalaSansSmallCaps;
    font-style: italic;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansScWeb-Ita.woff) format("woff");
}
@font-face {
    font-family: ScalaSansSmallCaps;
    font-style: italic;
    font-weight: bold;
    src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansScWeb-BoldIta.woff) format("woff");
}

$headings-font: "Trebuchet MS", Helvetica, Arial, "Lucida Sans Unicode", sans-serif;
$body-font: Verdana, Geneva, "Lucida Sans Unicode", sans-serif;
$narrower-body-font: Tahoma, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;

$link-green: #317b0c;
$heading-green: #437829;
$border-green: #c3d941;
$light-green: #e1f0d1;
$green-yellow: #ccdf53;
$medium-brown: #807121;
$pale-lime-green: #defcb3;

$visited-link-color: #666e0b;
$active-link-color: #45aC11;

$text-color: #000;
$navbar-color: #508e31;
$footer-background-color: #b4d57f;
$login-box-background-color: #d3eaad;

$base-font-size: 12px;
$nav-font-size: 14px;

$text-line-height: 170%;

$sidebar-box-vertical-padding: 16px;

$tooltip-border-color: #c3d941;
$tooltip-background-top-color: #eaf2e2;
$tooltip-background-bottom-color: #d6e6c5;
$tooltip-shadow-color: #333333;
$tooltip-arrow-rotation: 225deg;

$smallscreen-portrait-width: 320px;
$smallscreen-landscape-width: 480px;

$nav-button-color: #437829;
$error-icon-offset: -20px;

$smallscreen-margin: 8px;
$smallscreen-potd-image-width: 297px;
$smallscreen-portrait-box-width: 302px;
$smallscreen-portrait-form-el-width: $smallscreen-portrait-box-width - 10px;
$smallscreen-landscape-box-width: 462px;
$smallscreen-current-section-color: #85c446;
$smallscreen-choices-border-radius: 8px;

$logo_width: 450px;

$body_bg: #f0f0c0;
$text_gray: #606060;
$text_green: #519136;
$text_dark_green: #35661C;
$inactive_bg: #d9dbb1;
$active_border: #7abe58;
$active_bg: #b4d57f;

$orange1: #dc9402;
$orange2: #e29b0b;
$orange3: #e39d0e;
$orange4: #f0b448;
$orange5: #f6be59;

$list_popup_border: #acac90;

$orange_gradient: linear-gradient(
    top, $orange1 0%, $orange4 40%, $orange1 100%);

$bright_orange_gradient: linear-gradient(
    top, $orange2 0%, $orange5 32%, $orange5 50%, $orange3 100%);

$dull_orange_gradient: linear-gradient(
    top, $orange1 0%, $orange4 60%, $orange1 100%);

$disabled_orange_gradient: linear-gradient(
    top, mix($body_bg, $orange2, 75%) 0%, mix($body_bg, $orange5, 75%) 32%,
    mix($body_bg, $orange5, 75%) 50%, mix($body_bg, $orange3, 75%) 100%);

.orange-button {
    background-color: $orange1;   /* for IE without gradient support */
    border: 1px solid $orange1 !important;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: ScalaSans, $headings-font;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    min-width: 80px;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    @include border-radius(14px);
    @include single-box-shadow(darken($inactive_bg, 30), 0px, 1px, 4px);
    @include background($orange_gradient);
    &:hover {
        background-color: $orange2;  /* for IE without gradient support */
        @include background($bright_orange_gradient);
    }
    &:active {
        background-color: $orange1;
        @include background($dull_orange_gradient);
    }
    &:hover, &:visited, &:active {
        color: white;
    }
    &.caps {
        text-transform: uppercase;
    }
    &.disabled {
        background-color: mix($body_bg, $orange2, 50%); /* for IE without
                                                           gradient support */
        border-color: mix($body_bg, $orange2, 50%) !important;
        cursor: default;
        @include background($disabled_orange_gradient);
    }
    &.large {
        font-size: 16px;
        letter-spacing: 1.5px;
        min-width: 150px;
        padding: 9px 30px;
        @include border-radius(20px);
    }
}


@mixin offscreen {
    display: block;
    text-indent: -9000px;
}

@mixin container-div {
    .container {
        margin: 0 auto;
        padding: 0 10px;
        width: 960px;
    }
}

@mixin smallscreen-side-margins {
    margin-left: $smallscreen-margin;
    margin-right: $smallscreen-margin;
}

@mixin highlight-global-nav {
    background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat;
}

@mixin highlight-global-nav-home {
    background: url(/static/images/layout/active-nav-home.png) bottom center no-repeat transparent;
}

@mixin highlight-sidebar-nav-item {
    color: #000;
	content: "\25b8";
	margin-left: -14px;
    padding-bottom: 5px;
	padding-right: 5px;
}

@mixin shadowbox-photo-titles-credits {
    /* Override Shadowbox styles to allow multiple title lines for
     * showing a photo title, photographer credit, and copyright. */
    #sb-title, #sb-title-inner {
        height: 76px;
        line-height: 70%;
        position: relative;
    }
    #sb-title-inner {
        div {
            bottom: 6px;
            position: absolute;
        }
        h6 {
            font-size: 16px;
            line-height: 110%;
            margin: 0 0 2px;
            padding: 0;
        }
        span {
            font-family: $headings-font;
            font-size: 10px;
        }
        a {
            border-bottom: 1px solid #ccc;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
            &.contact {
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    #sb-nav-close {
        top: 56px !important;
    }
}

@mixin dialog-close-button {
    background: transparent url(/static/images/icons/close.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 15px;
    text-indent: -9999px;
    top: 15px;
    width: 16px;
}

.hidden {
    display: none !important;
}
