/* Home */

#home {
    background-color: #f8eeda;
    background-image: url(/static/images/layout/body-home.png);
    background-position: left 0px top;
    background-repeat: repeat-x;
}

#home header {
    height: 126px;
}
#home .id {
    float: left;
    width: 516px;
}
#home h1 {
    background: url(/static/images/layout/npt-gb-logo-home.svg) no-repeat transparent;
    background-size: 220px 80px;
    height: 80px;
    margin: 12px 0 2px;
    width: 220px;
    @include offscreen;
}
#home .tagline {
    color: #fff;
    float: right;
    font-family: Basetica, sans-serif;
    font-size: 14px;
    margin: -24px 0 0;
}
#home .newfs {
    padding-top: 13px;
}
#home .newfs a {
    background: url(/static/images/layout/npt-logo-stacked.svg) no-repeat transparent;
    background-size: 160px 88px;
    filter: brightness(0.9); /* make the contrast meet WCAG AA large text/graphics */
    height: 88px;
    width: 160px;
}
#home nav {
    background: url(/static/images/layout/nav-app-npt.png) no-repeat;
    background-position: 0px 101px;
    height: 160px;
    padding: 0 0 0 19px;
    li {
        margin-right: 10px;
        a:hover {
            text-decoration: none;
        }
    }
}

#search-suggest .menu {
    top: 133px;
}

#home .content {
    clear: left;
}
#home #banner {
    margin: 10px 0 0;
    position: absolute;
    > img {
        box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.6);
        display: none;
        height: 345px;
        left: 0;
        position: absolute;
        top: 0;
        width: 960px;
    }
    img:first-child {
        display: block;
    }
    h2 {
        color: $heading-green;
        font-family: Basetica, $headings-font;
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
        margin: 1.6rem 0;
    }
    p {
        margin: 12px 0 0 0;
        text-align: left;
    }
}

#home #update p {
    line-height: 150%;
    text-align: center;
}
#home #update a {
    margin-left: 0.3rem;
    text-decoration: underline;
}
#home #update .badge {
    background-color: rgba(236, 243, 151, 0.9);
    letter-spacing: 0.05rem;
    margin-right: 0.3rem;
    padding: 0.1rem 0.3rem;
    text-transform: uppercase;
}

#home #cta {
    margin: 18px 2px 0;
    width: 124px;
}
#home #overlay {
    background: rgba(255, 255, 255, 0.85);
    height: 323px;
    padding: 10px 30px 0;
    position: absolute;
    left: 676px;
    top: 6px;
    width: 218px;
    z-index: 50;
}
#home .three-col {
    float: left;
    height: 230px;
    margin: 354px 23px 5px 0;
    padding: 8px 23px 0 0;
    width: 289px;
    &.last {
        background: 0;
        margin-right: 0;
        padding: 8px 0 0 0;
    }
    h3 {
        color: $darkest-brown;
        font-family: Basetica;
        font-size: 1.4rem;
        margin: 0.8rem 0 0.4rem;
    }
    h4 {
        color: $medium-brown;
        font-family: Basetica;
        margin: 0 0 3px 0;
    }
    p {
        margin: 0;
    }
    a.orange-button {
        margin: 13px 0 0 0;	
    }
}
a {
    &.subscribe {
        background: url(/static/images/layout/subscribe.png) 0 0 no-repeat;
        cursor: pointer;
        height: 16px;
        width: 87px;
        @include offscreen;
        &:hover {
            background-position: 0 -16px;
        }
        &:active {
            background-position: 0 -32px;
        }
    }
}
#home #potd {   /* Plant of the Day */
    background: $lighter-green;
    border: 3px solid #fff;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.3);
    clear: left;
    height: 140px;
    margin: 15px 0;
    padding: 10px;
    > a {
        display: block;
        float: left;
        height: 131px;
        margin: 5px 5px;
        overflow: hidden;
        width: 270px;
        img {
            position: relative;
            top: -60px;
            width: 270px;
        }
    }
    .details {
        margin: 0 0 0 295px;
        position: absolute;
        width: 630px;
        h3 {
            color: $darkest-brown;
            font-family: Basetica;
            font-size: 1.2rem;
            font-weight: 900;
            margin: 0.2rem 0;
            span {
                &.latin {
                    font-style: italic;
                }
                &.english {
                    color: $darker-brown;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        p {
            height: 70px;
            margin: 0;
            overflow: hidden;
        }
    }
}
#home .donate, #home .intro {
    background: #f3dcaa; /* lightened version of #e7b952 orange from NPT palette */
    border: 3px solid #fff;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.3);
    clear: left;
    margin: 0 0 15px 0;
    padding: 0;
    p {
        margin: 14px;
        position: relative;
    }
}
#home .donate a {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: -4px;
}
#home footer {
    background: none;
    > img {
        display: none;
    }
}   

/* Begin media queries styles for Home page */

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    #home .content .container {
        width: $smallscreen-portrait-width;
    }
    #home #banner {
        #overlay {
            top: 115px;
            width: $smallscreen-portrait-width;
        }
        > img {
            height: 115px;
            width: $smallscreen-portrait-width;
        }
        + .three-col {
            padding-top: 355px;
        }
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    #home #banner {
        #overlay {
            top: 172px;
            width: $smallscreen-landscape-width;
        }
        > img {
            height: 172px;
            width: $smallscreen-landscape-width;
        }
        + .three-col {
            padding-top: 400px;
        }
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    #home .content {
        margin-top: 0;
        padding-top: 0;
        .container {
            padding: 0;
        }
    }
    #home header {
        height: 106px;
        h1 {
            background-position: 0 0;
            background-size: 120px 40px;
            height: 40px;
            margin-left: 0;
            width: 120px;
        }
        .id {
            float: none;
            padding-left: 10px;
            width: auto;
        }
        .tagline {
            float: none;
            margin: 0;
        }
        nav {
            background: #21555c;
            height: 32px;
            padding-left: 0;
            > a:hover {
                text-decoration: none;
            }
        }
    }
    #home #banner {
        margin: 0;
        position: relative;
        #overlay {
            background: #f7fbe9;
            height: auto;
            left: 0;
            padding: 0;
            text-align: center;
            h2 {
                font-size: 28px;
                margin: 6px 0 0;
            }
            p {
                padding: 0 $smallscreen-margin;
            }
            img {
                width: 53%;
            }
        }
        #cta {
            margin: 6px;
        }
    }
    #home .three-col {
        background: none;
        float: none;
        height: inherit;
        margin: 14px 0;
        padding: 0;
        width: auto;
        h3, h4, p {
            @include smallscreen-side-margins;
        }
        h3 {
            font-size: 18px;
        }
        h4 {
            font-size: 14px;
        }
        p {
            margin-top: 0;
        }
        a.orange-button, &.last a.orange-button {
            margin-top: 6px;
            @include smallscreen-side-margins;
        }
    }
    #home #breadcrumb p {
        line-height: 160%;
    }
    #home #potd {
        height: auto;
        padding: $smallscreen-margin;
        > a {
            margin: 0;
            margin-bottom: 4px;
            margin-right: $smallscreen-margin;
        }
        > a, > a img {
            width: $smallscreen-potd-image-width;
        }
        .details {
            margin: 0;
            position: inherit;
            width: inherit;
            h3 {
                line-height: 120%;
            }
            h4 {
                line-height: 140%;
            }
            p {
                height: inherit;
                overflow: inherit;
            }
            a {
                margin-top: 6px;
                position: inherit;
                top: 0;
            }
        }
    }
    #home .donate, #home .intro {
        margin: 0;
        p {
            margin: 8px;
            padding: 0;
        }
    }
    #home .donate a {
        display: block;
        float: none;
        margin: 6px 20px 0 0;
        position: static;
        width: 80px;
    }
}

/* End media queries styles for the Home page */

