/* Styles for maps */

/* Location and sightings maps */
.map {
    border: 1px solid $border-green;
}
.info-window {
    h5 {
        font-size: 14px;
    }
    p {
        margin-top: 0;
    }
    img {
        float: left;
        margin-right: 10px;
    }
}
#sightings-locator .info-window {
    img {
        height: 75px;
        width: 80px;
    }
}

/* Plant distribution maps */
.section {
    &.map {
        border: none;
        p {
            font-size: 9px;
            margin-bottom: 6px;
        }
    }
    &.namap {
        position: relative;
        div.trans {
            /* Transparent div to make North America map clickable */
            cursor: pointer;
            background: transparent;
            height: 133px; /* Cover the map plus the link below it */
            margin-bottom: 0;
            padding: 0;
            position: absolute;
            top: 45px;
            width: 196px;
        }
    }
    #ne-dist-county-map {
        /* SVG map: WebKit needs height and width set */
        height: 293px;
        width: 187px;
    }
    #na-dist-county-map {
        /* SVG map: WebKit needs height and width set */
        height: 109px;
        width: 187px;
    }
}
