/* Additional styles and overrides for partner sites */

#home.partner-site {
    header.partner-site {
        .container {
            position: relative;
        }
        h1 {
            width: 260px;
        }
        .partner {
            float: none;
            font-size: 22px;
            left: 178px;
            position: absolute;
            top: 60px;
            width: 495px;
            i {
                color: #fff;
                font-size: 16px;
            }
        }
    }
    .three-col {
        background: none;
        height: 10px;
    }
}

header.partner-site {
    .go-botany, .go-botany a {
        width: 170px;
    }
    .partner {
        color: $link-green;
        float: left;
        font-family: $headings-font;
        font-size: 14px;
        position: relative;
        top: 45px;
        width: 380px;
        b {
            margin-right: 10px;
        }
        a {
            padding-left: 10px;
            text-decoration: none;
        }
    }
}
