/* Additional styles and overrides for partner sites */

#home.partner-site {
    header.partner-site {
        .container {
            position: relative;
        }
        h1 {
            width: 260px;
        }
        .site-name {
            float: none;
            font-size: 22px;
            left: 178px;
            position: absolute;
            top: 60px;
            width: 495px;
            i {
                color: #fff;
                font-size: 16px;
            }
        }
        nav li.home a {
            padding: 5px 8px 0;  /* consistent padding in 'separated' area */
        }
    }
    .three-col {
        background: none;
        height: 10px;
    }
}

header.partner-site {
    .go-botany, .go-botany a {
        width: 170px;
    }
    .site-name {
        color: $link-green;
        float: left;
        font-family: $headings-font;
        font-size: 14px;
        position: relative;
        top: 45px;
        width: 380px;
        b {
            margin-right: 10px;
        }
        a {
            padding-left: 10px;
            text-decoration: none;
        }
    }
    nav li a {
        padding: 5px 32px 0;  /* fewer sections, more horizontal padding */
    }
}

/* Begin media queries styles for partner site customizations */

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {

}

/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {

}

/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    #home.partner-site {
        header.partner-site {
            h1 {
                background-position: -58px -17px;
                height: 56px;
                margin-left: 0;
                width: 200px;
            }
            .site-name {
                font-size: 14px;
                left: 43px;
                top: 36px;
                width: 200px;
            }
        }
    }
    header.partner-site {
        .container {
            position: relative;
        }
        .site-name {
            float: none;
            font-size: 12px;
            left: 66px;
            line-height: 12px;
            position: absolute;
            top: 42px;
            width: 150px;
            b {
                margin-right: 0;
            }
            i {
                display: none;
            }
        }
        .go-botany a {
            background-position: left -9px;
        }
        /* Show full-size sections button for now (search is omitted) */
        nav > a {
            width: 80px;
            span {
                display: inline;
                font-size: 14px;
                line-height: 160%;
                padding-left: 23px;
                position: absolute;
            }
        }
    }
}

/* Begin media queries styles for partner site customizations */
