/* PlantShare */

@import "_mixins";

$form-field-padding: 5px;
$form-field-width: 350px;
$plantshare-main-column-width: 475px;
$section-padding: 16px;
$mini-input-font-size: 11px;

@mixin form-field-base {
    border: 1px solid $border-green;
    padding: $form-field-padding;
    width: $form-field-width;
}

body.plantshare {
    .content {
        li {
            list-style-type: none;
        }
        form {
            p {
                margin: 0;
            }
            label {
                display: block;
                margin-bottom: 4px;
                text-transform: uppercase;
                width: $form-field-width;
            }
            input {
                font-family: $body-font;
                height: 16px;
                margin-bottom: 10px;
                @include form-field-base;
            }
            textarea {
                font-family: $body-font;
                height: 82px;
                @include form-field-base;
            }
        }
    }
    .box {
        background-color: #fff;
        border: 1px solid $border-green;
        padding: 4px $section-padding;
        table {
            margin: $section-padding 0 12px;
            width: 100%;
            tr:nth-child(odd) {
                background-color: $light-green;
            }
            th, td {
                padding: 6px 8px;
            }
            th {
                font-weight: normal;
                text-align: left;
                width: 33%;
            }
        }
    }
    form.login {
        padding: 0 $section-padding $section-padding;
        label {
            font-size: 10px;
        }
        input {
            border-color: $link-green;
            max-width: 300px;
            width: 95%;
            &.button {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -169px -231px;
                border: 0;
                height: 32px;
                width: 99px;
                @include offscreen;
                &:hover {
                    background-position: -169px -265px;
                }
                &:active {
                    background-position: -169px -299px;
                }
            }
        }
    }
    .sign-up-call {
        width: $plantshare-main-column-width;
        ul {
            line-height: 18px;
            list-style-position: inside;
            margin: 10px 0 0 24px;
        }
        a {
            background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat 0 -3px;
            height: 41px;
            margin: 12px auto;
            width: 244px;
            @include offscreen;
            &:hover {
                background-position: 0 -88px;
            }
            &:active {
                background-position: 0 -46px;
            }            
        }
    }
    .profile {
        width: 471px;
        h2 {
            float: left;
        }
        a.edit {
            display: block;
            float: right;
            padding-top: 12px;
        }
        h3 {
            font-size: 18px;
        }
        div {
            clear: left;
            height: 84px;
        }
        img {
            display: block;
            float: left;
            max-height: 84px;
            margin-right: $section-padding;
            max-width: 84px;
        }
        table {
            clear: left;
        }
    }
    &#sign-up #main {
        form input {
            width: 350px;
            &.button {
                background: transparent url(../images/layout/plantshare-btns.png) no-repeat -1px -359px;
                border: 0;
                height: 41px;
                margin-top: 12px;
                width: 244px;
                @include offscreen;
                &:hover {
                    background-position: -1px -402px;
                }
                &:active {
                    background-position: -1px -444px;
                }
            }
        }
    }
    &#log-in {
        h1 + p {
            font-family: $headings-font;
            font-size: 14px;
            margin: 0;
            padding: $section-padding 0;
        }
        ul.errorlist {
            padding: $section-padding 0;
        }
        form.login {
            padding-left: 0;
            label {
                font-size: 12px;
            }
            input {
                border-color: $border-green;
            }
        }
    }

    #sightings-locator {
        h3 {
            display: inline-block;
            float: left;
            font-size: 14px;
            line-height: 22px;
            margin: 0 7px 5px 0;
        }
        input {
            border: 0 none;
            float: left;
            height: 22px;
            margin: 0 0 5px 0;
            padding: 0 2px 0 12px;
            &[type='text'] {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -0px -334px;
                font-size: $mini-input-font-size;
                width: 160px;
            }
            &[type='submit'] {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -483px -334px;
                font-size: 0;
                text-indent: -9999px;
                width: 30px;
            }
            &:focus {
                outline: 0 none;
            }
            & + div {
                font-size: $mini-input-font-size;
            }
        }
        .map {
            clear: left;
            margin-top: 36px;
        }
        &.mini {
            margin-top: 20px;
            .box {
                font-size: $mini-input-font-size;
                height: 297px;
                padding: 0 0 0 10px;
                form {
                    float: left;
                    padding: 0;
                    width: 205px;
                    h3 {
                        padding-top: 5px;
                    }
                    h4 {
                        clear: left;
                        font-family: $body-font;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 14px;
                        margin: 6px 0;
                        padding-top: 8px;
                    }
                    p {
                        line-height: 14px;
                        margin: 0;
                        padding: 0;
                        &#sightings-status {
                            margin-left: -1000px; /* hide until JS shows it */
                            padding: 65px 0 0;
                        }
                        &.full-link {
                            margin-top: 10px;
                        }
                    }
                }
                .map {
                    clear: none;
                    border-bottom: 0;
                    border-right: 0;
                    border-top: 0;
                    float: right;
                    margin-top: 0;
                }
            }
        } /* end .mini */
    } /* end #sightings-locator */

    &#new-sighting {
        h1 + div {
            background: #fff;
            border: 1px solid $border-green;
            margin-bottom: $section-padding;
            padding: 5px $section-padding;
        }

        .thumb-gallery {
            .thumb {
                margin: 0 5px;
                vertical-align: bottom;
            }
        }
    }
    &#locator {
        h3 {
            font-family: $body-font;
            font-size: 12px;
            line-height: 24px;
        }
        #sightings-status {
            display: none;  /* initially hide, until updating value via JS */
            float: right;
            line-height: 24px;
        }
    }
    &#sightings {
        #main > ul {
            margin-top: 14px;
            > li {
                float: left;
                margin-bottom: 14px;
                ul {
                    margin-left: 200px;
                    margin-top: -20px;
                    li {
                        clear: left;
                    }
                }
            }
        }
    }
    &.sighting {
        .map {
            float: right;
        }
        form {
            label {
                text-transform: none;
            }
            fieldset {
                border: 0;
                margin: 0 0 $section-padding;
                padding: 0;
                width: $form-field-width + 334px;
                legend {
                    @include offscreen;
                }
            }
            .post-sighting-btn {
                background: transparent url(/static/images/layout/plantshare2-btn.png) no-repeat -372px -634px;
                border: 0 none;
                display: block;
                width: 157px;
                height: 32px;
                text-indent: -9999px;
                &.inactive {
                    background-position: -372px -599px;
                }
            }                
        }
        .sighting-gallery {
          h2 {
            margin-top: 50px;
          }

          ul {
            position: relative;

            li {
              display: inline;
              list-style: none;
              margin: 5px;
              height: 128px;
              vertical-align: bottom;

              img {
                vertical-align: bottom;
              }
            }

          }

        }
        .modal-container {
            position: relative;

            .save-btn {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -272px -231px;
                width: 99px !important;
                height: 32px;
                font-size: 0;
                -moz-box-shadow: 0 !important;
                border: 0 none !important;
                display: block;
                text-indent: -9999px;
            }
            .image-modal {
                background-color: white;
                border: 5px solid #ACAC90;
                display: none;
                padding: 15px;
                position: absolute;
                width: 400px;
                height: 160px;
                top: 250px;
                left: 0px;
                z-index: 10;

                img {
                    float: left;
                    margin: 0 20px 10px 0;
                    max-height: 84px;
                    max-width: 84px;
                }

                a.button {
                    @extend .orange-button;
                    display: inline-block;
                    color: white;
                    margin: 10px 0;
                }

                a.disabled {
                    display: none;
                }

                div.modal-footer {
                    display: block;
                    position: relative;
                    float: left;
                    width: 100%;
                    color: #888;

                    div.file-path {
                        margin: 2px 0 auto;
                        border: 1px solid #888;
                        padding: 2px;
                        color: #888;
                    }
                }

                a.close {
                    background: transparent url(/static/images/icons/close.png) no-repeat;
                    display: block;
                    height: 16px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 16px;
                    text-indent: -9999px;
                }

                h4 {
                    margin: 0 0 5px;
                    font-size: 18px;
                }

                form {
                    float: right;
                    width: 290px;
                }
                
                input {
                    border: 0 none !important;
                    box-shadow: inset 0 0 0 white !important;
                }

                input#id_image {
                    clear: both;
                    display: block;
                    margin: 0 0 10px;
                }

                div.screening-notify p {
                  margin: 5px 0;
                  font-size: 10px;
                  color: #888;
                }
            }
        }
    }
    &#profile {
        div.section-container {
            position: relative;

            .save-btn {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -272px -231px;
                width: 99px !important;
                height: 32px;
                font-size: 0;
                -moz-box-shadow: 0 !important;
                border: 0 none !important;
                display: block;
                text-indent: -9999px;
            }
            .image-modal {
                background-color: white;
                border: 5px solid #ACAC90;
                display: none;
                padding: 15px;
                position: absolute;
                width: 400px;
                height: 160px;
                z-index: 10;

                img {
                    float: left;
                    margin: 0 20px 10px 0;
                    max-height: 84px;
                    max-width: 84px;
                }

                a.button {
                    @extend .orange-button;
                    display: inline-block;
                    color: white;
                    margin: 10px 0;
                }

                a.disabled {
                    display: none;
                }

                div.modal-footer {
                    display: block;
                    position: relative;
                    float: left;
                    width: 100%;
                    color: #888;

                    div.file-path {
                        margin: 2px 0 auto;
                        border: 1px solid #888;
                        padding: 2px;
                        color: #888;
                    }
                }

                a.close {
                    background: transparent url(/static/images/icons/close.png) no-repeat;
                    display: block;
                    height: 16px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 16px;
                    text-indent: -9999px;
                }

                h4 {
                    margin: 0 0 5px;
                    font-size: 18px;
                }

                form {
                    float: right;
                    margin: 0;
                    width: 290px;
                }
                
                input {
                    border: 0 none !important;
                    box-shadow: inset 0 0 0 white !important;
                }

                input#id_image {
                    clear: both;
                    display: block;
                    margin: 0 0 10px;
                }

                div.screening-notify p {
                  margin: 5px 0;
                  font-size: 10px;
                  color: #888;
                }

            }
        }
        .info-section, .location-section {
            min-height: 140px;
            position: relative;

            .field-controls {
                padding: 5px 0 0;
                input {
                  float: left;
                }
                input, a {
                    display: block;
                    margin-right: 20px;
                    vertical-align: middle;
                }
                &::after {
                  display: block;
                  content: " ";
                  clear: both;
                }
            }
            .info.box {
                min-height: 160px;
                padding: 0 0 5px 0;
                .avatar {
                    margin-right: 15px;
                    padding: 0;
                    float: left;
                    width: 170px;

                    img {
                        border: 0;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                    }
                }
                .map-thumbnail {
                    float: left;
                    margin: 0 15px 0 0;
                    padding: 0;
                }
                table {
                    margin: 10px 0 0 0;
                    padding: 0;
                    width: 70%;

                    td {
                        padding: 5px 10px;
                    }

                    td.first {
                        line-height: 170%;
                        padding-left: 15px;
                        vertical-align: baseline;
                        width: 25%;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .display {
                        .group-list, .coords-list {
                            float: left;
                        }
                        .edit-link {
                            float: right;
                        }
                        ul {
                            list-style: none;
                        }
                    }

                    .edit {
                        display: none;
                    }
                }
            }
        }
    } /* end .info-section, .location-section */
    &#profile {
        .info-section {
            margin: 20px 0;
            .info.box {
                margin: 20px 0;
                padding: 10px 15px 20px;
                table {
                    margin: 0;
                }
            }
        }
    }

    #login.box {
        background-color: $login-box-background-color;
        border-color: $link-green;
        max-width: $plantshare-main-column-width;
        padding: 0;
        h4 {
            font-size: 20px;
            padding: $section-padding $section-padding 10px;
        }
        div {
            border-top: 1px solid $link-green;
            padding: $section-padding;
            a {
                margin-left: 0;
            }
        }
        input[type='text'], input[type='password'] {
            width: 95%;
        }
    }

    &#screen-images {
        table.unscreened {
            margin: 20px 0;
            padding: 0;
            table-layout: fixed;
            overflow: hidden;
            width: 100%;
            text-align: center;

            tr.header {
                height: 20px;
                th {
                    padding-bottom: 10px;
                }
            }
            tr {
                height: 128px;
                vertical-align: top;
            }

            th.approval, td.approval {
                width: 150px;
                overflow: hidden;

                input {
                    width: 20px;
                }

                li {
                  float: left;
                  label {
                    width: 60px;
                  }
                }
            }
            th.thumb, td.thumb {
                width: 138px;
            }

        }

        div.form-control {
            margin: 0 30px;
        }
        .save-btn {
            background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -272px -231px;
            width: 99px !important;
            height: 32px;
            font-size: 0;
            -moz-box-shadow: 0 !important;
            border: 0 none !important;
            display: block;
            text-indent: -9999px;
        }
    }
}

/* Begin media queries styles for PlantShare. */

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body.plantshare {
        .box {
            width: $smallscreen-portrait-box-width;
        }
        .content form {
            label, input, textarea {
                width: $smallscreen-portrait-form-el-width;
            }
        }
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    body.plantshare {
        .box {
            width: $smallscreen-landscape-box-width;
        }
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body.plantshare {
        #main .box {
            padding: 0;
            > * {
                padding-left: $section-padding;
                padding-right: $section-padding;
            }
            > table {
                margin-left: $section-padding;
                width: 90%;
            }
        }
        .content #sidebar {
            background: none;
            border: 0;
        }
        &#plantshare .sign-up-call {
            width: auto;
            ul {
                margin-left: 0;
            }
        }
        &.sighting form {
            fieldset {
                width: auto;
            }
            .location {
                img {
                    display: block;
                    float: none;
                    margin-bottom: 10px;
                }
            }
        }
        &#profile .info.box {
            img {
                padding: $section-padding;
            }
        }
        &#sign-up {
            #main form input {
                width: 290px;
            }
        }
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
}

/* End media queries styles for PlantShare */
