/* PlantShare */

$form-field-padding: 5px;
$form-field-width: 353px;
$plantshare-main-column-width: 475px;
$section-padding: 16px;
$mini-input-font-size: 11px;

$profile-box-padding: 16px;
$avatar-image-height: 153px;
$avatar-image-width: 169px;

@mixin form-field-base {
    border: 1px solid $border-green;
    padding: $form-field-padding;
    width: $form-field-width;
}

@mixin hide-default-shadowbox-close {
    /* Hide the usual default Shadowbox close button. This is used for
     * some dialogs that have their own interior close button, such as
     * is seen on various PlantShare dialogs. */
    #sb-nav-close {
        display: none;
    }
}

body.plantshare {

    .recaptchatable {
        a {
            color: $link-green;
        }
        #recaptcha_response_field {
            font-family: $headings-font;
            font-size: $nav-font-size;
        }
    }

    .content {
        li {
            list-style-type: none;
        }
        form {
            p {
                margin: 0;
            }
            label {
                display: block;
                margin-bottom: 4px;
                text-transform: uppercase;
                width: $form-field-width;
            }
            input {
                margin-bottom: 10px;
                &[type=text], &[type=password] {
                    height: 16px;
                    @include form-field-base;
                }
            }
            textarea {
                height: 82px;
                @include form-field-base;
            }
            input[type=text], textarea {
                font-family: $body-font;
            }
        }
    }
    .box {
        background-color: #fff;
        border: 1px solid $border-green;
        padding: 4px $section-padding;
        table {
            margin: $section-padding 0 12px;
            width: 100%;
            tr:nth-child(odd) {
                background-color: $light-green;
            }
            th, td {
                padding: 6px 8px;
            }
            th {
                font-weight: normal;
                text-align: left;
                width: 33%;
            }
        }
    }
    form.login {
        padding: 0 $section-padding $section-padding;
        max-width: 250px;
        min-width: 194px;
        label {
            font-size: 10px;
        }
        input {
            border-color: $link-green;
            max-width: 246px;
            &.button {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -169px -231px;
                border: 0;
                height: 32px;
                width: 99px;
                @include offscreen;
                &:hover {
                    background-position: -169px -265px;
                }
                &:active {
                    background-position: -169px -299px;
                }
            }
        }
        a {
            float: right;
            font-family: $headings-font;
            font-size: 11px;
            margin-top: 9px;
            padding-right: 1px;
        }
    }
    .sign-up-call {
        width: $plantshare-main-column-width;
        ul {
            line-height: 18px;
            list-style-position: inside;
            margin: 10px 0 0 24px;
        }
        a {
            background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat 0 -3px;
            height: 41px;
            margin: 12px auto;
            width: 244px;
            @include offscreen;
            &:hover {
                background-position: 0 -88px;
            }
            &:active {
                background-position: 0 -46px;
            }            
        }
    }
    .notification {
        width: $plantshare-main-column-width;
        ul {
            line-height: 18px;
            list-style-position: inside;
            margin: 10px 0 0 24px;
        }
    }
    .ps-button {
        @extend .orange-button;
        display: inline-block;
        color: white;
        margin: 10px 0;
        text-transform: uppercase;

    }
    .save-btn {
        background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -272px -231px;
        width: 99px !important;
        height: 32px;
        font-size: 0;
        -moz-box-shadow: 0 !important;
        border: 0 none !important;
        display: block;
        text-indent: -9999px;
    }
    a.close-btn {
        background: transparent url(/static/images/icons/close.png) no-repeat;
        display: block;
        height: 16px;
        width: 16px;
        text-indent: -9999px;
    }

    #main .profile {
        width: 471px;
        h2 {
            float: left;
        }
        a.edit {
            display: block;
            float: right;
            padding-top: 12px;
        }
        h3 {
            font-size: 18px;
            margin: 0;
        }
        div {
            clear: left;
            height: 84px;
        }
        .avatar {
            background: $light-green;
            display: block;
            float: left;
            height: 76px;
            margin-right: $section-padding;
            width: 84px;
        }
        table {
            clear: left;
        }
        .map {
            float: right;
        }
        p {
            margin: 2px 0;
        }
    }
    
    &#terms-of-agreement {
        #main form {
            input[type="checkbox"] {
                float: left;
                margin: 3px 14px 0 0;
                width: auto;
            }
            fieldset {
                background: #fff;
                border: 0;
            }
            label {
                line-height: 150%;
                margin: 0 0 24px 32px;
                text-transform: none;
                width: auto;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            div {
                margin: 14px 0;
                padding: 24px 36px 24px 18px;
            }
            .agree-btn {
                background: transparent url(/static/images/layout/plantshare-btns.png)
                    no-repeat -110px -131px;
                border: 0 none;
                cursor: pointer;
                height: 32px;
                margin-right: 14px;
                text-indent: -9999px;
                width: 173px;
                &.inactive {
                    background-position: -247px -57px;
                    cursor: default !important;
                }
            }
        }
    }

    &#plantshare {   /* styles for the PlantShare main page */
        #ask {
            margin-top: 20px;
        }
        #find-people-form {
            float: right;
            margin: 0;
            width: 184px;
            input[type='text'] {
                width: 128px;
            }
        }
    }

    &#find-people {
        #main {
            .box {
                padding: 10px;
            }
            .person {
                height: 74px;
                margin: 0;
                padding: 20px 0 0 0;
                &:nth-child(odd) {
                    background-color: $light-green;
                }
                img {
                    background: $light-green;
                    float: left;
                    height: 60px;
                    margin: 0 18px;
                    width: 66px;
                }
                ul {
                    float: left;
                    line-height: 140%;
                    width: 400px;
                }
                li {
                    margin: 0 0 3px;
                }
                .name {
                    font-family: $headings-font;
                    font-size: 24px;
                    margin: 2px 0 10px;
                }
                ul:first-child {   /* when avatar is omitted */
                    margin-left: 98px;
                }
                p {
                    float: right;
                    margin: 12px 0 0;
                    padding-right: 10px;
                    a {
                        border-bottom: 0;
                    }
                }
                .invite-group-btn {
                    background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -1px -231px;
                    display: block;
                    font-size: 0;
                    height: 32px;
                    text-indent: -9999px;
                    width: 163px;
                }
            }
        }
        @include hide-default-shadowbox-close;
    }

    #find-people-form {
        margin: 14px 0 0;
        h2 {
            font-size: 18px;
        }
        input {
            &[type='text'] {
                background: transparent url(../images/layout/plantshare-btns.png) no-repeat -1px -334px;
                border: 0 none;
                display: block;
                float: left;
                font-size: $mini-input-font-size;
                height: 22px;
                padding: 0 2px 0 12px;
                width: 309px;
            }
            &[type='submit'] {
                background: transparent url(../images/layout/plantshare-btns.png) no-repeat -388px -4px;
                border: 0 none;
                display: block;
                float: left;
                height: 22px;
                padding: 0 5px;
                text-indent: -9999px;
                width: 39px;
            }
            &:focus {
               outline: 0 none;
            }
        }
        & + p {
            clear: left;
            padding-top: 14px;
        }
    }

    &#find-people-profile {
        background: none;
        div {
            background: #fff;
            border: 5px solid #acac90;
            height: $avatar-image-height + ($profile-box-padding * 2);
            padding: 0 $profile-box-padding 0 0;
            p {
                margin-top: 0;
            }
        }
        .close {
            @include dialog-close-button;
        }
        .avatar {
            background: $light-green;
            float: left;
            height: $avatar-image-height;
            margin: $profile-box-padding;
            width: $avatar-image-width;
        }
        .map {
            float: right;
            height: 113px;
            width: $avatar-image-width;
        }
        .not-found {
            padding: 70px 0;
            text-align: center;
        }
    }

    &#sign-up #main {
        form input {
            width: 350px;
            &.button {
                background: transparent url(../images/layout/plantshare-btns.png) no-repeat -1px -359px;
                border: 0;
                height: 41px;
                margin-top: 12px;
                width: 244px;
                @include offscreen;
                &:hover {
                    background-position: -1px -402px;
                }
                &:active {
                    background-position: -1px -444px;
                }
            }
        }
    }
    &#log-in {
        h1 + p {
            font-family: $headings-font;
            font-size: 14px;
            margin: 0;
            padding: $section-padding 0;
        }
        ul.errorlist {
            padding: $section-padding 0;
        }
        form.login {
            padding-left: 0;
            label {
                font-size: 12px;
            }
            input {
                border-color: $border-green;
            }
        }
    }

    #sightings-locator {
        h3 {
            display: inline-block;
            float: left;
            font-size: 14px;
            line-height: 22px;
            margin: 0 7px 5px 0;
        }
        input {
            border: 0 none;
            float: left;
            height: 22px;
            margin: 0 0 5px 0;
            padding: 0 2px 0 12px;
            &[type='text'] {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -0px -334px;
                font-size: $mini-input-font-size;
                width: 160px;
            }
            &[type='submit'] {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -483px -334px;
                font-size: 0;
                text-indent: -9999px;
                width: 30px;
            }
            &:focus {
                outline: 0 none;
            }
            & + div {
                font-size: $mini-input-font-size;
            }
        }
        .map {
            clear: left;
            margin-top: 36px;
        }
        &.mini {
            margin-top: 20px;
            .box {
                font-size: $mini-input-font-size;
                height: 297px;
                padding: 0 0 0 10px;
                form {
                    float: left;
                    padding: 0;
                    width: 205px;
                    h3 {
                        padding-top: 5px;
                    }
                    h4 {
                        clear: left;
                        font-family: $body-font;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 14px;
                        margin: 6px 0;
                        padding-top: 8px;
                    }
                    p {
                        line-height: 14px;
                        margin: 0;
                        padding: 0;
                        &#sightings-status {
                            margin-left: -1000px; /* hide until JS shows it */
                            padding: 65px 0 0;
                        }
                        &.full-link {
                            margin-top: 10px;
                        }
                    }
                }
                .map {
                    clear: none;
                    border-bottom: 0;
                    border-right: 0;
                    border-top: 0;
                    float: right;
                    margin-top: 0;
                }
            }
        } /* end .mini */
    } /* end #sightings-locator */

    &#new-sighting {
        h1 + div {
            background: #fff;
            border: 1px solid $border-green;
            margin-bottom: $section-padding;
            padding: 5px $section-padding;
        }
    }
    &#new-sighting, &#edit-sighting {
        #id_identification, .restricted {
            display: inline-block;
        }
        .images {
            margin-top: 10px;
        }
        .restricted {
            margin-left: 14px;
        }
        .restricted-dialog {
            background: #fff;
            color: #000;
            padding: 20px;
            height: auto;
            width: auto;
            p {
                margin: 0 0 14px;
            }
            .ok {
                margin: 20px 0 0;
                text-align: center;
                a {
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    width: 80px;
                }
            }
        }
        fieldset {
            margin-bottom: 10px;
        }
        .visibility {
            clear: left;
            margin-bottom: 50px;
            p {
                display: inline-block;
            }
            .label {
                display: block;
            }
            select {
                margin: 4px 0 0;
            }
        }
    }

    &#manage-sightings {
        .content table {
            width: 100%;
            th {
                &.identification {
                    width: 30%;
                }
                &.location {
                    width: 20%;
                }
                &.posted {
                    width: 20%;
                }
                &.visibility {
                    width: 20%;
                }
                &.action {
                    width: 7%;
                }
            }
            td.action {
                text-align: center;
            }
            td:first-of-type a {
                border-bottom: 0;
            }
            img {
                max-width: 80px;
            }
        }
        @include hide-default-shadowbox-close;
    }

    &#delete-sighting, &#delete-checklist {
        background: none;
        div {
            background: #fff;
            border: 5px solid #acac90;
            height: 100%;
            padding: 0 18px;
            text-align: center;
        }
        .close {
            @include dialog-close-button;
        }
        h2 {
            font-size: 18px;
            text-align: left;
        }
        table {
            margin: 18px 0;
            width: 100%;
        }
        thead {
            display: none;
        }
        .cancel-btn {
            background: url(/static/images/layout/plantshare2-btn.png) no-repeat -415px -297px;
            cursor: pointer;
            display: inline-block;
            height: 32px;
            margin: 0 10px 0 0;
            text-indent: -9999px;
            vertical-align: middle;
            width: 143px;
            &:hover {
                background-position: -415px -336px;
            }
        }
    }

    &#locator #main {
        h3 {
            font-family: $body-font;
            font-size: 12px;
            line-height: 24px;
        }
        #sightings-status {
            display: none;  /* initially hide, until updating value via JS */
            float: right;
            line-height: 24px;
        }
    }

    .modal-container {
        position: relative;
        .image-modal {
            background-color: white;
            border: 5px solid #acac90;
            display: none;
            height: 160px;
            left: 0px;
            padding: 15px;
            position: absolute;
            top: 250px;
            width: 420px;
            z-index: 10;
            img {
                float: left;
                margin: 0 20px 10px 0;
                max-height: 84px;
                max-width: 84px;
            }
            a.button {
                @extend .orange-button;
                color: white;
                display: inline-block;
                margin: 10px 0;
            }

            a.disabled {
                display: none;
            }
            div.modal-footer {
                color: #888;
                display: block;
                float: left;
                position: relative;
                width: 100%;
                div.file-path {
                    border: 1px solid #888;
                    color: #888;
                    margin: 2px 0 auto;
                    padding: 2px;
                }
            }
            a.close {
                @include dialog-close-button;    
            }
            h4 {
                float: right;
                font-size: 18px;
                margin: 0 0 5px;
                width: 310px;
            }
            form {
                float: right;
                width: 310px;
            }
            input {
                border: 0 none !important;
                box-shadow: inset 0 0 0 white !important;
            }
            input#id_image {
                clear: both;
                display: block;
                margin: 0 0 10px;
            }
            div.screening-notify p {
                color: #888;
                font-size: 10px;
                margin: 5px 0;
            }
        }
    }
    .thumb-gallery {
        display: inline-block;
        float: left;
        padding: 4px 0 20px 0;
    }
    .thumb-frame {
        display: inline-block;
        margin: 0 14px 0 0;
        vertical-align: bottom;
        .thumb {
            vertical-align: bottom;
        }
        .delete-link {
            width: 100%;
            text-align: center;
            margin: 0;
            padding-top: 8px;
            img {
                vertical-align: top;
            }
        }
    }
    .upload {
        display: inline-block;
        float: left;
        padding-bottom: 20px;
    }


    &#sightings {
        #main > ul {
            margin-top: 14px;
            > li {
                float: left;
                margin-bottom: 14px;
                ul {
                    margin-left: 200px;
                    margin-top: -20px;
                    li {
                        clear: left;
                    }
                }
            }
        }
    }

    &.sighting {
        .map {
            float: right;
            margin: 0 0 12px 12px;
        }
        .photos {
            h2 {
                margin: 0;
            }
            ul {
                li {
                    height: auto;
                    list-style: none;
                    margin: 0;
                    padding: 10px 0;
                }
                img {
                    max-height: 710px;
                    max-width: 710px;
                }
            }
        }
        form {
            label {
                text-transform: none;
            }
            fieldset {
                border: 0;
                margin: 0 0 $section-padding;
                padding: 0;
                width: $form-field-width + 334px;
                legend {
                    @include offscreen;
                }
            }
            .post-sighting-btn {
                background: transparent url(/static/images/layout/plantshare2-btn.png) no-repeat -372px -634px;
                border: 0 none;
                display: block;
                width: 157px;
                height: 32px;
                text-indent: -9999px;
                &.inactive {
                    background-position: -372px -599px;
                }
            }                
        }
    }

    &.ask {
        #sb-title-inner {
            font-size: 11px;   /* title atop lightboxed question images */
        }
    }

    &#ask #main,         /* Ask the Botanist section on both pages */
    &#plantshare #ask {
        #ask-section {
            margin-bottom: 18px;
            min-height: 100px;
            .botanist {
                background: #ddd;
                float: left;
                height: 97px;
                margin: 8px 18px 0 0;
                width: 103px;
            }
        }
        #question-form {
            clear: left;
            padding-left: 121px;
        }
        label {
            text-transform: none;
            width: auto;
        }
        textarea {
            border: 1px solid #aaa;
            height: 75px;
            margin: 4px 0 10px;
            padding: 8px;
            width: 571px;
            @include single-box-shadow(#ddd, 2px, 3px, 5px, 0px);
        }
        .submit {
            @extend .orange-button;
            clear: both;
            display: block;
            margin: 42px 0 8px;
            text-transform: uppercase;
        }
        h2, h3 {
            clear: both;
        }
        .more {
            text-align: right;
        }
    }

    &#questions #main {   /* Questions and Answers page */
        #category-nav {
            p {
                float: left;
                margin: 0;
            }
            ul {
                margin-left: 80px;
            }
            li {
                display: inline;
                margin-right: 8px;
                white-space: nowrap;
            }
        }
    }

    .questions {   /* styles common to Ask the Botanist, questions pages */
        li {
            background-color: #f9faea;
            border: 1px solid $border-green;
            margin: 5px 0 10px;
            overflow: auto;
            padding: 10px 12px;
        }
        img {
            float: right;
            margin: 5px 0 5px 12px;
        }
        dl {
            margin: 0;
            padding: 0;
        }
        dt {
            clear: left;
            font-weight: bold;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        }
        dd {
            margin: 0;
        }
        span {
            display: block;
        }
    }

    &#profile {   /* Profile page */
        .username {
            float: right;
        }
        form + h2 {
            margin: 30px 0 18px;
        }
        h3 {
            margin-bottom: 14px;
        }
        div.section-container {
            position: relative;
            .image-modal {
                background-color: white;
                border: 5px solid #ACAC90;
                display: none;
                padding: 15px;
                position: absolute;
                width: 400px;
                height: 160px;
                z-index: 10;
                img {
                    float: left;
                    margin: 0 20px 10px 0;
                    max-height: 84px;
                    max-width: 84px;
                }
                a.button {
                    @extend .orange-button;
                    display: inline-block;
                    color: white;
                    margin: 10px 0;
                }
                a.disabled {
                    display: none;
                }
                div.modal-footer {
                    display: block;
                    position: relative;
                    float: left;
                    width: 100%;
                    color: #888;
                    div.file-path {
                        margin: 2px 0 auto;
                        border: 1px solid #888;
                        padding: 2px;
                        color: #888;
                    }
                }
                a.close {
                    background: transparent url(/static/images/icons/close.png) no-repeat;
                    display: block;
                    height: 16px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 16px;
                    text-indent: -9999px;
                }
                h4 {
                    margin: 0 0 5px;
                    font-size: 18px;
                }
                form {
                    float: right;
                    margin: 0;
                    width: 290px;
                }
                input {
                    border: 0 none !important;
                    box-shadow: inset 0 0 0 white !important;
                }
                input#id_image {
                    clear: both;
                    display: block;
                    margin: 0 0 10px;
                }
                div.screening-notify p {
                  margin: 5px 0;
                  font-size: 10px;
                  color: #888;
                }
            }
        }
        .info-section, .location-section {
            min-height: 140px;
            position: relative;
            .field-controls {
                margin-top: 10px;
                padding: 5px 0 0;
                input {
                    float: left;
                    margin-bottom: 0;
                }
                input, a {
                    display: inline-block;
                    margin-right: 20px;
                    vertical-align: middle;
                }
                &::after {
                    content: " ";
                    clear: both;
                    display: block;
                }
            }
            .field-reset {
                margin-top: 7px;
            }
            .info.box {
                min-height: 158px;
                padding: 0 0 5px 0;
                .avatar {
                    float: left;
                    margin-right: 15px;
                    padding: 0;
                    width: 170px;
                    img {
                        background: $light-green;
                        border: 0;
                        height: $avatar-image-height;
                        width: $avatar-image-width;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                    }
                }
                #id_location_map {
                    float: left;
                    margin: 0 15px 0 0;
                    padding: 0;
                }
                table {
                    margin: 10px 0 0 0;
                    padding: 0;
                    width: 493px;
                    td {
                        padding: 7px 10px;
                    }
                    td.first {
                        font-weight: bold;
                        padding: 7px;
                        text-align: right;
                        vertical-align: baseline;
                        width: 97px;
                    }
                    p {
                        line-height: normal;
                        margin: 0;
                        padding: 0;
                    }
                    .display {
                        .group-list, .coords-list {
                            float: left;
                        }
                        .edit-link {
                            float: right;
                        }
                        ul {
                            list-style: none;
                        }
                    }
                    .edit {
                        display: none;
                    }
                }
            }
        }
        .info-section {
            margin: 0 0 20px;
            .info.box {
                min-height: 172px;
                padding: 10px 15px;
                table {
                    margin: 0;
                }
            }
        }
        .email-address {
            margin-top: 32px;
        }
    }

    /* For: forms Your Profile page and also the separate form/error pages */
    .change-password, .change-email {
        input[type='submit'] {
            margin: 8px 28px 0 0;
            width: auto;
        }
        input[type='password'], input[type='text'] {
            margin-bottom: 10px;
            width: 250px !important;
        }
    }
    .change-password a {
        font-family: $headings-font;
        font-size: 11px;
    }
    .change-email .verified-address {
        background: url(/static/images/layout/check.png) no-repeat;
        background-position: center left;
        background-size: 18px 19px;
        margin: 28px 0;
        padding-left: 26px;
    }

    &#forgot-password {
        #main form {
            input {
                &[type='text'] {
                    width: 250px;
                }
                &[type='submit'] {
                    margin-top: 8px;
                }
            }
        }
    }

    #login.box {
        background-color: $login-box-background-color;
        border-color: $link-green;
        max-width: $plantshare-main-column-width;
        padding: 0;
        h4 {
            font-size: 20px;
            padding: $section-padding $section-padding 10px;
        }
        div {
            border-top: 1px solid $link-green;
            padding: $section-padding;
            a {
                margin-left: 0;
            }
        }
        input[type='text'], input[type='password'] {
            width: 95%;
        }
    }

    &#checklists {
        @include hide-default-shadowbox-close;
    }

    &.checklists {
        .notification.box li {
            list-style-type: disc;
        }
        div.notes-modal {
            background-color: #fff;
            overflow: hidden; 
            margin: 0;
            padding: 15px 20px 0;
            max-height: 240px;
        }
        div.notes-modal {
            section {
                padding: 10px 0 0;
            }

            textarea {
                border: 1px solid #ABABAB;
                box-shadow: inset 1px 1px 5px #ccc;
                -moz-box-shadow: inset 1px 1px 5px #ccc;
                -webkit-box-shadow: inset 1px 1px 5px #ccc;
                font-size: inherit;
                height: 80px;
                line-height: inherit;
                max-width: 90%;
                padding: 7px 5px 5px;
                width: 100%
            }

            div.form-actions {
                padding: 10px 0;

                a.clear-btn {
                    margin: 0 0 0 10px;
                }
            }
        }
        div.ps-section {
            margin: 0;
            padding: 0;
        }
        .image-modal {
            background-color: white;
            border: 5px solid #ACAC90;
            display: none;
            padding: 15px;
            position: absolute;
            width: 400px;
            height: 160px;
            z-index: 10;

            img {
                float: left;
                margin: 0 20px 10px 0;
                max-height: 84px;
                max-width: 84px;
            }

            a.button {
                @extend .orange-button;
                display: inline-block;
                color: white;
                margin: 10px 0;
            }

            a.disabled {
                display: none;
            }

            div.modal-footer {
                display: block;
                position: relative;
                float: left;
                width: 100%;
                color: #888;

                div.file-path {
                    margin: 2px 0 auto;
                    border: 1px solid #888;
                    padding: 2px;
                    color: #888;
                }
            }

            a.close {
                background: transparent url(/static/images/icons/close.png) no-repeat;
                display: block;
                height: 16px;
                position: absolute;
                top: 15px;
                right: 15px;
                width: 16px;
                text-indent: -9999px;
            }

            h4 {
                margin: 0 0 5px;
                font-size: 18px;
            }

            form {
                float: right;
                margin: 0;
                width: 290px;
            }
            
            input {
                border: 0 none !important;
                box-shadow: inset 0 0 0 white !important;
            }

            input#id_image {
                clear: both;
                display: block;
                margin: 0 0 10px;
            }

            div.screening-notify p {
              margin: 5px 0;
              font-size: 10px;
              color: #888;
            }

        }

        div#form-template {
            display: none;
        }
        table.checklists-list {
            background: #fff;
            border: 1px solid #C3D941;
            margin: 20px 0;
            width: 100%;

            thead, tbody {
                width: 100%;
            }

            td { overflow: hidden; }

            .first {
                white-space: nowrap;
                width: 0px;   /* hidden */
                input[type="checkbox"] {
                    display: none;
                    margin-left: 5px;
                    margin-top: 10px;
                    width: auto;
                }
            }
            .checklistview-name {
                white-space: nowrap;
                width: 368px;
            }
            .owner {
                white-space: nowrap;
                width: 120px;
            }
            .last {
                text-align: right;
                white-space: nowrap;
                width: 180px;
                a {
                    margin-right: 10px;
                }

            }
            .name {
                width: 156px; 
            }
            .image {
                width: 80px; 
                img.checklist-thumb {
                    max-width: 40px;
                    max-height: 40px;
                }
            }
            .date-sighted, .date-posted {
                width: 110px; 
            }
            .location {
                width: 130px; 
            }
            .note {
                width: 60px;
                padding-right: 7px;
                .note-field {
                    display: none;
                }
                a {
                    margin: 0;
                }
                a.row-btn {
                    border-bottom: 0 !important;
                    float: right;
                    margin: 0 0 0 8px;
                    text-indent: -9999px;
                }
                div.note-text {
                    display: none;
                }
            }

            thead {
                display: block;
                tr th {
                    padding: 7px 5px;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            tbody {
                display: block;

                tr:nth-child(odd) {
                    background-color: $light-green;
                }

                tr td {
                    padding: 7px 5px;
                }
            }
        }
        .checklists-section {
            background-color: #fff;
            border: 1px solid #c3d941;
            margin: 20px 0;
            min-height: 140px;
            padding: 10px 15px 20px;
            position: relative;

            input, textarea {
                border: 1px solid #ababab;
                box-shadow: inset 1px 1px 2px #ccc;
                -moz-box-shadow: inset 1px 1px 2px #ccc;
                -webkit-box-shadow: inset 1px 1px 2px #ccc;
                display: block;
                font-size: inherit;
                line-height: 1em;
                padding: 7px 5px 5px;
            }

            h4 {
                margin: 0 0 15px;
                font-size: 18px;
            }

            header {
                margin: 0 0 10px;
                height: auto !important;

                input, textarea {
                    margin: 5px 0 10px;
                    width: 95%;
                    height: auto;
                }
            }

            .import-sightings-link {
                background-color: #e0f0d1;
                display: block;
                font-weight: bold;
                margin: 0 0 25px;
                padding: 5px 10px;
            }

            table#add-sightings-table {
                width: 678px;

                div.form-data {
                    display: none;
                }

                th, td {
                    padding: 15px 10px 5px 0;
                }

                td input {
                    padding: 7px 5px 5px;
                    margin: 0;
                }

                .name input {
                    width: 160px;
                }
                .image {
                    font-size: 0.9em;
                    img.checklist-thumb {
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
                .date-sighted input {
                    width: 70px;
                }
                .location input {
                    width: 150px;
                }
                .date-posted input {
                    width: 70px;
                }
                .note {
                    padding-right: 0;
                    width: 60px;
                    .note-field {
                        display: none;
                    }
                    a {
                        display: inline-block;
                    }
                    a.row-btn {
                        border-bottom: 0;
                        float: right;
                        margin: 5px 0 0 8px;
                    }
                }

                thead { 
                    border-bottom: 1px solid #ccc;
                    width: 678px; 

                    th {
                        text-transform: uppercase;

                        span {
                            color: #999;
                            font-style: italic;
                            text-transform: none;
                        }
                    }
                }
                tfoot {
                    border-bottom: 1px solid #ccc;

                    td {
                        font-size: .9em;
                        padding-bottom: 10px;
                        padding-top: 10px;
                    }
                }
            }
            .form-actions {
                padding: 15px 0 0;

                a {
                    margin: 7px 20px 0 0;
                    display: block;
                    float: left;
                    vertical-align: middle;
                }
                #save-btn {
                    height: 32px;
                    width: 99px;
                    border: 0 none;
                    margin: 0 20px 0 0;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    white-space: nowrap;
                    display: block;
                    float: left;
                    vertical-align: middle;
                }

                &::after {
                    display: block;
                    content: " ";
                    clear: both;
                }
            }
        }
    }

    &#screen-images {
        table.unscreened {
            margin: 20px 0;
            padding: 0;
            table-layout: fixed;
            overflow: hidden;
            width: 100%;
            text-align: center;

            tr.header {
                height: 20px;
                th {
                    padding-bottom: 10px;
                }
            }
            tr {
                height: 128px;
                vertical-align: top;
            }

            th.approval, td.approval {
                width: 150px;
                overflow: hidden;

                input {
                    width: 20px;
                }

                li {
                    float: left;
                    label {
                        width: 60px;
                  }
                }
            }
            th.thumb, td.thumb {
                width: 138px;
            }

        }

        div.form-control {
            margin: 0 30px;
        }
    }
}

/* Begin media queries styles for PlantShare. */

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body.plantshare {
        .box {
            width: $smallscreen-portrait-box-width;
    }
    .content form {
        label, input, textarea {
            width: $smallscreen-portrait-form-el-width;
        }
    }
}
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    body.plantshare {
        .box {
            width: $smallscreen-landscape-box-width;
    }
}
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body.plantshare {
        #main .box {
            padding: 0;
            > * {
                padding-left: $section-padding;
                padding-right: $section-padding;
        }
        > table {
            margin-left: $section-padding;
            width: 90%;
        }
    }
    .content #sidebar {
        background: none;
        border: 0;
    }
    &#plantshare .sign-up-call {
        width: auto;
        ul {
            margin-left: 0;
        }
    }
    &#plantshare .notification {
        width: auto;
        ul {
            margin-left: 0;
        }
    }
    &.sighting form {
        fieldset {
            width: auto;
        }
        .location {
            img {
                display: block;
                float: none;
                margin-bottom: 10px;
                }
            }
        }
        &#profile .info.box {
            img {
                padding: $section-padding;
            }
        }
        &#sign-up {
            #main form input {
                width: 290px;
            }
        }
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
}

@media only print {
    body.plantshare {
        background: white;
        header, footer {
            display: none;
        }
        div#sidebar { 
            display: none;
        }

    }
    #checklist {
        background: white;

        div#main {
            width: 100%;
            padding: 0;

            h1 {
                color: black;
                font-weight: bold;
            }

            div.ps-section {
                width: 100%;
                color: black;

                table#checklist-detail {
                    width: 100%;
                    border: 1px solid black;
                    border-collapse: collapse;
                    background-color: white;

                    .name { width: 25%; }
                    .image { 
                        width: 40px; 
                        text-align: center;
                    }
                    .date-sighted { width: 10%; }
                    .location { width: 10%; }
                    .date-posted { width: 10%; }
                    .note { width: 35%; }

                    td, th {
                        border: 1px solid black;
                        padding: 5px;
                    }
                    tr {
                        background-color: white;
                    }
                    thead {
                        width: 100%;
                        display: table-header-group;
                        border-bottom: 2px solid black;
                    }
                    tbody {
                        width: 100%;
                        display: table-row-group;
                        border-bottom: 2px solid black;

                        tr {
                            height: 80px;
                        }
                    }

                    td.note a { display: none; }
                    td.note div.note-text { display: block; }
                }
            }

        }
    }
}

/* End media queries styles for PlantShare */
