/* PlantShare */

$form-field-padding: 5px;
$form-field-width: 350px;
$section-padding: 16px;

@mixin form-field-base {
    border: 1px solid $border-green;
    padding: $form-field-padding;
    width: $form-field-width;
}

body.plantshare {
    .content form {
        p {
            margin: 0;
        }
        label {
            display: block;
            margin-bottom: 4px;
            text-transform: uppercase;
            width: $form-field-width;
        }
        input {
            font-family: $body-font;
            height: 16px;
            margin-bottom: 10px;
            @include form-field-base;
        }
        textarea {
            font-family: $body-font;
            height: 72px;
            @include form-field-base;
        }
    }
    .box {
        background-color: #fff;
        border: 1px solid $border-green;
        padding: 4px $section-padding;
        table {
            margin: $section-padding 0 12px;
            width: 100%;
            tr:nth-child(odd) {
                background-color: $light-green;
            }
            th, td {
                padding: 6px 8px;
            }
            th {
                font-weight: normal;
                text-align: left;
                width: 33%;
            }
        }
    }
    form.login {
        padding: 0 $section-padding $section-padding;
        label {
            font-size: 10px;
        }
        input {
            border-color: $link-green;
            max-width: 300px;
            width: 95%;
            &.button {
                background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -169px -231px;
                border: 0;
                height: 32px;
                width: 99px;
                @include offscreen;
                &:hover {
                    background-position: -169px -265px;
                }
                &:active {
                    background-position: -169px -299px;
                }
            }
        }
    }
    .sign-up-call {
        width: 475px;
        ul {
            line-height: 18px;
            list-style-position: inside;
            margin: 10px 0 0 24px;
        }
        a {
            background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat 0 -3px;
            height: 41px;
            margin: 12px auto;
            width: 244px;
            @include offscreen;
            &:hover {
                background-position: 0 -88px;
            }
            &:active {
                background-position: 0 -46px;
            }            
        }
    }
    .profile {
        width: 471px;
        h2 {
            float: left;
        }
        a.edit {
            display: block;
            float: right;
            padding-top: 12px;
        }
        h3 {
            font-size: 18px;
        }
        div {
            clear: left;
            height: 84px;
        }
        img {
            display: block;
            float: left;
            margin-right: $section-padding;
        }
        table {
            clear: left;
        }
    }
    &#sign-up #main {
        form input {
            width: 350px;
            &.button {
                background: transparent url(../images/layout/plantshare-btns.png) no-repeat -1px -359px;
                border: 0;
                height: 41px;
                margin-top: 12px;
                width: 244px;
                @include offscreen;
                &:hover {
                    background-position: -1px -402px;
                }
                &:active {
                    background-position: -1px -444px;
                }
            }
        }
    }
    &#log-in {
        h1 + p {
            font-family: $headings-font;
            font-size: 14px;
            margin: 0;
            padding: $section-padding 0;
        }
        ul.errorlist {
            padding: $section-padding 0;
        }
        form.login {
            padding-left: 0;
            label {
                font-size: 12px;
            }
            input {
                border-color: $border-green;
            }
        }
    }
    &#new-sighting {
        h1 + div {
            background: #fff;
            border: 1px solid $border-green;
            margin-bottom: $section-padding;
            padding: 5px $section-padding;
        }
    }
    &.sighting {
        form {
            label {
                text-transform: none;
            }
            fieldset {
                border: 0;
                margin: 0 0 $section-padding;
                padding: 0;
                width: $form-field-width + 184px;
                legend {
                    @include offscreen;
                }
            }
            img {
                border: 1px solid $border-green;
                float: right;
            }
            .post-sighting-btn {
                background: transparent url(/static/images/layout/plantshare2-btn.png) no-repeat -372px -634px;
                border: 0 none;
                display: block;
                width: 157px;
                height: 32px;
                text-indent: -9999px;
                &.inactive {
                    background-position: -372px -599px;
                }
            }                
        }
    }
    &#profile {
        .info-section, .location-section {
            min-height: 140px;
            .info.box {
                min-height: 160px;
                padding: 0 0 5px 0;
                .avatar {
                    margin-right: 15px;
                    padding: 0;
                    float: left;
                    width: 170px;

                    img {
                        border: 0;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                    }
                }
                .map-thumbnail {
                    float: left;
                    margin: 0 15px 0 0;
                    padding: 0;
                }
                table {
                    margin: 10px 0 0 0;
                    padding: 0;
                    width: 70%;

                    td {
                        padding: 5px 10px;
                    }

                    td.first {
                        line-height: 170%;
                        padding-left: 15px;
                        vertical-align: baseline;
                        width: 25%;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .display {
                        .group-list, .coords-list {
                            float: left;
                        }
                        .edit-link {
                            float: right;
                        }
                        ul {
                            list-style: none;
                        }
                    }

                    .edit {
                        display: none;
                    }
                }
            }
        }
    }
    &#profile {
        .info-section {
            margin: 20px 0;
            .info.box {
                margin: 20px 0;
                padding: 10px 15px 20px;
                table {
                    margin: 0;
                }
            }
        }
    }
    #sidebar {
        #login.box {
            background-color: $login-box-background-color;
            border-color: $link-green;
            padding: 0;
            h4 {
                font-size: 20px;
                padding: $section-padding $section-padding 10px;
            }
            div {
                border-top: 1px solid $link-green;
                padding: $section-padding;
            }
        }
    }
}

/* Begin media queries styles for PlantShare. */

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body.plantshare {
        .box {
            width: $smallscreen-portrait-box-width;
        }
        .content form {
            label, input, textarea {
                width: $smallscreen-portrait-box-width - 10px;
            }
        }
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    body.plantshare {
        .box {
            width: $smallscreen-landscape-box-width;
        }
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body.plantshare {
        #main .box {
            padding: 0;
            > * {
                padding-left: $section-padding;
                padding-right: $section-padding;
            }
            > table {
                margin-left: $section-padding;
                width: 90%;
            }
        }
        .content #sidebar {
            background: none;
            border: 0;
        }
        &#plantshare .sign-up-call {
            width: auto;
            ul {
                margin-left: 0;
            }
        }
        &.sighting form {
            fieldset {
                width: auto;
            }
            .location {
                img {
                    display: block;
                    float: none;
                    margin-bottom: 10px;
                }
            }
        }
        &#profile .info.box {
            img {
                padding: $section-padding;
            }
        }
        &#sign-up {
            #main form input {
                width: 290px;
            }
        }
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
}

/* End media queries styles for PlantShare */
