.modal-wrap {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.modal-wrap .inner {
    background: #fff;
    padding: 0 0 20px 0;
    h4.heading, h3.heading {
        margin: 0;
        padding: 24px 0 0 1.5em;
    }
    h4.heading {
        font-size: 18px;
    }
    h3.heading {
        margin-left: 305px;
    }
    p {
        font-size: 12px;
        margin: 0;
        padding: 4px 20px 0;
    }
}
.modal-wrap #choices {
    padding: 10px 20px 0 20px;
    ul {
        list-style-type: none;
    }
    li {
        margin: 0 0 14px;
    }
}
.modal-wrap #plant-details {
    padding: 10px 10px 0 60px;
}
.modal-wrap .list-item {
    border-top: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    h4 {
        color: $medium-brown;
    }
    p {
        padding: 0 0 7px 0;
    }
    .details {
        float: left;
        margin: 0 0 0 10px;
        width: 560px;
    }
}
.modal-wrap .img-gallery {
    @include user-select(none);
    margin-top: 14px;
}
.modal-wrap a {
    &.go-to-species-page {
        margin: 2em 0 0;
        width: 170px;
    }
}
