/* Begin global media queries styles.
 *
 * So far there are three sections for smartphones (two fixed-width layouts
 * to cover portrait and landscape orientations, with a section common to
 * both orientations) and some additional styles for tablets. Using
 * fixed-width layouts allows some pages to have a wider central content
 * area for now.
 * Various SASS "partials" (_home.scss, _help.scss, etc.) have their
 * own media queries arranged like the ones below. Think of those as
 * modular extensions to these. */

$search-suggest-menu-top: 83px;

@mixin nav-current-section {
    background-color: $smallscreen-current-section-color;
    color: #000;
}

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body, header .container, .content .container, footer .container {
        width: $smallscreen-portrait-width;
    }
    body {
        padding-top: 110px;
        header nav > a {
            width: 19px;
            span {
                display: none;
            }
        }
        #nav {
            left: 40px;
            width: 310px;
        }
        .content {
            #main {
                width: 304px;
            }
            #sidebar {
                float: none;
                width: $smallscreen-portrait-box-width;
            }
        }
        footer .navigation .prime-items li {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    html {
        -webkit-text-size-adjust: none;
    }
    body {
        padding-top: 75px;
    }
    body, header .container, .content .container, footer .container {
        width: $smallscreen-landscape-width;
    }
    header nav > a {
        width: 80px;
        span {
            font-size: 14px;
            line-height: 160%;
            padding-left: 23px;
            position: absolute;
        }
    }
    .content {
        #main {
            width: 464px;
        }
        #sidebar {
            width: $smallscreen-landscape-box-width;
        }
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 0;
        &#home {
            header nav #search-suggest .menu {
                top: $search-suggest-menu-top;
            }
            footer .navigation ul.sections li.home a {
                @include nav-current-section;
            }
        }
        &.simple {
            footer .navigation ul.sections li.simple a {
                @include nav-current-section;
            }
        }
        &.plantshare {
            footer .navigation ul.sections li.plantshare a {
                @include nav-current-section;
            }
        }
        &.full {
            footer .navigation ul.sections li.full a {
                @include nav-current-section;
            }
        }
        &.dkey {
            footer .navigation ul.sections li.dkey a {
                @include nav-current-section;
            }
        }
        &.teaching {
            footer .navigation ul.sections li.teaching a {
                @include nav-current-section;
            }
        }
        &.help {
            footer .navigation ul.sections li.help a {
                @include nav-current-section;
            }
        }
    }
    #breadcrumb {
        font-size: 11px;
        margin: 6px 0;
        li {
            display: inline-block;
            height: 32px;
            list-style-type: none;
            margin: 0 2px 0 0;
        }
        .label, .this-page {
            display: none;  /* Hide 'You are Here' and current page title */
        }
        a {
            display: inline-block;
            padding: 6px 0;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            &:hover {
                text-decoration: none;
            }
            &:active {
                background: $link-green;
                color: #fff;
            }
        }
    }
    h1 {
        font-size: 18px;
        margin: 6px 0;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    header {
        height: 90px;
        nav {
            background: $navbar-color;
            clear: left;
            height: 32px;
            padding: 0;
            > a {
                background: $nav-button-color url(/static/images/icons/menu-icon.png) 7px 5px no-repeat;
                border: 1px solid $nav-button-color;
                display: inline-block;
                font-size: 30px;
                height: 24px;
                line-height: 68%;
                margin: 3px 0 0 4px;
                padding: 0 2px 0 7px;
                position: relative;
                @include border-radius(5px);
            }
            #search {
                margin-top: 6px;
                padding-left: 10px;
            }
            > ul {
                display: none;  /* will use bottom navigation instead of top */
            }
            #search-suggest .menu {
                top: $search-suggest-menu-top;
            }
        }
        p.go-botany {
            margin: 0;
            padding: 0;
            width: auto;
            a {
                height: 56px;
                width: 170px;
            }
        }
        p.newfs a {
            background-size: 100px 55px;
            float: right;
            height: 55px;
            width: 101px;
        }
        .container {
            padding: 0;
        }
    }
    footer {
        height: auto;
        margin: 14px 0 0;
        > img {
            display: none;
        }
        .container {
            height: auto;
            padding: 0;
             div {
                width: auto;
            }
        }
        div div {
            height: auto;
        }
        p {
            margin: 0;
        }
        a {
            font-size: 11px;
        }
        .publisher, .navigation {
            float: none;
            margin: 0;
            padding: 0;
        }
        .publisher {
            margin: 14px 0 0;
            padding: 12px $smallscreen-margin 10px;
        }
        .navigation {
            h6:first-child {
                padding: $smallscreen-margin 0 $smallscreen-margin 14px;
            }
            > ul.sections {
                li {
                    display: block;
                    margin: 0 0 1px 0;
                    &:after {
                        content: none;
                    }
                    a {
                        background: $link-green;
                        color: #fff;
                        display: block;
                        font-family: $headings-font;
                        font-size: 14px;
                        padding: 14px 14px;
                        position: relative;
                        text-decoration: none;
                        &[href] {
                            color: #fff;
                            &:after {
                                content: " >";
                                font-weight: bold;
                                position: absolute;
                                right: 14px;
                            }
                        }
                    }
                }
                + h6 {   /* "Legal:" label */
                    display: none;
                }
            }
            > h6:nth-of-type(2) {
                margin: 14px 14px 4px 71px;
                &:after {
                    content: ":";
                }
            }
            > h6:nth-of-type(2), > ul.prime-items {
                display: inline-block;
                margin-left: 72px;
                margin-top: 12px;
            }
            .prime-items {
                li {
                    margin-right: 32px;
                }
                li:after {
                    content: none;
                }
            }
        }
        .support {
            height: 63px;
            margin: 14px 0 0;
            padding: 0;
            img {
                padding-bottom: 6px;
            }
        }
    }
    .content {
        padding: 0;
        .container {
            padding: 0;
        }
        #main {
            background: none;
            float: none;
            min-height: inherit;
            padding-bottom: 14px;
            padding-left: 0;
            @include smallscreen-side-margins;
            .smallscreen-anchor-nav {
                display: block;
                padding: 8px 0 16px;
                a {
                    font-family: $headings-font;
                    font-size: 14px;
                    padding: 8px 0;
                    text-decoration: underline;
                }
            }
        }
        #sidebar {
            background: #fff;
            border: 1px solid $border-green;
            clear: left;
            height: auto;
            @include smallscreen-side-margins;
            .section {
                padding-bottom: $sidebar-box-vertical-padding;
            }
        }
    }
    .gb-tooltip {
        width: 200px;
    }

    /* Advanced ID placeholder page: delete after tools release */
    #advanced-id #main {
        .dk-landing-section {
            height: auto;
            margin-top: 14px;
            padding: 0;
            width: auto;
            > a {
                margin-left: 16px;
                position: static;
            }
            &:first-of-type {
                border-right: 0;
                height: auto;
                margin-right: 0;
                margin-top: 0;
                width: auto;
            }
        }
        a.go-dichkey-btn {
            margin-bottom: 14px;
        }
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
    /* Currently there are no global styles here in this category, but
     * there are some elsewhere for various parts of the site. */
}

/* End global media queries styles */
