/* Begin global media queries styles.
 *
 * So far there are three sections for smartphones (two fixed-width layouts
 * to cover portrait and landscape orientations, with a section common to
 * both orientations) and some additional styles for tablets. Using
 * fixed-width layouts allows some pages to have a wider central content
 * area for now.
 * Various SASS "partials" (_home.scss, _help.scss, etc.) have their
 * own media queries arranged like the ones below. Think of those as
 * modular extensions to these. */

$search-suggest-menu-top: 83px;

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body, header .container,
    .content .container {
        width: $smallscreen-portrait-width;
    }
    body {
        padding-top: 110px;
    }
    header #search form {
        width: 242px;
    }
    header nav #search input {
        width: 192px;
    }
    /*
    #search-suggest + div {
        width: 232px !important;
        li {
            width: 226px;
        }
    }
    */
    #nav {
        left: 40px;
        width: 310px;
    }
    .content {
        #main {
            width: 304px;
        }
        #sidebar {
            float: none;
            width: $smallscreen-portrait-box-width;
        }
    }
    .footer__container {
        width: $smallscreen-portrait-width;
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    html {
        -webkit-text-size-adjust: none;
    }
    body {
        padding-top: 75px;
    }
    body, header .container, .content .container {
        width: $smallscreen-landscape-width;
    }
    .content #main {
        width: 464px;
    }
    .content #sidebar {
        width: $smallscreen-landscape-box-width;
    }
    .footer__container {
        width: $smallscreen-landscape-width;
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 0;
    }
    body#home {
        header nav #search-suggest .menu {
            top: $search-suggest-menu-top;
        }
    }
    #breadcrumb {
        font-size: 11px;
        margin: 6px 0;
        li {
            display: inline-block;
            height: 32px;
            list-style-type: none;
            margin: 0 2px 0 0;
        }
        .label, .this-page {
            display: none;  /* Hide 'You are Here' and current page title */
        }
        a {
            display: inline-block;
            padding: 6px 0;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            background: $link-green;
            color: #fff;
        }
    }
    h1 {
        font-size: 18px;
        margin: 6px 0;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    header {
        height: 90px;
    }
    header nav {
        background: $navbar-color;
        border-radius: 0;
        clear: left;
        height: 32px;
        padding: 0;
        > a {
            background: $nav-button-color;
            border: 1px solid $nav-button-color;
            border-radius: 0.3em;
            display: inline-block;
            font-size: 1.2em;
            margin: 0 0.5em;
            padding: 0.2em 1em;
        }
        #search {
            margin-left: 0.5em;
        }
        > ul {
            display: none;  /* will use bottom navigation instead of top */
        }
        #search-suggest .menu {
            top: $search-suggest-menu-top;
        }
    }
    header p.go-botany {
        margin: 0;
        padding: 0.7em 0 0.4em 8px;
        width: auto;
        a {
            background-size: 100px 42px;
            width: 100px;
        }
        .tagline {
            bottom: 0.8em;
            display: block;
            font-size: 0.8em;
            left: 12em;
            line-height: 120%;
            margin: 0;
            padding: 0;
        }
    }
    header .container {
        padding: 0;
    }

    .content {
        padding: 0;
    }
    .content .container {
        padding: 0;
    }
    .content #main {
        background: none;
        float: none;
        min-height: inherit;
        padding-bottom: 14px;
        padding-left: 0;
        @include smallscreen-side-margins;
        .smallscreen-anchor-nav {
            display: block;
            padding: 8px 0 16px;
        }
        .smallscreen-anchor-nav a {
            font-family: $headings-font;
            font-size: 14px;
            padding: 8px 0;
            text-decoration: underline;
        }
    }
    .content #sidebar {
        background: #fff;
        border: 1px solid $border-green;
        clear: left;
        height: auto;
        @include smallscreen-side-margins;
        .section {
            padding-bottom: $sidebar-box-vertical-padding;
        }
    }

    .footer {
        box-shadow: none;
        height: auto;
        margin: 14px 1em 0;
    }
    .footer__container {
        display: block;
        height: auto;
        padding: 0;
    }
    .footer__site-name {
        margin-left: 14px;
    }
    .footer__publisher,
    .footer__navigation {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .footer__publisher {
        margin: 14px 0 0 6px;
        padding: 12px $smallscreen-margin 10px;
    }
    .footer__navigation {
        padding-left: 0;
    }
    .footer__navigation-list-item {
        display: block;
        margin: 0 0 1px 0;
    }
    .footer__navigation-list--primary .footer__navigation-list-item a { // 'a' here is bending the rules of BEM
        background: $navbar-color;
        color: #fff;
        display: block;
        font-family: $headings-font;
        font-size: 14px;
        padding: 14px 14px;
        position: relative;
        text-decoration: none;
    }
    .footer__navigation-list--primary .footer__navigation-list-item a[href] { // 'a' here is bending the rules of BEM
        color: #fff;
    }
    .footer__navigation-list--primary .footer__navigation-list-item a[href]:after { // 'a' here is bending the rules of BEM
        border-color: #ccc;
        border-style: solid;
        border-width: 3px 3px 0 0;
        content: " \a0";
        display: inline-block;
        height: 6px;
        position: absolute;
        right: 14px;
        top: 16px;
        vertical-align: middle;
        width: 6px;
        @include rotate(45deg);
    }
    .footer__navigation-list-item::after {
        content: none;
    }
    .footer__navigation-list--secondary {
        display: inline-block;
        margin-top: 12px;
        text-align: center;
        width: 100%;
    }
    .footer__navigation-list--secondary .footer__navigation-list-item {
        display: inline;
        font-size: 11px;
        line-height: 14px;
        margin: 0 0.5em;
    }
    .footer__navigation-list--secondary .footer__navigation-list-item:after {
        content: none;
    }
    .footer__support {
        height: 63px;
        margin: 14px 1em 0;
        padding: 0;
        width: auto;
    }
    .footer__nsf-logo {
        margin: 0.5em 1em;
        padding-bottom: 6px;
    }
    .footer__nsf-note {
        padding-right: 12px;
        padding-top: 4px;
    }
    /* Footer navigation: current section, page */
    @mixin footer-nav-current-section {
        background-color: $smallscreen-current-section-color;
        color: #000;
        &::after {
            border-color: #666;
        }
    }
    body#home .footer__navigation-list-item.home a { // '.home' and 'a' bend the rules of BEM
        @include footer-nav-current-section;
    }
    body.simple .footer__navigation-list-item.simple a {
        @include footer-nav-current-section;
    }
    body.plantshare .footer__navigation-list-item.plantshare a {
        @include footer-nav-current-section;
    }
    body.full .footer__navigation-list-item.full a {
        @include footer-nav-current-section;
    }
    body.dkey .footer__navigation-list-item.dkey a {
        @include footer-nav-current-section;
    }
    body.teaching .footer__navigation-list-item.teaching a {
        @include footer-nav-current-section;
    }
    body.help .footer__navigation-list-item.help a {
        @include footer-nav-current-section;
    }

    .gb-tooltip {
        width: 200px;
    }

    #sb-overlay {
        /* Fix: make the Shadowbox overlay cover the entire background
         * on small screens in iOS. */
        height: 120%;
    }
    #sb-wrapper {
        /* Move the Shadowbox image as far as possible to the top of
         * the screen on small screens, so there is room for the
         * navigation controls at bottom. */
        margin-top: -55px;
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
    table {
        border-collapse: collapse;
    }
}

/* End global media queries styles */
