/* Styles for taxa (family, genus, species) pages */

$species-sidebar-margin: 250px;
    
@mixin taxa-list {
    font-size: 14px;
    list-style: none;
    li {
        margin: 0 0 5px 0;
    }
}

@mixin family-genus-subheading {
    clear: left;
    font-size: 18px;
    padding-top: 30px;
}

.text-dialog-content {
    p {
        font-size: 11px !important;
    }
}

body.taxa {
    @include shadowbox-photo-titles-credits;
}
body.taxa #main {
    ol, ul {
        line-height: inherit;
    }
    .common {
        color: $medium-brown;
        font-family: Basetica, $headings-font;
        font-size: 1.6rem;
        margin: 1.6rem 0;
    }
}
#body.taxa .frame {
    cursor: pointer;
}

body.taxa .visit-dkey {
    margin-top: 36px;
    a {
        margin-left: 4px;
    }
}

/* For family and genus pages */
body.taxa .pics {
    margin-top: 20px;
    div {
        float: left;
        margin-right: 20px;
    }
    p {
        display: inline-block;
        float: left;
        font-size: 14px;
    }
}
body.taxa img.zoom {
    display: inline-block;
    float: right;
}

body#family {
    h2 {
        @include family-genus-subheading;
    }
    ul.genera {
        @include taxa-list;
    }
}
body#genus {
    h2 {
        @include family-genus-subheading;
    }
    ul.species {
        @include taxa-list;
    }
    p.family {
        font-size: 14px;
        margin: 0;
    }
}

body#species #main {
    background: url(/static/images/layout/sidebar-bg.png) repeat-y;
}
body.taxa #main .common {
    font-family: Basetica, $headings-font;
    font-size: 1.6rem;
    margin: 1.6rem 0;
}
body#species #main {
    /* layout: right-side content sections */
    #breadcrumb, #name, .img-gallery, #images-note, #partner,
    #facts, #habitat, #chars, #wetland, #status, #info-dkey {
        clear: left;
        margin-left: $species-sidebar-margin;
    }
}

/* left-side content sections */
body#species .section {
    padding: 16px 16px 0;
    width: 197px;
    h4 {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    p {
        margin-bottom: 0;
    }
}
body#species #maps, body#species #side {
    position: absolute;
    h2 {
        font-size: 15px;
        margin: 0 0 4px 0;
    }
}
body#species #maps {
    border-top: 1px solid $border-green;
    top: 128px;
}
body#species .namap {
    padding-top: 0;
}
body#species .definitions-link {
    background-image: url(/static/images/icons/icon-info.png);
    background-position: 0px 1px;
    background-repeat: no-repeat;
    background-size: auto 12px;
    clear: left;
    display: inline-block;
    font-size: 12px;
    margin: 4px 0 8px;
    padding: 0 0 0 15px;
}
body#species .found-plant {
    background-color: $body_bg;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;
}
/* space maps enough away from text atop them */
body#species #main .nemap h2 + p, body#species #main .namap h2 + p {
    margin: 0;
    padding-bottom: 8px;
}

body#species #side {
    top: 780px;   /* remaining side content is positioned
                     further down to leave room for maps
                     in full-width layout */
}
body#species #side dt, body#species #side dd {
    display: inline-block;
}
body#species #side .lookalikes {
    dl {
        line-height: 20px;
        margin: 0;
    }
    dt {
        font-weight: bold;
        margin: 2px 0;
        display: block;
    }
    dd {
        margin: 0 0 6px 0;
    }
}
body#species #side .help {
    float: left;
    line-height: 28px;
    margin-right: 12px;
}
body#species #side .get-help-btn {
    margin: 0 0 0 90px;
}
body#species #side li {
    line-height: 16px;
    list-style-type: none;
}
body#species #side a {
    margin-left: 0;
}

body#species #main {
    h1 {
        span.origin {
            font-size: 14px;
            line-height: 100%;
        }
    }
    h3 + p {
        margin-top: 10px;
    }
    h5 {
        font-size: 16px;
        padding-top: 3px;
    }
    p {
        margin: 0 0 15px;
    }
}

body#species {
    #sb-player {
        &.html {
            background: #fff;
            overflow: hidden;  /* Get rid of vertical scrollbar in WebKit
                                * on enlarged N. America dist. map. */
            padding: 0 5px 5px;
        }
        #na-dist-county-map {
            background: #fff;
            height: 100%;
            width: 100%;
        }
    }
}
body#species {
    a.description-control {
        background: url(/static/images/icons/plus.png) left 50% no-repeat;
        display: block;
        margin: 10px 0 12px 0;
        padding: 3px 0 3px 25px;
        &.expanded {
            background: url(/static/images/icons/minus.png) left 50% no-repeat;
        }
    }
}
body#species ul.full-description {
    background: #fbfbf8;
    border: 1px solid #e1e1dc;
    display: none;
    margin: 0 0 15px 0;
}
body#species ul.full-description > li {
    border-bottom: 1px solid #e1e1dc;
    clear: left;
    display: block;
    padding: 18px;
    margin: 0 0 0 0;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: #fff;
    }
    h5 {
        background: url(/static/images/icons/plus.png) left 50% no-repeat;
        cursor: pointer;
        padding-left: 28px;
        &.expanded {
            background: url(/static/images/icons/minus.png) left 50% no-repeat;
        }
    }
    div {
        display: none;
        padding-left: 28px;
    }
}

body#species a {
    &.enlarge {
        display: block;
        margin: 0 0 8px 0;
        &:hover {
            text-decoration: none;
        }
        img {
            vertical-align: middle;
        }
    }
    &.more {
        cursor: pointer;
    }
}

/* Larger gallery styles */
body#species .img-gallery {
    float: none;
    margin: 0 0 0 0;
    width: 710px;
    .img-container {
        height: 257px;
        width: 710px;
    }
    .frame {
        height: 239px;
        width: 700px;
    }
    .images {
        .single-img {
            float: left;
            position: relative;
        }
        img {
            float: none;
        }
    }
    p.caption {
        bottom: -22px;
        margin: 0 0 0 0;
        position: absolute;
        right: 0;
    }
}
body#species .controls {
    position: relative;
    span {
        position: relative;
        top: -22px;
    }
}
/* Smooth Div Scroll image area */
body#species #species-images {
    border: 5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    height: 239px;
    margin: 0 0 8px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 700px;
    z-index: 100;
    .scrollableArea a {
        border-right: 5px solid #fff;
        float: left;
        margin: 0;
        padding: 0;
    }
}
body#species #images-note {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 0;
    margin-top: 0;
}

/* Begin media queries styles for taxa pages. */

$mini-table-font-size: 10px;

/* Portrait-orientation styles */
@media only screen and (max-width: 400px) {
    body#species {
        #species-images {
            width: 304px;
        }
        #sidebar {
            padding-bottom: 30px;
        }
        #maps {
            margin-left: 36px;
            width: 200px;
        }
    }
}
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    body#species #main {
        #species-images {
            width: 462px;
        }
        #sidebar {
            margin-bottom: 14px;
            padding-bottom: 14px;
        }
        #maps {
            height: 435px;
            width: 428px;
        }
        #maps .nemap {
            float: left;
            > p {
                width: 200px;
            }
        }
        #maps .namap {
            float: right;
        }
    }
}
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) {
    body.taxa #main {
        padding-bottom: 8px;
        h1 {
            margin-bottom: 0;
        }
        .common {
            font-size: 16px;
            margin: 6px 0 12px;
        }
    }
    body#family, body#genus {
        #main p.description {
            margin: 4px 0;
        }
        #main h2 {
            font-size: 15px;
            padding-top: 12px;
        }
    }
    body#family ul.genera, body#genus ul.species {
        line-height: 24px;
        margin-bottom: 18px;
    }
    .visit-dkey {
        font-size: $base-font-size;
    }
    body#species #main {
        background: none;

        /* layout for smartphones: sections in document sequence */
        #breadcrumb, #name, .img-gallery, #partner, #facts,
        #habitat, #chars, #wetland, #status, #info-dkey {
            margin-left: 0;
        }
        .img-gallery {
            margin-bottom: 20px;
        }
    }
    body#species #main {
        /* omit images notice on smartphones, as it takes up two
           lines there of an already small space */
        #images-note {
            display: none;
        }
        h2 {
            margin-top: 14px;
            line-height: 18px;
        }
        .section {
            padding: 0;
            width: auto;
            &.help {
                display: none;
            }
        }
    }
    body#species #main {
        #maps, #side {
            position: static;
        }
        #maps h2, #side h2 {
            margin: 8px 0;
        }
        #maps {
            background: #fff;
            border: 1px solid $border-green;
            padding-left: 16px;
            padding-right: 16px;
            z-index: 10;
        }
        .definitions-link, .found-plant {
            font-size: 10px;
            line-height: 14px;
        }
        #side h2 {
            font-size: 16px;
            margin-top: 14px;
        }
    }
    body#species #main #species-images {
        .scrollableArea a {
            border-right: 20px solid $body_bg;
            img {
                height: 120px;
                width: 120px;
            }
        }
    }
    body#species #main #species-images,
    body#species #main .img-gallery .frame {
        border: 0;
        box-shadow: none;
    }
    body#species #main #species-images,
    body#species #main .img-gallery .frame,
    body#species #main .img-gallery .img-container {
        height: 120px;
    }
    body#species #main {
        p {
            margin-bottom: 10px;
        }
        ul.full-description > li div {
            padding-left: 0;
        }
    }
    body#species #main .characteristics {
        &.full {
            margin-bottom: 0;
        }
        dl {
            dt {
                clear: none;
                float: none;
                text-align: left;
                width: auto;
            }
            dd {
                margin-left: auto;
                padding-left: 28px;
            }
        }
    }
    body#species #main .visit-dkey {
        margin: 14px 0;
        a {
            clear: left;
            display: inline-block;
        }
    }
}
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) {
}

/* End media queries styles for taxa pages */
