/* Quick informal CSS for the edit pages. */

@import "_mixins";

$highlight: lighten($body_bg, 10);

.edit-page #all {
    margin: 2em;
}
.edit-character-definition {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0;
}

.pile-character-grid {
    position: relative;

    .column {
        z-index: -1;
        position: absolute;
        background-color: $highlight;
    }

    div:hover {
        background-color: $highlight;
        span { /* "expand" arrow */
            visibility: visible;
        }
    }

    i {
        display: inline-block;
        width: 16em;
    }
    span { /* "expand" arrow */
        cursor: pointer;
        visibility: hidden;
        position: relative;
        bottom: 2px;
        margin-right: 2px;
        background-color: $orange1;
        padding: 2px 8px 4px;
        color: white;
        font-size: 0.8em;
    }
    b {
        display: inline-block;
        border: 0px solid $orange1;
        padding: 4px 2px;
        cursor: pointer;
    }
    b.x {
        background-color: $text_green;
        color: white;
    }
}

.pile-character-bigrow {
    border-top: 1px solid $text_green;
    border-bottom: 1px solid $text_green;
    background-color: $body_bg;

    i {
        position: relative;
        display: inline-block;
        font-weight: bold;
        margin-left: -20em;
        width: 20em;
        span { /* drop-down arrow */
            position: absolute;
            right: 0;
            font-style: normal;
        }
    }
    div {
        padding-left: 20em;
    }
    b {
        display: inline-block;
        padding: 0px 2px;
    }
    b.spacer {
        visibility: hidden;
    }
}

.value_tip {
    display: none;
    position: absolute;
    padding: 0.5em;
    background-color: $highlight;
    border: 2px solid $orange1;
    @include border-radius(1em);
    @include single-box-shadow(darken($body_bg, 30), 0px, 1px, 4px);
}
