/* Quick informal CSS for the edit pages. */

@import "_mixins";

$highlight: lighten($body_bg, 10);

.edit-page #all {
    margin: 2em;
}
.edit-character-definition {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0;
}

span.all-species-button, span.simple-key-button, .save-button {
    @extend .orange-button;
    cursor: pointer;
    display: inline-block;
    margin: 0.8em 1em;
    font-weight: normal;
}

.pile-character-grid {
    position: relative;
    margin-top: 2em;

    .column {
        z-index: -1;
        position: absolute;
        background-color: $highlight;
    }

    h3 {
        background-color: $orange5 * 0.6 + $body_bg * 0.4;
    }

    div {
        white-space: nowrap;

        &.expanded {
            border-top: 1px solid $text_green;
            border-bottom: 1px solid $text_green;
        }
        &:hover {
            background-color: $highlight;
        }
        &:hover.expanded {
            background-color: transparent;
        }
    }

    /* Editing a single character for many taxa: */

    span {
        margin: 0px 2px;
        background-color: $orange1;
        padding: 2px 8px 4px;
        vertical-align: 2px;
        color: white;
        font-size: 0.8em;
    }
    i {
        position: relative;
        display: inline-block;
        width: 20em;
        padding: 4px 0px;

        .expand-button {
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 2px;
            font-style: normal;
        }
    }
    b {
        cursor: pointer;
        display: inline-block;
        padding: 4px 2px;
        font-weight: normal;

        &.x { background-color: $text_green; color: white; }
        &.highlight { z-index: 2; background-color: $highlight; }
        &.highlight.x { background-color: darken($text_green, 10); }

        &.changed {
            border-style: solid;
            border-color: $orange1;
            border-width: 4px 2px;
            padding: 0;
        }
    }

    /* For editing numeric values. */
    /* http://stackoverflow.com/questions/8669413/ */

    input {
        margin: 4px 2px;
    }
    input.empty {
        background-color: darken($body_bg, 10);
    }
    input.illegal {
        background-color: lighten($orange1, 10);
    }
}

/* Styles specific to editing all characters of a single taxon, kept
   separate here in the hopes of not slowing down the browser when it is
   trying to render a full-out character grid as specified above. */

.taxon-character-grid {

    div {
        clear: both;
    }

    .charactername {
        margin-top: 1em;
        border-top: 1px solid $orange1;
        padding: 4px;
        background-color: darken($body_bg, 5);
        &:hover {
            background-color: darken($body_bg, 5);
        }
    }

    input {
        float: left;
        margin: 4px 8px 4px 2px;
    }

    label {
        cursor: pointer;
        display: block;
        padding: 4px 2px;
        white-space: normal;
    }

    :checked, :checked + label {
        background-color: $text_green;
        color: white;
    }
}

.value-tips div {
    display: none;
    position: absolute;
    padding: 0.5em;
    background-color: $highlight;
    border: 2px solid $orange1;
    @include border-radius(1em);
    @include single-box-shadow(darken($body_bg, 30), 0px, 1px, 4px);
}
