/*! *** Go Botany master styles file ***
 Please edit only the .scss source and use Compass to auto-generate the .css.
 The generated .css is kept in the repository to allow easy deployment.
 */

/* First are some SASS "partials" for external and third-party styles.
 * The goal is to keep all styles in just one deployed CSS file, site.css.
 * Later on in this file, other partials are imported for styles
 * specific to a site feature.
 * A final partial, site-media-queries, is imported last in this file. */

/* Imports for browser baseline, tools */
@import "compass/css3/images";   /* for gradient, etc. */
@import "compass/css3/transform";
@import "compass/typography/links/hover-link";

/* Imports for third-party controls */
@import "shadowbox";
@import "smoothDivScroll";

/* Import for Go Botany common definitions */
@import "common";


/* Site-wide styles */

body {
    background-color: $body_bg;
    color: $text-color;
    font-family: $body-font;
    font-size: $base-font-size;
    margin: 0;
}

html, button, input, select, textarea {
    font-family: $body-font;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
}

a {
    color: $link-green;
    text-decoration: none;
}
a:visited {
    color: $visited-link-color;
}
a:active {
    color: $active-link-color;
}
a:not([href]) {
    color: $text-color;
    &:hover {
        text-decoration: none;
    }
}

#main p a, #main li > a, #main li > i a, #main dt a, #main td a, #main h2 a,
#main h3 a, #main form > a, #main form div > a, #main li li a, #main nav a,
#sidebar form > a, .nemap a {
    border-bottom: 1px solid $link-green;
    &:visited {
        border-bottom: 1px solid $visited-link-color;
    }
    &:active {
        border-color: $active-link-color;
    }
    &:not([href]) {
        border: 0;
    }
}
#main td.scientific-name a {
    border-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font;
    font-weight: normal;
    line-height: 120%;
    margin: 0;
    padding: 0;
}
h1 {
    color: $darker-brown;
    font-size: 1.9em;
    font-weight: bold;
    margin: 0.8em 0 0.6em;
}
h2 {
    color: $darker-brown;
    font-size: 1.6em;
    font-weight: bold;
    margin: 1.6em 0 0.8em;
}
h3 {
    color: $darker-brown;
    font-size: 1.25em;
    font-weight: bold;
    margin: 1.6em 0 0.8em;
}
h3.compact {
    margin: 1em 0 0.2em;
}

/* Only h1-h3 used through most of site to avoid very deep structure */

/* h4 is sometimes used in species page Conservation Status section */
h4 {
    color: $darker-brown;
    font-size: 1.15em;
    font-weight: bold;
    margin: 1.6em 0 0.8em;
}

/* TODO: try to eliminate h5, h6 */
h5, h6 {
    color: $darker-brown;
    font-size: $base-font-size;
}
h6 {
    font-style: italic;
}

p {
    line-height: $text-line-height;
    margin: 1em 0;
    padding: 0;
}
ul {
    line-height: $text-line-height;
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 0 5px 0;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearit {
    border: none !important;
    clear: both;
    float: none !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}
.missing-image {
    @include background(linear-gradient(top center, #eaf2e2, #d6e6c5));
    color: #354d1e;
    height: 149px;
    position: relative;
    width: 160px;
}
p.new {
    background: $green-yellow;
    border-radius: 0.25em;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0 0.25em;
}
p.meta {
    font-size: 10px;
    font-style: italic;
    margin: 4px 0;
    + p {
        margin-top: 2px;
    }
}

#main .distribution-character {   /* species code: box, as in printed book */
    margin: 0 0.25em;
    border: 1px solid black;
    padding: 0 0.25em;
    font-size: 1em*14px/16px;
}

/* Navigation highlighting */

/* Global navigation (header) */
body#home {
    header nav li.home::after {
        @include highlight-global-nav-home;
    }
}
body.simple {
    header nav li.simple::after {
        @include highlight-global-nav;
    }
}
body.plantshare {
    header nav li.plantshare::after {
        @include highlight-global-nav;
    }
}
body.full {
    header nav li.full::after {
        @include highlight-global-nav;
    }
}
body.dkey {
    header nav li.dkey::after {
        @include highlight-global-nav;
    }
}
body.teaching {
    header nav li.teaching::after {
        @include highlight-global-nav;
    }
}
body.help {
    header nav li.help::after {
        @include highlight-global-nav;
    }
}

/* Section navigation (sidebar, only in some sections) */
body.help, body.plantshare {
    #sidebar nav {
        /* Place "you are here" marker next to a non-linked item. This is
         * the top level of each sub-section. */
        li a:not([href])::before {
            @include highlight-sidebar-nav-item;
        }
        /* Show future nav. items that do not have a URL yet in gray. */
        li > span {
            color: #ccc;
            padding-left: 10px;
        }
    }
}
/* Always place the "you are here" marker next to the pages in
 * the Updates section, including on the Order by Family page. */
body.help.updates.family #sidebar nav li a[href='/updates/']::before {
    @include highlight-sidebar-nav-item;
}

/* Handle pages beneath subsections so they will have a "you are
 * here" marker. Each of these must be set up individually where
 * needed. */
body.help {
    &#glossary #sidebar .glossary,
    &#fullkey-placeholder #sidebar .advanced-id-tools,
    &#dkey-placeholder #sidebar .advanced-id-tools {
        a::before {
            @include highlight-sidebar-nav-item;
        }
    }
}
body.plantshare {
    &#sightings #sidebar .sightings,
    &#sighting #sidebar .sightings,
    &#edit-sighting #sidebar .manage-sightings,
    &#questions #sidebar .ask,
    &#checklist #sidebar .checklists,
    &#new-checklist #sidebar .checklists,
    &#edit-checklist #sidebar .checklists,
    &#change-password #sidebar .profile,
    &#password-changed #sidebar .profile,
    &#change-email-address #sidebar .profile,
    &#change-email-sent-confirmation #sidebar .profile,
    &#confirm-email #sidebar .profile {
        a::before {
            @include highlight-sidebar-nav-item;
        }
    }
}

/* Header */

header {
    @include container-div;
    p {
        margin: 0;
    }
}
header .go-botany {
    align-items: baseline;
    display: flex;
    margin: 1.4em 0 0.7em;
    padding: 0;
    position: relative;
    z-index: 5;
    a {
        margin-right: 1.2em;
        width: 12.5em;
    }
    img {
        width: 150px;
    }
    .tagline {
        bottom: 0;
        color: $dark-green;
        font-family: Basetica, sans-serif;
        font-size: 1em;
        position: absolute;
        left: 12.8em;
    }
}
header nav {
    align-items: center;
    background-color: #17555b;
    border-radius: 2em;
    display: flex;
    font-family: $headings-font;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-right: 0.3em;
    a {
        color: #fff;
        display: inline-block;
        padding: 5px 8px;
        &:visited, &:not([href]) {
            color: #fff;
        }
    }
    > a {
        display: none;  /* Omit the 'sections' link by default */
    }
    > ul {
        font-family: $navbar-font;
        list-style-type: none;
        padding-left: 1rem;
    }
    > ul li {
        display: block;
        float: left;
        font-size: $nav-font-size;
        line-height: 1.19em;
        margin: 0 0.9em 0 0;
        padding: 0.05em 0 0;
        position: relative;
        white-space: nowrap;
        &:last-child {
            margin-right: 0;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .suggester-menu {
        font-size: $nav-font-size;
        margin-top: 1.5em;
        margin-left: 0.3em;
    }
    .suggester-menu ul {
        margin-top: 0;
    }
}
header #search {
    margin: 0;
    padding: 0;
    form {
        display: flex;
        margin: 0;
        padding: 0;
    }
    input {
        background: #fff;
        border: 0;
        border-radius: 1em;
        font-family: $headings-font;
        font-size: $nav-font-size;
        height: 1.4em;
        margin: 0;
        padding: 0 0.5em;
        width: 247px;   /* keep search from becoming too wide on zoom */
    }
    button {
        background-color: #d2805f;
        border: 0;
        border-radius: 2em;
        margin: 0 0 0 -1.25em;
        padding: 0 0.75em;
        img {
            height: 1.4em;
            vertical-align: middle;
        }
    }
}


/* Main content */

.content {
    padding: 0;
    @include container-div;
}
.content #main {
    background: url(/static/images/layout/sidebar-bg.png) repeat-y;
    float: right;
    min-height: 575px;
    padding-bottom: 24px;
    padding-left: 250px;
    width: 710px;
    .smallscreen-anchor-nav {
        display: none;
    }
}
.content .container {
    &.free-sidebar {
        #main {
            background: none;
        }
        #sidebar {
            border-top: 0;
            height: auto;
            padding: 0;
        }
    }
    &.no-sidebar #main {
        background: none;
        clear: both;
        float: none;
        min-height: 0;
        padding-left: 0;
        width: auto;
    }
}

/* Sidebar (usually in a #sidebar section, but sometimes not, being
   arranged by floating and positioning content) */

#sidebar {
    border-top: 1px solid $border-green;
    float: left;
    height: 100%;
    margin-right: -230px;
    padding: $sidebar-box-vertical-padding 0 0;
    width: 230px;
}
#sidebar .section {
    padding: 0 17px 16px;
    h3 {
        margin-top: 0.2em;
    }
    h4 {
        margin: 0 0 5px 0;
    }
    h4 + p {
        margin-top: 0;
    }
    &.separate {
        border-top: 1px solid #e2dfcb;
        padding-top: $sidebar-box-vertical-padding;
    }
    &.plant-map {
        background: url(/static/images/layout/plant-map.png) 95% 1% no-repeat;
        padding: 0 25px 16px 16px;
    }
    .left {
        float: left;
    }
    p {
        margin: 0;
    }
}
#sidebar a {
    &:hover {
        text-decoration: none;
    }
    &.video {
        margin-left: 0;
    }
    &.view-map-btn {
        margin: 10px 0 20px;
    }
}
#sidebar nav a {
    display: inline-block;
    margin-left: 10px;
}
#sidebar .box {
    background: #fff;
    border: 1px solid $border-green;
    margin-bottom: $sidebar-box-vertical-padding;
    padding: $sidebar-box-vertical-padding 0 0;
}
#sidebar nav {
    font-family: $headings-font;
    font-size: 14px;
    p {
        /*margin-bottom: 16px;*/
        padding-left: 26px;
    }
    li {
        line-height: 150%;
        list-style-type: none;
        margin: 0 0 4px 0;
        padding: 0 15px 16px;
    }
}
a.get-help-btn {
    margin: 10px 0 20px;
}


/* Footer */

.footer {
    background: $footer-background-color;
    /* Make footer color continue to bottom on short pages. */
    box-shadow: 0 50vh 0 50vh $footer-background-color;
    clear: both;
    font-size: 10px;
    min-height: 140px;
    position: relative;
    width: 100%;
}
.footer__container {
    @include container-div-styles;

    display: flex;
}
.footer__copyright,
.footer__address,
.footer__nsf-note {
    margin: 0 0 10px 0;
}
.footer__address {
    font-style: normal;
    line-height: 160%;
}
.footer__site-name {
    font-family: $body-font;
    font-size: 12px;
    margin: 0 0 0.5rem;
}
.footer__publisher,
.footer__navigation {
    margin: 0 20px 0 0;
    padding: 18px 0;
}
.footer__navigation {
    padding-left: 10px;
}
.footer__navigation-list {
    list-style-type: none;
    margin-bottom: 12px;
}
.footer__navigation-list-item {
    display: inline;
    line-height: 14px;
}
.footer__navigation-list-item::after {
    content: " \00b7 ";
}
.footer__navigation-list-item:last-child::after {
    content: none;
}
.footer__navigation-list--secondary .footer__navigation-list-item:last-of-type {
    margin-right: 0;
}
.footer__support {
    margin-right: 0;
    padding: 18px 0;
}
.footer__nsf-logo {
    float: left;
    margin: 0.3em 5% 0 0;
    width: 3em;
}


/* Breadcrumb trails */
#breadcrumb {
    color: #000;
    font-family: $headings-font;
    font-size: 0.9rem;
    margin: 0 0 6px;
}
#breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}
#breadcrumb li {
    list-style-type: none;
    margin-bottom: 8px;
    margin-right: 4px;
    &::after {
        color: $medium-brown;
        content: ' >';
    }
    &:first-of-type::after, &:last-of-type::after {
        content: none;
    }
}
#breadcrumb .label {
    color: $medium-brown;
}

/* Wait spinners */
.wait-spinner {
    background: url(/static/images/icons/preloaders-dot-net-lg.gif)
        no-repeat scroll center center transparent;
    height: 350px;
    margin: auto;
    /* Wait spinner's children are hidden until the parent is unspinnered. */
    * { display: none; }
}

/* Images (gallery with previous/next buttons, or single) */
.img-gallery {
    float: left;
    margin: 4px 14px 0 0;
    position: relative;
    width: 244px;
    @include user-select(none);
}
.img-gallery .img-container {
    height: 239px;
    overflow: hidden;
    position: relative;
    width: 239px;
}
.img-gallery .frame {
    border: 5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    height: 229px;
    position: absolute;
    top: 0;
    width: 229px;
    z-index: 100;
}
.img-gallery .images {
    clear: both;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 12000px;
    > * {
        display: block;  /* For example, might be <a> instead of <img>. */
        float: left;     /* This is what makes scrolling actually work. */
    }
}
.img-gallery .controls {
    margin: 8px 0 12px 0;
    text-align: center;
    a {
        cursor: default;
        display: inline-block;
        height: 32px;
        text-indent: -9000px;
        width: 32px;
        &.next {
            background: url(/static/images/icons/next-larger.png) 0 0 no-repeat transparent;	
        }
        &.prev {
            background: url(/static/images/icons/prev-larger.png) 0 0 no-repeat transparent;	
        }
        &.disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
}

/* Plant image grids. Currently used on the dkey. May someday be used on
   the Level 3 page if it is moved over to site.scss too. Copied from
   the relevant part of styles.scss and included here, instead of in the
   _dkey.scss file, because image grids are a site-wide pattern. */

.plant-grid .plant {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 1px solid #c3d941;
    width: 160px; /* prevent long names from ruining layout */
    height: 210px;
    background: #fff;
    padding: 8px 6px;
    text-align: center;

    &.omit {
        display: none;
    }
}
.plant-grid a {
    display: block;
    color: #1a2e11;
    &:hover {
        color: #508e31;
    }
}
.plant-grid .plant:before {
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 100;
    width: 150px;
    height: 139px;
    top: 8px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    content: ' ';
}
.plant-grid .plant-img-container {
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.6);
    height: 149px;
    overflow: hidden;
    width: 160px;
    img {
        height: 149px;  /* so lazy_images knows when <img> is on screen */
    }
}
.plant-grid p {
    margin: 7px 0 0 0;
    font-family: $narrower-body-font;
    /* Tahoma or Trebuchet because it's narrower than Verdana:
       less wrapping and fewer names on 4 lines */
    line-height: 14px;
}
.plant-grid i {
    display: block;
    padding-bottom: 4px;
    font-family: $body-font;
    /* Verdana, wider than Trebuchet: easier to read in italics */
    font-style: italic;
}
.plant-grid .missing-image {
    position: relative;
    @include background(linear-gradient(left top, #eaf2e2, #d6e6c5));
    width: 160px;
    height: 149px;
    color: #354d1e;
    &:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -50px;
        width: 100px;
        height: 40px;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        content: 'Image not available yet';
    }
}

/* Glossary-term links */
.gloss {
    background-color: inherit;
    border-bottom: 1px dashed $link-green;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: $link-green;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Tooltips for working area images and highlighted glossary terms */
.gb-tooltip {
    border: 1px solid $tooltip-border-color;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0 $tooltip-shadow-color;
    display: none;   /* initially invisible, fades in */
    padding: 8px;
    position: absolute;
    width: 300px;
    z-index: 1000;
    @include background(linear-gradient(top center,
        $tooltip-background-top-color, $tooltip-background-bottom-color));
}
.gb-tooltip .arrow {
    background: $tooltip-background-bottom-color;
    border: 1px solid $tooltip-border-color;
    box-shadow: -1px -1px 1px 0 $tooltip-shadow-color;
    /* rotated borders, same color as bottom of tooltip */
    border-bottom-color: $tooltip-background-bottom-color;
    border-right-color: $tooltip-background-bottom-color;
    bottom: -7px;
    height: 11px;
    left: 10px;
    position: absolute;
    width: 11px;
    @include rotate($tooltip-arrow-rotation);
}
.gb-tooltip.dark {
    $tooltip-dark-background-top-color: darken($tooltip-background-top-color, 60%);
    $tooltip-dark-background-bottom-color: darken($tooltip-background-bottom-color, 60%);
    $tooltip-dark-border-color: darken($tooltip-border-color, 60%);
    border-color: $tooltip-dark-border-color;
    @include background(linear-gradient(top center,
        $tooltip-dark-background-top-color,
        $tooltip-dark-background-bottom-color));
    color: #fff;
    .arrow {
        background: $tooltip-dark-background-bottom-color;
        border-color: $tooltip-dark-border-color;
        border-bottom-color: $tooltip-dark-background-bottom-color;
        border-right-color: $tooltip-dark-background-bottom-color;
    }
}
.gb-tooltip.dark.photo {
    font-family: $headings-font;
    font-size: 11px;
    position: fixed;   /* with lightbox, so prevent scrolling away */
    p {
        line-height: 120%;
        margin: 6px 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        color: white;
        text-decoration: underline;
    }
}

/* Glossary tooltip */
.glosstip {
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 30em;
    img {
        background: $tooltip-background-top-color;
        border: 1px solid $tooltip-border-color;
        border-radius: 2px;
        bottom: 110%;
        box-shadow: 1px 1px 2px 0 $tooltip-shadow-color;
        padding: 4px;
        position: absolute;
    }
}

/* Shadowbox overrides */
#sb-counter {
    font-family: $headings-font;
}
#sb-nav-close {
    background-position: center;
    background-repeat: no-repeat;
    padding: 4px; /* Increase activation area a bit */
    right: -28px !important; /* Place at top right, but not exactly at the
                                corner so as to avoid Flash video z-index
                                problem */
    top: 6px !important;
}

/* Character/value styles for plant preview popups, species pages, etc. */
.characteristics dl {
    display: flex;
    margin: 10px 0 0;
    padding: 0;
}
.characteristics dt {
    color: $darker-brown;
    font-weight: bold;
    line-height: 18px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    button {
        font-weight: bold;
    }
}
.characteristics dd {
    line-height: 18px;
    max-width: 60%;
}
.characteristics dd ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 1.3em;
    text-indent: -0.2em;
    &.compact {
        margin: 0;
        padding: 0;
        text-indent: 0;
        li {
            display: inline;
            &:after {
                content: ', ';
            }
            &:last-child:after {
                content: none;
            }
        }
    }
}
.characteristics dd li {
    margin: 0;
    padding: 0 0 0.1em;
}


/* Form error messages */

.errorlist {
    color: #f00;
    font-family: $headings-font;
    font-size: 14px;
    line-height: 14px;
    list-style-type: none;
}
.errorlist li {
    &:before {
        content: "× ";
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 0 -$error-icon-offset; 
        padding: 0;
        vertical-align: text-top;
    }
}


/* Text input with suggestions */

input.suggest + div {
    background: #fff;
    border: 1px solid #999;
    box-shadow: 0px 1px 2px 0 $shadow_color;
    position: absolute;
    z-index: 150;
}
input.suggest + div li {
    clear: both;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    &.selected {
        background-color: $pale-lime-green;
        cursor: default;
    }
    span {
        font-weight: normal;
    }
}


/* Teaching page */

body.teaching {
    h3 {
        margin-bottom: 0.5rem;
    }
    #main li {
        list-style-type: none;
    }
}


/* List-style tables (Species List page, Manage Your Sightings page,
 * etc.) */
table.list {
    background: #f1fcde;
    border-collapse: collapse;
    color: #000;
    font-size: 12px;
    margin: 18px 0;
}
table.list tbody tr:hover {
    background: #e3fabe;
}
table.list th, table.list td {
    padding: 4px;
}
table.list th, table.list tr.filters {
    background: #b4d57f;
    font-weight: normal;
}
table.list th td:first-child {
    font-family: $headings-font;
    font-size: 13px;
}


/* Imports for various pages, sections, features, etc. Each of these
 * can contain their own media queries. */

@import "home";
@import "mapping";
@import "taxa";
@import "simplekey";
@import "plantshare";
@import "dkey";
@import "search";
@import "help";
@import "popups";
@import "partnersites";

/* Finally, include global media queries for smartphones and tablets. These
 * should be last. */

@import "site-media-queries";

/* Please do not add new regular styles after the media queries, or they may
 * not get overridden properly. Instead, add them before the media queries. */
