/*! *** Go Botany master styles file ***
 Please edit only the .scss source and use Compass to auto-generate the .css.
 The generated .css is kept in the repository to allow easy deployment.
 */

/* First are some SASS "partials" for external and third-party styles.
 * The goal is to keep all styles in just one deployed CSS file, site.css.
 * Later on in this file, other partials are imported for styles
 * specific to a site feature.
 * A final partial, site-media-queries, is imported last in this file. */

/* Imports for browser baseline, tools */
@import "_normalize";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";   /* for gradient, etc. */
@import "compass/css3/transform";
@import "compass/typography/links/hover-link";

/* Imports for third-party controls */
@import "shadowbox";
@import "smoothDivScroll";

/* Definitions */

$headings-font: "Trebuchet MS", Helvetica, Arial, "Lucida Sans Unicode", sans-serif;
$body-font: Verdana, Geneva, "Lucida Sans Unicode", sans-serif;
$narrower-body-font: Tahoma, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;

$link-green: #317b0c;
$heading-green: #437829;
$border-green: #c3d941;
$light-green: #e1f0d1;
$green-yellow: #ccdf53;
$medium-brown: #807121;
$pale-lime-green: #defcb3;

$visited-link-color: #666e0b;
$active-link-color: #45aC11;

$text-color: #000;
$footer-background-color: #b4d57f;
$login-box-background-color: #d3eaad;

$base-font-size: 12px;
$nav-font-size: 14px;

$text-line-height: 170%;

$sidebar-box-vertical-padding: 16px;

$tooltip-border-color: #c3d941;
$tooltip-background-top-color: #eaf2e2;
$tooltip-background-bottom-color: #d6e6c5;
$tooltip-shadow-color: #333333;
$tooltip-arrow-rotation: 225deg;

$smallscreen-portrait-width: 320px;
$smallscreen-landscape-width: 480px;

$nav-button-color: #437829;
$error-icon-offset: -20px;

$smallscreen-margin: 8px;
$smallscreen-potd-image-width: 297px;
$smallscreen-portrait-box-width: 302px;
$smallscreen-portrait-form-el-width: $smallscreen-portrait-box-width - 10px;
$smallscreen-landscape-box-width: 462px;
$smallscreen-current-section-color: #85c446;
$smallscreen-choices-border-radius: 8px;

@mixin offscreen {
    display: block;
    text-indent: -9000px;
}

@mixin container-div {
    .container {
        margin: 0 auto;
        padding: 0 10px;
        width: 960px;
    }
}

@mixin smallscreen-side-margins {
    margin-left: $smallscreen-margin;
    margin-right: $smallscreen-margin;
}

@mixin highlight-global-nav {
    background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat;
}

@mixin highlight-global-nav-home {
    background: url(/static/images/layout/active-nav-home.png) bottom center no-repeat transparent;
}

@mixin highlight-sidebar-nav-item {
    color: #000;
	content: "\25b8";
	margin-left: -14px;
    padding-bottom: 5px;
	padding-right: 5px;
}

@mixin shadowbox-photo-titles-credits {
    /* Override Shadowbox styles to allow multiple title lines for
     * showing a photo title, photographer credit, and copyright. */
    #sb-title, #sb-title-inner {
        height: 76px;
        line-height: 70%;
        position: relative;
    }
    #sb-title-inner {
        div {
            bottom: 6px;
            position: absolute;
        }
        h6 {
            font-size: 16px;
            line-height: 110%;
            margin: 0 0 2px;
            padding: 0;
        }
        span {
            font-family: $headings-font;
            font-size: 10px;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    #sb-nav-close {
        top: 56px !important;
    }
}


/* Site-wide styles */

body {
    background: #f0f0c0;
    color: $text-color;
    font-family: $body-font;
    font-size: $base-font-size;
}

html, button, input, select, textarea {
    font-family: $body-font;
}

a {
    color: $link-green;
    text-decoration: none;
    &:visited {
        color: $visited-link-color;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: $active-link-color;
    }
    &:not([href]) {
        color: $text-color;
    }
}

*|*:-moz-any-link:active, *|*:-moz-any-link:focus {
    border: 0;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font;
    font-weight: normal;
    line-height: 155%;
    margin: 0;
    padding: 0;
}
h1 {
    color: $heading-green;
	font-size: 35px;
    line-height: 110%;
    margin-bottom: 8px;
}
h2 {
	font-size: 24px;
    margin: 8px 0;
}
h3 {
	font-size: 18px;	
}
h4 {
	font-size: 14px;	
}
h5, h6 {
	font-size: $base-font-size;	
}
h6 {
    font-weight: italic;
}
p {
    line-height: $text-line-height;
    margin: 1em 0;
    padding: 0;
}
ul {
    line-height: $text-line-height;
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 0 5px 0;
}
.hidden {
    display: none;
}
.clearit {
    border: none !important;
    clear: both;
    float: none !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}
.missing-image {
    @include background(linear-gradient(top center, #eaf2e2, #d6e6c5));
    color: #354d1e;
    height: 149px;
    position: relative;
    width: 160px;
}
p.new {
    background: $green-yellow;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0 0.25em;
    @include border-radius(0.25em);
}
p.meta {
    font-size: 10px;
    font-style: italic;
    margin: 4px 0;
    + p {
        margin-top: 2px;
    }
}

#main .distribution-character {   /* species code: box, as in printed book */
    margin: 0 0.25em;
    border: 1px solid black;
    padding: 0 0.25em;
    font-size: 1em*14px/16px;
}

/* Navigation highlighting */

/* Global navigation (header) */
body {
    &#home {
        header nav li.home {
            @include highlight-global-nav-home;
        }
    }
    &.simple {
        header nav li.simple {
            @include highlight-global-nav;
        }
    }
    &.plantshare {
        header nav li.plantshare {
            @include highlight-global-nav;
        }
    }
    &.full {
        header nav li.full {
            @include highlight-global-nav;
        }
    }
    &.dkey {
        header nav li.dkey {
            @include highlight-global-nav;
        }
    }
    &.teaching {
        header nav li.teaching {
            @include highlight-global-nav;
        }
    }
    &.help {
        header nav li.help {
            @include highlight-global-nav;
        }
    }
}

/* Section navigation (sidebar, only in some sections) */
body {
    &.help, &.plantshare {
        #sidebar nav {
            li {
                padding-left: 28px;
            }
            li:first-child {
                padding-left: 15px;
            }
            /* Place "you are here" marker next to a non-linked item. This is
             * the top level of each sub-section. */
            li a:not([href])::before {
                @include highlight-sidebar-nav-item;
            }
        }
    }
    /* Handle pages beneath subsections so they will have a "you are
     * here" marker. Each of these must be set up individually where
     * needed. */
    &.help {
        &#glossary #sidebar .glossary a::before,
        &#fullkey-placeholder #sidebar .advanced-id-tools a::before,
        &#dkey-placeholder #sidebar .advanced-id-tools a::before {
            @include highlight-sidebar-nav-item;
        }
    }
    &.plantshare {
        &#sighting #sidebar .sightings a::before,
        &#questions #sidebar .ask a::before {
            @include highlight-sidebar-nav-item;
        }
    }
}

/* Header */

header {
    height: 120px;
    @include container-div;
    p {
        margin: 0;
    }
    .go-botany {
        float: left;
        margin: 0 0 0 -15px;
        padding: 14px 0 0 0;
        width: 443px;
        a {
            background: url(/static/images/layout/logo-app.png) no-repeat transparent;
            height: 65px;
            width: 443px;
            @include offscreen;
        }
    }
    .newfs {
        float: right;
        a {
            background: url(/static/images/layout/newfs-logo-app.png) no-repeat transparent;
            height: 66px;
            width: 116px;
            @include offscreen;
        }
    }
    nav {
        background: url(/static/images/layout/nav-app-green.png) no-repeat;
        background-position: 0px 79px;
        font-family: $headings-font;
        height: 120px;
        padding: 0 0 0 48px;
        a {
            color: #fff;
            display: block;
            height: 35px;
            padding: 5px 8px 0;
            &:visited, &:not([href]) {
                color: #fff;
            }
        }
        > a {
            display: none;  /* Omit the 'sections' link by default */
        }
        ul {
            clear: both;
        }
        li {
            display: block;
            float: left;
            font-size: $nav-font-size;
            line-height: normal;
            margin: 0 12px 0 0;
            padding: 0;
            a:hover {
                text-decoration: none;
            }
        }
        #search {
            background: #fff url(/static/images/layout/search-left.png) left center no-repeat;
            float: right;
            height: 20px;
            margin: 4px 4px 0 0;
            padding: 0 0 0 11px;
            form {
                display: block;
                margin: 0;
                padding: 0;
                width: 262px;
            }
            input {
                background: #fff;
                border: 0;
                float: left;
                font-family: $headings-font;
                font-size: $nav-font-size;
                height: 20px;
                margin: 0;
                padding: 0;
                width: 219px;
                &:focus {
                    outline: none;
                }
            }                
            button {
                background: $link-green url(/static/images/layout/search-btn.png) 0 0 no-repeat;
                border: none;
                cursor: pointer;
                float: right;
                height: 20px;
                margin: 0;
                outline: none;
                padding: 0;
                width: 43px;
                @include offscreen;
            }
        }
        #search-suggest .menu {
            background: #fff;
            border: 1px solid #ccc;
            border-bottom-color: #999;
            border-right-color: #999;
            font-family: $headings-font;
            margin: 0 auto;
            position: absolute;
            text-align: left;
            top: 105px;
            width: 256px;
            z-index: 101;
            li {
                clear: left;
                display: block;
                float: left;
                font-weight: bold;
                margin: 0;
                padding: 3px;
                width: 250px;
                &.highlighted {
                    background-color: $pale-lime-green;
                }
            }
            a {
                color: $text-color;
                cursor: default;
                height: inherit;
                padding: 0;
                text-decoration: none;
            }
            a:hover, li:hover {
                background: $pale-lime-green;
            }
            span {
                font-weight: normal;
            }
        }
    }
}

/* Main content */

.content {
    padding: 8px 0 0;
    @include container-div;
    #main {
        background: url(/static/images/layout/sidebar-bg.png) repeat-y;
        float: right;
        min-height: 545px;
        padding-bottom: 24px;
        padding-left: 250px;
        width: 710px;
        .smallscreen-anchor-nav {
            display: none;
        }
    }
    .container {
        &.free-sidebar {
            #main {
                background: none;
            }
            #sidebar {
                border-top: 0;
                height: auto;
                padding: 0;
            }
        }
        &.no-sidebar #main {
            background: none;
            float: none;
            min-height: none;
            padding-left: 0;
            width: auto;
        }
    }
}

/* Sidebar (usually in a #sidebar section, but sometimes not, being
   arranged by floating and positioning content) */

#sidebar {
    border-top: 1px solid $border-green;
    float: left;
    height: 100%;
    margin-right: -230px;
    padding: $sidebar-box-vertical-padding 0 0;
    width: 230px;
    .section {
        padding: 0 17px 16px;
        h4 {
            margin: 0 0 5px 0;
        }
        h4 + p {
            margin-top: 0;
        }
        &.separate {
            border-top: 1px solid #e2dfcb;
            padding-top: $sidebar-box-vertical-padding;
        }
        &.plant-map {
            background: url(/static/images/layout/plant-map.png) 95% 1% no-repeat;
            padding: 0 25px 16px 16px;
        }
        .left {
            float: left;
        }
        p {
            margin: 0;
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
        &.video {
            margin-left: 0;
        }
        &.view-map-btn {
            background: url(/static/images/layout/view-map-btn-orange.png) 0 0 no-repeat transparent;
            display: block;
            height: 32px;
            margin: 10px 0 20px;
            text-indent: -9000px;
            width: 113px;
            &:hover {
                background-position: 0 -32px;
            }
            &:active {
                background-position: 0 -64px;
            }
        }
    }
    nav a {
        display: inline-block;
        margin-left: 10px;
    }
    .box {
        background: #fff;
        border: 1px solid $border-green;
        margin-bottom: $sidebar-box-vertical-padding;
        padding: $sidebar-box-vertical-padding 0 0;
    }
    nav {
        font-family: $headings-font;
        font-size: 14px;
        h3 {
            margin-bottom: 16px;
            padding-left: 26px;
        }
        li {
            line-height: 150%;
            margin: 0 0 4px 0;
            padding: 0 15px 16px;
        }
    }
}
a.get-help-btn {
    background: url(/static/images/layout/get-help-btn-orange.png) 0 0 no-repeat transparent;
    display: block;
    height: 32px;
    margin: 10px 0 20px;
    text-indent: -9000px;
    width: 104px;
    &:hover {
        background-position: 0 -32px;
    }
    &:active {
        background-position: 0 -64px;
    }
}

/* Footer */

footer {
    background: $footer-background-color;
    clear: both;
    height: 140px;
    position: relative;
    width: 100%;
    @include container-div;
    > img {
        left: 50%;
        margin-left: -543px;
        position: absolute;
        top: -47px;
        z-index: -1;
    }
    .publisher, .navigation {
        float: left;
        margin: 0 20px 0 0;
        padding: 18px 0;
        width: 305px;
    }
    .navigation {
        padding-left: 10px;
    }
    h6 {
        font-family: $body-font;
        font-size: 11px;
    }
    p {
        font-size: 9px;
        margin: 0 0 10px 0;
    }
    ul {
        font-size: 9px;
        list-style-type: none;
        margin-bottom: 12px;
    }
    li {
        display: inline;
        line-height: 14px;
        &::after {
            content: " |";
        }
        &:last-child::after {
            content: none;
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
        &[href]:hover {
            text-decoration: underline;
        }
    }
    .nsf-logo {
        float: left;
        margin: 0 10px 0 7px;
    }
    .support {
        margin-right: 0;
        padding: 18px 0;
    }    
}

/* Breadcrumb trails */
#breadcrumb {
    color: #000;
    font-family: $headings-font;
    font-size: 14px;
    margin: 0 0 6px;
    li {
        display: inline-block;
        list-style-type: none;
        margin-bottom: 8px;
    }
    .label {
        color: $medium-brown;
    }
    a {
        &::after {
            color: $medium-brown;
            content: ' >';
        }
    }
}

/* Wait spinners */
.wait-spinner {
    background: url(/static/images/icons/preloaders-dot-net-lg.gif)
        no-repeat scroll center center transparent;
    height: 350px;
    margin: auto;
    /* Wait spinner's children are hidden until the parent is unspinnered. */
    * { display: none; }
}

/* Images (gallery with previous/next buttons, or single) */
.img-gallery {
    float: left;
	margin: 0 10px 0 0;	
	position: relative;
	width: 244px;
    .img-container {
	    height: 239px;
	    overflow: hidden;
	    position: relative;
	    width: 239px;
    }
    .frame {
	    border: 5px solid rgba(255, 255, 255, 0.8);
        height: 229px;
        position: absolute;
	    top: 0;
        width: 229px;
	    z-index: 100;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
	    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    }
    .images {
        clear: both;
        margin: 0;
        padding: 0;	
        position: absolute;
        width: 12000px;
        > * {
            display: block;  /* For example, might be <a> instead of <img>. */
            float: left;     /* This is what makes scrolling actually work. */
        }
    }
    .controls {
	    margin: 8px 0 12px 0;
	    text-align: center;	
        a {
            cursor: pointer;
            display: inline-block;
            height: 32px;
            text-indent: -9000px;	
            width: 32px;
            &.next {
	            background: url(/static/images/icons/next-larger.png) 0 0 no-repeat transparent;	
            }
            &.prev {
	            background: url(/static/images/icons/prev-larger.png) 0 0 no-repeat transparent;	
            }
            &.disabled {
                cursor: default;
                opacity: 0.4;
                filter:Alpha(opacity=40) /* For IE8 and earlier */
            }
        }
    }
}

/* Plant image grids. Currently used on the dkey. May someday be used on
   the Level 3 page if it is moved over to site.scss too. Copied from
   the relevant part of styles.scss and included here, instead of in the
   _dkey.scss file, because image grids are a site-wide pattern. */

.plant-grid {
    .plant {
        display: inline-block;
        vertical-align: top;
        position: relative;
        border: 1px solid #c3d941;
        width: 160px; /* prevent long names from ruining layout */
        height: 210px;
        background: #fff;
        padding: 8px 6px;
        text-align: center;

        &.omit {
            display: none;
        }
    }
    a {
        display: block;
        color: #1a2e11;
        &:hover { color: #508e31; }
    }
    .plant:before {
        position: absolute;
        top: 8px;
        left: 6px;
        z-index: 100;
        width: 150px;
        height: 139px;
        top: 8px;
        border: 5px solid rgba(255, 255, 255, 0.8);
        content: ' ';
    }
    .plant-img-container {
        width: 160px;
        height: 149px;
        overflow: hidden;
        @include single-box-shadow(rgba(0, 0, 0, 0.6), 0px, 0px, 4px);
        img {
            height: 149px;  /* so lazy_images knows when <img> is on screen */
        }
    }
    p {
        margin: 7px 0 0 0;
        font-family: $narrower-body-font;
        /* Tahoma or Trebuchet because it's narrower than Verdana:
           less wrapping and fewer names on 4 lines */
        line-height: 14px;
    }
    i {
        display: block;
        padding-bottom: 4px;
        font-family: $body-font;
        /* Verdana, wider than Trebuchet: easier to read in italics */
        font-style: italic;
    }
    .missing-image {
        position: relative;
        @include background(linear-gradient(left top, #eaf2e2, #d6e6c5));
        width: 160px;
        height: 149px;
        color: #354d1e;
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -50px;
            width: 100px;
            height: 40px;
            font-size: 12px;
            line-height: 130%;
            text-align: center;
            content: 'Image not available yet';
        }
    }
}

/* Glossary-term links */
.gloss {
    border-bottom: 1px dashed $border-green;
    color: $link-green;
    cursor: pointer;
    &:hover {
        border-bottom: 1px dashed $link-green;
    }
}

/* Tooltips for working area images and highlighted glossary terms */
.gb-tooltip {
    border: 1px solid $tooltip-border-color;
    display: none;   /* initially invisible, fades in */
    padding: 8px;
    position: absolute;
    width: 300px;
    z-index: 1000;
    @include background(linear-gradient(top center,
        $tooltip-background-top-color, $tooltip-background-bottom-color));
    @include single-box-shadow($tooltip-shadow-color, 0px, 1px, 4px);
    @include border-radius(2px);
    .arrow {
        background: $tooltip-background-bottom-color;
        border: 1px solid $tooltip-border-color;
        /* rotated borders, same color as bottom of tooltip */
        border-bottom-color: $tooltip-background-bottom-color;
        border-right-color: $tooltip-background-bottom-color;
        bottom: -7px;
        height: 11px;
        left: 10px;
        position: absolute;
        width: 11px;
        @include single-box-shadow($tooltip-shadow-color, -1px, -1px, 1px);
        @include rotate($tooltip-arrow-rotation);
    }
}

/* Glossary tooltip */
.glosstip {
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 30em;
    img {
        background: $tooltip-background-top-color;
        border: 1px solid $tooltip-border-color;
        bottom: 110%;
        padding: 4px;
        position: absolute;
        @include single-box-shadow($tooltip-shadow-color, 1px, 1px, 2px);
        @include border-radius(2px);
    }
}

/* Shadowbox overrides */
#sb-counter {
    font-family: $headings-font;
}
#sb-nav-close {
    background-position: center;
    background-repeat: no-repeat;
    padding: 4px; /* Increase activation area a bit */
    right: -28px !important; /* Place at top right, but not exactly at the
                                corner so as to avoid Flash video z-index
                                problem */
    top: 6px !important;
}

/* Character/value styles for plant preview popups, species pages, etc. */
.characteristics {
    margin-bottom: 16px;
    dl {
        border: 1px transparent; /* border forces new row in WebKit when
                                  * char name, but not value, wraps */
        margin: 6px 0 0;
        padding: 0;
    }
    dt {
        clear: left;
        float: left;
        font-weight: bold;
        line-height: 18px;
        text-align: right;
        width: 250px;
    }
    dd {
        line-height: 18px;
        margin-left: 260px;
        ul {
            list-style-type: disc;
            margin: 0;
            padding: 0 0 0 1.3em;
            text-indent: -0.2em;
            &.compact {
                margin: 0;
                padding: 0;
                text-indent: 0;
                li {
                    display: inline;
                    &:after {
                        content: ', ';
                    }
                    &:last-child:after {
                        content: none;
                    }
                }
            }
        }
        li {
            margin: 0;
            padding: 0 0 0.1em;
        }
    }
    &.full {
        dt {
            width: 270px;
        }
        dd {
            margin-left: 280px;
        }
    }
}

/* Form error messages */

.errorlist {
    color: #f00;
    font-family: $headings-font;
    font-size: 14px;
    line-height: 14px;
    list-style-type: none;
    li {
        &:before {
            content: "× ";
            font-size: 22px;
            font-weight: bold;
            margin: 0 0 0 -$error-icon-offset; 
            padding: 0;
            vertical-align: text-top;
        }
    }
}

/* Text input with suggestions */

input.suggest {
    & + div {
        background: #fff;
        border: 1px solid #999;
        position: absolute;
        z-index: 100;
        li {
            font-weight: bold;
            list-style-type: none;
            margin: 0;
            padding: 2px;
            &.selected {
                background-color: #666;
                color: #fff;
            }
            span {
                font-weight: normal;
            }
        }
    }
}

/* Teaching page */

body.teaching #main li {
    list-style-type: none;
}

/* "Advanced ID Tools" placeholder page (delete after tools release) */

#advanced-id #main {
    .dk-landing-section {
	    float: left;
	    font-family: $body-font;
        height: 410px;
        padding-left: 20px;
        position: relative;
	    width: 328px;
        &:first-of-type {
            border-right: 1px solid #b4d57f;
            padding-left: 0;
            padding-right: 10px;
        }
        h2 {
            font-size: 18px;
            line-height: 20px;
        }
        section {
            margin: 10px 0 0;
            p {
                margin: 10px 0;
            }
            ul {
                line-height: 16px;
            	list-style-type: disc;
	            margin: 10px 0;
	            padding: 0 0 0 15px;
                li {
                    margin: 10px 0;
                }
            }
        }
        > a {
            bottom: 10px;
            display: block;
            height: 41px;
            margin: 0 0 0 43px;
            position: absolute;
            text-indent: -9999px;
            width: 244px;
            &:hover {
            	background-position: 0 -41px;
            }
            &:active {
                background-position: 0 -82px;
            }
        }
    }
    a.go-fullkey-btn {
    	background: url(/static/images/layout/go-fullkey-btn.png) 0 0 no-repeat transparent;
    }
    a.go-dichkey-btn {
    	background: url(/static/images/layout/go-dichkey-btn.png) 0 0 no-repeat transparent;
    }
}

/* For IE 6-9 browser compatibility prompts */

#ie-note {
    background: #fff;
    border-bottom: 4px solid #508e31;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 11px 0;
    text-align: center;
    p {
        margin: 0;
        position: relative;
        z-index: 2;
        &.dismiss {
            padding: 3px;
            a {
                background-color: #3e6bbf;
                border-bottom: 2px solid #365b99;
                border-left: 2px solid #85b0f3;
                border-right: 2px solid #365b99;
                border-top: 2px solid #85b0f3;
                color: white;
                font-size: 12px;
                font-weight: bold;
                padding: 2px 8px;
                text-decoration: none;

                -ms-border-radius: 0.3em;
                border-radius: 0.3em;
            }
        }
    }
    a {
        text-decoration: underline;
    }
    img {
        background-color: #fff;
        clip: rect(0px,255px,78px,0px);
        overflow: hidden;
        position: absolute;
        top: 41px;
        z-index: 1;
        opacity: 0.5;
        filter:alpha(opacity=50); /* For IE8 and earlier */
    }
}
.chromeFrameInstallDefaultStyle {
    border: 4px solid #508e31;
    border-top: 4px solid #fff;
    height: 600px; /* not too short: don't allow blue button to scroll away */
    top: 419px;
    z-index: 20000;  /* ensure installer is atop all other content */
}


/* Imports for various pages, sections, features, etc. Each of these
 * can contain their own media queries. */

@import "home";
@import "mapping";
@import "taxa";
@import "simplekey";
@import "plantshare";
@import "dkey";
@import "search";
@import "help";
@import "popups";
@import "partnersites";

/* Finally, include global media queries for smartphones and tablets. These
 * should be last. */

@import "site-media-queries";

/* Please do not add new regular styles after the media queries, or they may
 * not get overridden properly. Instead, add them before the media queries. */
