{% extends "gobotany/_edit_base.html" %}

{% block js_require %}
    require(['editor/edit'], function (edit) {
        edit.setup_pile_character_page();
    });
{% endblock %}

{% block body_content %}

<p>← return to pile <a href="..">{{ pile.slug }}</a></p>

<h1>{{ character.name }}</h1>

<h2>{{ character.short_name }}</h2>

<p>
  {% if character.friendly_name != character.name %}
    <b>{{ character.friendly_name }}:</b>
  {% endif %}
  {{ character.question }}
</p>

{% if are_there_any_friendly_texts %}
<ul>
  {% for value in values %}
  <li class="edit-character-definition">
    <b>{{ value.value_str }}</b>
    {% if value.friendly_text %}
    — {{ value.friendly_text }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

<table class="pile-character-grid">
  {% for taxon, boxes in big_loop %}
  {% if forloop.counter0|divisibleby:"20" %}
  <tr>
    <th></th>
    {% for value in values %}
    <th class="value"><div>{{ value.value_str }}</div></th>
    {% endfor %}
  </tr>
  {% endif %}
  <tr>
    <th><i>{{ taxon.scientific_name }}</i></th>
    {% for value, is_checked in boxes %}
    <td>
      <input type="checkbox" {% if is_checked %}checked{% endif %}
              id="t{{ taxon.id }}-v{{ value.id }}">
      <label for="t{{ taxon.id }}-v{{ value.id }}" >×</label>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</div>

{% endblock %}
