{% extends "gobotany/_edit_base.html" %}

{% block body_content %}

<p>← return to pile <a href="..">{{ pile.slug }}</a></p>

<h1>{{ character.name }}</h1>

<h2>{{ character.short_name }}</h2>

<p>
  {% if character.friendly_name != character.name %}
    <b>{{ character.friendly_name }}:</b>
  {% endif %}
  {{ character.question }}
</p>

<div>
  <p>
    {% for value in values %}
      {{ value.value_str }}<br>
    {% endfor %}
  </p>
  {% for taxon, boxes in big_loop %}
    <p>
      {% for box in boxes %}
        {% if box %}
          X
        {% else %}
          O
        {% endif %}
      {% endfor %}
      <i>{{ taxon.scientific_name }}</i>
    </p>
  {% endfor %}
</div>
{% endblock %}
