{% extends "gobotany/_edit_base.html" %}

{% block js_require %}
    require(['editor/cv'], function (editor_cv) {
        editor_cv.setup();
    });
{% endblock %}

{% block body_content %}

<p>
  ← return to pile <a href="..">{{ pile.slug }}</a><br>
  → visit this plant in the <a href="/admin/core/taxon/{{ taxon.id }}"
                               >admin interface</a>
</p>

<h1>{{ taxon.scientific_name }}</h1>

<p>
  <span class="save-button">SAVE CHANGES</span>
</p>
<div class="default-literature-source">
  <label>Taxon Default Literature Source:</label> <input class="default-lit-source" />
</div>

<h2>Common characters</h2>

<div class="pile-character-grid taxon-character-grid">
  {% for character in common_characters %}
    <div data-name="{{ character.short_name }}">
      <span class="taxon-lit-source">
        Character Default Lit. Source: <input class="lit-source" />
      </span>
      <i class="character-name">{% if not character.is_any_value_checked %}
        <span>!</span> {% endif %}{{ character.name }}</i>
      {% for value in character.values %}
        <br><i></i>
        <b {% if value.checked %}class="x"{% endif %}>
          ×   {{ value.value_str }}
        </b>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<h2>Pile-specific characters</h2>

<div class="pile-character-grid taxon-character-grid">
  {% for character in pile_characters %}
    {% if character.value_type == 'LENGTH' %}
      <div data-name="{{ character.short_name }}">
        <span class="taxon-lit-source">
          Character Lit. Source: <input class="lit-source" value="{{ character.lit_source }}"/>
        </span>
        <i class="character-name">{{ character.name }}</i><br><i></i>
        {% with min=character.min max=character.max %}
        Min <input
          class="{% if min == None %} empty"{% else %}" value={{ min }}{% endif %}
        >
        Max <input
          class="{% if max == None %} empty"{% else %}" value={{ max }}{% endif %}
        >
        {{ character.unit }}
        {% endwith %}
      </div>
    {% else %}
      <div data-name="{{ character.short_name }}">
        <span class="taxon-lit-source">
          Character Default Lit. Source: <input class="lit-source" />
        </span>
        <i class="character-name">{% if not character.is_any_value_checked %}
          <span>!</span> {% endif %}{{ character.name }}</i>
        {% for value in character.values %}
          <br><i></i>
          <b {% if value.checked %}class="x"{% endif %}
             >×   {{ value.value_str }}</b>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>

{% csrf_token %}

{% endblock %}
