{% extends "gobotany/_edit_base.html" %}

{% block js_require %}
    require(['editor/cv'], function (edit) {
        edit.setup_pile_character_page();
    });
{% endblock %}

{% block body_content %}

<p>← return to pile <a href="..">{{ pile.slug }}</a></p>

<h1>{{ character.name }}</h1>

<h2>{{ character.short_name }}</h2>

<p class="new">
  All plants coverage: <b>{{ coverage_percent_full|floatformat:1 }} %</b><br>
  Simple Key coverage: <b>{{ coverage_percent_simple|floatformat:1 }} %</b>
</p>

<p>
  {% if character.friendly_name != character.name %}
    <b>{{ character.friendly_name }}:</b>
  {% endif %}
  {{ character.question }}
</p>

<p>
  Species marked with “(fk)” appear in the Full Key only.
</p>

<p>
  <span class="all-species-button">All Species</span>
  <span class="simple-key-button">Simple Key Only</span>
  <span class="save-button">SAVE CHANGES</span>
</p>

<div class="pile-character-grid">
  {% for kind, thing, minmax in grid %}
    {% if kind == 'family' %}
      {% with family=thing %}
      <h3>{{ family.name }}</h3>
      {% endwith %}
    {% else %}
      {% with taxon=thing min=minmax.0 max=minmax.1 %}
      <div><i>{{ taxon.scientific_name }}</i>
        <b>Min <input value={{ min }}></b>
        <b>Max <input value={{ max }}></b>
        {{ character.unit }}
      </div>
      {% endwith %}
    {% endif %}
  {% endfor %}
</div>

{% csrf_token %}

{% endblock %}
