{% extends "gobotany/_edit_base.html" %}

{% block body_content %}

<p>← return to <a href="..">pile list</a></p>

<h1>Characters in {{ pile.name }}</h1>

<h2>General characters</h2>

<p>
  {% for character in general_characters %}
    <a href="{{ character.short_name }}/">{{ character.short_name }}</a>
    — {{ character.friendly_name }}
    <br>
  {% endfor %}
</p>

<h2>Pile-specific characters</h2>

<p>
  {% for character in pile.characters.all %}
    <a href="{{ character.short_name }}/">{{ character.short_name }}</a>
    — {{ character.friendly_name }}
    <br>
  {% endfor %}
</p>
{% endblock %}
