{% extends "gobotany/_header.html" %}
{% load gobotany_tags %}

{# Use CSS class 'partner-site' for all partner sites #}
{% block header_css_class %}partner-site{% endblock %}

{% block home_page_main_heading %}Partner Site Sample: Go Botany{% endblock %}

{% block home_page_partner_site_name_tagline %}
    <p class="site-name"><b>Partner Site Sample</b>
        <i>brief partner site tagline here</i></p>
{% endblock %}

{% block partner_site_name_tagline %}
    <p class="site-name"><b>{% nav_item 'Partner Site Sample' site-home %}</b>
        <i>brief partner site tagline here</i></p>
{% endblock %}

{% block primary_navigation %}
    {% include "partner/_primary_navigation.html" %}
{% endblock %}

{% block search %}
    {# Omit for now. To enable search, remove this override. #}
{% endblock %}
