                    <div class="section">
                        <h4>Want help getting started?</h4>
                        <p>If you're not sure what to do from here, take a look at this Help page for instructions.</p>
                        <a class="get-help-btn" href="{% url 'site-getting-started' %}">Get Help</a>
                    </div>

                    <div class="section plant-map">
                        <h4>Shortcut to Groups</h4>
                        <p>If you already know what group your plant is in, start with the clickable plant map to find your plant more quickly.</p>
                        <a class="view-map-btn" href="{% url 'site-advanced-map' %}">View Map</a>
                    </div>


