{% extends "partner/_base.html" %}

{% block title %}Partner Site Sample: Go Botany{% endblock %}
{% block title_suffix %}{% endblock %}

{% block more_meta_link %}
    {% include "gobotany/_home_feed_link.html" %}
{% endblock %}

{% block body_attributes %}
    {# So far, use one set of body attributes for all partner sites. #}
    {% include "gobotany/_home_partner_body_attributes.html" %}
{% endblock %}

{% block js_require %}
    {% comment %}
    Disable the fading image carousel. Show just one unchanging image for now.
    {% include "gobotany/_home_js_require.html" %}
    {% endcomment %}
{% endblock %}

{% block header %}
    {% include "partner/_header.html" with page="home" %}
{% endblock %}

{% block body_content %}
    {% include "partner/_home_body_content.html" %}
{% endblock %}
