{% extends "partner/_base.html" %}

{% block title %}Partner Site Sample: Go Botany{% endblock %}
{% block title_sep %}{% endblock %}
{% block title_suffix %}{% endblock %}

{% block more_meta_link %}
    {% include "gobotany/_home_feed_link.html" %}
{% endblock %}

{% block body_attributes %}
    {# So far, use one set of body attributes for all partner sites. #}
    {% include "gobotany/_home_partner_body_attributes.html" %}
{% endblock %}

{% block js_require %}
    {% comment %}
    Optional, if the partner would like to disable the fading image
    carousel and show just one unchanging image (the first of the images
    loaded in the Admin.): comment out the JS include like so:
    {% include "gobotany/_home_js_require.html" %}
    {% endcomment %}
{% endblock %}

{% block header %}
    {% include "partner/_header.html" with page="home" %}
{% endblock %}

{% block body_content %}
    {% include "partner/_home_body_content.html" %}
{% endblock %}
