{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Change Email Address: Confirmation Sent:
    PlantShare{% endblock %}

{% block body_attributes %}id="change-email-sent-confirmation"
    class="plantshare"{% endblock %}

{% block main_content %}
<h1>Change Email Address: Confirmation Sent</h1>

<p>A confirmation email has been sent to your new address.</p>

<p>Click the link in it to finish your address change.</p>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}
