/*

Original CSS, to be re-activated selectively:

.form-row.character_value, .form-row.character, .form-row.taxon {
    overflow: visible; min-height: 25px; height: auto !important; height: 25px;
}
.change-form.yui-skin-sam .yui-ac-input {
    width: 400px;
}
.change-form.yui-skin-sam .yui-ac-content {
    max-height: 15em;
    overflow: auto;
}

*/

.description {
    margin: 3em 4em 3em 0;
    line-height: 1.5em;
}
