/* Go-Botany site styles */

body {
    padding: 24px;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 8px 0;
    padding: 8px 0;
}


h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0;
}

p {
    margin: 5px 0;
    padding: 5px 0;
}

#content {
    width: 960px;
}

#main {
    border: 1px dashed #ddd;
    float: right;
    margin: 0 0 1em;
    width: 750px;
}

#filters {
    border: 1px solid #ccc;
    float: left;
    min-height: 150px;
    width: 200px;
}

#filters p {
    border-bottom: 1px solid #ccc;
    font-size: 0.65em;
    line-height: 1.4em;
    margin: 0;
    padding: 1em;
}

#filters ul {
    font-size: 0.75em;
}

#filters li {
    margin: 1.5em 0 1.5em 1em;
}

#filters li a {
    margin-right: 0.5em;
    color: #00e;
}

#head, #foot, #plants {
    border: 1px dashed #ddd;
    color: #ddd;
    font-size: 0.65em;
    margin: 0 0 1em;
    padding: 1em 0;
    text-align: center;
}

#filter-working, #plants, #subway {
    clear: left;
}

#filter-working {
    border: 1px dashed #ddd;
    display: none;
    height: 180px;
    padding: 1em;
}

#filter-working .close {
    color: #00e;
    display: inline;
    float: right;
}

#filter-working h3 {
    font-size: 1em;
    font-weight: normal;
}

#filter-working .values {
    float: left;
    font-size: 0.85em;
    padding: 1em 0 0;
    width: 180px;
}

#filter-working .values label {
    display: block;
}

#filter-working .values input {
    margin: 0.6em 0;
}

#filter-working .info {
    float: left;
    font-size: 0.85em;
    padding: 1em;
    width: 470px;
}

#filter-working .info p {
    padding: 2em 0;
}

#plants {
    height: 300px;
}

#plants .species_count {
    font-size: 2em;
    font-weight: bold;
}
#plants .species_count .loading {
    color: #ddd;
}
#plants .species_count .count {
    color: black;
}

#subway ul li {
    margin: 0 0 0 1em;
}

#foot {
    clear: both;
    margin: 1em 0 0;
}

#global-filter form {
    float: left;
    margin: 0 4em 0 1em;
}

.PileVideo {
    height: 200px;
}

.PilePage .PileInfo {
    display: none;
}

.PilePage li {
    margin-left: 10px;
    display: list-item;
}

.PilePage ul {
    margin-left: 10px;
}

.PileInfo.tooltip.active {
    display: block;
}

/* Search page formatting */

#search_results_list h4 {
    font-style: italic;
    font-weight: bold;
}

#search_results_list p {
    margin-left: 2em;
}

#search_results_list .highlighted {
    font-weight: bold;
}

/* Dijit Claro overrides */
.claro {
    color: #000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 100%;
}
h3, h4, h5, h6 {
    margin-top: 0;
}

.subway h2 {
    font-weight: bold;
}

.subway {
    font-size: 0.8em;
}

#simplekey-left-column {
    width: 25%;
    border: 1px dashed #ddd;
    float: left;
}

#simplekey-right-column {
    width: 70%;
    border: 1px dashed #ddd;
    float: left;
}

#filter-working .name {
    text-align: center;
    font-weight: bold;
}

#filter-working .info .info-sub {
    float: left;
    border: 1px dashed #ddd;
    padding: 0.5em;
    margin-right: 1em;
}

#filter-working .info .info-sub h3 {
    font-weight: bold;
}

.clear {
    clear: both;
    height: 0;
}

.hidden {
    display: none;
}
