/* Go-Botany site styles */

body {
    padding: 24px;
}

h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 6px 0;
    padding: 6px 0;
}


h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0;
}

p {
    margin: 5px 0;
    padding: 5px 0;
}

.species_image_ribbon {
    margin: 8px auto;
    background-color: #c3d69b;
    padding: 8px;
    text-align: center;
}

#content {
    width: 960px;
}

#main {
    border: 1px dashed #ddd;
    float: right;
    margin: 0 0 1em;
    width: 750px;
}

#filters, #help #nav {
    border: 1px dashed #ccc;
    float: left;
    min-height: 150px;
    width: 200px;
}

#filters {
    border: 1px solid #ccc;
}

#help h1 {
    margin-left: 8.8em;
}

#help #main {
    padding-left: 1em;
    width: 730px;
}

#help #main h2 {
    font-weight: bold;
    margin-top: 0.7em;
}

#help #main div {
    font-size: 13px;
}

#help #main div.about {
    float: left;
    width: 450px;
}

#help #main img.about {
    border: 1px dashed #ddd;
    float: right;
    height: 100px;
    margin: 1em;
    width: 200px;
}

#help #main hr {
    clear: both;
    color: #eee;
}

#help #nav {
    font-size: 0.75em;
}

#help #nav li {
    margin: 1em 0 1.5em 1em;
}

#help #nav li p {
    color: #666;
}

#help #start {
    float: left;
    width: 450px;
}

#help #start-video {
    float: right;
    padding: 1em 1em 0 0;
}

#help #next {
    clear: both;
}

#help #subway p {
    text-align: left;
}

#help #video-topics {
    padding: 0 0 1em 0;
}

#help .clip {
    margin-bottom: 2em;
}

#more_filters {
    border-bottom: 1px solid #ccc;
    font-size: 0.65em;
    line-height: 1.4em;
    margin: 0;
    padding: 1em;
}

#more_filters label {
    display: block;
}

#filters ul {
    font-size: 0.75em;
}

#filters li {
    padding: 0.5em;
    border-bottom: 1px dashed #ccc;
}

#filters li:nth-last-child(1) {
    border-bottom: 0px;
}

#filters li a {
    margin-right: 0.5em;
    color: #00e;
}

#filters .loading {
    margin: 1em;
}

#head, #foot, #plants {
    border: 1px dashed #ddd;
    color: #ddd;
    font-size: 0.65em;
    margin: 0 0 1em;
    padding: 1em 0;
    text-align: center;
}

#navlinks p {
    color: #ccc;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
#navlinks p a.current {
    color: #000;
}

#help-nav {
    float: left;
    margin-top: 1.4em;
}

#filter-working, #pick-filters, #plants {
    clear: left;
}

#filter-working, #pick-filters {
    border: 1px dashed #ddd;
    display: none;
    height: 180px;
    padding: 1em;
}

#filter-working .close, #pick-filters .close {
    color: #00e;
    display: inline;
    float: right;
}

#filter-working h3.name, #pick-filters h3.name {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#filter-working .info .info-sub {
    float: left;
    border: 1px dashed #ddd;
    padding: 0.5em;
    margin-right: 1em;
}

#filter-working .info .info-sub h3 {
    font-weight: bold;
}

#filter-working .values {
    float: left;
    font-size: 0.85em;
    padding: 1em 0 0;
    width: 250px;
}

#filter-working .values label {
    display: block;
}

#filter-working .values input {
    margin: 0.6em 0;
}

#filter-working .info {
    float: left;
    font-size: 0.85em;
    padding: 1em;
    width: 410px;
}

#filter-working .info p {
    padding: 2em 0;
}

#filter-working .dijitSliderButtonContainerH {
    padding: 0;
}

form#results-display {
    font-size: 0.7em;
}

form#results-display label {
    margin-left: 1em;
}

#plants {
    height: 350px;
    overflow: auto;
}

#plants .species_count {
    font-size: 2em;
    font-weight: bold;
}
#plants .species_count .count {
    color: black;
}
#plants .loading {
    background: transparent;
}

ul#plant-listing {
    overflow: hidden;
    margin: 0;
}

#plant-listing .PlantScrollPage li {
    float: left;
    padding: 6px 3px;
    border-left: 5px solid #fff;
    margin: 0 0 10px 0;
    min-height: 150px;
}
#plant-listing .PlantScrollPage li.genus0 { background-color: #d9d9d9; }
#plant-listing .PlantScrollPage li.genus0 + li.genus0 {
    border-left-color: #d9d9d9;
}
#plant-listing .PlantScrollPage li.genus1 { background-color: #d5ecc5; }
#plant-listing .PlantScrollPage li.genus1 + li.genus1 {
    border-left-color: #d5ecc5;
}
#plant-listing .PlantScrollPage li.genus2 { background-color: #aa98aa; }
#plant-listing .PlantScrollPage li.genus2 + li.genus2 {
    border-left-color: #aa98aa;
}
#plant-listing .PlantScrollPage li.genus3 { background-color: #c5e8ff; }
#plant-listing .PlantScrollPage li.genus3 + li.genus3 {
    border-left-color: #c5e8ff;
}

#plant-listing li.PlantScollPage {
    margin: 0;
    text-align: center;
}

#plant-listing li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 110px;
    text-align: center;
    vertical-align: middle;
}

#plant-listing li a:hover {
    ;
}

#plant-listing .MissingImage {
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

#plant-listing img, #plant-listing .MissingImage {
    background-color: #CCCCCC;
}

#plant-listing .PlantTitle {
    display: block;
    font-style: italic;
}

/* Glossary page */

ul#glossary_pages {
    font-size: 1.5em;
    text-align: center;
}
ul#glossary_pages li {
    display: inline;
}
ul#glossary_pages .chosen {
    color: #c3d69b;
}

ul#glossary li {
    padding: 4px 6px;
}
ul#glossary li:nth-child(odd) {
    background: #c3d69b;
}
ul#glossary li:nth-child(even) {
    background: #edf9d7;
}

/* Subway map */

#subway {
    text-align: center;
}

#subway h2 {
    margin: 40px;
}

#subway > ul {
    margin-bottom: 140px;
}

#subway li {
    position: relative;
    display: inline-block;
    margin: 8px;
    padding: 16px 6px;
    background: #c3d69b;
}

#subway li ul {
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: -10em;
    width: 27em;
    padding: 8px 0px;
    background: #edf9d7;
}

/* Footer */

#foot {
    clear: both;
    margin: 1em 0 0;
}

#global-filter form {
    float: left;
    font-size: 0.7em;
    margin: 0 4em 0 1em;
}

#footcrumbs li {
    position: relative;
    display: inline-block;
    margin-bottom: 3em;
    border: 1px solid black;
    background-color: #ccc;
    padding: 5px;
    color: black;
}
#footcrumbs #you_are_here {
    position: absolute;
    top: 3em;
    left: -1em;
}

/* Video */

.PileVideo {
    height: 200px;
}

.PilePage .PileInfo {
    display: none;
}

.PilePage li {
    margin-left: 10px;
    display: list-item;
}

.PilePage ul {
    margin-left: 10px;
}

.PileInfo.tooltip.active {
    display: block;
}

.PilePage h2 {
    font-size: 1.3em;
}

.PilePage h2 + ul, .KeyCharacteristics ul, .NotableExceptions ul,
.key-characteristics ul, .notable-exceptions ul {
    list-style: disc;
    margin-left: 24px;
}
.PilePage h2 + ol, .KeyCharacteristics ol, .NotableExceptions ol,
.key-characteristics ol, .notable-exceptions ol {
    list-style-type: decimal;
    margin-left: 32px;
}

.PilePage hr {
    color: #eee;
}

/* Search page formatting */

.search-navigation {
    text-align: center;
}

.search-navigation h3 {
    display: inline;
}

#search-results {
    margin-left: 100px;
    width: 700px;
}

#search-results h1 {
    margin: 0.5em 0;
}

#search-results .time {
    font-size: 0.7em;
    margin: 0.1em 0 1em 0;
}

#search-results-list li {
    margin-bottom: 0.5em;
}

#search-results-list h2 {
    font-size: 0.9em;
    margin: 0;
}

#search-results-list p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

#search-results-list .highlighted {
    font-weight: bold;
}

#results-display {
    clear: left;
}

#search-results .search-type {
    font-size: 0.8em;
}

#search-results .search-type {
    padding: 1em 0 2em 0;
}

#search-results .search-type .option {
    margin-left: 2em;
}

.disabled {
    color: #ccc;
}

/* Dijit Claro overrides */
.claro {
    color: #000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 100%;
}
h3, h4, h5, h6 {
    margin-top: 0;
}

#simplekey-left-column {
    width: 25%;
    border: 1px dashed #ddd;
    float: left;
}

#simplekey-right-column {
    width: 70%;
    border: 1px dashed #ddd;
    float: left;
}

.clear {
    clear: both;
    height: 0;
}

.loading.hidden,
.hidden {
    display: none;
}

.loading {
    color: #aaa;
    display: block;
    padding-left: 18px;
    background: transparent url(ajax-loader.gif) no-repeat;
}

/* Turn off the annoying decoration on the DropDownButton that we have
   to use on the pile-info species image ribbon if we want a tooltip to
   pop up when we click. */

.PilePage .species_image_ribbon .dijitButtonNode,
.PileInfo .species_image_ribbon .dijitButtonNode {
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    -moz-border-radius: 0px 0px 0px 0px;
    -moz-box-shadow: none;
}
.PilePage .species_image_ribbon .dijitButtonText,
.PileInfo .species_image_ribbon .dijitButtonText {
    padding: 0;
}
.PilePage .species_image_ribbon .dijitArrowButtonInner,
.PileInfo .species_image_ribbon .dijitArrowButtonInner {
    display: none;
}

/* Plant preview dialogs, wherever they appear */

#plant-preview {
    background-color: #fff;
    color: #000;
    font-size: 0.8em;
}

#plant-preview h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

#plant-preview #preview-intro {
    position: absolute;
    left: -2000px;
}

#plant-preview div.photos {
    float: left;
    font-size: 0.9em;
    height: 220px;
    margin: 0 0.5em;
    position: relative;
    text-align: center;
    width: 202px;
}

#plant-preview div.photos img {
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
}

#plant-preview div.photos p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 205px;
    width: 200px;
}

#plant-preview div.photos a {
    padding: 0 1em;
}

#plant-preview dl {
    padding: 0.5em;
    float: right;
}

#plant-preview dt {
    /*border: 1px solid red;*/
    clear: left;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 200px;
}

#plant-preview dd {
    /*border: 1px solid green;*/
    margin: 0 0 0 210px;
    padding: 0 0 1em 0;
}

#plant-preview div.nav {
    clear: both;
    text-align: center;
}

/* ordinarily this msg will have it's centering done
by javascript, see gobotany.sk.results.notify() */
#notification-msg {
    background-color: #C8B560;
    -moz-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.25em 0.75em;
}

input.filter_int {
    width: 5em;
}

input.filter_int2 {
    width: 5em;
}

/* Highlighted glossary words in text. */

.gloss {
    border-bottom: 1px dashed;
    cursor: pointer;
}
.glosstip {
    font-size: 0.72em;
}

/* Taxon (species) page */
.auth {
    font-size: 0.5em;
    font-weight: normal;
}

#species h2 {
    font-size: 1.2em;
}

#species h3 {
    clear: left;
    font-weight: bold;
    margin-top: 1em;
}
#species h3:first-child {
    margin-top: 0;
}

#info p, #info ul, #more-info p, #more-info ul {
    margin-left: 1em;
}
#info ul {
    list-style-type: disc;
    margin-left: 2em;
}

#species > div {
    float: left;
    font-size: 0.8em;
    margin-right: 16px;
}

#species > div div {
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

#species #images {
    width: 350px;
}

#species #images img {
    max-width: 350px;
}

#species #images .nav {
    text-align: center;
}

#species #images .nav a {
    padding: 0 1em;
}

#species #info {
    width: 300px;
}
#species #more-info {
    width: 250px;
}

#species dl {
    margin-bottom: 1.5em;
}
#species dt {
    margin: 1em 0 0.5em 1em;
}
#species dd {
    margin: 0.5em 0 0.5em 2em;
}

/* genus/family pages */
#taxon-photos {
    float: left;
    width: 320px;
    min-height: 600px;
    overflow: hidden;
}

#taxon-photos ul {
    width: 1000000px;
    height: 540px;
}

#taxon-photos li {
    float: left;
    width: 320px;
    overflow: hidden;
}

#taxon-photos .Navigation {
    text-align: center;
}

#taxon-info {
    float: left;
    width: 400px;
    margin: 0 20px;
    min-height: 600px;
    background-color: #D8E8C8;
}

#taxon-info dl {
    margin: 20px 5px;
}

#taxon-info dd {
    margin-bottom: 2em;
}

#taxon-info li {
    list-style-type: square;
    margin-left: 2em;
}

#taxon-info ul.Genera {
    margin-bottom: 2em;
}

#taxon-drawings {
    float: left;
    width: 200px;
    min-height: 600px;
    background-color: #D8E8C8;
}

#taxon-drawings ul {
    margin: 20px auto;
    text-align: center;
}

#taxon-drawings li .ItemDrawing {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

#taxon-drawings li img {
    margin: 20px 0;
}

#dist-county-map {
    height: 345px; /* Safari needs this, evidently */
}

#guided_search_filter_list {
    white-space: nowrap;
}
