{% extends "gobotany/_page_full_sidebar.html" %}
{% load simplekey_extras %}

{% block title %}
Family: {{ family.name }} {% if common_name %}({{ common_name|cut:"The "|lower }}){% endif %}{% endblock %}

{% block js_top %}
    <script>
        API_URL = '{% url api-base %}';
    </script>

    {# TODO: eventually move elsewhere #}
    {% include "simplekey/_partner_site_js.html" %}
{% endblock %}

{% block js_require %}
    var args = {
        family_slug: '{{ family.slug }}'
    };
    require(['taxa/family'], function(family) {
        family.init(args);
    });
{% endblock %}

{% block body_attributes %}id="family" class="taxa"{% endblock %}

{% block main_content %}
                <h1>Family: {{ family.name }}</h1>
                {% if common_name %}
                    <h3>{{ common_name|cut:"The "|lower }}</h3>
                {% endif %}
                <p class="description">
                {% if family.description %}
                    {{ family.description }}
                {% else %}
                    (Description coming soon)
                {% endif %}
                </p>
                
                <div class="pics">
                    {% for drawing in family_drawings %}
                        <div class="img-gallery">
                            <div class="plant">
                                <div class="frame"></div>
                                <a href="{{ drawing.image_medium }}"
                                    title="{% photo_credit drawing drawing.content_object.scientific_name %}">
                                    <img class="map"
                                        src="{{ drawing.thumb_large }}"
                                        alt="{% photo_credit drawing drawing.content_object.scientific_name %}"></a>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h4>This Family&#8217;s Genera:</h4>
                <ul class="genera">
                {% for genus in family.genera.all %}
                    <li><i><a href="{% url taxa-genus genus.slug %}"
                    >{{ genus.name }}</a></i></li>
                {% endfor %}
                </ul>
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
