<!DOCTYPE html>
<html>
    <head>
        <title>Smartphone User Testing Level 3 Page Links</title>
    </head>
    <body>
        <p><a href="/">Go Botany Home</a></p>

        <h1>Smartphone User Testing: Level 3 Page Links</h1>

        <p>Here are links to variations of the Level 3 page on
        smartphones, for user testing.</p>

        <p>Needle-leaved woody plants: <a target="_blank"
            href="/simple/woody-plants/woody-gymnosperms/">split</a>
            |
            <a target="_blank"
                href="/simple/woody-plants/woody-gymnosperms/?m=mobile-wide">wide</a>
            |
            <a target="_blank"
                href="/simple/woody-plants/woody-gymnosperms/?m=mobile-wide%20mobile-inline">inline</a>
        </p>

    </body>
</html>
