{% load dkey_filters %}
<ul>
    <li class="label nogloss">You are here:</li>
    {% for ancestor in page|breadcrumbs %}
      {% if forloop.counter0 == 0 %}
        <li class="nogloss"><a href="{% url 'dkey' %}">Dichotomous Key</a></li>
      {% else %}
        <li class="nogloss"><a data-rank="{{ ancestor.rank }}" data-title="{{ ancestor.title }}"
                href="{% url 'dkey_page' ancestor|slug %}"
                >{{ ancestor|display_title|expand_group_title }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.title == 'Key to the Families' %}
        <li class="this-page nogloss">Dichotomous Key</li>
    {% else %}
        <li class="this-page nogloss">
        {% with page.title|expand_group_title as title %}
        {% if page.rank == 'genus' %}
            <i>{{ title }}</i>
        {% else %}
            {{ title }}
        {% endif %}
        {% endwith %}
        </li>
    {% endif %}
</ul>
