{% extends "simplekey/_new_base.html" %}
{% load dkey_filters %}

{% block title %}{{ couplet|ctitle|strip }}{% endblock %}
{% block script_name %}couplet{% endblock %}
{% block body_attributes %}
    data-couplet-rank="{{ couplet.rank }}"
    data-couplet-title="{{ couplet.title }}"
{% endblock %}
{% block body_content %}

{% with title=couplet|ctitle|strip %}

<div class="offer-help-aside">
  <span>Want help getting started?</span>
  <a href="/help/">Get Help</a>
  {% if title == 'Key to the Families' %}
    <br><select class="jumpbox">
      <option>Jump to a family…</option>
      {% for family in families %}
      <option>{{ family }}</option>
      {% endfor %}
    </select><br><select class="jumpbox">
      <option>Jump to a genus…</option>
      {% for genus in genera %}
      <option>{{ genus }}</option>
      {% endfor %}
    </select>
  {% endif %}
</div>

{% if title == 'Key to the Families' %}
  <h1>Dichotomous Key to Families</h1>
{% else %}
  <h1>{{ couplet|ctitle|strip }}</h1>
{% endif %}

<p class="backlinks">
  {% for ancestor in couplet.ancestors %}
    {% if ancestor.title %}
      <a href="{% url couplet ancestor|cslug %}">
        {% if loop.index == 1 %}
          « Back to the {{ ancestor|ctitle|strip|replace:' :\u00a0' }}
        {% else %}
          « {{ ancestor|ctitle|strip|replace:' :\u00a0' }}
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
  {% if title == 'Key to the Families' %}
    <a href="/Groups/">See the family groups as a list »</a>
  {% endif %}
  {% if title == 'List of Family Groups' %}
    <a href="/Families/">« Return to the dichotomous key</a>
  {% endif %}
</p>

{% if proxy.has_only_one_lead == 1 %}
  <p>This {{ proxy.couplet.rank }} contains
    exactly one {{ proxy.first_lead.result.rank }},
    {{ proxy.first_lead.result|ctitle|strip }}.</p>
  {{ proxy.step }}
{% endif %}
{% if proxy.has_only_one_lead == 1 %}
  <p>This {{ couplet.rank }} contains
    exactly one {{ couplet.first_lead.result.rank }},
    {{ couplet.first_lead.result|ctitle|strip }}.</p>
  {{ proxy.step }}
{% endif %}

{{ proxy.couplet.text|figurize }}

{% if proxy.couplet.leads %}

<ul class="couplets couplet">
  {% for lead, result, goto, ranks_beneath, names_beneath in proxy.leads %}
    <li>
      <div class="lead">
        <div class="button-block">
          {% if names_beneath %}
            <a class="what-lies-beneath" href=""
               data-taxa="{{ names_beneath|join:',' }}">
              {% if names_beneath|length > 1 %}
                See list of {{ names_beneath|length }}
                {{ ranks_beneath|pluralize|join:' and ' }}
              {% else %}
                See one {{ ranks_beneath|first }}
              {% endif %}
              {% if lead.letter %}
                in {{ lead.letter|strip:'.' }}
              {% endif %}
            </a>
          <br>
          {% endif %}
          <a class="button"
          {% if result.rank == 'group' %}
             href="{% url couplet lead.result|cslug %}">{{ result.title|upper }}
          {% elif result.rank == 'subkey' %}
             href="{% url couplet lead.result|cslug %}">VISIT KEY
          {% elif result.rank == 'family' %}
             href="{% url couplet lead.result|cslug %}">{{ result.title }}
          {% elif result.rank == 'subgroup' and
                  result.nearest_ancestor_rank == 'family' %}
             href="{% url couplet lead.result|cslug %}"
               >{{ result.title|replace:'Group :' }}
          {% elif result.rank == 'genus' %}
             href="{% url couplet lead.result|cslug %}"><i>{{ result.title }}</i>
          {% elif result.rank == 'subgroup' and
                  result.nearest_ancestor_rank == 'genus' %}
             href="{% url couplet lead.result|cslug %}"
               ><i>{{ result.title|replace:'Group :' }}</i>
          {% elif result.rank == 'tribe' %}
             href="{% url couplet lead.result|cslug %}"
               >{{ result.title|lastword }}
          {% elif result.rank == 'species' %}
             href="{% url couplet lead.result|cslug %}"
               ><i>{{ result.title|abbr }}</i>
          {% elif goto %}
             href="#c{{ goto }}">JUMP TO {{ goto }}
          {% else %}
             href="#c{{ result.number }}">{{ result.number }} ↴
          {% endif %}
          </a>
        </div>
        {% if not result %}
          <span class="warn">[Error: lead.result is None]</span>
        {% elif lead.letter %}
          <span class="letter">{{ lead.letter }}</span>
          {{ lead.text|figurize }}
        {% elif result.rank == 'subkey' %}
          <b>Option {{ loop.index }}.</b> {{ result.title }}
        {% endif %}
      </div>
      {% if result and not result.rank and not goto %}
        <ul id="c{{ result.number }}" class="couplet">
          { loop(lead.result.leads) } TODO: recurse
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if not couplet.is_lone %}
  <p><a class="show-all-button" href="#all">Show All Couplets</a></p>
{% endif %}

{% endif %}

<div class="taxon-images"></div>

{% endwith %}
{% endblock %}
