{% extends "simplekey/_new_base.html" %}
{% load dkey_filters %}

{% block title %}{{ page.title }}{% endblock %}
{% block script_name %}dkey{% endblock %}
{% block body_attributes %}
    data-couplet-rank="{{ page.rank }}"
    data-couplet-title="{{ page.title }}"
{% endblock %}
{% block body_content %}

{% with title=page|display_title %}

<div class="offer-help-aside">
  <span>Want help getting started?</span>
  <a href="/help/">Get Help</a>
  {% if title == 'Key to the Families' %}
    <br><select class="jumpbox">
      <option>Jump to a family…</option>
      {% for family in families %}
      <option>{{ family }}</option>
      {% endfor %}
    </select><br><select class="jumpbox">
      <option>Jump to a genus…</option>
      {% for genus in genera %}
      <option>{{ genus }}</option>
      {% endfor %}
    </select>
  {% endif %}
</div>

{% if title == 'Key to the Families' %}
  <h1>Dichotomous Key to Families</h1>
{% else %}
  <h1>{{ title }}</h1>
{% endif %}

<p class="backlinks">
  {% for ancestor in page|breadcrumbs %}
    <a href="{% url dkey_page ancestor|slug %}">
      {% if loop.index == 1 %}
        « Back to the {{ ancestor|display_title|nobr }}
      {% else %}
        « {{ ancestor|display_title|nobr }}
      {% endif %}
    </a>
  {% endfor %}
  {% if title == 'Key to the Families' %}
    <a href="/Groups/">See the family groups as a list »</a>
  {% endif %}
  {% if title == 'List of Family Groups' %}
    <a href="/Families/">« Return to the dichotomous key</a>
  {% endif %}
</p>

{% if leads|length == 1 %}
  <p>This {{ page.rank }} contains
    exactly one {{ next_page.rank }},
    {{ page|display_title }}.</p>
{% endif %}
{% if leads|length == 1 %}
  <p>This {{ page.rank }} contains
    exactly one {{ next_page.rank }},
    {{ page|display_title }}.</p>
{% endif %}

{{ page.text|figurize|safe }}

{% if leads %}
  <ul class="couplets couplet">
  {% for item in lead_hierarchy %}
    {% if item.0 %}
      {{ item|safe }}
    {% else %}
      ITEM {{ item }}
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

{% comment %}

{% if proxy.couplet.leads %}

<ul class="couplets couplet">
  {% for lead, result, number, goto, ranks_beneath, names_beneath in proxy.leads %}
    <li>
      <div class="lead">
        <div class="button-block">
          {% if names_beneath %}
            <a class="what-lies-beneath" href=""
               data-taxa="{{ names_beneath|join:',' }}">
              {% if names_beneath|length > 1 %}
                See list of {{ names_beneath|length }}
                {{ ranks_beneath|pluralize|join:' and ' }}
              {% else %}
                See one {{ ranks_beneath|first }}
              {% endif %}
              {% if lead.letter %}
                in {{ lead.letter|strip:'.' }}
              {% endif %}
            </a>
          <br>
          {% endif %}
          <a class="button"
          {% if result.rank == 'group' %}
             href="{% url couplet lead.result|cslug %}">{{ result.title|upper }}
          {% elif result.rank == 'subkey' %}
             href="{% url couplet lead.result|cslug %}">VISIT KEY
          {% elif result.rank == 'family' %}
             href="{% url couplet lead.result|cslug %}">{{ result.title }}
          {% elif result.rank == 'subgroup' and
                  result.nearest_ancestor_rank == 'family' %}
             href="{% url couplet lead.result|cslug %}"
               >{{ result.title|replace:'Group :' }}
          {% elif result.rank == 'genus' %}
             href="{% url couplet lead.result|cslug %}"><i>{{ result.title }}</i>
          {% elif result.rank == 'subgroup' and
                  result.nearest_ancestor_rank == 'genus' %}
             href="{% url couplet lead.result|cslug %}"
               ><i>{{ result.title|replace:'Group :' }}</i>
          {% elif result.rank == 'tribe' %}
             href="{% url couplet lead.result|cslug %}"
               >{{ result.title|lastword }}
          {% elif result.rank == 'species' %}
             href="{% url couplet lead.result|cslug %}"
               ><i>{{ result.title|abbr }}</i>
          {% elif goto %}
             href="#c{{ goto }}">JUMP TO {{ goto }}
          {% else %}
             href="#c{{ number }}">{{ number }} ↴
          {% endif %}
          </a>
        </div>
        {% if not result %}
          <span class="warn">[Error: lead.result is None]</span>
        {% elif lead.letter %}
          <span class="letter">{{ lead.letter }}</span>
          {{ lead.text|figurize }}
        {% elif result.rank == 'subkey' %}
          <b>Option {{ loop.index }}.</b> {{ result.title }}
        {% endif %}
      </div>
      {% if result and not result.rank and not goto %}
        <ul id="c{{ number }}" class="couplet">
          { loop(lead.result.leads) } TODO: recurse
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if not couplet.is_lone %}
  <p><a class="show-all-button" href="#all">Show All Couplets</a></p>
{% endif %}

{% endif %}

<div class="taxon-images"></div>

{% endcomment %}
{% endwith %}
{% endblock %}
