<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}Default{% endblock %}</title>

    <script type="text/javascript">
	djConfig = { 
           isDebug: true,
           debugAtAllCosts:true,
           useXDomain: false,
           baseUrl: 'http://localhost:8000',
           modulePaths: {
               gobotany: '/static/gobotany'
           },
       };
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" type="text/javascript"></script>

    {% block js %}{% endblock %}

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/tundra/tundra.css" type="text/css" media="screen" title="Dijit Tundra Style" charset="utf-8"> 

    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body class="tundra">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
