/*

Original CSS, to be re-activated selectively:

.form-row.character_value, .form-row.character, .form-row.taxon {
    overflow: visible; min-height: 25px; height: auto !important; height: 25px;
}
.change-form.yui-skin-sam .yui-ac-input {
    width: 400px;
}
.change-form.yui-skin-sam .yui-ac-content {
    max-height: 15em;
    overflow: auto;
}

*/

.description {
    margin: 3em 4em 3em 0;
    line-height: 1.5em;
}


/* Pagination: Go to Page customization */

#go-to-page-number {
    margin-bottom: 5px;
}


/* Distribution model change form: Save and Edit Next button */

/* Hide the button on all other models' forms. */
form:not(#distribution_form) input[name="_editnext"] {
    display: none;
}

/* Distribution: add set of Distribution records form */

body.dist-add-set-form .aligned label {
    width: 10em;
}
body.dist-add-set-form input#id_scientific_name {
    width: 40em;
}
