textarea {
    font-family: monospace;   /* for easier editing */
}
.description {
    margin: 3em 4em 3em 0;
    line-height: 1.5em;
}


/* Pagination: Go to Page customization */

#go-to-page-number {
    margin-bottom: 5px;
}


/* List views: allow wrapping long labels (see Question model) */

#result_list th a,
#result_list td.field-answer {
    word-break: break-all;
}


/* List view links: overridden "main" link */
a.main-list-display {
    font-weight: 600;
}


/* D. Key custom navigation item */
.dkey-custom {
    float: right;
}


/* Hide the Save and Continue Editing button on the Dist. form. */
form#distribution_form input[name="_continue"] {
    display: none;
}


/* Distribution: add set of Distribution records form */

body.dist-add-set-form .aligned label {
    width: 10em;
}
body.dist-add-set-form input#id_scientific_name {
    width: 40em;
}


/* D. Key Leads model:
    Wrap read-only cache field, an unbroken sequence with no spaces */

.field-taxa_cache p {
    word-wrap: break-word;
    width: 600px;
}