{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Answer Questions: Staff Only: PlantShare{% endblock %}

{% block body_attributes %}id="answer-questions"
    class="plantshare"{% endblock %}

{% block main_content %}
<h1>Answer Questions</h1>

<p>Review and answer questions from the Ask the Botanist section here.</p>

<h2>Unanswered</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Asked</th>
            <th>Asked By</th>
        </tr>
    </thead>
    {% for question in unanswered_questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.asked }}</td>
            <td>{{ question.asked_by }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Answered</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Asked</th>
            <th>Asked By</th>
            <th>Answer</th>
            <th>Category</th>
        </tr>
    </thead>
    {% for question in answered_questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.asked }}</td>
            <td>{{ question.asked_by }}</td>
            <td>{{ question.answer }}</td>
            <td>{{ question.category }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}


