{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}Screen Image Uploads: Staff Only: PlantShare{% endblock %}

{% block body_attributes %}id="screen-images" class="plantshare screen-images"{% endblock %}

{% block main_content %}
<h1>Screen Image Uploads</h1>

<div class="box">
    <h2>Image Screening</h2>
    <p>Images uploaded by Plantshare users must be screened before they will
    appear publically or be shared with other users.  Please select images
    which do not contain inappropriate or copyrighted material, and check
    "Approve" to approve the images for public display. Images left unchecked
    will be rejected as inappropriate.</p>
</div>

<form method="POST" action="">
    {% csrf_token %}
    {{ screening_formset.management_form }}
    <table class="unscreened">
      <tr class="header">
        <th class="approval">Approved</th>
        <th class="thumb">Image</th>
        <th>Type</th>
        <th>Uploaded By</th>
        <th>Uploaded Date</th>
      </tr>
    {% for form in screening_formset %}
      {{ form.id }}
      <tr>
        <td class="approval">{{ form.is_approved }}</td>
        <td class="thumb"><img src="{{ form.instance.thumb.url }}" /></td>
        <td>{{ form.instance.get_image_type_display }}</td>
        <td>{{ form.instance.uploaded_by.get_full_name }}</td>
        <td>{{ form.instance.uploaded|date:"m/d/Y" }}</td>
      </tr>
    {% empty %}
      <tr><td colspan=5>There are currently no unscreened images</td></tr>
    {% endfor %}
    </table>
    <div class="form-control"><input type="submit" value="Save" class="save-btn" /></div>
</form>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

