{% extends "gobotany/_page_free_sidebar.html" %}

{% block title %}PlantShare{% endblock %}

{% block body_attributes %}id="plantshare" class="plantshare"{% endblock %}

{% block main_content %}
<h1>Screen Image Uploads</h1>

<div class="profile box">
    <h2>Image Screening</h2>
    <p>Images uploaded by Plantshare users must be screened before they will
    appear publically or be shared with other users.  Please select images
    which do not contain inappropriate or copyrighted material, and choose
    "Approve" to approve the images for public display.</p>
</div>

{% endblock %}

{% block sidebar_content %}
    {% include "_plantshare_navigation.html" %}
{% endblock %}

