/* some fixes to things that the Claro Dijit theme styles clobber */

ol li, ul li {
    line-height: inherit;
}

.claro {
   	color: #000;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
