/* Quick informal CSS for the edit pages. */

.edit-page #all {
    margin: 2em;
}
.edit-character-definition {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0;
}
.pile-character-grid {
    margin-top: 3em;
    table-layout: fixed;
}
.pile-character-grid th {
    text-align: left;
}
.pile-character-grid th.value {
}
.pile-character-grid th.value div {
    position: relative;
    bottom: -60%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
}
.pile-character-grid input {
    display: none;
}
.pile-character-grid label {
    display: block;
    padding: 0.25em 0.5em;
    text-align: center;
}
.pile-character-grid label:hover {
    background-color: yellow;
}
.pile-character-grid :checked + label {
    background-color: green;
    color: white;
}
.pile-character-grid :checked + label:hover {
    background-color: black;
}
