/* Quick informal CSS for the edit pages. */
/* Go Botany common definitions */
/* for gradient, etc. */
/* Web fonts: style-linked groups */
@font-face { font-family: Basetica; src: url(/static/fonts/Basetica-Medium-205TF.woff2) format("woff2"), url(/static/fonts/Basetica-Medium-205TF.woff) format("woff"); }
@font-face { font-family: Basetica; font-style: italic; src: url(/static/fonts/Basetica-Medium-Italic-205TF.woff2) format("woff2"), url(/static/fonts/Basetica-Medium-Italic-205TF.woff) format("woff"); }
@font-face { font-family: ScalaSans; font-weight: bold; src: url(//newfs.s3.amazonaws.com/fonts/ScalaSansWeb-Bold.woff) format("woff"); }
/* was #807121, darkened for WCAG AA */
/* TODO: fix; too light for WCAG AA */
/* from NPT palette */
/* lighter version of #a7da7e green from NPT palette */
/* darker version of #a7da7e green from NPT palette */
/* dark version of #a7da7e green from NPT palette */
.orange-button, span.all-species-button, span.simple-key-button, .save-button, .length-save-button { background-color: #d87e54; border: 1px solid #d87e54 !important; border-radius: 14px; box-shadow: 0px 1px 2px 0 #a2a64d; color: #000; cursor: pointer; display: inline-block; font-family: ScalaSans, "Trebuchet MS", Helvetica, Arial, "Lucida Sans Unicode", sans-serif; font-size: 12px; font-weight: bold !important; letter-spacing: 1px; line-height: 18px; min-width: 80px; padding: 4px 12px; text-align: center; text-decoration: none; text-shadow: 1px 2px 2px #d87e54; }
.orange-button:active, span.all-species-button:active, span.simple-key-button:active, .save-button:active, .length-save-button:active { background-color: #d87e54; /* TODO: active button style/color */ }
.orange-button:hover, span.all-species-button:hover, span.simple-key-button:hover, .save-button:hover, .length-save-button:hover, .orange-button:visited, span.all-species-button:visited, span.simple-key-button:visited, .save-button:visited, .length-save-button:visited, .orange-button:active, span.all-species-button:active, span.simple-key-button:active, .save-button:active, .length-save-button:active { color: #000; }
.orange-button.caps, span.caps.all-species-button, span.caps.simple-key-button, .caps.save-button, .caps.length-save-button { text-transform: uppercase; }
.orange-button.disabled, span.disabled.all-species-button, span.disabled.simple-key-button, .disabled.save-button, .disabled.length-save-button { background-color: #f0ccbc; border-color: #edc573 !important; color: #666 !important; cursor: default !important; text-shadow: none; }
.orange-button.large, span.large.all-species-button, span.large.simple-key-button, .large.save-button, .large.length-save-button { border-radius: 20px; color: #000; font-size: 16px; letter-spacing: 1.5px; min-width: 150px; padding: 9px 30px; }

.hidden { display: none !important; }

/* image popups (used in D. Key, and in D. Key section of species page) */
div.shadow { /* shadow that hides the whole page */ display: none; position: fixed; z-index: 1000; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.45); text-align: center; }

div.popup { /* for displaying quick lists of taxa */ border-radius: 1em; display: inline-block; margin: 5% auto; max-height: 90%; overflow-y: auto; overflow-x: hidden; /* otherwise scrolling can leak to page */ border: 0.5em solid #acac90; background-color: #fcf8ef; padding: 1em 2em; text-align: left; font-size: 12px; line-height: 1.25em; }

div.popup h2 { /* "See list of 14 species in 1b" */ border-bottom: 1px solid #519136; padding-bottom: 0.5em; color: #519136; font-family: "Trebuchet MS", Helvetica, Arial, "Lucida Sans Unicode", sans-serif; font-weight: normal; /* For tall lists a scrollbar appears, and tends to make the last word of the title wrap unattractively. */ white-space: nowrap; }

div.popup a { text-decoration: none; color: #000; }
div.popup a:hover, div.popup a:focus { text-decoration: underline; }
div.popup a:hover { color: #35661c; }

/* For occasional, temporary donation campaigns: message at top of page */
#top-message { background-color: #d87e54; color: #000; font-family: Verdana, Geneva, "Lucida Sans Unicode", sans-serif; font-size: 12px; margin: 0; padding: 12px 24px; }

#top-message p { line-height: 150%; }

#top-message button { border: 1px solid gray; border-radius: 6px; cursor: pointer; float: right; font-family: ScalaSans, Verdana, Geneva, "Lucida Sans Unicode", sans-serif; font-size: 14px; font-weight: bold; letter-spacing: 1px; margin-right: 45px; margin-top: -38px; padding: 10px 10px 6px; text-transform: uppercase; }

#top-message svg { cursor: pointer; float: right; margin-right: 4px; margin-top: -30px; }

@media only screen and (max-width: 980px) { #top-message p { margin: 0 0 1rem; }
  #top-message button { float: none; }
  #top-message svg { margin-top: -27px; } }
.edit-page #all { margin: 2em; }

.edit-character-definition { margin-top: 0; margin-left: 2em; margin-bottom: 0; }

span.all-species-button, span.simple-key-button, .save-button, .length-save-button { cursor: pointer; display: inline-block; margin: 0.8em 1em; font-weight: normal; }

.pile-character-grid { position: relative; margin-top: 2em; /* Editing a single character for many taxa: */ /* For editing numeric values. */ /* http://stackoverflow.com/questions/8669413/ */ }
.pile-character-grid .column { z-index: -1; position: absolute; background-color: white; }
.pile-character-grid h3 { background-color: #f7d18c; }
.pile-character-grid select { width: 25em; }
.pile-character-grid div { white-space: nowrap; }
.pile-character-grid div.expanded { border-top: 1px solid #519136; border-bottom: 1px solid #519136; }
.pile-character-grid div:hover { background-color: white; }
.pile-character-grid div:hover.expanded { background-color: transparent; }
.pile-character-grid span { margin: 0px 2px; background-color: #dc9402; padding: 2px 8px 4px; vertical-align: 2px; color: white; font-size: 0.8em; }
.pile-character-grid i { position: relative; display: inline-block; width: 20em; padding: 4px 0px; }
.pile-character-grid i .expand-button { cursor: pointer; position: absolute; right: 2px; top: 2px; font-style: normal; }
.pile-character-grid b { cursor: pointer; display: inline-block; padding: 4px 2px; font-weight: normal; }
.pile-character-grid b.x { background-color: #519136; color: white; }
.pile-character-grid b.highlight { z-index: 2; background-color: white; }
.pile-character-grid b.highlight.x { background-color: #3c6c28; }
.pile-character-grid b.changed { border-style: solid; border-color: #dc9402; border-width: 4px 2px; padding: 0; }
.pile-character-grid input { margin: 4px 2px; }
.pile-character-grid input.empty { background-color: #f0daaf; }
.pile-character-grid input.illegal { background-color: #fdb014; }

/* Styles specific to editing all characters of a single taxon, kept separate here in the hopes of not slowing down the browser when it is trying to render the full-out .pile-character-grid given above. */
.taxon-character-grid div { clear: both; }
.taxon-character-grid i { font-weight: bold; font-style: normal; }
.taxon-character-grid .charactername { margin-top: 1em; border-top: 1px solid #dc9402; padding: 4px; background-color: #f4e4c5; }
.taxon-character-grid .charactername:hover { background-color: #f4e4c5; }
.taxon-character-grid input { margin: 4px 8px 4px 2px; }
.taxon-character-grid label { cursor: pointer; display: block; padding: 4px 2px; white-space: normal; }
.taxon-character-grid :checked, .taxon-character-grid :checked + label { background-color: #519136; color: white; }

.value-tips div { background-color: white; border: 2px solid #dc9402; border-radius: 1em; box-shadow: 0px 1px 4px 0 #e0b359; display: none; padding: 0.5em; position: absolute; }
