/*** Go Botany IE8 styles file ***
 Please edit only the .scss source and use Compass to auto-generate the .css.
 The generated .css is kept in the repository to allow easy deployment.
 */
/*global styles*/
header {
  height: auto;
}

/*////////////////////////////////*/
/* Home page */
/*////////////////////////////////*/
#banner #inner {
  border: 6px solid #fff;
}

#banner #overlay {
  background: url(../images/layout/white80.png) repeat;
}

/*/////////////////////////////*/
/*Inside App pages*/
/*////////////////////////////*/
.list-item {
  border-top: 1px solid #eeeddf;
}

.list-item.last {
  border-bottom: 1px solid #eeeddf;
}
