/* *** Go Botany master styles file ***
 Please edit only the .scss source and use Compass to auto-generate the .css.
 The generated .css is kept in the repository to allow easy deployment.
 */
/* First are some SASS "partials" for external and third-party styles. The goal is to keep all styles in just one deployed CSS file, site.css. Later on in this file, other partials are imported for styles specific to a site feature. A final partial, site-media-queries, is imported last in this file. */
/* Imports for browser baseline, tools */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* ============================================================================= HTML5 display definitions ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Prevents modern browsers from displaying 'audio' without controls Remove excess height in iOS5 devices */
audio:not([controls]) { display: none; height: 0; }

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 Known issue: no IE6 support */
[hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 2. Prevents iOS text size adjust after orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7 */
body { margin: 0; }

/* ============================================================================= Links ========================================================================== */
/* Addresses outline displayed oddly in Chrome */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* ============================================================================= Typography ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7 Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5 */
h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9 */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7 */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7 2. Addresses quote property not supported in S4 */
/* 1 */
q { quotes: none; }

/* 2 */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
/* Addresses margins set differently in IE6/7 */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7 */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7 */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3 2. Improves image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
form { margin: 0; }

/* Define consistent border, margin, and padding */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9 2. Corrects text not wrapping in FF3 3. Corrects alignment displayed oddly in IE6/7 */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome 3. Improves appearance and consistency in all browsers */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
button, input { line-height: normal; /* 1 */ }

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others 2. Corrects inability to style clickable 'input' types in iOS 3. Removes inner spacing in IE7 without affecting normal text inputs Known issue: inner spacing remains in IE6 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; /* 1 */ -webkit-appearance: button; /* 2 */ *overflow: visible; /* 3 */ }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9 2. Removes excess padding in IE8/9 3. Removes excess padding in IE7 Known issue: excess padding remains in IE6 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/* 1. Addresses appearance set to searchfield in S5, Chrome 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof) */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9 2. Improves readability and alignment in all browsers */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ============================================================================= Tables ========================================================================== */
/* Remove most spacing between table cells */
table { border-collapse: collapse; border-spacing: 0; }

/* for gradient, etc. */
/* Imports for third-party controls */
/* CSS Styles that are needed by jScrollPane for it to operate correctly.  Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane may not operate correctly without them. */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 15px; height: 100%; border-left: 1px solid #c3d941; background: transparent; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; background: #e9f1ba; }

.jspVerticalBar .jspCap { height: 8px; }

.jspTrack { background: #fff; position: relative; }

.jspDrag { background: #9cc86b; position: relative; top: 0; left: 5px; cursor: pointer; width: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #e9f1ba; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; }

.jspVerticalBar .jspArrow { height: 20px; }

.jspHorizontalBar .jspArrow { width: 15px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspArrowUp { background: url(../images/icons/arrow-up.jpg) no-repeat 0 0; }

.jspArrowDown { background: url(../images/icons/arrow-down.jpg) no-repeat left bottom; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message { font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 200; color: #fff; }

#sb-container { position: fixed; margin: 0; padding: 0; top: 0; left: 0; z-index: 999; text-align: left; visibility: hidden; display: none; }

#sb-overlay { position: relative; height: 100%; width: 100%; }

#sb-wrapper { position: absolute; visibility: hidden; width: 100px; }

#sb-wrapper-inner { position: relative; overflow: hidden; height: 100px; }

#sb-body { position: relative; height: 100%; }

#sb-body-inner { position: absolute; height: 100%; width: 100%; }

#sb-player.html { height: 100%; overflow: auto; }

#sb-body img { border: none; }

#sb-loading { position: relative; height: 100%; }

#sb-loading-inner { position: absolute; font-size: 14px; line-height: 24px; height: 24px; top: 50%; margin-top: -12px; width: 100%; text-align: center; }

#sb-loading-inner span { background: url(../images/shadowbox/loading.gif) no-repeat; padding-left: 34px; display: inline-block; }

#sb-body, #sb-loading { background: transparent; }

#sb-title, #sb-info { position: relative; margin: 0; padding: 0; overflow: hidden; }

#sb-title, #sb-title-inner { height: 26px; line-height: 26px; }

#sb-title-inner { font-size: 16px; }

#sb-info, #sb-info-inner { height: 20px; line-height: 20px; }

#sb-info-inner { font-size: 12px; }

#sb-nav { float: right; height: 16px; padding: 2px 0; width: 45%; }

#sb-nav a { display: block; float: right; height: 16px; width: 16px; margin-left: 3px; cursor: pointer; background-repeat: no-repeat; }

#sb-nav-close { position: absolute; width: 32px; height: 32px; top: 48px; right: 48px; cursor: pointer; background-image: url(../images/icons/close-large.png); }

#sb-nav-next { background-image: url(../images/shadowbox/next.png); background-position: 50% 0; padding: 0 14px 14px; }

#sb-nav-previous { background-image: url(../images/shadowbox/previous.png); background-position: 50% 0; padding: 0 14px 14px; }

#sb-nav-play { background-image: url(../images/shadowbox/play.png); }

#sb-nav-pause { background-image: url(../images/shadowbox/pause.png); }

#sb-counter { float: left; width: 45%; }

#sb-counter a { padding: 0 4px 0 0; text-decoration: none; cursor: pointer; color: #fff; }

#sb-counter a.sb-counter-current { text-decoration: underline; }

div.sb-message { font-size: 12px; padding: 10px; text-align: center; }

div.sb-message a:link, div.sb-message a:visited { color: #fff; text-decoration: underline; }

/* You can alter this CSS in order to give SmoothDivScroll your own look'n'feel */
/* Invisible left hotspot */
div.scrollingHotSpotLeft { 	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */ min-width: 75px; width: 10%; height: 100%; 	/* There is a big background image and it's used to solve some problems I experienced in Internet Explorer 6. */ background-image: url(/static/images/smoothDivScroll/big_transparent.gif); background-repeat: repeat; background-position: center center; position: absolute; z-index: 200; left: 0; /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */ cursor: url(/static/images/smoothDivScroll/cursors/cursor_arrow_left.png), url(../images/smoothDivScroll/cursors/cursor_arrow_left.png), w-resize; }

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible { background-image: url(/static/images/smoothDivScroll/arrow_left.gif); background-color: #fff; background-repeat: no-repeat; opacity: 0.35; /* Standard CSS3 opacity setting */ -moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */ filter: alpha(opacity=35); /* Opacity for Internet Explorer. */ zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */ }

/* Invisible right hotspot */
div.scrollingHotSpotRight { min-width: 75px; width: 10%; height: 100%; background-image: url(/static/images/smoothDivScroll/big_transparent.gif); background-repeat: repeat; background-position: center center; position: absolute; z-index: 200; right: 0; cursor: url(/static/images/smoothDivScroll/cursors/cursor_arrow_right.png), url(../images/smoothDivScroll/cursors/cursor_arrow_right.png), e-resize; }

/* Visible right hotspot */
div.scrollingHotSpotRightVisible { background-image: url(/static/images/smoothDivScroll/arrow_right.gif); background-color: #fff; background-repeat: no-repeat; opacity: 0.35; filter: alpha(opacity=35); -moz-opacity: 0.35; zoom: 1; }

/* The scroll wrapper is always the same width and height as the containing element (div). Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper { position: relative; overflow: hidden; width: 100%; height: 100%; }

div.scrollableArea { position: relative; width: auto; height: 100%; }

/* Definitions */
/* Site-wide styles */
body { background: #f0f0c0; color: black; font-family: Verdana, Geneva, sans-serif; font-size: 12px; }

a { color: #508e31; text-decoration: none; }

a:not([href]) { color: black; }

a:hover { text-decoration: underline; }

*|*:-moz-any-link:active, *|*:-moz-any-link:focus { border: 0; outline: 0; }

h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 155%; margin: 0; padding: 0; }

h1 { color: #519136; font-size: 35px; line-height: 110%; margin-bottom: 8px; }

h2 { font-size: 24px; margin: 8px 0; }

h3 { font-size: 18px; }

h4 { font-size: 14px; }

h5, h6 { font-size: 12px; }

h6 { font-weight: italic; }

p { line-height: 170%; margin: 1em 0; padding: 0; }

ul { line-height: 170%; margin: 0; padding: 0; }

ul li { margin: 0 0 5px 0; }

.hidden { display: none; }

.missing-image { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf2e2), color-stop(100%, #d6e6c5)); background: -webkit-linear-gradient(top center, #eaf2e2, #d6e6c5); background: -moz-linear-gradient(top center, #eaf2e2, #d6e6c5); background: -o-linear-gradient(top center, #eaf2e2, #d6e6c5); background: linear-gradient(top center, #eaf2e2, #d6e6c5); color: #354d1e; height: 149px; position: relative; width: 160px; }

p.new { background: #fff; display: inline-block; font-size: 9px; font-weight: normal; margin: 0; padding: 0 0.25em; text-transform: uppercase; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; -ms-border-radius: 0.25em; -o-border-radius: 0.25em; border-radius: 0.25em; }

p.meta { font-size: 10px; font-style: italic; margin: 4px 0; }

/* Header */
body#home nav li.home { background: url(/static/images/layout/active-nav-home.png) bottom center no-repeat transparent; text-decoration: none; }
body.about nav li.about { background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat; text-decoration: none; }
body.plantshare nav li.plantshare { background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat; text-decoration: none; }
body.teaching nav li.teaching { background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat; text-decoration: none; }

header { height: 120px; }
header .container { margin: 0 auto; padding: 0 10px; width: 960px; }
header p { margin: 0; }
header .go-botany { float: left; margin: 0 0 0 -15px; padding: 14px 0 0 0; width: 443px; }
header .go-botany a { background: url(/static/images/layout/logo-app.png) no-repeat transparent; height: 65px; width: 443px; display: block; text-indent: -9000px; }
header .newfs { float: right; }
header .newfs a { background: url(/static/images/layout/newfs-logo-app.png) no-repeat transparent; height: 66px; width: 116px; display: block; text-indent: -9000px; }
header nav { background: url(/static/images/layout/nav-app-green.png) no-repeat; background-position: 0px 79px; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; height: 120px; padding: 0 0 0 48px; }
header nav a { color: #fff; display: block; height: 35px; padding: 5px 8px 0; }
header nav > a { display: none; /* Omit the 'sections' link by default */ }
header nav ul { clear: both; }
header nav li { display: block; float: left; font-size: 14px; line-height: normal; margin: 0 10px 0 0; padding: 0; }
header nav li a:hover { background: url(/static/images/layout/active-nav-app.png) bottom center no-repeat; text-decoration: none; }
header nav #search { background: white url(/static/images/layout/search-left.png) left center no-repeat; float: right; height: 20px; margin: 4px 4px 0 0; padding: 0 0 0 11px; }
header nav #search form { display: block; margin: 0; padding: 0; width: 262px; }
header nav #search input { background: #fff; border: 0; float: left; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 14px; height: 20px; margin: 0; padding: 0; width: 219px; }
header nav #search input:focus { outline: none; }
header nav #search button { background: #508e31 url(/static/images/layout/search-btn.png) 0 0 no-repeat; border: none; cursor: pointer; float: right; height: 20px; margin: 0; outline: none; padding: 0; width: 43px; display: block; text-indent: -9000px; }
header nav #search-suggest .menu { background: #fff; border: 1px solid #ccc; border-bottom-color: #999; border-right-color: #999; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; margin: 0 auto; position: absolute; text-align: left; top: 105px; width: 256px; z-index: 101; }
header nav #search-suggest .menu li { clear: left; display: block; float: left; font-weight: bold; margin: 0; padding: 3px; width: 250px; }
header nav #search-suggest .menu li.highlighted { background-color: #abd6ff; }
header nav #search-suggest .menu a { color: black; cursor: default; height: inherit; padding: 0; text-decoration: none; }
header nav #search-suggest .menu a:hover, header nav #search-suggest .menu li:hover { background: #c4e2ff; }
header nav #search-suggest .menu span { font-weight: normal; }

/* Main content and sidebar */
.content { padding: 8px 0 0; }
.content .container { margin: 0 auto; padding: 0 10px; width: 960px; }
.content #main { background: url(/static/images/layout/sidebar-bg.png) repeat-y; float: right; min-height: 500px; padding-bottom: 24px; padding-left: 250px; width: 710px; }
.content #main .smallscreen-anchor-nav { display: none; }
.content .container.free-sidebar #main { background: none; }
.content .container.free-sidebar #sidebar { border-top: 0; height: auto; padding: 0; }
.content .container.no-sidebar #main { background: none; float: none; min-height: none; padding-left: 0; width: auto; }
.content #sidebar { border-top: 1px solid #c3d941; float: left; height: 100%; margin-right: -230px; padding: 16px 0 0; width: 230px; }
.content #sidebar .section { padding: 0 17px 16px; }
.content #sidebar .section h4 { margin: 0 0 5px 0; }
.content #sidebar .section.separate { border-top: 1px solid #e2dfcb; padding-top: 16px; }
.content #sidebar a:hover { text-decoration: none; }
.content #sidebar .box { background: #fff; border: 1px solid #c3d941; margin-bottom: 16px; padding: 16px 0 0; }

/* Footer */
footer { background: #b4d57f; clear: both; height: 140px; position: relative; width: 100%; }
footer .container { margin: 0 auto; padding: 0 10px; width: 960px; }
footer > img { left: 50%; margin-left: -543px; position: absolute; top: -47px; }
footer .publisher, footer .navigation { float: left; margin: 0 20px 0 0; padding: 18px 0; width: 305px; }
footer .navigation { padding-left: 10px; }
footer h6 { font-family: Verdana, Geneva, sans-serif; font-size: 11px; }
footer p { font-size: 9px; margin: 0 0 10px 0; }
footer ul { font-size: 9px; list-style-type: none; margin-bottom: 12px; }
footer li { display: inline; line-height: 14px; }
footer li::after { content: " |"; }
footer li:last-child::after { content: none; }
footer .nsf-logo { float: left; margin: 0 10px 0 7px; }
footer .support { margin-right: 0; padding: 18px 0; }

/* Tooltips for working area images and highlighted glossary terms. */
.gb-tooltip { border: 1px solid #c3d941; display: none; /* initially invisible, fades in */ padding: 0.5em 0.7em; position: absolute; width: 300px; z-index: 1000; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf2e2), color-stop(100%, #d6e6c5)); background: -webkit-linear-gradient(top center, #eaf2e2, #d6e6c5); background: -moz-linear-gradient(top center, #eaf2e2, #d6e6c5); background: -o-linear-gradient(top center, #eaf2e2, #d6e6c5); background: linear-gradient(top center, #eaf2e2, #d6e6c5); -webkit-box-shadow: 0px 1px 4px #333333; -moz-box-shadow: 0px 1px 4px #333333; box-shadow: 0px 1px 4px #333333; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.gb-tooltip .arrow { background: #d6e6c5; border: 1px solid #c3d941; /* rotated borders, same color as bottom of tooltip */ border-bottom-color: #d6e6c5; border-right-color: #d6e6c5; bottom: -7px; height: 11px; left: 10px; position: absolute; width: 11px; -webkit-box-shadow: -1px -1px 1px #333333; -moz-box-shadow: -1px -1px 1px #333333; box-shadow: -1px -1px 1px #333333; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg); }

/* Shadowbox close button */
#sb-nav-close { background-position: center; background-repeat: no-repeat; padding: 4px; /* Increase activation area a bit */ right: -28px !important; /* Place at top right, but not exactly at the corner so as to avoid Flash video z-index problem */ top: 6px !important; }

/* Imports for various pages, sections, features, etc. Each of these can contain their own media queries. */
/* Home */
#home { background: url(/static/images/layout/body-home.jpg) repeat-x left top #f3f3c3; }
#home #all { background: url(/static/images/layout/content-home-bg.jpg) center 72px no-repeat transparent; }
#home header h1 { background: url(/static/images/branding/logo-toplevel.png) no-repeat transparent; float: left; margin: 0 0 0 67px; height: 107px; width: 595px; display: block; text-indent: -9000px; }
#home header .newfs a { background: url(/static/images/branding/newfs-logo-toplevel.png) no-repeat transparent; height: 88px; width: 160px; }
#home header nav { background: url(/static/images/layout/nav-toplevel.png) center 107px no-repeat; height: 160px; padding: 0 0 0 19px; }
#home header nav li { margin-right: 9px; }
#home header nav li.home { margin: 0 63px 0 0; }
#home header nav li.home a { color: #fff; }
#home header nav li a:hover { background: url(/static/images/layout/active-nav-home.png) bottom center no-repeat transparent; text-decoration: none; }
#home header #search-suggest .menu { top: 133px; }
#home .content { clear: left; margin-top: 18px; }
#home #banner { margin: 10px 0 0; position: absolute; }
#home #banner > img { display: none; height: 345px; left: 0; position: absolute; top: 0; width: 960px; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); }
#home #banner img:first-child { display: block; }
#home #banner h2 { color: #519136; font-size: 38px; line-height: normal; margin: 0 0 15px 0; }
#home #banner p { margin: 12px 0 0 0; text-align: left; text-shadow: 0px 1px 1px #fff; }
#home #banner #cta { height: 41px; margin: 21px 2px 0; background: url(/static/images/layout/get-started-btn-orange.png) 0 0 no-repeat transparent; display: block; text-indent: -9000px; }
#home #banner #cta:hover { background-position: 0 -41px; }
#home #banner #cta:active { background-position: 0 -82px; }
#home #overlay { background: rgba(255, 255, 255, 0.8); height: 318px; padding: 15px 30px 0; position: absolute; left: 646px; text-align: center; top: 6px; width: 248px; z-index: 100; }
#home .three-col { background: url(/static/images/layout/dot.png) right top repeat-y; float: left; height: 240px; margin: 354px 23px 5px 0; padding: 8px 23px 0 0; width: 289px; }
#home .three-col.last { background: 0; margin-right: 0; padding: 8px 0 0 0; }
#home .three-col.last a.learn-more { margin: 33px 0 0 0; }
#home .three-col h3 { font-size: 24px; }
#home .three-col h4 { margin: 0 0 3px 0; font-style: italic; color: #807121; }
#home .three-col a.learn-more { margin: 13px 0 0 0; }
#home a.learn-more { background: url(/static/images/layout/learn-more-btn.png) 0 0 no-repeat; height: 32px; width: 111px; display: block; text-indent: -9000px; }
#home a.learn-more:hover { background-position: 0 -32px; }
#home a.learn-more:active { background-position: 0 -64px; }
#home a.subscribe { background: url(/static/images/layout/subscribe.png) 0 0 no-repeat; cursor: pointer; height: 16px; width: 87px; display: block; text-indent: -9000px; }
#home a.subscribe:hover { background-position: 0 -16px; }
#home a.subscribe:active { background-position: 0 -32px; }
#home #potd { /* Plant of the Day */ background: #c7e2a1; border: 3px solid #fff; clear: left; height: 140px; margin: 15px 0; padding: 10px; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }
#home #potd > a { display: block; float: left; height: 131px; margin: 5px 5px; overflow: hidden; width: 270px; }
#home #potd > a img { position: relative; top: -60px; width: 270px; }
#home #potd .details { margin: 0 0 0 295px; position: absolute; width: 630px; }
#home #potd .details h3 span.latin { font-style: italic; }
#home #potd .details h3 span.english { font-size: 12px; color: #807121; }
#home #potd .details p { height: 72px; overflow: hidden; }
#home .donate { padding: 0; margin: 15px 0; border: 3px solid #fff; background: #f1ebae; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }
#home .donate p { margin: 14px; position: relative; }
#home .donate a { background: url(/static/images/layout/donate-btn.png) 0 0 no-repeat transparent; cursor: pointer; display: block; float: right; height: 32px; padding: 0; position: absolute; right: 0; text-indent: -9000px; top: -6px; width: 104px; }
#home .donate a:hover { background-position: 0 -32px; }
#home .donate a:active { background-position: 0 -64px; }
#home footer { background: none; }
#home footer > img { display: none; }

/* Begin media queries styles for Home page */
/* Portrait-orientation styles */
@media only screen and (max-width: 400px) { #home #banner #overlay { top: 115px; width: 320px; }
  #home #banner > img { height: 115px; width: 320px; }
  #home #banner + .three-col { padding-top: 375px; }
  #home #potd { height: 350px; } }
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) { #home #banner #overlay { top: 172px; width: 480px; }
  #home #banner > img { height: 172px; width: 480px; }
  #home #banner + .three-col { padding-top: 400px; }
  #home #potd { height: 260px; } }
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) { #home .content { margin-top: 0; padding-top: 0; }
  #home header h1 { background-position: -56px -7px; height: 56px; margin-left: 0; width: 200px; }
  #home header nav { background: #508e31; height: 32px; padding-left: 0; }
  #home header nav > a:hover { text-decoration: none; }
  #home header .newfs a { background-size: 100px 55px; float: right; height: 55px; width: 101px; }
  #home #banner { margin: 0; position: relative; }
  #home #banner #overlay { background: #f7fbe9; height: auto; left: 0; padding: 0; text-align: center; }
  #home #banner #overlay h2 { font-size: 28px; margin: 6px 0 0; }
  #home #banner #overlay p { padding: 0 8px; }
  #home #banner #overlay img { width: 53%; }
  #home #banner #cta { background-position: 50% 0; margin: 6px; }
  #home #banner #cta:hover { background-position: 50% -41px; }
  #home #banner #cta:active { background-position: 50% -82px; }
  #home .three-col { background: none; float: none; height: inherit; margin: 14px 0; padding: 0; width: auto; }
  #home .three-col h3, #home .three-col h4, #home .three-col p { margin-left: 8px; margin-right: 8px; }
  #home .three-col h3 { font-size: 18px; }
  #home .three-col h4 { font-size: 14px; }
  #home .three-col a.learn-more, #home .three-col.last a.learn-more { margin-top: 6px; margin-left: 8px; margin-right: 8px; }
  #home #breadcrumb p { line-height: 160%; }
  #home #potd { padding: 8px; }
  #home #potd > a { margin: 0; margin-bottom: 4px; margin-right: 8px; }
  #home #potd > a, #home #potd > a img { width: 297px; }
  #home #potd .details { margin: 0; position: inherit; width: inherit; }
  #home #potd .details h4 { line-height: 140%; }
  #home #potd .details p { height: inherit; overflow: inherit; }
  #home #potd .details a { margin-top: 6px; position: inherit; top: 0; }
  #home .donate { margin: 0; }
  #home .donate p { margin: 8px; padding: 0; }
  #home .donate a { float: none; margin: 6px 0; position: static; } }
/* End media queries styles for the Home page */
/* PlantShare */
body.plantshare .content form p { margin: 0; }
body.plantshare .content form label { display: block; margin-bottom: 4px; text-transform: uppercase; }
body.plantshare .content form input { border: 1px solid #c3d941; font-family: Verdana, Geneva, sans-serif; height: 16px; margin-bottom: 10px; padding: 5px; width: 350px; }
body.plantshare .box { background-color: #fff; border: 1px solid #c3d941; padding: 4px 16px; }
body.plantshare .box table { margin: 16px 0 12px; width: 100%; }
body.plantshare .box table tr:nth-child(odd) { background-color: #e1f0d1; }
body.plantshare .box table th, body.plantshare .box table td { padding: 6px 8px; }
body.plantshare .box table th { font-weight: normal; text-align: left; width: 33%; }
body.plantshare .sign-up-call { width: 475px; }
body.plantshare .sign-up-call ul { line-height: 18px; list-style-position: inside; margin: 10px 0 0 24px; }
body.plantshare .sign-up-call a { background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat 0 -3px; height: 41px; margin: 12px auto; width: 244px; display: block; text-indent: -9000px; }
body.plantshare .sign-up-call a:hover { background-position: 0 -88px; }
body.plantshare .sign-up-call a:active { background-position: 0 -46px; }
body.plantshare .profile { width: 471px; }
body.plantshare .profile h2 { float: left; }
body.plantshare .profile h3 { font-size: 18px; }
body.plantshare .profile div { clear: left; height: 84px; }
body.plantshare .profile img { display: block; float: left; margin-right: 16px; }
body.plantshare .profile table { clear: left; }
body.plantshare#sign-up #main form input { width: 350px; }
body.plantshare#sign-up #main form input.button { background: transparent url(../images/layout/plantshare-btns.png) no-repeat -1px -359px; border: 0; height: 41px; margin-top: 12px; width: 244px; display: block; text-indent: -9000px; }
body.plantshare#sign-up #main form input.button:hover { background-position: -1px -402px; }
body.plantshare#sign-up #main form input.button:active { background-position: -1px -444px; }
body.plantshare #sidebar #login.box { background-color: #d3eaad; border-color: #508e31; padding: 0; }
body.plantshare #sidebar #login.box h4 { font-size: 20px; padding: 16px 16px 10px; }
body.plantshare #sidebar #login.box form { padding: 0 16px 16px; }
body.plantshare #sidebar #login.box form label { font-size: 10px; }
body.plantshare #sidebar #login.box form input { border-color: #508e31; width: 95%; }
body.plantshare #sidebar #login.box form input.button { background: transparent url(/static/images/layout/plantshare-btns.png) no-repeat -169px -231px; border: 0; height: 32px; width: 99px; display: block; text-indent: -9000px; }
body.plantshare #sidebar #login.box form input.button:hover { background-position: -169px -265px; }
body.plantshare #sidebar #login.box form input.button:active { background-position: -169px -299px; }
body.plantshare #sidebar #login.box div { border-top: 1px solid #508e31; padding: 16px; }

/* Begin media queries styles for PlantShare. */
/* Portrait-orientation styles */
@media only screen and (max-width: 400px) { body.plantshare .box { width: 302px; } }
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) { body.plantshare .box { width: 462px; } }
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) { body.plantshare #main .box { padding: 0; }
  body.plantshare #main .box > * { padding-left: 16px; padding-right: 16px; }
  body.plantshare #main .box > table { margin-left: 16px; width: 90%; }
  body.plantshare .content #sidebar { background: none; border: 0; }
  body.plantshare#plantshare .sign-up-call { width: auto; }
  body.plantshare#plantshare .sign-up-call ul { margin-left: 0; }
  body.plantshare#sign-up #main form input { width: 290px; } }
/* These styles apply to smartphones and tablets */
/* End media queries styles for PlantShare */
/* Dichotomous Key */
/* Definitions */
.orange-button, #dkey #main .offer-help-aside a, #dkey #main ul.couplets a.button, #dkey #main a.show-all-button { min-width: 10em; -webkit-border-radius: 1em; -moz-border-radius: 1em; -ms-border-radius: 1em; -o-border-radius: 1em; border-radius: 1em; -webkit-box-shadow: 0px 1px 4px #a2a64d; -moz-box-shadow: 0px 1px 4px #a2a64d; box-shadow: 0px 1px 4px #a2a64d; border: 1px solid #dc9402; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc9402), color-stop(40%, #f0b448), color-stop(100%, #dc9402)); background: -webkit-linear-gradient(top, #dc9402 0%, #f0b448 40%, #dc9402 100%); background: -moz-linear-gradient(top, #dc9402 0%, #f0b448 40%, #dc9402 100%); background: -o-linear-gradient(top, #dc9402 0%, #f0b448 40%, #dc9402 100%); background: linear-gradient(top, #dc9402 0%, #f0b448 40%, #dc9402 100%); padding: 0.3em 0.5em; color: white; text-align: center; text-decoration: none; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-weight: bold; line-height: 1.5em; letter-spacing: 0.08333em; }
.orange-button:hover, #dkey #main .offer-help-aside a:hover, #dkey #main ul.couplets a.button:hover, #dkey #main a.show-all-button:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e29b0b), color-stop(32%, #f6be59), color-stop(50%, #f6be59), color-stop(100%, #e39d0e)); background: -webkit-linear-gradient(top, #e29b0b 0%, #f6be59 32%, #f6be59 50%, #e39d0e 100%); background: -moz-linear-gradient(top, #e29b0b 0%, #f6be59 32%, #f6be59 50%, #e39d0e 100%); background: -o-linear-gradient(top, #e29b0b 0%, #f6be59 32%, #f6be59 50%, #e39d0e 100%); background: linear-gradient(top, #e29b0b 0%, #f6be59 32%, #f6be59 50%, #e39d0e 100%); }
.orange-button.disabled, #dkey #main .offer-help-aside a.disabled, #dkey #main ul.couplets a.disabled.button, #dkey #main a.disabled.show-all-button { border-color: #ecda92; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecda92), color-stop(32%, #f1e3a6), color-stop(50%, #f1e3a6), color-stop(100%, #ecdb93)); background: -webkit-linear-gradient(top, #ecda92 0%, #f1e3a6 32%, #f1e3a6 50%, #ecdb93 100%); background: -moz-linear-gradient(top, #ecda92 0%, #f1e3a6 32%, #f1e3a6 50%, #ecdb93 100%); background: -o-linear-gradient(top, #ecda92 0%, #f1e3a6 32%, #f1e3a6 50%, #ecdb93 100%); background: linear-gradient(top, #ecda92 0%, #f1e3a6 32%, #f1e3a6 50%, #ecdb93 100%); }

/* Styles */
#dkey #main { /* Text styles. */ }
#dkey #main .offer-help-aside { float: right; margin: 1em 1em 0.5em 1em; text-align: right; color: #606060; }
#dkey #main .offer-help-aside span { font-size: 12px; }
#dkey #main .offer-help-aside a { display: inline-block; margin: 0.8em 1em; font-weight: normal; font-size: 12px; text-transform: uppercase; }
#dkey #main .offer-help-aside select { margin: 0.25em 1.0em; }
@media (min-width: 500px) { #dkey #main .offer-help-aside select { font-size: 12px; } }
#dkey #main p { margin: 1em 0; max-width: 42em; }
#dkey #main p .figure { clear: right; float: right; margin-left: 1em; margin-bottom: 1em; width: 16em; font-size: 75%; }
#dkey #main p .figure a { display: block; margin-bottom: 0.5em; border-bottom: 1px solid black; padding-bottom: 0.5em; }
#dkey #main p .figure img { width: 16em; /* force thumbnails to a consistent width */ }
#dkey #main p .figure .number { font-weight: bold; margin-right: 0.5em; }
#dkey #main p.backlinks { margin-top: 0.57143em; margin-bottom: 0.64286em; font-size: 14px; }
#dkey #main p.backlinks a { text-decoration: none; margin-right: 0.5em; color: #519136; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; }
#dkey #main p.backlinks a:hover { text-decoration: underline; }
#dkey #main ul.couplets { clear: both; margin: 0em; max-width: 48em; padding: 1em 1em 0 0; font-size: 12px; line-height: 1.5em; }
#dkey #main ul.couplets ul { /* a couplet */ margin: 0em; padding-bottom: 0em; /* override browser default */ padding-left: 2%; /* indent of each level of couplet */ }
#dkey #main ul.couplets li { /* holds a lead and any <ul> beneath it */ display: block; position: relative; }
#dkey #main ul.couplets .lead { /* green box */ margin: 0em 0em 1em 0em; border: 2px solid #d9dbb1; -webkit-border-radius: 1em; -moz-border-radius: 1em; -ms-border-radius: 1em; -o-border-radius: 1em; border-radius: 1em; padding: 1em 1em 1em 1.5em; background-color: #d9dbb1; }
#dkey #main ul.couplets .lead:after { /* "clear" the float for the button */ display: block; content: " "; height: 0px; clear: both; }
#dkey #main ul.couplets .letter { /* "1a." or "12b." or whatever */ font-weight: bold; padding-right: 0.5em; }
#dkey #main ul.couplets .button-block { /* contains what-lies-beneath and button */ float: right; margin: 0em 0em 0.4em 1.2em; text-align: right; }
#dkey #main ul.couplets a.what-lies-beneath { /* message that sits above the button */ display: inline-block; text-decoration: none; color: #35661c; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 12px; text-transform: uppercase; }
#dkey #main ul.couplets a.what-lies-beneath:hover { text-decoration: underline; }
#dkey #main ul.couplets a.button { /* big orange button */ display: inline-block; font-size: 12px; }
#dkey #main ul.couplets a[href^="#"] { /* links to couplets on the same page */ font-weight: normal; font-style: italic; }
#dkey #main ul.couplets a.figure-link { /* clickable figure numbers: [Fig. 3] */ color: #35661c; }
#dkey #main ul.couplets .chosen { border-color: #7abe58; }
#dkey #main ul.active > li > .lead, #dkey #main ul:target > li > .lead { background-color: #b4d57f; border-color: #7abe58; }
#dkey #main a.show-all-button { display: inline-block; font-size: 12px; font-weight: normal; }
#dkey #main .image-type-selector { display: none; /* once images are loaded, our JS will un-hide */ }
#dkey #main div.taxon-images { margin-left: 0.75em; text-align: center; }
#dkey #main div.taxon-images figure { margin: 0 1em 1em 0; width: 160px; }
#dkey #main div.taxon-images img { display: block; margin-bottom: 0.4em; border: 4px solid black; width: 160px; height: 149px; }
#dkey #main div.taxon-images a { font-size: 12px; text-decoration: none; }
#dkey #main div.taxon-images a:hover { text-decoration: underline; }
#dkey #main div.shadow { /* shadow that hides the whole page */ display: none; position: fixed; z-index: 1000; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.45); text-align: center; }
#dkey #main div.popup { /* for displaying quick lists of taxa */ display: inline-block; margin: 5% auto; max-height: 90%; overflow-y: auto; overflow-x: hidden; /* otherwise scrolling can leak to page */ border: 0.5em solid #acac90; -webkit-border-radius: 1em; -moz-border-radius: 1em; -ms-border-radius: 1em; -o-border-radius: 1em; border-radius: 1em; background-color: #f5f5d5; padding: 1em 2em; text-align: left; font-size: 12px; line-height: 1.25em; }
#dkey #main div.popup h2 { /* "See list of 14 species in 1b" */ border-bottom: 1px solid #519136; padding-bottom: 0.5em; color: #519136; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-weight: normal; /* For tall lists a scrollbar appears, and tends to make the last word of the title wrap unattractively. */ white-space: nowrap; }
#dkey #main div.popup a { text-decoration: none; color: #000; }
#dkey #main div.popup a:hover { text-decoration: underline; }
#dkey #main div.popup a:hover { color: #35661c; }
#dkey #main .distribution-character { /* printed book uses a box */ margin: 0 0.25em; border: 1px solid black; padding: 0 0.25em; font-size: 0.875em; }

/* end #dkey #main */
/* Begin media queries styles for Dichotomous Key. */
/* Portrait-orientation styles */
/* Landscape-orientation styles */
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) { #dkey #main .offer-help-aside { float: none; text-align: center; }
  #dkey #main p.figure { float: none; display: block; margin: 1em auto; } }
/* These styles apply to smartphones and tablets */
/* End media queries styles for Dichotomous Key */
/* About */
#about #main img { float: right; margin: 5px 0 20px 20px; }
#about #main img .bookcover { margin-right: 89px; }
#about #main ul { margin: 0 5px 0 18px; }

/* Getting Started */
#getting-started h2 { margin-top: 0; padding-top: 0; }
#getting-started .question { padding: 18px 0 18px 45px; background-position: left 22px; background-repeat: no-repeat; border-bottom: 1px solid #e2dfcb; }
#getting-started .question ul { padding: 0 0 0 15px; }
#getting-started .first.question { margin: 11px 0 0 0; border-top: 1px solid #e2dfcb; background-image: url(/static/images/icons/1.png); }
#getting-started .second.question { background-image: url(/static/images/icons/2.png); }
#getting-started .third.question { background-image: url(/static/images/icons/3.png); }
#getting-started .fourth.question { background-image: url(/static/images/icons/4.png); }
#getting-started .fifth.question { background-image: url(/static/images/icons/5.png); }
#getting-started .sixth.question { margin: 0 0 11px 0; background-image: url(/static/images/icons/6.png); }
#getting-started a.screenshot { float: right; margin: 0 0 0 15px; color: #1a2e11; text-align: center; }
#getting-started a.screenshot:hover { text-decoration: none; }
#getting-started a.screenshot img { margin: 10px 0; vertical-align: middle; }
#getting-started a.screenshot img.screenshot-thumb { border: 5px solid #fff; display: block; margin: 0; -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
#getting-started a.onward-btn { cursor: pointer; display: block; float: right; width: 280px; height: 32px; margin: 10px 0; background: url(/static/images/layout/onward-btn-orange.png) 0 0 no-repeat transparent; text-indent: -9000px; }
#getting-started a.onward-btn:hover { background-position: 0 -32px; }
#getting-started a.onward-btn:active { background-position: 0 -64px; }
#getting-started .video-topic { height: 147px; margin-bottom: 4px; width: 196px; }
#getting-started .video-topic img { height: 147px; width: 196px; }
#getting-started .video-topic a { cursor: pointer; }

/* Advanced Map to Groups */
#advanced-map h2 { clear: left; }
#advanced-map #plant-map-list { margin: 10px 0; }
#advanced-map #group-section { height: 200px; }
#advanced-map .plant-group { cursor: pointer; float: left; height: 185px; margin: 0 10px 10px 0; padding: 2px 0 0; position: relative; width: 110px; }
#advanced-map .plant-group.last { margin: 0 0 10px 0; }
#advanced-map .plant-group:hover .frame { border-color: #1a2e12; }
#advanced-map .plant-group:hover h3 { background: #1a2e12; color: #fff; }
#advanced-map .plant-group.active h3 { background: #1a2e12; color: #fff; }
#advanced-map .plant-group.active .frame { border-color: #1a2e12; }
#advanced-map .plant-group h3 { bottom: 146px; color: #508e31; font-size: 12px; line-height: 120%; margin: 0 0 0 0; padding: 6px 0 6px 5px; position: absolute; width: 105px; }
#advanced-map .plant-group .image { position: absolute; top: 40px; }
#advanced-map .plant-group .frame { border: 5px solid rgba(255, 255, 255, 0.8); height: 91px; position: absolute; top: 0; width: 100px; z-index: 100; }
#advanced-map .plant-group .img-container { height: 101px; margin-bottom: 6px; overflow: hidden; width: 110px; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
#advanced-map .plant-subgroup { cursor: default; float: left; height: 264px; margin: 0 11px 11px 0; padding: 17px 0 0 0; width: 160px; }
#advanced-map .plant-subgroup.last { margin-right: 0; }
#advanced-map .plant-subgroup .image { position: relative; }
#advanced-map .plant-subgroup .frame { border: 5px solid #1a2e12; height: 129px; position: absolute; top: 0; width: 150px; z-index: 100; }
#advanced-map .plant-subgroup h3 { background: #1a2e12; color: #fff; font-size: 13px; height: 30px; line-height: 120%; margin: 0 0 0 0; padding: 6px; }
#advanced-map .plant-subgroup .img-container { height: 139px; overflow: hidden; width: 160px; }
#advanced-map .plant-subgroup .more-info { background: url(/static/images/icons/more-info.png) left 4px no-repeat transparent; margin: 5px 0 0 0; padding: 0 0 0 19px; }
#advanced-map p.video { background: url(/static/images/icons/icon3.png) left 4px no-repeat transparent; margin: 2px 0; padding: 3px 0 0 22px; }
#advanced-map p.list { background: url(/static/images/icons/icon1.png) left 4px no-repeat transparent; margin: 2px 0 0; padding: 3px 0 0 22px; }
#advanced-map .choose-btn { background: url(/static/images/layout/choose-btn.png) 0 0 no-repeat transparent; display: block; height: 32px; margin: 10px 0 5px; text-indent: -9000px; width: 104px; }
#advanced-map .choose-btn:hover { background-position: 0 -32px; }
#advanced-map .choose-btn:active { background-position: 0 -64px; }

/* Glossary */
/* Glossary term underline for popup */
.gloss { border-bottom: 1px dashed; cursor: pointer; }

#glossary #alphabet { height: 33px; list-style-type: none; margin: 7px 0; padding: 0; width: 712px; /* 2px wider than its parent box so no wrap in Moz */ }
#glossary #alphabet li { border-left: 1px solid #e1e1dc; float: left; font-size: 18px; margin: 0; padding: 0 7px; }
#glossary #alphabet li:first-child { border-left: 0; }
#glossary #alphabet li.inactive { color: #ccc; }
#glossary #alphabet li .current a { color: #000; }
#glossary #alphabet li .current a:hover { text-decoration: none; }
#glossary #terms { background-color: #fff; border: 1px solid #e1e1dc; clear: left; margin: 0 0 24px 0; width: 710px; }
#glossary #terms dt, #glossary #terms dd { border-top: 1px solid #e1e1dc; min-height: 24px; }
#glossary #terms dt { clear: left; float: left; line-height: 25px; padding: 7px 10px 10px 38px; width: 190px; }
#glossary #terms dt:first-child, #glossary #terms dt:first-child + dd { border-top: 0; }
#glossary #terms dt a { float: left; margin-left: -34px; }
#glossary #terms dd { margin-left: 224px; padding: 13px; }
#glossary #terms img { padding-left: 4px; padding-top: 1px; }

/* Glossary tooltip */
.glosstip { line-height: 140%; position: relative; max-width: 30em; }
.glosstip img { background: #eaf2e2; border: 1px solid #c3d941; bottom: 110%; padding: 4px; position: absolute; -webkit-box-shadow: 1px 1px 2px #333333; -moz-box-shadow: 1px 1px 2px #333333; box-shadow: 1px 1px 2px #333333; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

/* Video Help Topics */
#video .video-topic { float: left; height: 176px; margin: 10px 16px 10px 0; position: relative; width: 220px; }
#video .video-topic img { height: 137px; width: 220px; }
#video .video-topic > p { font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 18px; line-height: 105%; margin-top: 4px; }
#video .video-topic .missing-image { border: 1px solid #508e31; height: 135px; width: 218px; }
#video .video-topic .missing-image p { left: auto; margin: 55px 0; position: absolute; text-align: center; top: auto; white-space: nowrap; width: 100%; }

/* Contributors */
#contributors #main ul { list-style-type: none; }
#contributors #main li { margin: 0; }

/* Begin media queries styles for the About section. */
/* Portrait-orientation styles */
@media only screen and (max-width: 400px) { #about #main > img { width: 57%; }
  #about #main img.bookcover { width: auto; }
  #advanced-map #group-section { height: 600px; }
  #glossary #alphabet { height: 99px; } }
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) { #advanced-map #group-section { height: 400px; }
  #glossary #alphabet { height: 66px; } }
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) { #about #main ul { margin-left: 8px; padding-left: 6px; }
  #about #main > img, #about #main img.bookcover { margin-bottom: 8px; margin-left: 8px; margin-right: 0; }
  #getting-started .question { padding: 16px 0 18px 38px; }
  #getting-started .question h2 { line-height: 130%; margin: 2px 0 4px; }
  #getting-started .question p { margin: 0; }
  #getting-started a.screenshot img.screenshot-thumb { margin: 10px 0 0; }
  #getting-started a.onward-btn { float: none; margin: 0 auto 20px; }
  #advanced-map #plant-map-list { margin-left: 8px; margin-right: 8px; margin-top: 0; }
  #glossary #alphabet { line-height: 250%; width: auto; }
  #glossary #alphabet li { border: 0; padding: 1px 10px; }
  #glossary #terms { width: auto; }
  #glossary #terms img { padding-left: 2px; }
  #glossary #terms dt { border-top: 0; clear: none; float: none; font-weight: bold; padding-bottom: 0; width: auto; }
  #glossary #terms dd { border-top: 0; margin: 0; padding: 0 5px 10px 39px; }
  #video .video-topic { margin-right: 12px; }
  #video .video-topic > p { font-size: 16px; }
  #video .missing-image p { margin-left: 0; margin-right: 0; } }
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) { /* Disable hover states on Advanced Map to Groups page. */
  #advanced-map .plant-group:hover .frame { border: 5px solid rgba(255, 255, 255, 0.8); }
  #advanced-map .plant-group:hover h3 { background: inherit; color: #508e31; } }
/* End media queries styles for the About section */
/* Styles for legal notification pages */
.legal #main h3 { margin: 8px 0; }
.legal #main p + p, .legal #main p + ul { margin-top: 8px; }
.legal #main ol.terms { font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 24px; list-style-type: upper-roman; margin-top: 0; }
.legal #main ol.terms ul { list-style-type: disc; }
.legal #main ol.terms li p, .legal #main ol.terms li li { font-family: Verdana, Geneva, sans-serif; font-size: 12px; }
.legal #main ol.terms li li { line-height: 20px; }

/* Begin media queries styles for the legal notification pages. */
/* Portrait-orientation styles */
/* Landscape-orientation styles */
/* These styles are common to both smartphone widths */
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) { .legal #main ol.terms { font-size: 18px; padding-left: 32px; } }
/* End media queries styles for the legal notification pages */
/* Finally, include global media queries for smartphones and tablets. These should be last. */
/* Begin global media queries styles.  So far there are three sections for smartphones (two fixed-width layouts to cover portrait and landscape orientations, with a section common to both orientations) and some additional styles for tablets. Using fixed-width layouts allows some pages to have a wider central content area for now. Various SASS "partials" (_home.scss, _about.scss, etc.) have their own media queries arranged like the ones below. Think of those as modular extensions to these. */
/* Portrait-orientation styles */
@media only screen and (max-width: 400px) { body { padding-top: 110px; }
  header nav > a { width: 20px; }
  header nav > a span { display: none; }
  body, header .container, .content .container, footer .container { width: 320px; }
  #nav { left: 40px; width: 310px; }
  .content #main { width: 304px; }
  .content #sidebar { float: none; width: 302px; } }
/* Landscape-orientation styles */
@media only screen and (min-width: 401px) and (max-width: 600px) { html { -webkit-text-size-adjust: none; }
  body { padding-top: 75px; }
  body, header .container, .content .container, footer .container { width: 480px; }
  header nav > a { width: 80px; }
  header nav > a span { font-size: 14px; line-height: 160%; padding-left: 5px; position: absolute; }
  .content #main { width: 464px; }
  .content #sidebar { width: 462px; } }
/* These styles are common to both smartphone widths */
@media only screen and (max-width: 600px) { body { margin: 0 auto; padding: 0; }
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
  header { height: 90px; }
  header nav { background: #508e31; clear: left; height: 32px; padding: 0; }
  header nav > a { background: #437829; border: 1px solid #437829; display: inline-block; font-size: 30px; height: 24px; line-height: 68%; margin: 3px 0 0 4px; padding: 0 2px 0 7px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
  header nav > a:hover { background: #437829; }
  header nav #search { margin-top: 6px; padding-left: 10px; }
  header nav > ul { display: none; /* will use bottom navigation instead of top */ }
  header nav #search-suggest .menu { top: 83px; }
  header p.go-botany { margin: 0; padding: 0; width: auto; }
  header p.go-botany a { height: 56px; width: 170px; }
  header p.newfs a { background-size: 100px 55px; float: right; height: 55px; width: 101px; }
  header .container { padding: 0; }
  footer { height: auto; margin: 14px 0 0; }
  footer > img { display: none; }
  footer .container { height: auto; padding: 0; }
  footer .container div { width: auto; }
  footer div div { height: auto; }
  footer p { margin: 0; }
  footer a { font-size: 11px; }
  footer .publisher, footer .navigation { float: none; margin: 0; padding: 0; }
  footer .publisher { margin: 14px 0 0; padding: 12px 8px 20px; }
  footer .navigation h6:first-child { display: none; }
  footer .navigation > ul.sections li { display: block; margin: 0 0 1px 0; }
  footer .navigation > ul.sections li:after { content: none; }
  footer .navigation > ul.sections li a { background: #85c446; color: #fff; display: block; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 14px; padding: 14px 14px; position: relative; text-decoration: none; }
  footer .navigation > ul.sections li a:after { content: " >"; font-weight: bold; position: absolute; right: 14px; }
  footer .navigation > ul.sections li a[href] { background: #508e31; color: #fff; }
  footer .navigation > ul.sections + h6 { /* "Legal:" label */ display: none; }
  footer .navigation > h6:nth-of-type(2) { margin: 14px 14px 4px 71px; }
  footer .navigation > h6:nth-of-type(2):after { content: ":"; }
  footer .navigation > h6:nth-of-type(2), footer .navigation > ul.legal { display: inline-block; margin-left: 72px; margin-top: 12px; }
  footer .navigation .legal li { margin-right: 32px; }
  footer .navigation .legal li:after { content: none; }
  footer .support { height: 63px; margin: 14px 0 0; padding: 0; }
  footer .support img { padding-bottom: 6px; }
  .content .container { padding: 0; /*&.free-sidebar #sidebar .section { padding-bottom: $sidebar-box-vertical-padding;
}*/ }
  .content #main { background: none; float: none; min-height: inherit; padding-bottom: 14px; padding-left: 0; margin-left: 8px; margin-right: 8px; }
  .content #main .smallscreen-anchor-nav { display: block; padding: 8px 0 16px; }
  .content #main .smallscreen-anchor-nav a { font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 14px; padding: 8px 0; text-decoration: underline; }
  .content #sidebar { background: #fff; border: 1px solid #c3d941; clear: left; height: auto; /*margin-bottom: 14px;*/ margin-left: 8px; margin-right: 8px; /*.section:first-child { margin-top: 0;
}*/ }
  .content #sidebar .section { /*margin-top: $sidebar-box-vertical-padding;*/ padding-bottom: 16px; }
  .gb-tooltip { width: 200px; } }
/* These styles apply to smartphones and tablets */
@media only screen and (max-width: 1024px) { /* Currently there are no global styles here in this category, but there are some elsewhere for various parts of the site. */ }
/* End global media queries styles */
/* Please do not add new regular styles after the media queries, or they may not get overridden properly. Instead, add them before the media queries. */
