//*////////////////////////////////*/
/* Global Page Structure */
/*////////////////////////////////*/
header, .content, footer {
    width: 100%;
}
.container {
    width: 960px;
    padding: 0 30px;
    margin: 0 auto;
}
header h1 a {
    display: block;
    text-indent: -9000px;
}
header h2 {
    float: right;
}
header h2 a {
    display: block;
    text-indent: -9000px;
}
nav {
    height: 40px;
    padding: 0 0 0 29px;
    background: url(/static/images/layout/nav-toplevel.png) no-repeat;
}
nav li {
    display: block;
    float: left;
    padding: 5px 0 0 0;
    margin: 0 33px 0 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
nav li.last {
    margin: 0 0 0 0;
}
nav a {
    display: block;
    height: 35px;
    color: #fff;
}
nav a:hover {
    background: url(/static/images/layout/active-nav.jpg) bottom center no-repeat;
    color: #c3d941;
    text-decoration: none;
}
nav #search {
    float: right;
    height: 20px;
    padding: 0 0 0 11px;
    margin: 4px 4px 0 0;
    background: url(/static/images/layout/search-left.jpg) left center no-repeat;
}
nav #search input {
    width: 194px;
    height: 20px;
    border: 0;
    background: #fff;
    color: #838383;
}
nav #search button {
    display: block;
    float: right;
    width: 43px;
    height: 20px;
    padding: 0;
    margin: 0;
    background: url(/static/images/layout/search-btn.jpg) 0 0 no-repeat;
    text-indent: -9000px;
    cursor: pointer;
}
nav #search button:active {
    background-position: 0 -20px;
}
/***Active Nav State***/
#home li.home a,
#plant-id li.plant-id a,
#plant-id-2 li.plant-id a,
#plant-id-3 li.plant-id a,
#getting-started li.plant-id a,
#myplants li.myplants a,
#advanced-id li.advanced-id a,
#teaching-tools li.teaching-tools a,
#about li.about a {
    background: url(/static/images/layout/active-nav.jpg) bottom center no-repeat;
    color: #c3d941;
}
footer p {
    margin: 0 0 10px 0;
    font-size: 9px;
}
footer div.three-col {
    width: 305px;
    height: auto;
    padding: 18px 0;
    margin: 0 20px 0 0;
    background: none;
}
footer div.three-col.last {
    padding: 18px 0;
}
footer a {
    color: #1a2e11;
}
footer a:hover {
    color: #6eae3e;
}
footer h6 {
    font-weight: 11px;
    font-family: Verdana, Geneva, sans-serif;
}
footer .nsf-logo {
    float: left;
    margin: 0 10px 0 0;
}


/*////////////////////////////////*/
/* Global Classes */
/*////////////////////////////////*/
    
.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.clearit {
    clear: both;
    float: none !important;
    width: auto !important;
    height: auto !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.shadow {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);	
}
/*////////////////////////////////*/
/* Page Structure for Top level pages
(Non-app pages - Home, About, FAQ, etc.) */
/*////////////////////////////////*/
body.top-level {
    background: url(/static/images/layout/bg-tile.jpg) repeat 0 0;
}
.top-level header {
    height: 177px;
}
.top-level header h1 {
    width: 414px;
    padding: 14px 0 0 0;
    margin: 0 0 0 59px;
}
.top-level header h1 a {
    width: 414px;
    height: 123px;
    background: url(/static/images/layout/logo-toplevel.png) no-repeat transparent;
}

.top-level header h2 a {
    width: 160px;
    height: 116px;
    background: url(/static/images/layout/newfs-logo-toplevel.png) no-repeat transparent;
}
.top-level nav {
    padding: 0 0 0 29px;
    background: url(/static/images/layout/nav-toplevel.png) no-repeat;
}
.top-level nav li.home {
    margin: 0 83px 0 0;
}

/*////////////////////////////////*/
/* Home Page Styles */
/*////////////////////////////////*/
body#home {
    background: url(/static/images/layout/bg-tile.jpg) repeat 0 0;
}
body#home .content {
    background: url(/static/images/layout/content-home-bg.jpg) repeat-x 0 0 #fff;
    border-bottom: 1px solid #e1e1e1;
}
#banner {
    height: 325px;
    margin: 10px 0 0 0;
    background: url(/static/images/layout/banner-img1.jpg) no-repeat;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

#banner #inner {
    height: 313px;
    border: 6px solid rgba(255, 255, 255, 0.8);
}

#banner #overlay {
    float: right;
    width: 244px;
    height: 276px;
    padding: 15px 30px 22px;
    background: rgba(255, 255, 255, 0.8);
}

#banner h2 {
    margin: 0 0 15px 0;
    line-height: normal;
    color: #519136;
}
#banner p {
    margin: 12px 0 0 0;
    text-shadow: 0px 1px 1px #fff;
}
#banner a#cta {
    display: block;
    width: 240px;
    height: 37px;
    margin: 21px 0 0;
    background: url(/static/images/layout/get-started-btn.png) 0 0 no-repeat transparent;
    text-indent: -9000px;
}
#banner a#cta:hover {
    background-position: 0 -37px;
}
#banner a#cta:active {
    background-position: 0 -74px;
}
div.three-col {
    float: left;
    width: 289px;
    height: 230px;
    padding: 18px 23px 0 0;
    margin: 0 23px 0 0;
    background: url(/static/images/layout/dot.png) right top repeat-y;
}
div.three-col.last {
    padding: 18px 0 0 0;
    margin: 0 0 0 0;
    background: 0;
}
        
div.three-col h3 {
    margin: 0 0 13px 0;
}
div.three-col h5 {
    margin: 0 0 3px 0;
    font-style: italic;
}
div.three-col a.learn-more {
    margin: 15px 0 0 0;
}
a.learn-more {
    display: block;
    width: 111px;
    height: 32px;
    background: url(/static/images/layout/learn-more-btn.png) 0 0 no-repeat;
    text-indent: -9000px;
}
a.learn-more:hover {
    background-position: 0 -32px;
}
a.learn-more:active {
    background-position: 0 -64px;
}
/*Plant of the Day Module*/
div#potd {
    padding: 10px;
    margin: 0 0 25px 0;
    border: 3px solid #fff;
    background: #fafae1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
#potd img {
    float: left;
    margin: 0 15px 0 0;
}
#potd h4 {
    margin: 0 0 10px 0;
}
#potd h4 span.latin {
    font-size: 14px;
    text-transform: uppercase;
}
#potd h4 span.english {
    font-size: 12px;
    font-style: italic;
    color: #808080;
}
#potd a.learn-more {
    float: right;
    margin: -8px 0 0 0;
}
/*////////////////////////////////*/
/*Styles for App level pages 
(App pages - all levels of Plant Identifier etc.) */
/*////////////////////////////////*/
.app header {
    height: 120px;
    background: url(/static/images/layout/bg-tile.jpg) repeat 0 0;
}
.app .content {
    padding: 8px 0 0 0;
    background: url(/static/images/layout/bg-tile.jpg) repeat 0 0;
}
.app header h1 {
    width: 460px;
    padding: 14px 0 0 0;
    margin: 0 0 0 -15px;
}
.app header h1 a {
    width: 460px;
    height: 66px;
    background: url(/static/images/layout/logo-app.png) no-repeat transparent;
}

.app header h2 a {
    width: 94px;
    height: 69px;
    background: url(/static/images/layout/newfs-logo-app.png) no-repeat transparent;
}
.app nav {
    padding: 0 0 0 48px;
    background: url(/static/images/layout/nav-app.png) no-repeat;
}
.app footer {
    border-top: 1px solid #e3e3de;
    background: #fff;
}
#main {
    float: right;
    width: 710px;
}
#sidebar {
    float: left;
    width: 228px;
    padding: 16px 0;
    border-top: 1px solid #e1e1dc;
    border-right: 1px solid #e1e1dc;
    border-left: 1px solid #e1e1dc;
    background: rgba(255, 255, 255, 0.35);
}
#sidebar .section {
    padding: 0 16px 16px;
}

/*****-----------
Breadcrumb Styles
----------******/
#breadcrumb {
    height: 29px;
    position: relative;
    margin: 0 0 12px 0;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.75px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
#breadcrumb li {
    display: block;
    position: absolute;
    width: 174px;
    padding: 0 0 0 13px;
    background: url(/static/images/layout/breadcrumb-tails.png) 0 0 no-repeat transparent;
}

#breadcrumb li.first {
    width: 170px;
    padding: 0;
    left: 0;
}
#breadcrumb li.second {
    left: 163px;
}
#breadcrumb li.third {
    left: 343px;
}
#breadcrumb li.last {
    right: 0;
}
#breadcrumb li a {
    display: block;
    height: 29px;
    padding: 0 0 0 13px;
    color: #fff;
}
#breadcrumb li a img {
    margin: 0 3px 0 0;
    vertical-align: -3px;
}
#breadcrumb li.first a img {
    vertical-align: -4px;
}
#breadcrumb li.current {
    background-position: 0 0;
}
#breadcrumb li.current a {
    background: #519136 url(/static/images/layout/breadcrumb-tips.png) right 0 no-repeat;
}
#breadcrumb li.upcoming {
    background-position: 0 -58px;
}
#breadcrumb li.upcoming a {
    background: #d3d3d3 url(/static/images/layout/breadcrumb-tips.png) right -58px no-repeat;
}
#breadcrumb li.completed {
    background-position: 0 -29px;
}
#breadcrumb li.completed a {
    background: #c3d941 url(/static/images/layout/breadcrumb-tips.png) right -29px no-repeat;
}
#breadcrumb li.completed:hover {
    background-position: 0 -116px;
    cursor: pointer;
}
#breadcrumb li.completed:hover a {
    background-position: right -116px;
    background-color: #d4ee3b;
}
#breadcrumb li a:hover {
    text-decoration: none;
}


.app .content h2 {
    color: #519136;
}

.not-my-plant {
    float: right;
    padding: 15px 0 0 0;
    text-align: center;
}
.not-my-plant h6 {
    color: #606060;
}
.not-my-plant a {
    display: block;
    width: 216px;
    height: 32px;
    margin: 5px 0 0 0;
    background: url(/static/images/layout/other-groups-btn.png) 0 0 no-repeat transparent;
    text-indent: -9000px;
}
.not-my-plant a.back-level {
    background: url(/static/images/layout/back-level-btn.png) 0 0 no-repeat transparent;
}
.not-my-plant a:hover {
    background-position: 0 -32px;
}
.not-my-plant a:active {
    background-position: 0 -64px;
}

/*****-----------
Plant Listing Styles
----------******/
.list-item {
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    border-top: 1px solid rgba(128, 113, 33, 0.1);
}
.list-item.last {
    padding: 20px 0;
    border-bottom: 1px solid rgba(128, 113, 33, 0.1);
}
.list-item h3 {
    margin: 0 0 5px 0;
    line-height: 90%;
}
.list-item h3 span {
    font-size: 12px;
    font-style: italic;
    color: #606060;
}
.img-gallery {
    position: relative;
    width: 165px; /*175px;*/
    float: left;
    margin: 0 10px 0 0;
}
.img-gallery .img-container {
    position: relative;
    width: 160px; /*170px;*/
    height: 149px;
    overflow: hidden;
}

.img-gallery .frame {
    border: 5px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 139px;	
    position: absolute;
    top: 0;
    width: 150px; /*160px;*/
    z-index: 100;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.img-gallery .images {
    position: absolute;
    width: 12000px;
    clear: both;
    margin: 0;
    padding: 0;
}
.img-gallery .images img {
    float: left;
}
.img-gallery .controls {
    margin: 8px 0 0 0;
    text-align: center;
}
.controls a {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9000px;
    cursor: pointer;
}
.controls a.next {
    background: url(/static/images/icons/next.png) 0 0 no-repeat transparent;
}
.controls a.prev {
    background: url(/static/images/icons/prev.png) 0 0 no-repeat transparent;
}
.list-item .details {
    float: left;
    width: 525px;
}
.list-item p {
    padding: 0 0 7px 25px;
}
.list-item .section-title {
    display: block;
    text-transform: uppercase;
}

.list-item p.key-char {
    background: url(/static/images/icons/icon1.png) 0 2px no-repeat;
}
.list-item p.exceptions {
    background: url(/static/images/icons/icon2.png) 0 2px no-repeat;
}
.list-item p.vid {
    background: url(/static/images/icons/icon3.png) 0 2px no-repeat;
}
.list-item a.plant-in-group {
    display: block;
    width: 212px;
    height: 31px;
    margin: 10px 0 0 0;
    background: url(/static/images/layout/plant-in-group-btn.png) no-repeat 0 0;
    text-indent: -9000px;
}
.list-item a.plant-in-group:hover {
    background-position: 0 -31px;
}
.list-item a.plant-in-group:active {
    background-position: 0 -62px;
}
.list-item a.plant-in-subgroup {
    display: block;
    width: 233px;
    height: 32px;
    margin: 10px 0 0 0;
    background: url(/static/images/layout/plant-in-subgroup-btn.png) no-repeat 0 0;
    text-indent: -9000px;
}
.list-item a.plant-in-subgroup:hover {
    background-position: 0 -32px;
}
.list-item a.plant-in-subgroup:active {
    background-position: 0 -64px;
}


/*******------
Sidebar Styles
--------*****/
#sidebar h5 {
    margin: 0 0 5px 0;
}
#sidebar a.get-help-btn {
    display: block;
    width: 113px;
    height: 32px;
    margin: 10px 0 20px;
    background: url(/static/images/layout/get-help-btn.png) 0 0 no-repeat transparent;
    text-indent: -9000px;
}
#sidebar a.get-help-btn:hover {
    background-position: 0 -32px;
}
#sidebar a.get-help-btn:active {
    background-position: 0 -64px;
}

#sidebar a.view-map-btn {
    display: block;
    width: 113px;
    height: 32px;
    margin: 10px 0 20px;
    background: url(/static/images/layout/view-map-btn.png) 0 0 no-repeat transparent;
    text-indent: -9000px;
}
#sidebar a.view-map-btn:hover {
    background-position: 0 -32px;
}
#sidebar a.view-map-btn:active {
    background-position: 0 -64px;
}
a.sidebarlink {
    color: #1a2e11;
}
#sidebar .clear-filter {
    display: block;
}
#sidebar .clear-filter.hidden {
    display: none;
}

/*******------
Level 3 Id styles
--------*****/
div.show {
    float: right;
    margin: -3px 0 7px 0; /* adjusted due to Dijit menu widget */
}

.plant-list div.row {
    border-top: 1px solid #e1e1dc;
    border-right: 1px solid #e1e1dc;
    border-left: 1px solid #e1e1dc;
    margin: 0;
    padding: 0;
    text-align: center;
}

.plant-list div.row.last {
    border-bottom: 1px solid #e1e1dc;
}
.plant-list .row .plant {
    float: left;
    height: 205px;
    margin: 0;
    padding: 10px 8px;
    position: relative;
    width: 160px; /* prevent long names from blowing out layout; allow wrap */
}
.plant-list .row .plant.first {
    padding-left: 10px;
}
.plant-list .row .plant.last {
    padding-right: 9.5px;  /* was 10px; makes it less likely to wrap */
}

.plant-list .row .plant.genus1 {
    background: #fff;
}
.plant-list .row .plant.genus2 {
    background: #d4e8bc; /* halfway between g3 and g5 */
}
.plant-list .row .plant.genus3 {
    background: #e2f0d3; /* halfway between g1 and g5 */
}
.plant-list .row .plant.genus4 {
    background: #eff5e9; /* halfway between g1 and g3 */
}
.plant-list .row .plant.genus5 {
    background: #cce5af;
}

.plant-list .row .plant .frame {
    border: 5px solid rgba(255, 255, 255, 0.8);
    height: 139px;
    position: absolute;
    top: 10px;
    width: 150px;
    z-index: 100;
}
.plant-list .row .plant a {
    display: block;
    color: #1a2e11;
}
.plant-list .row .plant a:hover {
    color: #6eae3e;
}
.plant-list .row .plant .img-container {
    width: 160px;
    height: 149px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.plant p.plant-name {
    font-family: Tahoma, sans-serif; /* Tahoma because it's narrower; less
                                        wrapping and fewer names pushing out
                                        to 4 lines */
    margin: 7px 0 0 0;
}
.plant p.plant-name span.latin {
    display: block;
    font-family: Verdana, sans-serif; /* Verdana because it's wider; easier
                                         to read in italic */
    font-style: italic;
}
p.list-all {
    clear: left;
    padding-top: 2em;
}
p.list-all a {
    cursor: pointer;
}

/***
Sidebar Styles for 3rd Level
****/
a.get-choices {
    display: block;
    width: 171px;
    height: 32px;
    margin: 15px 0 0 0;
    text-indent: -9000px;
    background: url(/static/images/layout/get-choices-btn.png) 0 0 no-repeat transparent;
}
a.get-choices:hover {
    background-position: 0 -32px;
}
a.get-choices:active {
    background-position: 0 -64px;
}
#plant-id-3 #sidebar h6 {
    margin: 0 0 8px 0;
    font-weight: bold;
    color: #807121;
}
ul.option-list {
    margin: 0 0 12px 0;
}
ul.option-list li {
    display: block;
    padding: 12px;
    margin: 0;
    border-top: 1px solid #e1e1dc;
}
ul.option-list li.last {
    border-bottom: 1px solid #e1e1dc;
}
ul.option-list li:hover, ul.option-list li.active {
    background: #1a2e11 !important; /* important used to override style attribute added by yellow fade */
    cursor: pointer;
}
ul.option-list li:hover a.option, ul.option-list li.active a.option {
    color: #fff;
}
ul.option-list li:hover a.close, ul.option-list li.active a.close {
    background-position: 0 0;
}
.option-list a.option {
    color: #1a2e11;
}
.option-list a.option:hover {
    text-decoration: none;
}
.option-list .option span.name {
    display: block;
    margin: 0 0 3px 0;
    font-weight: bold;
}
.option-list a.close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin: 9px 0 0 0;
    background: url(/static/images/icons/close.png) 0 -16px no-repeat transparent;
}
h5.help {
    padding: 3px 0 0 0;
    margin: 0 0 0 0;
}
#plant-id-3 a.get-help-btn {
    margin: 0 0 0 10px;
}
/* These two next items are called family_select and genus_select in the HTML,
   but Dojo/Dijit transforms them into divs with ids starting with widget_. */
#widget_family_select, #widget_genus_select {
    width: 140px;
}

/** Working area **/
.working-area {
    display: none;
    padding: 15px;
    margin: 10px 0 15px 0;
    border: 1px solid #F6F6D1;
    background: #f9f9e4;
}
.choices {
    border-spacing: 5px 20px;
    display: table;
}
.choices .row {
    display: table-row;
}
.choices .row div {
    display: table-cell;
    margin: 0 0.5em 1em 0;
    min-height: 50px;
}
.choices .row div label {
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 18px;
    min-width: 70px;
    vertical-align: top;
    word-wrap: break-word; /* can break mid-word */
}
.choices .row div input {
    float: left;
    margin: 3px 3px 0 -18px;
}
.choices .row div input[disabled='disabled'] + span,
.choices .row div input[disabled='disabled'] + span + span {
    color: #aaa;
}
.choices .row div img {
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    height: 100px;
}
.working-area a.close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url(/static/images/icons/close.png) 0 -16px no-repeat transparent;
}
.working-area h4 {
    color: #519136;
}
.working-area span.hint {
    font-style: italic;
    color: #707070;
}
.working-area li {
    display: block;
    float: left;
    margin: 0 8px 15px 0;
}
.working-area ul {
    margin: 15px 0 0 0;
}
.working-area li label {
    display: block;
    float: left;
    margin: 0 9px 0 0;
}
.working-area li .option-container {
    float: left;
    width: auto;
}
.working-area li .option-container p {
    display: inline-block;
    width: 80px;
}
.working-area li img {
    display: block;
    border: 1px solid #e1e1dc;
}
.working-area .apply-btn {
    display: block;
    float: right;
    width: 92px;
    height: 32px;
    background: url(/static/images/layout/apply-btn.png) no-repeat 0 0 transparent;
    text-align: left;
    text-indent: -9000px;
}
.working-area .apply-btn:hover {
    background-position: 0 -32px;
}
.working-area .apply-btn:active {
    background-position: 0 -64px;
}


#sidebar .loading {
    background: url(../ajax-loader.gif) no-repeat scroll 0 0 transparent;
    font-weight: bold;
    margin: 0 0 20px 16px;
    padding: 0 0 0 20px;
}

/* ordinarily this msg will have its centering done
by javascript, see gobotany.sk.results.notify() */
#notification-msg {
    background-color: #eeee9a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2em;
    -moz-border-bottom-left-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    padding: 0.25em 0.75em;
}

/* Plant preview dialogs, wherever they appear */

#plant-preview {
    background-color: #fff;
    color: #000;
}

#plant-preview h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

#plant-preview #preview-intro {
    position: absolute;
    left: -2000px;
}

#plant-preview div.photos {
    float: left;
    font-size: 0.9em;
    height: 220px;
    margin: 0 0.5em;
    position: relative;
    text-align: center;
    width: 202px;
}

#plant-preview div.photos img {
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
}

#plant-preview div.photos p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 205px;
    width: 200px;
}

#plant-preview div.photos a {
    cursor: pointer;
    padding: 0 1em;
}

#plant-preview dl {
    padding: 0.5em;
    float: right;
}

#plant-preview dt {
    clear: left;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 200px;
}

#plant-preview dd {
    margin: 0 0 0 210px;
    padding: 0 0 1em 0;
}

#plant-preview div.nav {
    clear: both;
    text-align: center;
}



div.working-area {
    border: 1px solid #ddd;
    clear: left;
    display: none;
    padding: 1em;
}

div.working-area .close {
    color: #00e;
    cursor: pointer;
    display: inline;
    float: right;
}

div.working-area h3.name {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0.3em 0;
    padding: 0;
}

div.working-area .info {
    width: 100%;
}

div.working-area .values.numeric {
    border: 0;
    height: auto;
    overflow-y: visible;
}

div.working-area .values .zero {
    color: #ccc;
}

div.working-area .info {
    float: left;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

div.working-area .info .hint {
    font-size: 12px;
    margin-bottom: 10px;
}

div.working-area .info .hint p {
    margin-bottom: 0;
}

div.working-area .actions {
    text-align: right;
}

.show label {
    vertical-align: middle;
}

/* Tabs for the different views of results */
#results-tabs {
    border-bottom: 1px solid #ddd;
    height: 24px;
    margin: 10px 0;
}

#results-tabs a {
    background: #d6e6c5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf2e2), color-stop(100%,#d6e6c5));
    background: -moz-linear-gradient(center top, #eaf2e2, #d6e6c5);
    border: 1px solid #ddd;
    color: #638e3a;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 5px 10px 4px;
    text-align: center;
    width: 50px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#results-tabs a:hover {
    background: #e1f2cd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f8e7), color-stop(100%,#e1f2cd));
    background: -moz-linear-gradient(center top, #f0f8e7, #e1f2cd);
    cursor: pointer;
    text-decoration: none;
}
#results-tabs li:first-child a {
    margin-left: 10px;
}
#results-tabs li a.current, results-tabs li a.current:hover {
    background: #fbfaf5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfaf5));
    background: -moz-linear-gradient(center top, #ffffff, #fbfaf5);
    border-bottom: 0;
    color: #1a2e11;
    cursor: default;
    padding: 5px 10px;
}

/* Results list view */
.plant-list table {
    width: 100%;
}
.plant-list table tr {
    height: 20px;
}
.plant-list table td {
    border-top: 1px solid #e1e1dc;
    padding: 10px 0;
    vertical-align: middle;
}
.plant-list table tr.first-visible td {
    border-top: 0;
}
.plant-list table .genus {
    color: #1a2e11;
    font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 200%;
    padding: 3px 0 0 0;
    vertical-align: top;
}
.plant-list table .scientific-name {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 155%;
    padding: 10px 0 8px 0;
}
.plant-list table .scientific-name img {
    padding-bottom: 2px;
    vertical-align: middle;
}
.plant-list table .details a {
    text-decoration: underline;
}


/* Make a Dijit horizontal slider look like a ruler */

.moz_ruler_slider_wrapper {
    /* Create a context in which we can absolutely position english/metric
       divs.  This has to be done on a div placed around the actual
       slider because Dijit uses a table, and Mozilla ignores a relative
       position when it is placed on a table, per this bug:
       https://bugzilla.mozilla.org/show_bug.cgi?id=63895
       */
    position: relative;
}
div.working-area .dijitSliderH {
    margin-top: 48px;
    margin-bottom: 18px;
}
div.working-area .dijitSliderButtonContainerH {
    padding: 0;
}

div.working-area .dijitSliderBumperH {
    width: 0px;  /* hmm, not quite right - still 1px off on left - hmm */
}

div.working-area .dijitSliderDecoration {
    background-color: #fe8;
    border-bottom: 1px solid black;
}
div.working-area .dijitSliderImageHandleH > div {
    font-size: 0.88em;
}
div.working-area .dijitSliderImageHandleH div.second_handle {
    /* A second handle at the bottom of the ruler, against the inches */
    position: absolute;
    height: 16px;
    width: 18px;
    background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/form/images/sliderThumbs.png");
    background-position: -108px 0;
}
div.working-area div.metric_display {
    font-size: 11px;
    left: -30px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 60px;
}
div.working-area div.english_display {
    font-size: 11px;
    position: absolute;
    right: -12px;
    text-align: right;
    top: 20px;
}
div.working-area .dijitRuleLabelH {
    left: -100%;  /* print lengths left of ticks */
    text-align: right;
}


/* overrides for the non-length (count) slider */

div.working-area #simple-slider .dijitSliderDecoration {
    background: #fff;
    border-bottom: 0;
}
div.working-area #simple-slider .count {
    position: absolute; /* top/left set by JS */
}
/* end overrides for count slider */


/* Help navigation styles */
/* (Remove after Iteration 15, when they'll be obsolete) */
#help-nav {
    color: #666;
}

#help-nav a.current {
    color: #000;
}
#help-nav a.current:hover {
    text-decoration: none;
}

#help-nav ul ul {
    margin: 0.5em 0 0.2em 0;
}

#help-nav ul ul li {
    margin-left: 1em;
}

/*///////////////////////////**
Taxon (Species) Page Styles
////////////////////////////*/
span.origin {
	font-size: 24px;
}
span.common {
	font-size: 14px;
	color: #606060;
}

#taxon #main p {
	margin: 0 0 15px;	
}
a.my-plant {
	display: block;
	width: 151px;
	height: 32px;
	margin: 0 0 8px 0;
	background: url(../images/layout/myplant-btn.png) 0 0 no-repeat;
	text-indent: -9000px;	
}
a.my-plant:hover {
	background-position: 0 -32px;	
}
a.my-plant:active {
	background-position: 0 -64px;	
}
a.description-control {
	display: block;
	padding: 3px 0 3px 25px;
	margin: 10px 0 12px 0;
	background: url(../images/icons/plus.png) left 50% no-repeat;	
}
ul.characteristics span {
	text-transform: uppercase;	
}
ul.full-description {
	display: none;
	margin: 0 0 15px 0;
	border: 1px solid #e1e1dc;	
	background: #fbfbf8;	
}
ul.full-description li {
	display: block;
	padding: 18px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #e1e1dc;	
	cursor: pointer;
}
ul.full-description li:last-child {
	border-bottom: none;	
}
ul.full-description li:hover {
	background-color: #fff;
}
ul.full-description li h5 {
	background: url(../images/icons/plus.png) right 50% no-repeat;	
}
ul.full-description li ul {
	display: none;	
}
ul.full-description li ul li {
	border-bottom: none;
    margin: 1em 0 0;
    padding: 0;
}
table.status {
	border-top: 1px solid #e2dfca;
	margin: 0 0 15px 0;
}
table.status th, table.status td {
	padding: 5px 0;
	border-bottom: 1px solid #e2dfca;	
}
table.status td:last-child {
	text-align: right;
}
#taxon #sidebar .get-help-btn {
	margin: 0 0 0 10px;	
}
a.enlarge {
	display: block;
	margin: 0 0 8px 0;
	color: #1a2e11;	
}
a.enlarge:hover {
	text-decoration: none;	
}
.map {
	display: block;	
	margin: 0 0 5px 0;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
/**Larger gallery styles**/
#taxon .img-gallery {
	width: 710px;
	float: none;
	margin: 0 0 0 0;	
}
#taxon .img-gallery .img-container {
	width: 710px;
	height: 273px;
}
#taxon .img-gallery .frame {
	width: 700px;
	height: 239px;	
}
#taxon .img-gallery .images .single-img {
	position: relative;
	float: left;	
}
#taxon .img-gallery .images img {
	float: none;	
}
#taxon #main .img-gallery p.caption {
	position: absolute;
	right: 0;
	bottom: -22px;
	margin: 0 0 0 0;
}
#taxon .controls {
	position: relative;
}
#taxon .controls span {
	position: relative;
	top: -22px;	
}
#taxon #main h2 {
    line-height: 1em;
    margin: 0.5em 0 0.2em 0;
}
#taxon dl {
    line-height: 1.7em;
}
#taxon a.more {
    cursor: pointer;
}

/*///////////////////////////**
Getting Started Page Styles
////////////////////////////*/
#getting-started .question {
	padding: 18px 0 18px 45px;	
	border-bottom: 1px solid #e2dfcb;
}
#getting-started .first.question {
	margin: 11px 0 0 0;
	border-top: 1px solid #e2dfcb;
	background: url(../images/icons/1.png) left 18px no-repeat;	
}

#getting-started .second.question {
	background: url(../images/icons/2.png) left 18px no-repeat;	
}
#getting-started .third.question {
	background: url(../images/icons/3.png) left 18px no-repeat;	
}
#getting-started .fourth.question {
	background: url(../images/icons/4.png) left 18px no-repeat;	
}
#getting-started .fifth.question {
	background: url(../images/icons/5.png) left 18px no-repeat;	
}
#getting-started .sixth.question {
	margin: 0 0 11px 0;
	background: url(../images/icons/6.png) left 18px no-repeat;	
}
#getting-started a.screenshot {
	display: none;
	float: right;	
	margin: 0 0 0 15px;
	color: #1A2E11;
	text-align: center;
}
#getting-started a.screenshot:hover {
	text-decoration: none;	
}
#getting-started a.screenshot img.screenshot-thumb {
	display: block;	
	margin: 0 0 5px 0;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);	
}
#getting-started .question ul {
	padding: 0 0 0 15px;
	list-style-type: disc;	
}
#getting-started .question h4 {
	margin: 0 0 15px 0;
	background: url(../images/icons/plus.png) right 50% no-repeat;	
	cursor: pointer;
}
#getting-started .first.question h4 {
	background: none;
	cursor: default;	
}
#getting-started a.onward-btn {
	display: block;
	float: right;
	width: 280px;
	height: 32px;
	margin: 10px 0 0 0;
	background: url(../images/layout/onward-btn.png) 0 0 no-repeat transparent;
	text-indent: -9000px;	
}
#getting-started a.onward-btn:hover {
	background-position: 0 -32px;	
}
#getting-started a.onward-btn:active {
	background-position: 0 -64px;	
}
#getting-started label.got-it {
	display: block;
	float: left;
	margin: 19px 0 0 0;	
}
#getting-started label.got-it input {
	margin: 0 5px 0 0;	
}


/*///////////////////////////**
Video Help Topics Page Styles
////////////////////////////*/

.video-row {
    margin: 20px 0;
}
.video-topic {
    float: left;
    margin-right: 16px;
    width: 220px;
}
.video-topic img {
    height: 137px;
    width: 220px;
}

/*/////////////**
Glossary Styles
//////////////*/

/* glossary term underline for popup */
.gloss {
    border-bottom: 1px dashed;
    cursor: pointer;
}
/* glossary tooltip */
.glosstip {
    position: relative;
    max-width: 30em;
}
.glosstip img {
    position: absolute;
    bottom: 100%;
    border: 3px solid black;
}

#alphabet {
    height: 33px;
    margin: 7px 0;
    padding: 0;
    width: 712px; /* 2px wider than its parent box so no wrap in Moz */
}

#alphabet li {
    border-left: 1px solid #e1e1dc;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 0 7px;
}
#alphabet li:first-child {
    border-left: 0;
}
#alphabet li.current a {
    color: #000;
}
#alphabet li.current a:hover {
    text-decoration: none;
}
#alphabet li.inactive {
    color: #ccc;
}

#terms {
    background-color: #fff;
    border: 1px solid #e1e1dc;
    clear: left;
    margin-bottom: 30px;
    width: 710px;
}
#terms dt, #terms dd {
    border-top: 1px solid #e1e1dc;
    min-height: 24px;
}
#terms dt {
    clear: left;
    float: left;
    font: 15px "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
    line-height: 25px;
    padding: 7px 10px 10px 38px;
    width: 190px;
}
#terms dt a {
    float: left;
    margin-left: -34px;
}
#terms dd {
    margin-left: 224px;
    padding: 13px;
}
#terms dt:first-child, #terms dt:first-child + dd {
    border-top: 0;
}


/*///////////////////**
Search Results Styles
////////////////////*/

#search-results-list {
    border-top: 1px solid #e1e1dc;
    margin: 15px 0 13px;
}
#search-results-list .highlighted {
    font-weight: bold;
}
#search-results-list li {    
    border-bottom: 1px solid #e1e1dc;
    padding: 6px 0 10px;
}
#search-results-list li img {
    height: 37px; /* remove height after all icons have been provided */
    margin: -6px 10px 0;
    vertical-align: middle;
    width: 31px; /* remove width after all icons have been provided */
}
#search-results-list li a {
    font: 15px "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
#search-results-list li p {
    margin-left: 55px;
}
.search-navigation {
    text-align: right;
}
.search-navigation p, .search-navigation ul {
    display: inline;
}
.search-navigation li {
    display: inline;
    margin: 0 2px;
}
.search-navigation a {
    text-decoration: underline;
}

/*////////////////**
Family Page Styles
/////////////////*/

#family .genera {
    font: 14px "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
}
#family .familypics {
    margin-top: 20px;
}
#family .familypics div {
    float: left;
    margin-right: 20px;
}
#family .familypics p {
    display: inline-block;
    float: left;
    font: 14px "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
}
#family h4 {
    clear: left;
    padding-top: 30px;
}
#family .family-genera-btn {
    background: url(../images/layout/family-btn.png) no-repeat scroll 0 0 transparent;
    clear: both;
    display: block;
    float: left;
    height: 32px;
    margin: 15px 0 0;
    text-indent: -9000px;
    width: 280px;
}
img.zoom {
    display: inline-block;
    float: right;
}
