<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %}: Go Botany{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        {# No meta tag for Google Chrome Frame: use middleware HTTP header #}

        <link rel="shortcut icon" href="/static/images/branding/favicon.png">

        {# This block is for any additional meta or link elements. #}
        {% block more_meta_link %}{% endblock %}

        {# CSS goes here. #}
        {% block css %}
        <link rel="stylesheet" href="/static/css/site.css">
        {% endblock %}

        {# JS goes here. #}

        {# This block is for adding any JS that *has* to come first, #}
        {# such as SVGWeb. #}
        {% block js_top %}{% endblock %}

        {# This HTML5 fix for old IE will only apply if the user views #}
        {# the site in IE without the required Chrome Frame plug-in.   #}
        <!--[if lt IE 9]>
        <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% include "gobotany/_script_constants.html" %}

        {% if not in_production %}

        <!-- DEVELOPMENT FILES -->
        <script src="/static/scripts/requirejs/require.js"></script>
        <script src="/static/scripts/require_config.js"></script>

        {% else %}

        <!-- PRODUCTION / DEPLOYMENT FILES -->
        <script src="/static/scripts/requirejs/require.js"></script>
        <script src="/static/scripts/require_deploy_config.js"></script>

        {% endif %}

        {# This block is for adding any page-specific JS. #}
        <!-- <script src="/static/scripts/require.js"></script> -->
        <script>
            {% if in_production %}
            require(["/static/js/gobotany.application.js"], function(app) {
            {% endif %}

            require(['util/activate_search_suggest']);
            {% block js_require %}{% endblock %}

            {% if in_production %}
            });
            {% endif %}
        </script>

		{# Google analytics tracking code #}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-30436748-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
        {% block ember_templates %}{% endblock %}
    </head>

    <body {% block body_attributes %}{% endblock %}>

        {% include "gobotany/_chrome_frame.html" %}

        <div id="all">
            {% block header %}{% endblock %}

            {% block body_content %}{% endblock %}

            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
