{% load gobotany_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}{% block title_sep %}:{% endblock %}
            {% block title_suffix %}Go Botany{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="canonical" href="https://gobotany.newenglandwild.org{{ request.path }}">

        <link rel="shortcut icon" href="/static/images/branding/favicon.png">

        {# Unless this is the main Production site, ask not to be indexed. #}
        {% if 'gobotany.newenglandwild.org' not in request.META.HTTP_HOST %}
            <!-- Host is not gobotany.newenglandwild.org, so ask not to be indexed -->
            {% include "gobotany/_meta_robots_noindex.html" %}
        {% endif %}

        {# This block is for any additional meta or link elements. #}
        {% block more_meta_link %}{% endblock %}

        {# CSS goes here. #}
        {% block css %}

        {% with '/static/css/site.css' as file_path %}
        <link rel="stylesheet"
            href="{{ file_path }}?v={% file_version file_path %}">
        {% endwith %}
        
        {% endblock %}

        {# JS goes here. #}

        {# This block is for adding any JS that *has* to come first, #}
        {# such as SVGWeb. #}
        {% block js_top %}{% endblock %}

        {% include "gobotany/_script_constants.html" %}

        {% include "gobotany/_js.html" %}

        <script>
            require(['util/suggester_init']);
            {% block js_require %}{% endblock %}
        </script>

        {% if in_production %}
            {% include "gobotany/_google_analytics.html" %}
        {% endif %}

        {% block ember_templates %}{% endblock %}
    </head>

    <body {% block body_attributes %}{% endblock %}>

        <div id="all">
            <div id="top-message">
                <p><b>Your help is appreciated.</b> &nbsp;&nbsp; We depend on 
                donations to help keep this site free and up to date for
                you. Can you please help us?</p>
                <form action="https://46858.blackbaudhosting.com/46858/Online-Flora">
                    <button>Donate</button>
                </form>
                <a href="javascript: void(0);" onclick="javascript: closeMessageBanner();">
                    <svg aria-hidden="true" height="16"
                    version="1.1" viewBox="0 0 12 16" width="12"><path
                    fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                    </svg>
                </a>
            </div>

            {% block header %}
                {% include "gobotany/_header.html" %}
            {% endblock %}

            {% block body_content %}{% endblock %}

            {% block footer %}
                {% include "gobotany/_footer.html" %}
            {% endblock %}
        </div>

        {# Temporary: for message banner at top of page #}
        <script src="/static/scripts/site/message.js"></script>
    </body>
</html>
