    <h1>Contact Us</h1>

    <p>Would you like to:</p>
    <ul>
		<li>Find out more about the project?</li>
		<li>Report a bug or erroneous data?</li>
        <li>Give us a pat on the back?</li> 
        <li>Or suggest an improvement?</li>
	</ul>
	
    <p>We'd like to hear from you! Send us an 
        email at
        <a class="email">gobotany [at] nativeplanttrust [dot] org</a>.</p>
        
    <p>If you have a plant identification question, please log in to
        <a href="{% url 'ps-main' %}">PlantShare</a> and use
        its <a href="{% url 'ps-questions' %}">Ask the Botanist</a>
        feature.</a></p>
        
    <p><b>We can only give authoritative answers regarding wild New England plants.</b></p>
    
