{% load gobotany_tags %}
        <footer>
            <img src="/static/images/layout/little-plants.png" alt="">
            <div class="container">
                <div class="publisher">
                    <p class="copyright">All images and text copyright 
                    &#169; {% include "simplekey/_copyright_years.html" %}
                    New England Wild Flower Society
                    or respective copyright holders.
                    All rights reserved.</p>
                    <p><a href="http://www.newenglandwild.org/">New England Wild
                        Flower Society</a><br>
                    180 Hemenway Road, Framingham, MA 01701</p>
                </div>
                <div class="navigation">
                    <h6>Go Botany</h6>
                    {% include "gobotany/_primary_navigation_bottom.html" %}
                    <h6>Legal</h6>
                    <ul class="legal">
                        <li>{% nav_item 'Privacy Policy' site-privacy %}</li>
                        <li>{% nav_item 'Terms of Use' site-terms-of-use %}</li>
                    </ul>
                </div>
                <div class="support">
                    <img src="/static/images/layout/nsf-logo.png"
                        alt="National Science Foundation" class="nsf-logo">
                    <p>The Go Botany project is supported in part by the 
                        National Science Foundation.<br><a
                            href="http://www.nsf.gov"
                            target="_blank">www.nsf.gov</a></p>
                </div>
            </div>
        </footer>
