    <div class="section separate">
        <h2>Video</h2>
        <div class="video-topic">
            <button class="video"
                data-href="https://www.youtube.com/embed/{{ getting_started_youtube_id }}?autoplay=1&amp;rel=0&amp;hd=1&amp;modestbranding=1">
                <img class="shadow"
                    src="https://img.youtube.com/vi/{{ getting_started_youtube_id }}/0.jpg"
                    alt="">
            </button>
        </div>
        <p>How to use the Simple Key</p>
    </div>
