    <div class="section separate">
        <h4>Watch Video:</h4>
        <div class="video-topic">
            <a class="video"
                href="http://www.youtube.com/embed/{{ getting_started_youtube_id }}?autoplay=1&amp;rel=0&amp;hd=1&amp;modestbranding=1">
                <img class="shadow"
                    src="http://img.youtube.com/vi/{{ getting_started_youtube_id }}/0.jpg"
                    alt="">
            </a>
        </div>
        <p>How to use the Simple Key</p>
    </div>
