    <h1>Getting Started with the Simple Key</h1>

    <div class="first question">
        <h2>What kinds of plants can I identify?</h2>
        <p>The Go Botany Simple Key helps you identify thousands of
        native and naturalized plant species in New England. You can also
        identify subspecies and varieties. Many of these plants grow outside
        of New England, though, so this key is useful well beyond our
        region.</p>
    </div>
    
    <div class="second question">
        <h2>What should I notice about my plant?</h2>
        <ul>
            <li>Choose a plant that you can look at closely enough to answer
            some questions about its characteristics.</li> 
            <li>You may want to collect all or part of the plant, or take
            some photos or make sketches that you can refer to later.</li>
            <li>Note the plant's location and the habitat it is growing
            in.</li>
        </ul>
    </div>

    <div class="third question">
        <h2>How do I get started using the Simple Key?</h2>
        <a class="screenshot"
            href="/static/images/layout/screenshot-3.jpg"
            rel="shadowbox">
            <img
            src="/static/images/layout/screenshot-3-small.jpg"
            class="screenshot-thumb"
            alt="How to get started: small screenshot">
            <img src="/static/images/icons/zoom.png"
            alt=""> Enlarge</a>
        <ul>
            <li>Choose the plant group you think your plant is in.
            To do this, compare the features of your plant with
            the "Key Characteristics" listed for each plant group and
            "Exceptions," which will help you avoid mixing up groups.</li>
            <li>Please go through the groups in the order that they
            appear on the page. This will help you pick the right group
            by eliminating wrong ones first.</li>
            <li>When you've found the group your plant belongs to, press
            "My plant is in this group."</li>
        </ul>
        <div class="clearit"></div>
    </div>
                        
    <div class="fourth question"> 
        <h2>What's a plant group?</h2> 
        <a class="screenshot"
            href="/static/images/layout/screenshot-4.jpg"
            rel="shadowbox"> <img
            src="/static/images/layout/screenshot-4-small.jpg"
            class="screenshot-thumb" alt="What's a plant group: small
            screenshot">
            <img src="/static/images/icons/zoom.png" alt=""> Enlarge</a>
        <ul>
            <li>It's a set of plants that share some
            common traits that would cause many people to think of them
            as similar. For example, the Aquatic Plant group contains
            many species of plants that live in or near water.</li>
            <li>We have defined our groups as handy, contrasting
            categories that are easy to tell apart. They are not strict
            scientific classifications.</li>
            <li>A few plant species belong to more than one group in our
            system, but most have been assigned to a single group with the
            characteristics that match them best.</li>
        </ul>
    </div>    
    <div class="fifth question">
        <h2>Once I select a group, what happens next?</h2>
        <a class="screenshot"
            href="/static/images/layout/screenshot-5.jpg"
            rel="shadowbox">
            <img
            src="/static/images/layout/screenshot-5-small.jpg"
            class="screenshot-thumb"
            alt="What happens next: small screenshot">
            <img src="/static/images/icons/zoom.png"
            alt=""> Enlarge</a>
        <ul>
            <li>Next, choose which subgroup your plant belongs to. For
            example, if your plant is woody like a tree, you'll be asked if
            it is a needle-leaved plant or a broad-leaved plant.</li>
            <li>Please go through the subgroups in the order that they
            appear on the page. This will help you pick the right group
            by eliminating wrong ones first.</li>
            <li>When you've found the subgroup your plant belongs to, click
            "My plant is in this subgroup."</li>
            <li>If your plant doesn't fit any of the subgroups, click the
            "Go back one level" button to choose a new group.</li>
            <li>Once you're familiar with the groups and subgroups, use the
            Plant Map on the left side of the page to jump directly to the
            subgroup your plant is in.</li>
        </ul>
    </div>

    <div class="sixth question">
        <h2>I've chosen my plant subgroup. What's next?</h2>
        <a class="screenshot"
            href="/static/images/layout/screenshot-6.jpg"
            rel="shadowbox">
            <img
            src="/static/images/layout/screenshot-6-small.jpg"
            class="screenshot-thumb"
            alt="What's next: small screenshot">
            <img
            src="/static/images/icons/zoom.png"
            alt=""> Enlarge</a>
        <ul>
            <li>On the left side of the new page is a list of questions to
            help
            you narrow your matching species. Pick any question and a box will
            open in the center of the page. In the box, select the
            answer that
            most closely matches your plant and press the Apply Selection
            button. If you're not sure which selection to make, it's fine to
            move on without making a selection.</li>
            <li>Press the Get More Questions button to add a few new
            questions,
            added in order of their potential helpfulness in narrowing down
            your matching species.</li>
            <li>If you can only observe part of a plant, say the leaves, you
            can press Get More Questions, then check the "leaves" check box
            and
            press the second Get More Questions button, and you'll only get
            new
            choices about leaves.</li>
            <li>View a set of thumbnail photos of all the possible plants
            that match your selections, listed in alphabetical order by
            scientific name.</li>
            <li>Click on a photo to get a pop-up box with more information
            about a plant. If you decide that this is your plant, or want to
            read more about it in order to decide, press the Get More Info
            button to go to the full information page for that species.
            <li class="hidden">The set of thumbnail photos gets smaller as
            pick additional questions and answer them, honing in
            on your plant by a process of elimination.</li>
            <li class="hidden">To clear an answer you've previously made,
            click the Clear link for the question in the list at left.</li>
        </ul>
    </div>

    <a href="{% url 'level1' 'simple' %}"
        class="onward-btn orange-button caps">Onward to the Simple Key</a>
