{% load gobotany_tags %}

    <header>
        <div class="container">
            {% if page = "home" %}
                <h1>Go Botany: Discover thousands of New England plants</h1>
            {% else %}
                <p class="go-botany">{% nav_item 'Go Botany: Discover thousands of New England plants' site-home %}</p>
            {% endif %}
            <p class="newfs"><a href="http://www.newenglandwild.org/">New
                England Wild Flower Society</a></p>
            <nav>
                <a href="javascript:document.getElementById('footer-nav').scrollIntoView();"><span>sections</span></a>
                <ul>
                    {% include "gobotany/_primary_navigation.html" %}
                </ul>
                <div id="search">
                    <form action="/search/" method="get">
                        <input type="text" autocomplete="off"
                            name="q"
                            value="{% if query %}{{ query }}{% endif %}"
                            id="search-suggest"
                            placeholder="Search..."
                            class="suggest"
                            data-suggest-url="{% url 'site-search-suggestions' %}?q=%s"
                            data-submit-on-select="true">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
