{% load gobotany_tags %}

    <header class="{% block header_css_class %}{% endblock %}">
        <div class="container">
            {% if page == "home" %}
                <div class="id">
                    <h1>{% block home_page_main_heading %}<img
                        src="/static/images/layout/npt-gb-logo-home.svg"
                        alt="Native Plant Trust: Go Botany">{% endblock %}</h1>
                    <p class="tagline">Discover thousands of New England plants</p>
                </div>
                {% block home_page_partner_site_name_tagline %}{% endblock %}
            {% else %}
                <p class="go-botany">
                    <a href="/"><img
                        src="/static/images/layout/npt-gb-logo.svg"
                        alt="Native Plant Trust: Go Botany"></a>
                    <span class="tagline">Discover thousands of New England
                        plants</span>
                    </p>
                {% block partner_site_name_tagline %}{% endblock %}
            {% endif %}
            <nav>
                <a href="javascript:document.getElementById('footer-nav').scrollIntoView();"><span>menu</span></a>
                <ul>
                    {% block primary_navigation %}
                        {% include "gobotany/_primary_navigation.html" %}
                    {% endblock %}
                </ul>
                {% block search %}
                <div id="search">
                    <form action="/search/" method="get">
                        <input type="text" autocomplete="off"
                            name="q"
                            value="{% if query %}{{ query }}{% endif %}"
                            id="search-suggest"
                            class="suggest"
                            data-suggest-url="{% url 'site-search-suggestions' %}?q=%s"
                            data-submit-on-select="true">
                        <button type="submit" aria-label="Search">
                            <img src="/static/images/icons/gb-search-icon.svg"
                                alt="">
                        </button>
                    </form>
                </div>
                {% endblock %}
            </nav>
        </div>
    </header>