 {% load gobotany_tags %}
    <div class="section help">
        <h4>{% nav_item 'Help' site-help %}</h4>
    </div>
    <div class="section getting-started">
        <h4>{% nav_item 'Getting Started with the Simple Key' site-getting-started %}</h4>
    </div>
    <div class="section video">
        <h4>{% nav_item 'Video Help Topics' site-video %}</h4>
    </div>
    <div class="section advanced-map">
        <h4>{% nav_item 'Advanced Map to Groups' site-advanced-map %}</h4>
    </div>
    <div class="section dkey">
        <h4>{% nav_item "What’s a Dichotomous Key?" site-help-dkey %}</h4>
    </div>
    <div class="section glossary">
        <h4>{% nav_item 'Glossary' site-glossary 'a' %}</h4>
    </div>
    <div class="section advanced-id-tools">
        <h4>{% nav_item 'Advanced ID Tools' advanced-id-tools %}</h4>
    </div>
    <div class="section about">
        <h4>{% nav_item 'About Go Botany' site-about %}</h4>
    </div>
    <div class="section contributors">
        <h4>{% nav_item 'Contributors' site-contributors %}</h4>
    </div>
