{% load gobotany_tags %}

        {# To use production JS locally, use 'if 1 == 0' instead: #}
        {% if not in_production %}

        <!-- DEVELOPMENT FILES -->
        <script src="/static/scripts/lib/require.js"></script>
        <script src="/static/scripts/require_config.js"></script>

        {% else %}

        <!-- PRODUCTION / DEPLOYMENT FILES -->
        {% with '/static/js/gobotany.application.js' as file_path %}
        <script src="{{ file_path }}?v={% file_version file_path %}"></script>
        {% endwith %}

        {% endif %}

        {# Temporary: for message banner at top of page #}
        <script src="/static/scripts/site/message.js"></script>