{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Advanced ID Tools{% endblock %}

{% block body_attributes %}id="advanced-id" class="placeholder"{% endblock %}

{% block main_content %}
                    <h1>Advanced ID Tools</h1>
                    <div>
                        <div class="dk-landing-section">
                            <h2>Full Advanced Interactive Key to All
                                3,500 New England Taxa (Coming Soon)</h2>
                            <section>
                                <ul>
                                    <li>This key covers all 3,500 species,
                                    subspecies, and varieties of native and
                                    naturalized plants in New England.</li>
                                    <li>It works in the same way as our Simple Key
                                    Plant Identifier, asking you to choose the
                                    broad group your plant is in, then offering you
                                    a series of questions based on the
                                    characteristics you are able to observe.</li>
                                    <li>Because there are many types of plants in
                                    this key, you may take a little longer to
                                    identify your plant, but once you do, you can
                                    get lots of information on each taxon.</li>
                                </ul>
                            </section>
                            <a href="{% url full-key-placeholder %}"
                                class="go-fullkey-btn">Go To Full Key</a>
                        </div>
                        <div class="landing-divider"></div>
                        <div class="dk-landing-section">
                            <h2>Dichotomous Key to All 3,500 New England
                                Taxa (Coming Soon)</h2>
                            <section>
                                <p>If you are an experienced botanist, use our
                                Dichotomous Key tool!</p>
                                <ul>
                                    <li>A dichotomous key presents a set of paired
                                    choices that describe various plant
                                    characteristics.</li>
                                    <li>You choose the one that best matches the
                                    plant you are trying to identify. Then  you get
                                    another pair of choices.</li>
                                    <li>As you march down the choices, you
                                    gradually narrow down to your plant.</li>
                                    <li>The questions are technical and specific,
                                    but botanical terms are all defined and
                                    illustrated.</li>
                                </ul>
                                <p>The key is based on the <a
                                    href="http://newenglandwild.org/store/flora-novae-angliae"
                                    target="_blank">Flora Novae Angliae</a> (Haines
                                2011).</p>
                            </section>
                            <a href="{% url dich-key-placeholder %}"
                                class="go-dichkey-btn">Go To Dichotomous Key</a>
                        </div>
                    </div>
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
