{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Contact Us: Help{% endblock %}

{% block more_meta_link %}<meta name="robots" content="noindex">{% endblock %}

{% block js_require %}
    require(['site/help']);
{% endblock %}

{% block body_attributes %}id="contact" class="help"{% endblock %}

{% block main_content %}
    <h1>Contact Us</h1>

    <p>Would you like to find out more about the project? Report
    a bug or erroneous data? We'd like to know!</p>
    
    <p>Send us an 
        email at
        <a class="email">gobotany [at] newenglandwild [dot] org</a>.</p>

{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_help_navigation.html" %}
{% endblock %}
