{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Contributors: Help{% endblock %}

{% block more_meta_link %}<meta name="robots" content="noindex">{% endblock %}

{% block js_require %}
    require(['site/help']);
{% endblock %}

{% block body_attributes %}id="contributors" class="help"{% endblock %}

{% block main_content %}
    <h1>Contributors</h1>

    <h2>Project Oversight and Management</h2>
		
    <ul>
        <li>Bill Brumback</li>
        <li>Elizabeth Farnsworth</li>
        <li>Arthur Haines</li>
		<li>Greg Lowenberg</li>
    </ul>

    <h2>Botanical Data Management</h2>
		
    <ul>
		<li>Dorothy Allard</li>
		<li>Josh Atwood</li>
		<li>Bill Brumback</li>
		<li>Brian DeGasperis</li>
        <li>Elizabeth Farnsworth</li>
        <li>Marybeth Hanley</li>
		<li>Sara Klionsky</li>
        <li>Sid Koul</li>
        <li>William Moorhead</li>
		<li>Dan Scharfman</li>
        <li>Tristram Seidler</li>
		<li>Sally Shaw</li>
		<li>Tom Vining</li>
    </ul>

    <h2>Image Management</h2>
		
    <ul>
		<li>Bruce Patterson</li>
        <li>Arieh Tal</li>
        <li>Tom Warhol</li>
        <li>Jill Weber</li>
    </ul>

    <h2>Design and Development</h2>
		
    <ul>
        <li>Matt Belge</li>
        <li>Rocky Burt</li>
		<li>Jinyoung Chang</li>
        <li>Emily Dunkle</li>
        <li>John Galada</li>
        <li>Sally Kleinfeldt</li>
        <li>Sid Koul</li>
        <li>Alec Mitchell</li>
        <li>Brandon Rhodes</li>
        <li>JR Rickerson</li>
    </ul>

    <h2>Illustration</h2>
		
    <ul>
        <li>Elizabeth Farnsworth</li>
        <li>Gordon Morrison</li>
    </ul>

    <h2>Photography</h2>

    <p>Credits appear with the photos throughout the site.</p>
	
	<h2>Project Partners</h2>
	
	<ul>
		<li>Don Hudson, Chewonki Foundation</li>
		<li>Bob Raiselis, Montshire Museum of Science</li>
		<li>James Sirch, Yale Peabody Museum of Natural History</li>
	</ul>

{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_help_navigation.html" %}
{% endblock %}
