{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Full Key{% endblock %}

{% block body_attributes %}class="placeholder"{% endblock %}

{% block main_content %}
                    <h1>Full Key</h1>
                    <p>This key will cover all 3,500 species, subspecies, and
                    varieties of native and naturalized plants in New
                    England.</p>
                    <p>It works in the same way as our Simple Key Plant
                    Identifier, asking you to choose the broad group your plant
                    is in, then offering you a series of questions based on the
                    characteristics you are able to observe.  Because there are
                    many types of plants in this key, you may take a little
                    longer to identify your plant, but once you do, you can get
                    lots of information on it.</p>
                    <p>We are completing data input for all these taxa, and the
                    Full Key will be available in late 2012. Check back
                    soon!</p>
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
