{% extends "gobotany/_base.html" %}

{% block title %}Go Botany: New England Wild Flower Society{% endblock %}
{% block title_suffix %}{% endblock %}

{% block more_meta_link %}
    {% include "gobotany/_home_feed_link.html" %}
{% endblock %}

{% block body_attributes %}
    {% include "gobotany/_home_body_attributes.html" %}
{% endblock %}

{% block js_require %}
    {% include "gobotany/_home_js_require.html" %}
{% endblock %}

{% block header %}
    {% include "gobotany/_header.html" with page="home" %}
{% endblock %}

{% block body_content %}
    {% include "gobotany/_home_body_content.html" %}
{% endblock %}

{% block footer %}
    {% include "gobotany/_footer.html" %}
{% endblock %}
