<!doctype html>
<html>
    <head>
        <title>Maps Test</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
        <link rel="stylesheet" href="/static/css/site.css">
        <style>
            body {
                padding: 2em 4em;
            }
            h3, h4 {
                padding: 0.5em 0;
            }
        </style>

        <script src="/static/scripts/lib/require.js"></script>
        <script src="/static/scripts/require_config.js"></script>
        <script>
            require(['util/map_init']);
        </script>        
    </head>
    <body class="plantshare">
        <h1>Maps Test</h1>

        <p>This is a page for testing map APIs and controls.</p>

        <h2>Google static location map</h2>

        {% include "_location_map.html" with location="Framingham, MA" height_px="150" width_px="302" zoom="7" id="id_location_map" %}

        <h2>Google maps (using JavaScript API)</h2>

        <h3>Basic map centered on New England</h3>

        <div id="map-new-england" style="width: 360px; height: 480px"
            class="location-map"></div>

        {# New England map centered on Rumford, NH via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" height="480px" width="360px" zoom="6" id="new-england-map" %}

        <h3>Sightings map (mini) for PlantShare main page</h3>

        {# Sightings map (mini) via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" height="297px" width="479px" zoom="6" id="mini-sightings-map" %}

        <h3>Sightings map for Sightings Locator page</h3>

        {# Sightings map via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" height="524px" width="710px" zoom="6" id="sightings-map" %}

    </body>
</html>
