<!doctype html>
<html>
    <head>
        <title>Maps Test</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
        <link rel="stylesheet" href="/static/css/site.css">
        <style>
            body {
                padding: 2em 4em;
            }
            h3, h4 {
                padding: 0.5em 0;
            }
        </style>

        <script src="/static/scripts/lib/require.js"></script>
        <script src="/static/scripts/require_config.js"></script>
        <script>
            require(['site/maps_test']);
        </script>        
    </head>
    <body class="plantshare">
        <h1>Maps Test</h1>

        <p>This is a page for testing map APIs and controls. It is also
        for working out default coordinate centers and zoom levels
        for PlantShare maps.</p>

        <h2>Google static location map</h2>

        <p>Small, quick, and simple. Returns a static image. No
        JavaScript to load. Allows passing a location either as an
        address or as lat./long. coordinates.</p>

        {% include "_location_map.html" with location="Framingham, MA" height_px="150" width_px="302" zoom="7" id="id_location_map" %}

        <h2>Google maps (using JavaScript API)</h2>

        <p>Fully dynamic and capable maps. Requires JavaScript API
        library to be loaded. Only allows instatiation with lat./long.
        coordinates, not flexible addresses.</p>

        <h3>Basic map centered on New England</h3>

        {# New England map centered on Rumford, Maine via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" center_title="Rumford, Maine" height="480px" width="360px" zoom="6" id="new-england-map" %}

        <h3>Sightings map (mini) for PlantShare main page</h3>

        {# Sightings map (mini) via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" center_title="Rumford, Maine" height="297px" width="479px" zoom="6" id="mini-sightings-map" %}

        <h3>Sightings map for Sightings Locator page</h3>

        {# Sightings map via template tag #}
        {% include "_sightings_map.html" with latitude="44.53599" longitude="-70.56609" center_title="Rumford, Maine" height="524px" width="710px" zoom="6" id="sightings-map" %}
    </body>
</html>
