{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}PlantShare{% endblock %}

{% block body_attributes %}class="placeholder"{% endblock %}

{% block main_content %}
                    <h1>PlantShare</h1>
                    <p>Soon, you'll be able to connect with other plant fans 
                    to share your plant discoveries, form affinity groups, 
                    and create customized checklists of plants you have 
                    found.</p>
                    <p>PlantShare will go live in 2013. Check back 
                    soon!</p>
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_sidebar_items.html" %}
{% endblock %}
