{% extends "gobotany/_page_no_sidebar.html" %}
{% load gobotany_tags %}
{% load simplekey_extras %}

{% block title %}Species List{% endblock %}

{% block body_attributes %}id="list"{% endblock %}

{% block js_require %}
    require(['site/species_list']);
{% endblock %}

{% block main_content %}
                <h1>Species List</h1>
                <p>To filter the list, type in the box under any column name.</p>
                <table id="species">
                    <thead>
                        <tr>
                            <th class="name">Scientific Name</th>
                            <th class="common">Common Name</th>
                            <th class="family">Family</th>
                            <th class="dist">New England Distribution</th>
                            <th class="native">North American Native</th>
                            <th class="wetland">Wetland Code</th>
                            <th class="group">Group</th>
                            <th class="subgroup">Subgroup</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plant in plants %}
                        {% with name_parts=plant.scientific_name|lower|split:" " %}
                        <tr>
                            <td><a
                                href="{% url taxa-species name_parts.0 name_parts.1 %}">
                                    {{ plant.scientific_name|italicize_plant|safe }}
                            </a></td>
                            <td>{{ plant.common_names|join:";<br>" }}</td>
                            <td>{{ plant.family__name }}</td>
                            <td>{{ plant.distribution|replace:"|, " }}</td>
                            <td>
                            {% if plant.north_american_native == None %}
                            {% else %}
                                {% if not plant.north_american_native %}
                                    No
                                {% else %}
                                    {% if plant.north_american_native %}
                                        Yes
                                        {% if plant.north_american_introduced %}
                                            and no (some introduced)
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            </td>
                            <td>{{ plant.wetland_indicator_code|default_if_none:"" }}</td>
                            <td>{{ plant.piles__pilegroup__friendly_title }}</td>
                            <td>{{ plant.piles__friendly_title }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>                    
                </table>
{% endblock %}
