<!doctype html>
<html>
    <head>
        <title>Input Suggest Test</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
        <link rel="stylesheet" href="/static/css/site.css">
        <style>
            body {
                padding: 2em 4em;
            }
            h3, h4 {
                padding: 0.5em 0;
            }
        </style>

        <script src="/static/scripts/lib/require.js"></script>
        <script src="/static/scripts/require_config.js"></script>
        <script>
            require(['util/suggester_init']);
        </script>
    </head>
    <body class="plantshare">
        <h1>Input Suggest Test</h1>

        <p>This is a test page for a reusable component that allows text
        input with suggestions.<p>
        
        <h2>Rationale</h2>
        <ol>
            <li>We need to be able to support this function in different
            places (site search, many boxes within PlantShare)</li>
            <li>Safari still does not support HTML5 datalist, and Safari
            is especially important for iOS use</li>
            <li>We need to be able to control some of the appearance and
            behavior of the suggestions list anyway, at least for search</li>
        </ol>

        <h2>Use</h2>

        <p>A developer using the component will need to ensure they have the
        JS and CSS loaded, which will likely happen in the base template. Once
        that is done, no code beyond simple declarative HTML is needed.
        Just make an input box of type "text", set autocomplete to "off",
        set its name attribute for the parameter name on form submit, give it
        placeholder text if you want, and supply the attribute
        data-suggest-url with a URL that includes a placeholder for the query
        string (ex.: data-suggest-url="/suggest/?q=%s").</p>

        <h2>Demo</h2>

        <h3>PlantShare Plant Name</h3>

        <div class="content">
            <form action="/ps/sightings/" method="post">
                {% csrf_token %}
                <input type="text" autocomplete="off"
                    name="identification"
                    id="id_identification"
                    placeholder="scientific or common name"
                    class="suggest"
                    data-suggest-url="{% url site-plant-name-suggestions %}?q=%s">
                <input type="text" name="title" id="id_title"
                    autocomplete="off"
                    placeholder="title (datalist test)" list="titles">
                <datalist id="titles">
                    <option>Title1</option>
                    <option>Title2</option>
                    <option>Title3</option>
                </datalist>
                <button type="submit">Post Sighting</button>
            </form>
        </div>

        <h4>Variation with initial value, and extra field set to required</h4>

        <div class="content">
            <form action="/ps/sightings/" method="post">
                {% csrf_token %}
                <input type="text" autocomplete="off"
                    name="identification"
                    id="id_identification2"
                    value="Acer pensylvanicum"
                    placeholder="scientific or common name"
                    class="suggest"
                    data-suggest-url="{% url site-plant-name-suggestions %}?q=%s">
                <input type="text" name="title" id="id_title2"
                        autocomplete="off"
                        placeholder="title (datalist test)" list="titles2">
                <datalist id="titles2">
                    <option>Title1</option>
                    <option>Title2</option>
                    <option>Title3</option>
                </datalist>
                <input type="text" name="location_notes" required>
                <button type="submit">Post Sighting</button>
            </form>
        </div>

        <h3>Go Botany Site Search</h3>

        <form action="/search/" method="get">
            <input type="text" autocomplete="off"
                name="q"
                id="search-box"
                placeholder="Search..."
                class="suggest"
                data-suggest-url="{% url site-search-suggestions %}?q=%s">
            <button type="submit">Search</button>
        </form>

        <h4>Variation with only default styling</h4>

        <form action="/search/" method="get">
            <input type="text" autocomplete="off"
                name="q"
                id="search-box"
                placeholder="Search..."
                class="suggest"
                data-suggest-url="{% url site-search-suggestions %}?q=%s">
            <button type="submit">Search</button>
        </form>

        <h2>Behavior</h2>
        
        <p>HTML5 datalists, upon selecting a value with
        the Enter key or with a mouse click or tap, put the value in the
        input box and do not submit the form, even if there is only one
        field. This component will behave similarly, except that if there
        is only one non-hidden form field in a form, the form will submit
        automatically. This should help ease support for single-input-box
        forms like the one used for search, where such auto-submit behavior
        is desirable and expected.</p>

        <h2>Development (in progress)</h2>
        <ol>
            <li>Get the component working on boxes for both PlantShare
            and Search areas, with acceptable default styling.</li>
            <li>Style and replace the sightings plant name box in PlantShare.</li>
            <li>Style and replace the site search box.</li>
        </ol>

    </body>
</html>
