{% extends "gobotany/_page_no_sidebar.html" %}

{% block title %}Teaching{% endblock %}

{% block body_attributes %}id="teaching" class="teaching"{% endblock %}

{% block js_require %}
    require(['util/mailto'], function (mailto) {
        $(document).ready(function () {
            mailto.make_link('.email');
        });
    });
{% endblock %}

{% block main_content %}
    <h1>Teaching</h1>

    <p>Go Botany is designed for students and informal learners ages 10 and
    older, from beginners to professionals. We encourage educators to
    incorporate Go Botany teaching tools into lessons for all ages!</p>

    <h2>Share Your Ideas</h2>

    <p>The Teaching section of Go Botany is a place to  share resources for
    teaching botany. We&#8217;ll post the curricula, modules, field workshops
    you have developed using Go Botany here. Send your great ideas to
    <a class="email">gobotany [at] newenglandwild [dot] org</a>. Thank you!</p>

    <h2>Teaching Tools</h2>

    <ul>

    <li>
    <p class="new">New</p>
    <h3><a
        href="/static/docs/Go-Botany-Quiz-Cards.pdf"
        >Go Botany Plant Quiz Cards</a></h3>
    <p class="meta">PDF, 1.7 MB. Posted March 2013</p>
    <p>
    Practice your identification skills with these handy plant quiz cards!
    Even when you cannot get outside or sample live plant specimens, you and
    your students can work with these short descriptions and photographs to
    learn about the process of identifying plants.  Some species are native to
    New England, others considered invasive, so they are good springboards to
    conversation. A key to the species names is included. Have fun, and let us
    know if you use these!
    </p>
    </li>

    <li>
    <h3><a
        href="/static/docs/new-england-science-frameworks.pdf"
        >New England Science Frameworks</a></h3>
    <p class="meta">PDF, 979 kB. Posted November 2012</p>
    <p>
    James Sirch of the <a href="http://peabody.yale.edu/">Yale Peabody
        Museum of Natural History</a> in New Haven,
    Connecticut, has put together a helpful, detailed summary of all the
    ways Go Botany can help teachers meet New England Science
    Frameworks.
    Find out how you can integrate Go Botany into your innovative curriculum!
    </p>
    </li>

    <li>
    <h3><a
        href="/static/docs/gobotany-plant-id-form.docx"
        >Go Botany Plant Identification Form</a></h3>
    <p class="meta">Microsoft Word document, 37 kB. Posted November 2012</p>
    <p>
    Here is a handy form that your students can take with them in the field
    when using Go Botany to identify plants. It gives them helpful prompts
    for the observations they should make, and gets them looking carefully.
    It also encourages students to take meaningful photographs of their
    plant, to which they can refer later while identifying plants in the
    classroom. Thanks to Dr. Mario Sousa-Peña, Lead Teacher in Science and
    BHS Lead Mentor at <a
        href="http://www.hartfordschools.org/index.php/our-schools/school-listing/schools/items/view/bulkeley-high-school">Bulkeley
        High School</a> in Hartford, Connecticut for
    developing this great resource!</p>
    </li>

    <li>
    <h3><a
        href="/static/docs/books-for-kids-about-wildflowers.pdf"
        >Bibliography of Children&#8217;s Books on
        the Subject of Botany
</a></h3>
    <p class="meta">PDF, 201 kB. Posted May 2012</p>
    <p>
    This is a comprehensive, annotated list of botany-related books, with
    information on the age groups to which these books will appeal. Many
    thanks to Anne Dannenberg, Director of the 
    <a href="http://www.huntingtonpubliclibrary.org/"
        >Huntington Public Library</a> in Huntington, Vermont
    for compiling this useful bibliography!</p>
    </li>

    </ul>
{% endblock %}
