{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Teaching{% endblock %}

{% block body_attributes %}id="teaching"{% endblock %}

{% block js_require %}
    require(['util/mailto'], function (mailto) {
        $(document).ready(function () {
            mailto.make_link('.email');
        });
    });
{% endblock %}

{% block main_content %}
    <h1>Teaching</h1>

    <p>Go Botany is designed for students and informal learners ages 10 and
    older, from beginners to professionals. We encourage educators to
    incorporate Go Botany tools into lessons for all ages!</p>

    <h2>Share Your Ideas</h2>

    <p>The Teaching section of Go Botany is a place to  share resources for
    teaching botany. We&#8217;ll post the curricula, modules, field workshops
    you have developed using Go Botany here. Send your great ideas to
    <a class="email">gobotany [at] newenglandwild [dot] org</a>. Thank you!</p>

    <h2>Tools</h2>

    <p class="new">New</p>
    <h3><a
        href="/static/docs/books-for-kids-about-wildflowers.pdf"
        target="blank">Bibliography of Children&#8217;s Books on
        the Subject of Botany
</a></h3>
    <p class="meta">PDF, 200 kB. Posted 19 May 2012</p>
    <p>
    This is a comprehensive, annotated list of botany-related books, with
    information on the age groups to which these books will appeal. Many
    thanks to Anne Dannenberg, Director of the 
    <a href="http://www.huntingtonpubliclibrary.org/"
        target="blank">Huntington Public Library</a> in Huntington, Vermont
    for compiling this useful bibliography!</p>
{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_teaching_navigation.html" %}
{% endblock %}
