{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Updates: Help{% endblock %}

{% block js_require %}
    {% include "gobotany/_help_js_require.html" %}
{% endblock %}

{% block body_attributes %}
    id="updates" class="help"
{% endblock %}

{% block main_content %}
    <h1>Updates</h1>

    <p>This is a partial list of updates to the site. Entries will be
    added occasionally.</p>

    {% regroup updates by date|date:"F Y" as updates_by_month %}
    {% for group in updates_by_month %}
        <h2>{{ group.grouper }}</h2>
        {% for update in group.list %}
            <p>{{ update.description }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_help_navigation.html" %}
{% endblock %}