{% extends "gobotany/_page_full_sidebar.html" %}

{% block title %}Updates: Help{% endblock %}

{% block js_require %}
    {% include "gobotany/_help_js_require.html" %}
{% endblock %}

{% block body_attributes %}
    id="updates" class="help"
{% endblock %}

{% block main_content %}
    <h1>Updates</h1>

    <h2><a
        href="{% url 'site-updates' %}">Order by Date</a> ∙
        Order by Family</h2>

    {% regroup updates by family as updates_by_family %}
    {% for group in updates_by_family %}
        <h3>{% if group.grouper %}{{ group.grouper }}{% else %}Site Updates{% endif %}</h3>
        {% for update in group.list %}
            {# If there is an opening brace, assume block-level HTML. #}
            {% if update.description|first == '<' %}
                {{ update.description|safe }}
            {% else %}
                {# No opening brace: no block-level HTML. Add as paragraph. #}
                <p>{{ update.description|safe }}</p>
            {% endif %}
            <p>({{ update.date|date:"F Y" }})</p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block sidebar_content %}
    {% include "gobotany/_help_navigation.html" %}
{% endblock %}