{% extends "gobotany/_home_body_content.html" %}
{% load simplekey_extras %}

{% block images_overlay %}
    <div id="overlay">
        <h2>Simple ID Key</h2>
        <img src="/static/images/layout/separator.png" alt="">
        <p>Want to know what that plant is? With the 
        Go Botany Concord Flora <b>Simple Key</b>,
        you can identify over 1,200 common
        New England plants! Observe closely, collect a sample or
        take a photo, answer some questions, and narrow down to
        the correct identification.</p>
        <a href="{% url 'level1' 'simple' %}" id="cta"
            class="orange-button caps large">Get Started</a>
    </div>
{% endblock %}

{% block section_introductions %}
    {# Omit. #}
    <div class="three-col"></div>
{% endblock %}

{% block partner_introduction %}
    <div class="intro">
        <p>This <b>Go Botany Concord Flora</b> web site contains a
        comprehensive list of the <b>plants of Concord,
        Massachusetts</b>, and is a customized version of Go Botany.
        To learn about all of the plants of New England, visit the main
        <a href="http://gobotany.newenglandwild.org/" 
            >Go Botany</a>
        web site.</p>

        <p><a href="http://www.ray-a.com/" 
            >Ray Angelo</a>, former 
        Curator of Vascular Plants for the New England Botanical Club, 
        kindly provided the list of Concord plants, with further 
        contributions by Bryan Connolly, Massachusetts State Botanist,
        and Charles Davis, Curator of Vascular Plants at Harvard University 
        Department of Organismic and Evolutionary Biology. The nomenclature
        is from 
        <a href="http://www.newenglandwild.org/store/flora-novae-angliae/"
        >Flora
        Novae Angliae</a> by Arthur Haines, Research Botanist at
        New England Wild Flower Society.</p>
    </div>
{% endblock %}

{% block donate %}
    {# Omit. #}
{% endblock %}
