{% comment %}
This 'include' template so far uses one of MapQuest's static map services:
one that allows the use of single-line addresses to get a map. More advanced
map options will require using their somewhat more elaborate service that
requires lat./long. coordinates instead of a flexible location parameter.
(Also, the choice of map provider is not necessarily permanent, as map
services are still being evaluated.)
{% endcomment %}
<img id="{{ id }}" class="location-map" 
    src="http://open.mapquestapi.com/staticmap/v4/getplacemap?location={{ location }}&size={{ width }},{{ height }}&type=map&zoom={{ zoom }}&imagetype=jpeg&showicon=green-1"
    alt="Map: {{ location }}">
